[2020-03-23 21:08] antross commented on #3642
Note, this would replace our (very-limited) existing mappings located at https://github.com/webhintio/hint/blob/master/packages/utils-compat-data/src/css-types.ts

[2020-03-23 23:00] antross commented on #3590
This should now be fixed with the recently released version `2.1.0` of the browser extension. I confirmed webhint works in that version even when 3rd party cookies have been disabled.

[2020-03-23 23:00] #3590 closed

[2020-03-24 19:45] #3618 closed

[2020-03-24 19:49] hxlnt opened #3643 "webhint team meeting 2020-03-27"
## Time

**UTC Friday 27-Mar-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 27-Mar-2020 09:00 (09:00 AM) |
| US / Mountain | Friday 27-Mar-2020 10:00 (10:00 AM) |
| US / Central  | Friday 27-Mar-2020 11:00 (11:00 AM) |
| US / Eastern  | Friday 27-Mar-2020 12:00 (12:00 PM) |
| London        | Friday 27-Mar-2020

[2020-03-27 03:59] #3615 closed

[2020-03-27 03:59] molant commented on #3615
Nominations were sent the 24th

[2020-03-27 04:01] molant commented on #3643
Unfortunately I don't think I'll be able to join 😢

Updates from my side:
- Charter is being reviewed officially, quite a few 👍 already. We need to wait for another few days before removing the `-draft` part.
- I sent nominations for the CPC (#3615), I have some follow up actions (https://github.com/openjs-foundation/cross-project-council/issues/488#issuecomment-604673434) that I'll try to take ca

[2020-03-27 16:51] antross commented on #3643
Attendance was light today (just John and me), so we're also putting updates here:
* Released new versions of webhint and extensions last sprint
* Includes updated MDN browser-compat-data with data for Edge 79+
* For the utils-worker PR, I think a live code review is a good idea - let's schedule one
* I'm going to try to take care of a number of blocked dependency updates this sprint
* Take a look

[2020-03-27 16:51] johnemau commented on #3643
I suggest for the next sprint planning session we edit and rename the most recent project (April 2020 Sprint 1) instead of creating a new project.

We then create a milestone for April 2020 Sprint 2 and put issues in that milestone (including the meeting issue).

This will save us time and keep the process light.

[2020-04-02 07:03] omaishar opened #3651 "[Bug] Webhint VSCode ignores .hintrc"
# 🐛 Bug report
Looks like the VSCode webhint extension ignores the .hintrc configuration file.
## Description
I have the following HTML file:
[code]
The VS code extensions give the following errors:
[code]

I added the following .hintrc file:
[code]
But the extension seems to ignore that and keeps reporting errors.

## Environment
* __`hint` version:__ 6.0.3
* __`Node.js` version:__ 13.8.0
* __`OS

[2020-04-02 22:11] antross commented on #3651
Thanks for the report @omaishar!

This appears to be working for me so I wonder if there's something about your project structure that's causing webhint to not find your `.hintrc` file. A couple of questions:
* Have you opened a folder in VS Code or are you using a workspace?
* Is the `.hintrc` in the top-level folder opened in VS Code or is it in a subfolder?

[2020-04-03 04:54] omaishar commented on #3651
I have a workspace containing two folders (projects).
The `.hintc` file is located in one of the folders (the relevant one with the HTML files), along with package.json, tsconfig.json, webpack.config.js, .gitignore and all the other configuration files.

[2020-04-03 16:44] antross opened #3652 "Extract per-package bundle-size scripts into a single shared script"
Currently `extension-browser` and `extension-vscode` have their own version of this. The new `utils-worker` does too. Would be nice to have a single script they all can use (perhaps as part of one of our `utils-*` packages).

[2020-04-03 22:01] antross commented on #3651
Thanks!

Looks like this doesn't currently work with workspaces. I've updated the title of the bug to clarify this so we can investigate.

[2020-04-06 18:58] antross commented on #3651
Update: looks like this is part of the problem:
https://github.com/webhintio/hint/blob/6b59eae3a52953ccf9bb5b360dba949665d652c2/packages/extension-vscode/src/server.ts#L27

There's a comment immediately prior that reads:

We use this value to choose where webhint gets initialized from. Per that comment, I think the correct fix here is to allow instantiating multiple copies of webhint depending on

[2020-04-09 15:57] #3643 closed

[2020-04-09 15:58] hxlnt opened #3661 "webhint team meeting 2020-04-10"
## Time

**UTC Friday 10-Apr-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 10-Apr-2020 09:00 (09:00 AM) |
| US / Mountain | Friday 10-Apr-2020 10:00 (10:00 AM) |
| US / Central  | Friday 10-Apr-2020 11:00 (11:00 AM) |
| US / Eastern  | Friday 10-Apr-2020 12:00 (12:00 PM) |
| London        | Friday 10-Apr-2020

[2020-04-09 22:23] tmb-github opened #3662 "[Bug] How to handle warnings and errors triggered by Google UniversalAnalytics and the Google TagManager?"
I'm using the webhint browser extension 2.1.0 on Chrome 81 on Windows 8.1.

How do I either handle correctly or suppress the warnings and/or errors triggered by my use of the Google TagManager and Google UniversalAnalytics at my site?

Here are the warnings and errors that trigger hints during an audit of https://thomasbrodhead.com using the browser extension (every JS file listed has been added d

[2020-04-09 22:38] molant commented on #3662
Hi @tmb-github

In the settings you can play with the "Ignored resources" options:

![image](https://user-images.githubusercontent.com/606594/78946566-f054af00-7a77-11ea-9acb-011c998c1f58.png)

You could ignore directly everything that does not come from https://thomasbrodhead.com or ignore specific urls. The instructions for the later are in the link [See expression instructions](https://webhint.

[2020-04-10 14:33] molant commented on #3661
I have a conflict and won't be able to join (at least for the first half) 😞

- The charter and governance got approved by the foundations and it's already in master
- I believe we need to do a new release so the website can pick it up and we will probably have to add a new link under "About" to link to the charter
- @antross and I met with @brianwarner and @jorydotcom about migrating to the new CL

[2020-04-10 16:48] hxlnt opened #3663 "New webhint release"

[2020-04-10 17:27] hxlnt commented on #3661
Notes:
 - New release planned (#3663)
 - @antross to share credentials/notes before taking leave this summer

[2020-04-20 16:09] utsavized opened #3688 "[Test Issue] Testing sync service"
Please tell us about your:

## Environment

* __`hint` version:__
* __`Node.js` version:__
* __`npm` version:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

[code]

</details>

## URL for which `webhint` failed

* __URL:__

## Output

Please include the raw output generated by `webhint`, or if possible,
the raw output from running `webhint` in debug mode: `hin

[2020-04-20 16:13] #3688 closed

[2020-04-21 19:29] antross opened #3689 "Release script should fail if unable to publish an npm package"
Failure to publish an individual npm package currently appears to be silently ignored.

This matters if a package was previously published with the wrong permissions (e.g. assigned to an individual instead of the "hint" organization) as is currently the state of `vscode-webhint`.

[2020-04-22 12:19] carlcamera opened #3690 "Add a scan "score" or "grade" visualization to the results page"
# 🚀 Feature request

## Description

Add a scan "score" or "grade" to the results page.  The current scan results UX is uninspiring. Everyone wants to get a good grade when they test themselves -- a score (or series of scores for each section) prominently displayed at the top of the results page would provide good user feedback and quick confirmation of improvement.

## What scenarios will this so

[2020-04-22 12:44] molant commented on #3690
What scan results UX are you talking about exactly? I believe you talk about the website, but it could also be the browser extension, CLI, or even VS Code (which we can not modify).
We added [different severity level defaults to different issues](https://github.com/webhintio/hint/issues/3070), but the website is not taking advantage of them.

Knowing what things are more critical should help devel

[2020-04-23 11:31] carlcamera commented on #3690
Here is a perfect score with webhint

![image](https://user-images.githubusercontent.com/1392103/80094394-cc8b7180-852b-11ea-991f-f15d0eb75bea.png)

Now another in-browser checker

![image](https://user-images.githubusercontent.com/1392103/80094504-f9d81f80-852b-11ea-9432-80296cc9cb02.png)

Perfect results from webhint are meh.

[2020-04-23 12:49] molant commented on #3690
I see our approach similar to that of a linter. ESLint does not give you a grade. Your "grade" is when there aren't any issues detected. That said, I know not everyone has the same type of motivations, not everything works for everybody, and our goal is to help web developers create better websites.

I think we can find a balance between what we have and what Lighthouse (or other tools) have, is j

[2020-04-23 14:19] Malvoz opened #3691 "Allow `stale-while-revalidate` (and `stale-if-error`?) Cache-Control extensions"
I believe these directives were dismissed at some point due to no browser support, however there's increasing [support](https://caniuse.com/#feat=mdn-http_headers_cache-control_stale-while-revalidate) for [`stale-while-revalidate`](https://tools.ietf.org/html/rfc5861#section-3).

[`stale-if-error`](https://tools.ietf.org/html/rfc5861#section-4) on the other hand [isn't](https://caniuse.com/#feat=m

[2020-04-24 13:20] #3661 closed

[2020-04-24 13:21] hxlnt opened #3692 "webhint team meeting 2020-04-24"
## Time

**UTC Friday 24-Apr-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 24-Apr-2020 09:00 (09:00 AM) |
| US / Mountain | Friday 24-Apr-2020 10:00 (10:00 AM) |
| US / Central  | Friday 24-Apr-2020 11:00 (11:00 AM) |
| US / Eastern  | Friday 24-Apr-2020 12:00 (12:00 PM) |
| London        | Friday 24-Apr-2020

[2020-04-24 15:43] molant commented on #3690
I'm adding this to today's agenda so we can talk about it.

[2020-04-24 16:06] antross commented on #3692
Update, today's meeting link is: https://zoom.us/j/98011053627?pwd=RlRLbVFmamNIZ2liTGRzZFd4bkx2dz09

[2020-04-24 16:42] #3663 closed

[2020-04-24 16:49] antross opened #3693 "Remove URLs and code snippets from messages"
We should review and simplify messages reported from hints to clean up the UX across entry points.

Why?
1. Redundant with URLs and code snippets provided in report metadata
2. Causes some messages to be VERY long
3. Prevents collapsing similar messages

[2020-04-24 17:27] antross commented on #3691
@Malvoz, looking at the code I think both of these are currently allowed. Do you happen to have a test case showing these failing?

Specifically they're listed as `extensionDirectives` in the code:
https://github.com/webhintio/hint/blob/190284e5ff577b6bc0600b1425e7abb39818ced8/packages/hint-http-cache/src/hint.ts#L145

These are included in the check to treat a directive as "valid":
https://github

[2020-04-24 17:41] Malvoz commented on #3691
Yeah, scanning https://web.dev, using the Chrome extension v2.1.0:

<img src="https://user-images.githubusercontent.com/26493779/80240711-a1576e00-8662-11ea-9ef1-4f822e402e72.png" width="400" alt>

[2020-04-24 18:02] antross commented on #3691
Thanks!

Looks like its complaining about the value as opposed to the existence of the directive. This appears to be because we don't account for this in `valueDirectives`:
https://github.com/webhintio/hint/blob/190284e5ff577b6bc0600b1425e7abb39818ced8/packages/hint-http-cache/src/hint.ts#L144

And that causes a failure before we even check for extension directives.

Given the structure of the cod

[2020-04-25 07:14] hellosct1 opened #3694 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __webhint version:__ 2.1.0
* __Browser version:__ Mozilla/5.0 (X11; Linux x86_64; rv:77.0) Gecko/20100101 Firefox/77.0
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibility
* [x] Performance
* [x] Pitfalls
* [x] PWA
* [x] Security

Y

[2020-04-25 19:22] carlcamera commented on #3690
thanks for considering this.  since you asked for a suggestion, here's mine.  I think a balance between a score/grade while also acknowledging improvement would be to provide a donut for each severity level.  In this case four concentric donuts.  The outermost would be error since it would be the most obvious if errors exist.  The donuts continue inward with the percentage exposed being number-of-

[2020-04-25 22:57] gregwhitworth opened #3709 "[Bug] The site is returning an error"
# 🐛 Bug report

## Description

Sorry for the generic description but unfortionately there is no information in the failure. Here are the repro steps:

1. Go to https://karenwhitworth.com/pages/about-the-artist-and-oil-painter-karen-whitworth-1
2. Open the dev tools
3. Go to hints
4. Start the scan (all the defaults are set)

Expected: Get a report
Actual: Error with no details

![image](https://u

[2020-04-25 22:59] gregwhitworth commented on #3709
I went ahead and tested a few other pages, same result - so it isn't choking on something specific to that page.

[2020-04-26 00:03] molant commented on #3709
What's your privacy level? We've had issues in the past similar to this.

________________________________
From: Greg Whitworth <notifications@github.com>
Sent: Saturday, April 25, 2020 4:00:05 PM
To: webhintio/hint <hint@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [webhintio/hint] [Bug] The site is returning an error (#3709)

I went ahead and tested a few other

[2020-04-26 00:48] Malvoz commented on #3709
Using the same version of Edge Canary and with Tracking prevention disabled entirely I get the same result. Error details:

![webhint-edge-canary](https://user-images.githubusercontent.com/26493779/80294007-422e5200-8765-11ea-8034-67a0db17f8ac.png)

[2020-04-27 16:44] antross commented on #3709
I'm seeing the failure for this page, but not all others (e.g. webhint.io works fine). We're getting a "Permission Denied" response when trying to invoke `chrome.devtools.inspectedWindow.eval`. I also see this in Chrome Canary.

My first guess is some sort of policy change for extensions, possibly related to enforcing the Content Security Policy of the page. Or it could just be a browser bug. I'll

[2020-04-27 16:51] antross commented on #3694
Thanks for the report @hellosct1!

Is there a particular page you were trying to scan that timed out? The extension is working for me in Firefox 77 (nightly) against webhint.io at least.

[2020-04-27 17:04] gregwhitworth commented on #3709
I can confirm that it is working on other sites, just not that one. It may be a situation for any Shopify site.

[2020-04-27 20:23] hxlnt commented on #3690
Thanks for the feedback, @carlcamera. I'm going to schedule some UX/design research in this area to help us investigate this further.

[2020-04-29 05:00] Migilo opened #3712 "[docs] Issue with 'Webhint browser extension'"
https://webhint.io/docs/user-guide/extensions/extension-browser/index.html

[2020-04-29 14:01] molant commented on #3712
Closing thi issue as there aren any details about why I wrong.
Feel free to comment with more information and w will reopen.

[2020-04-29 14:02] #3712 closed

[2020-05-04 21:47] antross commented on #3709
Update: This appears to be a regression in the Chrome devtools extensions API. Filed as https://bugs.chromium.org/p/chromium/issues/detail?id=1078135

[2020-05-05 16:19] digitalsparky opened #3726 "[Hint] Detect and complain about lack of https"
# 🚀 Hint request

## Description
Hi all,

I did a brief scan to see if I could find anything like this, but didn't see anything.

I just used this addon for firefox for the first time today, and noticed that on a http site under security it does not show an error indicating they're not using https (and may also not complain about http not redirecting to https).

## What should be tested exactly?

[2020-05-06 12:27] molant commented on #3726
Do you mind sharing the URL of the website? We do have a [hint to check for https](https://webhint.io/docs/user-guide/hints/hint-https-only/) that I believe is activated by default in the extension 🤔

[2020-05-06 18:13] antross commented on #3726
@molant, while that hint exists I don't think it's currently included in any of webhint's default configurations (I checked web-recommended and extension-browser). Seems like we should fix that.

[2020-05-06 18:15] molant commented on #3726
🤔
For whatever reason when I checked the ode yesterday I thought it was included in the browser extension.
That will definitely explain things.

[2020-05-07 13:27] digitalsparky commented on #3726
Welp, glad I commented here then, I thought there would be something like that available, it'd be one of the first things to add in such a tool. It was a client site, so can't show that here, but you can test on http://example.com/

Cheers folks :).

[2020-05-08 14:42] hxlnt opened #3727 "webhint team meeting 2020-05-08"
## Time

**UTC Friday 08-Mar-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 08-Mar-2020 09:00 (09:00 AM) |
| US / Mountain | Friday 08-Mar-2020 10:00 (10:00 AM) |
| US / Central  | Friday 08-Mar-2020 11:00 (11:00 AM) |
| US / Eastern  | Friday 08-Mar-2020 12:00 (12:00 PM) |
| London        | Friday 08-Mar-2020

[2020-05-08 14:43] #3692 closed

[2020-05-08 15:24] molant commented on #3727
Don't think till be able to make it 😔

[2020-05-08 16:25] #3662 closed

[2020-05-08 16:45] hxlnt commented on #3727
Notes:
1. Added a few issues to upcoming sprint such as online scanner issue where result count is incorrectly reporting "0." (https://github.com/webhintio/webhint.io/issues/900)
2. Unfinished work from previous sprint carries over to upcoming sprint. Two VS Code issues (#3651, #3592) were moved off upcoming sprint and onto backlog due to full capacity.
3. Checked off "add project charter" in Open

[2020-05-10 22:54] jetti888 opened #3743 "[docs] Issue with 'Webhint browser extension'"
https://webhint.io/docs/user-guide/extensions/extension-browser/index.html

[2020-05-10 22:58] Malvoz commented on #3743
@jetti888 Would you like to describe the issue(s) you're having?

[2020-05-11 21:02] johnemau opened #3744 "New webhint release"

[2020-05-12 21:46] #3693 closed

[2020-05-20 21:39] antross opened #3767 "[Feature] Use MDN data to show compatibility for JavaScript APIs"
I thought we'd discussed this before, but I don't see an associated issue so filing one for tracking.

It would be a nice addition to the existing HTML and CSS support provided by hint-compat-api. Would likely need to be paired with an understanding of types (so either TypeScript-only or using the TypeScript parser against JavaScript) to minimize false-positives.

For example, I've seen users conf

[2020-05-20 21:42] antross opened #3768 "[Feature] Analyze original source file when sourcemap is present"
Applies mostly to entry points which analyze a live site (e.g. `extension-browser`). The idea is we can help get the user closer to where they need to change their code by paying attention to source maps.

But rather than just mapping a problem location back after analyzing the built file, we'd likely get better context for hints by analyzing the original file when it's in a language webhint suppo

[2020-05-21 18:15] antross opened #3769 "[Feature] Include links and text in problem reports"
Related to #3045, we should generally include explicit links along with problem reports (along with suggested link text), whether we're linking to MDN, webhint.io, or somewhere else.

[2020-05-21 18:17] molant commented on #3769
Can you provide an example?
We already link to the hint description. Would that be linking to specific parts?
We will need to make sure that the links aren't dead periodically as well.

[2020-05-21 18:19] antross commented on #3769
Yes, like when hint-compat-api tells us we have an issue with `background-color` we should link to the MDN page for that specific property. Similarly we should consider doing this for axe.

Furthermore, we link to this in the hint description, but we build that link based on the hint id. For consumers like `@hint/utils-worker` or our node API, we should include the link in the returned `Problem[]`

[2020-05-21 18:22] antross opened #3770 "[Feature] Include the element name along with element ID in reported problems"
This facilitates consumers such as our API or worker generating a report which includes at least limited information about the element beyond showing the full source code. This is useful in cases where we want to create a link using the element name, especially when the source code doesn't include the element (e.g. when the element is `<style>` but the referenced source was contained CSS).

[2020-05-22 14:31] captainbrosset commented on #1096
After reading that article and looking at the code from this hint, I think we could safely add the following headers into the list of disallowed hears:

* Expires
* Host
* P3P
* Pragma
* Via
* X-Frame-Options
* X-UA-Compatible

If I understand correctly, the hint also supports configuring ignored headers, so even if, by some change, someone was using those outdated headers, they would be able to i

[2020-05-22 16:08] #1560 closed

[2020-05-22 16:09] Malvoz commented on #3726
Redirects from http to https is covered by https://github.com/webhintio/hint/issues/3131.

[2020-05-22 16:28] antross commented on #1096
@captainbrosset having more detailed messages on a per-header basis would be great! We can keep the general message for any headers we don't have something more to say about (or additional ones included via the webhint configuration that aren't part of the default set).

Also, there are a couple of related issues in this space:
* #2730, which really just references `Pragma` as far as this hint is

[2020-05-22 20:08] johnemau opened #3771 "[Bug] Network related hints are delayed until page load completes"
[utils-worker] We need to send the `fetchEnd` event without waiting for the document.

See:
https://github.com/webhintio/hint/blob/master/packages/utils-worker/src/connector.ts#L112

Most network hints do not need the document, the hints use the document to link to elements in the results, so passing null will lose that but provide results faster.

[feat request] Long term we should lazy-load the

[2020-05-23 14:26] aholachek opened #3775 "[Hint] Mobile UX Hints"
# 🚀 Hint request

Hi, I recently made [a storybook addon](https://github.com/aholachek/storybook-mobile) for auditing potential UX and performance issues for mobile UIs. I won't enumerate all the audits it runs here (there are 11 in total) but you can see them in action [in this demo](https://storybook-mobile.netlify.app/?path=/story/signup-form--default).

The meta issue the addon is trying to so

[2020-05-25 14:36] captainbrosset commented on #3479
The `subgrid` browser support  information has, since then, been updated on MDN.
So webhint now correctly reports a warning for that `grid-template-columns: subgrid;` usage.

However, I think there is still kind of a problem: the warning I'm seeing is: `'grid-template-columns' is not supported by Internet Explorer`. While that is true, it is supported on other browsers, except for the `subgrid` va

[2020-05-25 14:47] captainbrosset commented on #3528
I believe the situation is better now, maybe something changed in the meantime. I tried resizing the container ever so slightly to try to replicate the problems you were seeing, but couldn't. In my case, the labels next to form controls never dropped to the next line, see below:

![Annotation 2020-05-25 074548](https://user-images.githubusercontent.com/1152698/82823176-f4883080-9e5b-11ea-9722-2f5a

[2020-05-26 12:10] karye opened #3778 "[Feature] Refresh content in problems pane"
# 🚀 Feature request

## Description

 Add a command or/and right-click menu entry to be able to restart the extension

 Yes, with some guidance

## What scenarios will this solve?

 There's no way to refresh the list of problems. Sometimes the list is doubled.

[2020-05-26 16:04] hxlnt opened #3779 "webhint team meeting 2020-05-29"
## Time

**UTC Friday 29-Mar-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 29-Mar-2020 09:00 (09:00 AM) |
| US / Mountain | Friday 29-Mar-2020 10:00 (10:00 AM) |
| US / Central  | Friday 29-Mar-2020 11:00 (11:00 AM) |
| US / Eastern  | Friday 29-Mar-2020 12:00 (12:00 PM) |
| London        | Friday 29-Mar-2020

[2020-05-26 16:05] #3727 closed

[2020-05-27 12:03] lirantal opened #3780 "[Feature] Provide the actual link to the package page"
# 🚀 Feature request

Add a link to the detailed package vulnerabilities page

## Description

The `no JS vulnerabilities` hint already shows the information and  includes a URL to the package and the database.

I'd like to update the page results so that the URL would be an actual link and to add a UTM so we can recognise the source.

Currently results look like this:

![image](https://user-images

[2020-05-27 13:50] molant commented on #3780
My biggest concern is that the output is consumed by different formatters so the anchor could be printed in the console, vs code, etc. which will make it weird.

IIRC we were thinking about automatically parsing links and converting them. We will have to do that for the HTML and the browser extension at least.

[2020-05-27 14:28] antross commented on #3780
@molant if we did #3769 so related links are explicitly separate pieces of data off of `Problem` (instead of mixed in with the message text) we'd provide this in a way that each formatter could handle appropriately for its own context.

[2020-05-27 14:48] #3528 closed

[2020-05-27 15:29] molant commented on #3780
That seems like the best approach 👍

[2020-05-27 16:33] molant opened #3781 "[Bug] Unsupported node type: root"
# 🐛 Bug report

## Description

Trying to analyzing https://github.com/webhintio/hint/issues/1643 gives an error

[code]

## Environment

* __webhint version:__ 2.1.2
* __Browser version:__ Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.61 Safari/537.36 Edg/83.0.478.37
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<sum

[2020-05-28 18:49] johnemau opened #3784 "[Feature] Update (aka stream) hint reports"
# 🚀 Feature request

## Description

 What do you want to be added?
Reports should be updated-able.

 Are you willing to work on this?
Yes.

## What scenarios will this solve?
Faster report experience for customers using the utils-worker integration (Edge DevTools).

If a network hint reports results for a request but does not have the DOM node ready it should immediately report the network reques

[2020-05-28 18:50] #3771 closed

[2020-05-28 21:47] #3486 closed

[2020-05-28 22:30] #1096 closed

[2020-05-29 14:57] antross commented on #3479
Nevermind, I was using an old build. Yes, we do flag this correctly when excluding IE, but not when IE is included:
![image](https://user-images.githubusercontent.com/785009/83273588-47325700-a192-11ea-8eb9-61cbb7691fdc.png)

Digging in, indeed if anything is flagged as unsupported at the declaration level, we don't currently drill down into the value:
[code]
https://github.com/webhintio/hint/blob

[2020-05-29 15:44] hxlnt commented on #3779
Hey, folks! I think Zoom has enforced a new password requirement since we last met. Please use this new invite:

Topic: webhint
Time: May 29, 2020 11:00 AM Central Time (US and Canada)

Join Zoom Meeting
https://us04web.zoom.us/j/73548227046?pwd=dHFDWmhDZU93ZmJGNWVNNG5xSnNXUT09

Meeting ID: 735 4822 7046
Password: 2jPn6S

[2020-05-29 16:16] hxlnt opened #3786 "What is the best chat platform for webhint contributors?"

[2020-05-29 16:46] hxlnt commented on #3784
@johnemau What issues are affected?

[2020-05-29 16:58] #3744 closed

[2020-05-29 16:59] hxlnt opened #3787 "Investigate releasing via Azure Pipelines"

[2020-05-29 17:44] antross commented on #3709
Fixed in Chromium.

[2020-05-29 17:44] #3709 closed

[2020-05-29 18:06] #3781 closed

[2020-05-29 19:26] kunal999 commented on #1990
Sorry for reviving an old thread. But I am looking of the reverse scenario. Is there a way for me to use `ignoredUrls` but still be able to trigger the SRI hint for those domains?
The reasoning is that I want to lint the code that belongs to my site, and the HTML code that references those crossorigin resources belongs to my site. So it should trigger the SRI hint. Currently it does not.

[2020-05-29 21:28] molant commented on #1990
If you are using the CLI you can [ignoreURLs for particular hints](https://webhint.io/docs/user-guide/configuring-webhint/ignoring-domains/) only so you could leave the SRI enabled for those ones.

If you are using the browser extension then you should use a regex that matches all the domains you don't want to analyze:

![image](https://user-images.githubusercontent.com/606594/83307063-a30fd680-a1

[2020-05-29 21:48] molant commented on #3775
Hi @aholachek

Thanks for opening this issue and sorry about the late response. This week has been a bit hard on a lot of us 😞

I've look at your demo and there are definitely a few that can be easily ported and would add value. Others might only be available in the browser extension (although enabling computed size might require some work). I can help you out if you want to. Instead of doing all

[2020-05-30 07:49] karye commented on #3778
In VS Code extension.
How do you refresh the list hints? So as to only view hints corresponding to the opened document.
![image](https://user-images.githubusercontent.com/13832931/83322713-3a793600-a25a-11ea-8bf2-75b4198365c1.png)

[2020-05-30 12:58] kunal999 commented on #1990
Yes. Thank you

[2020-05-31 16:11] tmb-github opened #3791 "web manifest does not support combination of values for icon purpose"
The commit that added support for `maskable` is https://github.com/webhintio/hint/commit/c5eb40f819f79b6f92b18dcd015bfda5807bb034#diff-07d179b4d8516fb968d006563b37bfe3

Unfortunately, as @amazingcaio it does not allow for combinations:

Need to find a way to enable this in the schema and our types.

_Note: Original issue text by @tmb-github is available in the history_

[2020-06-01 16:56] molant commented on #3791
Looks like we will have to update the manifest, can't remember if we update them automatically on release or if we just copied from schema store, but more reason to do #3413 to automate this.

@tmb-github do you know if Firefox supports it as well?

[2020-06-01 18:53] lirantal commented on #3780
I'm not fluent with the code-base so I'm happy to receive some directions/help as to what changes to make, or if someone would like to pick this up and commit the required changes :-)

[2020-06-01 18:53] lirantal commented on #3780
I'm not fluent with the code-base so I'm happy to receive some directions/help as to what changes to make, or if someone would like to pick this up and commit the required changes :-)

[2020-06-01 19:19] henrihelvetica opened #3792 "[Docs Bug] npm webhint (hint) page: 404s"
# 📚 npm webhint (hint) Quick start user guide page: 404s

Perusing the [NPM page](https://www.npmjs.com/package/hint) and several links are broken.

* **troubleshoot section**: https://github.com/webhintio/hint/blob/HEAD/docs/user-guide/troubleshoot/summary.md
* **Configurations**:  https://github.com/webhintio/hint/blob/HEAD/docs/user-guide/concepts/configurations.md
* **Hints**:  https://github.

[2020-06-01 20:10] molant commented on #3792
This is because we optimized for local links when publishing so you open the local version. Looks like there is an issue between npm an mono repos when they create the links automatically.

Options:
- Research if there's a way to link to a specific folder in `package.json` and not just a repo (this will be the ideal scenario)
- Make a not for those reading from npm that they should go to the websi

[2020-06-01 20:15] molant commented on #3780
What we are proposing will affect the core of webhint so definitely not a first contributor task.
@sarvaje is coming back in the next couple of weeks and I believe already has #3769 assigned.

Once the infrastructure is in place it should be easier to add the links 😊

[2020-06-02 02:28] tmb-github commented on #3791
@molant  Sadly, I don't. I just learned about this last week with the most recent version of Chrome Canary.

[2020-06-02 05:01] tmb-github commented on #3791
@molant It turns out Firefox Preview does support maskable icons...see these articles:
https://css-tricks.com/maskable-icons-android-adaptive-icons-for-your-pwa/
https://tigeroakes.com/projects/mozilla-firefox/

[2020-06-02 07:23] lirantal commented on #3780
Cool. So I have notifications turned on from this thread and hopefully once someone comments here I'll be able to chime in again and help with what I can.

Appreciate the input, I'll stay on standby-mode :-)

[2020-06-03 01:47] martinpj89 opened #3793 "[docs] Issue with 'Compatibility of CSS, HTML and JavaScript features'"
https://webhint.io/docs/user-guide/hints/hint-compat-api/index.html

[2020-06-03 01:48] #3793 closed

[2020-06-03 16:39] hxlnt commented on #3778
Once you address an issue and save the file, it should automatically disappear from the Problems pane. You should not need to manually refresh. If this is not the behavior you're seeing, let me know so we can troubleshoot.

![save](https://user-images.githubusercontent.com/9647195/83663635-8ac00300-a58e-11ea-9d9f-b0116ee85981.gif)

Additionally, if you have opened a folder or workspace in VS Code,

[2020-06-04 06:00] karye commented on #3778
My workfow is:
1. As a teacher I look at students files, and thanks to webhint I  get a good list of "problems".
2. I open a file, then another one and so forth. I don't want to resolve the problems.
3. In the end I just want to see the problems for the files opened in the moment.

Btw, where's the code for VSCode extension?

[2020-06-04 12:55] molant commented on #3778
It's under [`packages/extension-vscode`](https://github.com/webhintio/hint/tree/master/packages/extension-vscode)

[2020-06-04 21:28] hxlnt commented on #3778
Thanks for the feedback, @karye. I'd recommend raising this as a feature request for https://github.com/microsoft/vscode, as I think this is more about a feature for the Problems pane all up rather than webhint specifically.

In the meantime, maybe the easiest way to get the behavior you're describing is to use the "Collapse all" button before switching to a new file. Then, when you select a new f

[2020-06-04 21:36] hxlnt commented on #3792
Like this? From https://docs.npmjs.com/files/package.json#repository:

If the package.json for your package is not in the root directory (for example if it is part of a monorepo), you can specify the directory in which it lives:
[code]

[2020-06-04 21:39] molant commented on #3792
Yes, like this. I believe we tried that a while ago but wasn't working but maybe we should try again?

[2020-06-05 07:42] captainbrosset commented on #3479
I'm looking into fixing this. One thing that I would have loved doing but that doesn't seem possible is replacing `validateDecl` by a `validateDeclName` and `validateDeclValue`, so that we could check those things separately.
It doesn't look like the AST goes to this level, and only emits nodes for whole declarations.
That's ok, based on this, my plan is to check in `validateDecl` if at least some

[2020-06-06 05:21] madskristensen opened #3794 "Add support for ASP.NET Core's URL fingerprinting syntax"
# 🚀 Feature request

ASP.NET Core uses a URL parameter to store the file hash, like this:

`/file.js?v=JW_qcvnsPVjH-EA6ctfy9uy8HGXBjPIwokOhCirSWAE`

It would be great to have native support for ASP.NET Core. Right now, ASP.NET Core apps get errors due to having a different fingerprinting/file revving pattern.

I've made a regex that should work. It is `(\?|&)v=[\w-]+`

It will identify the pattern

[2020-06-08 12:50] molant commented on #3791
I'm looking at the commit history of our schema and [`maskable` was added back in January](https://github.com/webhintio/hint/commit/c5eb40f819f79b6f92b18dcd015bfda5807bb034#diff-07d179b4d8516fb968d006563b37bfe3) 🤔

Looking at the original issue it looks like @amazingcaio [disagreed with the resolution](https://github.com/webhintio/hint/issues/3451) and correctly points out that we don't support co

[2020-06-08 13:07] molant commented on #3794
Hi @madskristensen,

From the [hint documentation](https://webhint.io/docs/user-guide/hints/hint-http-cache/#what-does-the-hint-check) we link to [this article](https://www.stevesouders.com/blog/2008/08/23/revving-filenames-dont-use-querystring/).

Even though it's from 2008, I think it's still valid. That said, it doesn't take into account that https traffic will (should?) not have this problem.

[2020-06-08 13:59] Malvoz commented on #3794
The advice in the article is fairly outdated at this point in time. Squid updated their default behavior a little over 10 years ago (source: http://www.squid-cache.org/Versions/v2/2.7/RELEASENOTES.html#s1):

If other proxies had the same behavior but didn't change even due to the commotion 10 years ago, then I don't think they're very reliable proxies either way.

[2020-06-08 14:20] Malvoz commented on #3794
I wasn't able to find anything in the HTTP archive :/

If you look at it like this: Google Fonts is probably one of the most used web services that utilizes query strings in their URLs (`https://fonts.googleapis.com/css?family={..}`), if query string URLs weren't cachable in enough proxies then wouldn't we  have heard from developers for years how fonts weren't being cached?

[2020-06-08 14:51] tmb-github commented on #3791
@molant I can no longer see my original message (it was apparently clipped when the topic was transferred). FWIW, the article referenced by the Lighthouse audit is: https://web.dev/maskable-icon-audit/ which suggests that users "Set the value of purpose to maskable or any maskable. See Values." And "Values" links to https://developer.mozilla.org/en-US/docs/Web/Manifest/icons#Values, which only lis

[2020-06-08 16:29] molant commented on #3791
@tmb-github you can access the original one by pressing on "edited by @molant":

![image](https://user-images.githubusercontent.com/606594/84056033-8159e080-a96a-11ea-8c0f-0712deeb79f0.png)

The current issue is that you have `any maskable` and we only support `any` or `maskable`, not both at the same time 🤦‍♂️

[2020-06-08 16:30] hxlnt commented on #3778
Will close out this issue, as I don't think there's any additional action on our end. Let me know if we need to reopen. Cheers!

[2020-06-08 16:30] #3778 closed

[2020-06-10 03:46] molant commented on #3794
I believe Google Fonts don't work correctly in China (or at least I had issues with this in the past).
My main concern is giving an advice that could make the experience worse in countries where the Internet infrastructure might be different to what we are used to.

[2020-06-10 03:50] molant commented on #3786
Been using discord for react native stuff. Works pretty good and it's free 🙃
Also the web experience is better than slack when joining multiple communities.

[2020-06-10 11:17] Malvoz commented on #3791
Just a heads-up, when https://github.com/w3c/manifest/pull/833 is merged we'll have to support `monochrome` too.

[2020-06-11 15:36] madskristensen commented on #3794
@molant I don't believe that had anything to do with URL parameters. Just to be clear, my suggestion here is not that webhint should advice people to put fingerprints in URL parameters, but just recognize that it is a valid and functioning way to fingerprint - such that it won't call it out as missing because it is an unrecognized pattern.

[2020-06-12 05:56] hxlnt opened #3807 "webhint team meeting 2020-06-12"
## Time

**UTC Friday 29-Mar-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 29-Mar-2020 09:00 (09:00 AM) |
| US / Mountain | Friday 29-Mar-2020 10:00 (10:00 AM) |
| US / Central  | Friday 29-Mar-2020 11:00 (11:00 AM) |
| US / Eastern  | Friday 29-Mar-2020 12:00 (12:00 PM) |
| London        | Friday 29-Mar-2020

[2020-06-12 05:57] #3779 closed

[2020-06-12 05:59] hxlnt commented on #3743
@jetti888 -- Closing this issue, as there is no further information provided to help us repro or triage. Feel free to respond if you would like to reopen the issue with additional context. Thanks!

[2020-06-12 05:59] #3743 closed

[2020-06-12 17:10] johnemau opened #3808 "New webhint release"

[2020-06-12 20:01] hxlnt opened #3809 "Rename master branches"
Per our team meeting on June 12, the team would like to do an _en masse_ rename of master branches throughout our repos. I think we informally talked about changing it to "main," which works for me.

We may need to do some research on how to unblock impacts on our build pipeline and other dependencies, if any.

[2020-06-12 21:57] #3479 closed

[2020-06-13 14:15] brandonlazarre opened #3828 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __webhint version:__ 2.1.2
* __Browser version:__ Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/85.0.4166.0 Safari/537.36 Edg/85.0.545.0
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibility

[2020-06-13 15:47] brandonlazarre commented on #3828
I found the solution 👍

[2020-06-13 15:47] #3828 closed

[2020-06-16 19:29] utsavized opened #3829 "[Feature] Update utils-telemetry package with new endpoint and data contract"
Update utils-telemetry package with updated telemetry endpoint and also simplify data model.

[2020-06-19 10:36] entepe85 opened #3831 "Please publish the VSCode extension on OpenVSX"
I'm a [VS Codium](https://github.com/VSCodium/vscodium) user, a FLOSS version of VS Code. It's the same code but without Microsoft's telemetry, branding and licensing.

I would like to request, if possible, to add the webhint extension to the [open-vsx.org](https://open-vsx.org) market as it is unclear if it's legal to use the official Microsoft extension marketplace on VS Code forks, see [here](h

[2020-06-22 04:08] molant commented on #3831
I'd say that using the exactly the same version is not legal because of trademark issues (at least with webhint, which belongs to the OpenJS Foundation).

That said, I don't have anything against publishing on open-vsx.org.
If we decide to do this we will have to update the release script. I believe these are the files/areas to update:

https://github.com/webhintio/hint/blob/3d4244d3a3bf0228306323

[2020-06-22 06:50] entepe85 commented on #3831
I would certainly try my hands at a PR should you be willing to publish to OpenVSX.

[2020-06-23 13:14] molant commented on #3809
This is done across the org except the archived repos, PRs included.

[2020-06-23 13:14] #3809 closed

[2020-06-23 17:11] #3829 closed

[2020-06-23 19:01] sarvaje opened #3838 "[Bug] Update "Run AVA test" configuration in "launch.json""
# 🐛 Bug report

## Description

Looks like AVA has done some breaking change and the file `profile.js` doesn't exist anymore.

[2020-06-25 06:35] entepe85 commented on #3831
Just as an FYI: Yesterday I forked several other VSCode extensions here on GitHub and published these to the Open VSX Registry. It's relatively easy to do so and just requires a bit of knowledge about npm and the CLI. :)

[2020-06-25 19:37] sarvaje commented on #3769
I'm going to start working on this, but I have a couple of questions:

1. I get the part of including the link, but what do you mean with include the text?
2. For other hints that are not `hint-compat-api` nor `hint-axe` the link should be the lint to the webhint.io documentation?

[2020-06-25 20:21] molant commented on #3769
There's also the no vulnerable js libraries that should point to snyk (see #3780).
By text I think we meant "Learn more in BLA" and then the formatter can use it or not.

[2020-06-25 20:26] sarvaje commented on #3769
Ok,

Thanks!

[2020-06-25 21:12] hxlnt opened #3843 "webhint team meeting 2020-06-26"
## Time

**UTC Friday 26-Jun-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 26-Jun-2020 09:00 (09:00 AM) |
| US / Mountain | Friday 26-Jun-2020 10:00 (10:00 AM) |
| US / Central  | Friday 26-Jun-2020 11:00 (11:00 AM) |
| US / Eastern  | Friday 26-Jun-2020 12:00 (12:00 PM) |
| London        | Friday 26-Jun-2020

[2020-06-25 21:12] #3807 closed

[2020-06-25 21:37] molant commented on #3843
@hxlnt I'll arrive a few minutes late to the meeting.

[2020-06-26 14:12] molant commented on #3843
I might be even later than I expected so don't wait for me 😔

[2020-06-26 16:03] hxlnt commented on #3843
Meeting password: 2jPn6S

[2020-06-26 16:17] hxlnt opened #3844 "Investigate time needed to add to super-linter"

[2020-06-26 17:00] molant commented on #3843
# webhint team meeting 2020-06-26 notes

## Agenda items

* #3831: We are OK publishing there too. Need to create an account and ask for a PR to automate the process in our release script
* #3844: Investigate how to be added as part of GitHub Super Linter
* webhintio/serverless-online-service#32: @sarvaje will take a look
* webhintio/webhint.io#913: It will not work because in production static fi

[2020-06-26 17:16] molant commented on #3831
Hi @entepe85
we discussed this in [today's meeting](https://github.com/webhintio/hint/issues/3843#issuecomment-650287988) and we agreed to publish on open-vsx.org.

Because we want to make sure that package is up to date with the one published in the VS marketplace, the release script needs to be updated (see my [previous comment](https://github.com/webhintio/hint/issues/3831#issuecomment-64726167

[2020-06-26 20:09] #3838 closed

[2020-06-27 13:40] entepe85 commented on #3831
Hi @molant
I'm going to create a pull request with the necessary changes to the publishing script in the next days. I can hopefully test it without publishing but would let you know immediately if I face any obstacles.

[2020-06-29 13:32] molant opened #3849 "Release manifest-icons"
@sarvaje @hxlnt this hint is still not [published "officially"](https://github.com/webhintio/hint/blob/145ab5a11f7077a63b28a954f9a45bc5efa20e9b/packages/hint-manifest-icons/package.json#L55) although it seems we are using it seems to be active in different places. IIRC the missing piece was to update the documentation. Ideally we should do the `badge/monochrome` before we "release" it.

https://gi

[2020-06-29 13:34] molant commented on #3849
There are 2 PWA hints that are not published: https://github.com/webhintio/hint/issues/2351

This one is to track `manifest-icons` exclusively.

* [ ] Once #3841 is done, `badge`
* [ ] Update docs and also point to the w3c manifest above in the section about issues

[2020-06-29 13:55] molant commented on #3808
@johnemau @sarvaje with the changes in #3848 we will be publishing the extension to open-vsx as well. Before releasing you will have to:
- Log into open-vsx.org with your GitHub account
- Let me know so I can add you to the webhint namespace
- Get a token and add it top an env variable `OVSX_TOKEN`

Let me know if you have any questions.

[2020-07-07 08:00] zmeyc opened #3856 "[Bug] package.json browserslist with multiple environments"
# 🐛 Bug report

## Description

Webhint VSCode plugin doesn't support package.json's browserslist property with multiple environments (like the one generated by create-react-app):

[code]

Rules above output errors in VSCode for colors with alpha in css:

[code]

Error:

[code]

Steps to reproduce:

Install Webhint VSCode plugin.

Create new React app:

`npx create-react-app test`

In test/src/App

[2020-07-07 16:11] molant commented on #3856
Thanks for reporting this @zmeyc!

Wonder what is going on. We delegate everything to the `browserslist` package to find the right configuration.
For more context about environments there's https://github.com/browserslist/browserslist#configuring-for-different-environments

@hxlnt adding this to the agenda so we can talk about it this Friday 😊

[2020-07-07 17:40] #3587 closed

[2020-07-07 17:42] #3831 closed

[2020-07-07 17:56] zmeyc commented on #3856
@molant
This link is very helpful, thank you!

I think what happens is NODE_ENV is '' and resolves to 'production' which includes old browsers: a set to which app conforms after it has been built, but it's incorrect to lint against it during development.

I'm not sure if this can be fixed because expected browserslist behavior is to choose 'production' by default... Possibly a special case can be

[2020-07-08 19:57] sarvaje opened #3858 "[Bug] Bug @hint/utils can't be used without @hint/utils-dom"
@hint/utils version: "7.0.4"

I think we had a similar issue in the pass.

@hint/utils has as a devDependency "@hint/utils-dom".

but it has this line:
[code]
in the generated file content-type.d.ts

IIRC, the solution was move the devDependency to dependency.

The workaround while this get fixed is to add as a devDependency: "@hint/utils-dom" in your project.

[2020-07-10 02:13] hxlnt opened #3859 "webhint meeting 2020-07-10"
## Time

**UTC Friday 09-Jul-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 10-Jul-2020 09:00 (09:00 AM) |
| US / Mountain | Friday 10-Jul-2020 10:00 (10:00 AM) |
| US / Central  | Friday 10-Jul-2020 11:00 (11:00 AM) |
| US / Eastern  | Friday 10-Jul-2020 12:00 (12:00 PM) |
| London        | Friday 10-Jul-2020

[2020-07-10 02:15] #3843 closed

[2020-07-10 02:20] hxlnt commented on #3694
Hi, @hellosct1--Let us know if you're still having issues with this scan and, if so, what URL you're running against. Without more information, we're not able to investigate and will close the issue. Thanks!

[2020-07-10 02:22] hxlnt commented on #3690
Here is a proposed update for visualizing the results in the browser extension. This new version displays green checkmarks to indicate which areas have passed.

<img width="1366" alt="Full height" src="https://user-images.githubusercontent.com/9647195/87109392-285fbf80-c22a-11ea-847d-20a7004bf484.png">

Happy to hear feedback and thoughts on this.

[2020-07-10 15:52] molant commented on #3859
@hxlnt i won't be able to attend. Will be good to find something fo the issue about browserlist and development environment.

[2020-07-10 16:10] hxlnt commented on #3859
Notes (ended meeting early due to lack of quorum):
 - Mockup for browser extension improvements posted to https://github.com/webhintio/hint/issues/3690 -- PTAL
 - Thanks, @sarvaje for looking into the website scanner issues. They look to be resolved now.
 - Work will continue on currently-assigned sprint items (moved into 2007-2).

[2020-07-10 21:56] #3694 closed

[2020-07-20 11:44] Kilian commented on #3059
Sorry for the late reply. This isn't off my radar. Electron has been working on a new chrome extensions api that changes the way this integration would work, but currently has a fair amount of bugs so I'm waiting for that to stabilize.

[2020-07-20 17:55] johnson-jesse opened #3900 "[BUG] Issue running user guide sample via CLI or project dependency."
https://webhint.io/docs/user-guide/index.html

When running the CLI command as instructed `npx hint https://example.com` the command fails as follows:

[code]

Expected the command to produce some useful feedback on `example.com`. Instead, an error was shown.

Installed version:
[code]

[2020-07-20 22:46] sarvaje opened #3901 "[Bug] Generated file `browser-compat-data.ts` doesn't contains the mdn_url for most of the html element"
To be able to generate a link to the documentation in `hint-compat-api`, we need the mdn documentation link for css and html elements.

Most of the html elements don't have that link

[2020-07-21 14:20] johnson-jesse commented on #3900
The error message is tracked back to this block of code:
[code]

Is there additional configuration needed for this browser path? I'm relying on webhint defaults since I didn't provide a .hintrc. Do I need to download some browser driver?

[2020-07-21 15:59] sarvaje commented on #3900
Hi @johnson-jesse,

What OS are you using? Do you have installed any browser?

I'm trying on windows (cmd) and wsl and I can't reproduce it. (I have installed chrome-stable in wsl2 and edge canary in windows).

[2020-07-21 16:23] antross commented on #3900
@sarvaje Looks like Linux from the file paths.

@johnson-jesse do you happen to have Chrome/Chromium installed? Webhint attempts to use a local Chromium installation by default to avoid bringing down a large browser dependency. There are configuration options for running using JSDOM if Chromium isn't an option, though (it just doesn't currently "fall back" automatically).

[2020-07-21 19:46] sarvaje opened #3906 "[Bug] Provide the actual link to the package page for aXe"

[2020-07-21 21:15] johnson-jesse commented on #3900
@antross @sarvaje Thanks for your replies. I'm on a Mac. Catalina - macOS 10.15.5 (19F101). And I have Google Chrome.app installed in my Applications folder. Version 84.0.4147.89 (Official Build) (64-bit). Do I need to install a specific browser or some driver for Webhint to work with Chrome? What path is Webhint using to look for Chrome? Perhaps that is different on my machine for some reason.

[2020-07-21 21:29] antross commented on #3690
@hxlnt This proposal looks good to me. I like the addition of the green checkmark to call out a positive state.

@carlcamera Do you think this helps address your feedback?

[2020-07-21 22:01] sarvaje commented on #3900
The code is in this file: https://github.com/webhintio/hint/blob/main/packages/connector-puppeteer/src/lib/chromium-finder.ts

[here](https://github.com/webhintio/hint/blob/main/packages/connector-puppeteer/src/lib/chromium-finder.ts) we are setting some partial paths to look for the browser.

It should work with chrome canary and chrome stable.

[2020-07-22 14:38] johnson-jesse commented on #3900
@sarvaje @antross Webhint doesn't see my browsers because its grep results are incomplete. None of the combinations are valid paths to any of the installed browsers.

*grep*
[code]
*produces*
[code]

[2020-07-22 17:04] johnson-jesse commented on #3900
@sarvaje @antross I have a fix for y'all or whoever has access to create branches.

* In the grep portion I removed case insensitive flag. Do we really care about finding App? or APP? etc? This is actually non breaking and can be left in.
* Also in grep, I removed the $. As seen below, the path doesn't end in .app. So this entry will never get included if we use $.
* In the awk portion, I updated

[2020-07-22 22:10] #3900 closed

[2020-07-23 02:41] #3901 closed

[2020-07-23 17:21] jackkoppa opened #3910 "[Bug] When running Analyzer.format(), the resources from Analyzer.create() are not referenced"
# 🐛 Bug report

## Description

*Note: if the intended behavior is to always have all categories when using the programmatic API, then this could be closed & we could stick with our workaround. However, given that formatters have methods to only display categories for actual hints, it seems likely we'd want to "fix" this*

[code]

**Actual Result**: When running `webhint.format()`, the `resources`

[2020-07-23 22:18] hxlnt opened #3911 "webhint team meeting 2020-07-24"
## Time

**UTC Friday 24-Jul-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 24-Jul-2020 09:00 (09:00 AM) |
| US / Mountain | Friday 24-Jul-2020 10:00 (10:00 AM) |
| US / Central  | Friday 24-Jul-2020 11:00 (11:00 AM) |
| US / Eastern  | Friday 24-Jul-2020 12:00 (12:00 PM) |
| London        | Friday 24-Jul-2020

[2020-07-23 22:19] #3859 closed

[2020-07-24 15:05] hxlnt commented on #3437
@Reezaali will be working on this one next sprint.

[2020-07-24 16:17] hxlnt commented on #3910
Your workaround actually looks like a good candidate for a fix here. Would you be willing to open a PR to make the change you suggest above?

[2020-07-24 16:19] hxlnt commented on #2351
@Reezaali Could we add this update to our docs revision? I can help with this.

[2020-07-24 16:25] antross commented on #3849
This will entail removing `private: true` from the package.json and adding this hint to each of our default configurations (for the CLI, online scanner, browser extension, etc).

[2020-07-24 17:11] hxlnt commented on #3856
@zmeyc Thanks for the feedback. We were thinking about adding the ability to add configurations, and then once that's in place, we can consider putting smarter defaults in place. Does that sound like it would address the concern?

[2020-07-24 20:09] zmeyc commented on #3856
@hxlnt Thank you, it would. Possibly it shouldn't even be a part of webhint. For example, eslint has an external plugin for React projects mentioned in docs.

Configuration can be something like:
[code]

[2020-07-25 10:03] sheikhazrin opened #3917 "Testing: [Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __webhint version:__ 2.1.2
* __Browser version:__ Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.89 Safari/537.36 Edg/84.0.522.44
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibilit

[2020-07-25 19:55] jackkoppa commented on #3910
Thanks @hxlnt - PR'd

[2020-07-27 19:28] antross commented on #3917
Hi @sheikhazrin is there a particular issue with the webhint browser extension you were trying to report? Or was this just a test?

[2020-07-27 22:03] #3791 closed

[2020-07-28 14:53] hxlnt opened #3921 "[Feature] App shortcut support"
# 🚀 Feature request

Add hint for app shortcuts > https://web.dev/app-shortcuts/

[2020-07-28 17:57] #3910 closed

[2020-07-29 15:09] tmb-github opened #3922 ""Cache-Control preferred to Expires header" doesn't align with recommended server configurations"
On Chrome I'm using the Chrome WebHint browser extension, version 2.1.3, on https://thomasbrodhead.com

I'm using Chrome Version 84.0.4147.105 (Official Build) (64-bit)

I'm running the WebHint scan in an incognito window with WebHint enabled for incognito mode.

On my site, I'm using the recommended Apache .htaccess set up as indicated here: https://webhint.io/docs/user-guide/server-configuration

[2020-07-29 15:40] molant commented on #3856
@zmeyc we actually support the property `browserslist` in `.hintrc` so you should be able to use that.
Our aspiration is for developers to only have to maintain one browserslist configuration instead of duplicating code.

I've searched on GitHub OSS projects that use this feature and all of the use `production` or `development`.

I think we could improve a bit the VS Code extension by doing some c

[2020-07-29 16:00] zmeyc commented on #3856
@molant That would be nice to have in CLI as well. I.e. `yarn hint src` should probably also pick 'development' configuration in 3).

[2020-07-29 16:22] sarvaje commented on #3856
@molant sound good to me. Only one question, if none of the properties is development nor production? which one we will chose?

Maybe this code should go in webhint itself, and not only in VSCode.

[2020-07-29 17:23] molant commented on #3856
Then we delegate to browserslist decide whatever logic it has.

I'm more worried about modifying something that touches webhint entirely as that can cause side effects we don't want. For the CLI scenario the user should be capable of setting an environment variable for that process just before launching (e.g. `BROWSERSLIST_ENV=development yarn hint src`). That is not possible in the VS Code extens

[2020-08-03 18:47] zmeyc opened #3928 "[Feature] cli tool: glob expansion support"
# 🚀 Feature request

## Description

Please consider using [node-glob](https://github.com/isaacs/node-glob) for expanding glob expressions [like eslint does](https://github.com/eslint/eslint/issues/8191#issuecomment-284056465), so the following would work:

[code]

## What scenarios will this solve?

Easier linting during CI.

[2020-08-03 19:05] zmeyc opened #3929 "[Feature] cli tool: silent mode"
# 🚀 Feature request

## Description

When processing multiple files, hint outputs status for each file even if there are no issues. This makes logs harder to read.

Other linters usually output only errors:

[code]

## What scenarios will this solve?

Improve logging during CI.

[2020-08-03 20:35] sarvaje opened #3930 "[Feature] Add support for documentation links in the HTML formatter."
After one of these (or all of them) #3903, #3905 and #3909 are merged, we will need a way to show those links in the HTML Formatter.

[2020-08-04 01:40] zmeyc commented on #3929
A workaround:
[code]

[2020-08-04 05:26] molant commented on #3929
@antross @hxlnt @sarvaje
I'd like us too discuss this in the next meeting and see what we can do. Sounds good?

[2020-08-04 05:29] molant commented on #3929
@zmeyc in the meantime I you want to try to do a PR please don't hesitate!

We should be detecting when we are running on CI and not print similar messages but we must have missed this one.

[2020-08-04 19:19] #3769 closed

[2020-08-04 19:22] #3906 closed

[2020-08-04 21:45] #3780 closed

[2020-08-04 22:38] sarvaje commented on #3045
This is done as part of #3903

The only part left is to expose it in the HTML formatter (https://github.com/webhintio/hint/issues/3930)

[2020-08-04 22:38] #3045 closed

[2020-08-05 00:06] sarvaje opened #3932 "[Feature] Add support for documentation links in the browser extension."
After one of these (or all of them) #3903, #3905 and #3909 are merged, we will need a way to show those links in the browser extension.

[2020-08-05 18:23] MSW345 opened #3933 "[docs] Issue with 'Axe: Name Role Value'"
https://webhint.io/docs/user-guide/hints/hint-axe/name-role-value/index.html Spy

[2020-08-06 21:46] sarvaje opened #3934 "[Bug] 3rd party logo broken in HTML Formatter"
Steps to reproduce:
1. Run a scan locally to a URl that reports a `no-vulneragble-javascript-libraries` hint.
2. Open the hint.

Expected:
You will see snyk icons.

Actual:
![image](https://user-images.githubusercontent.com/1581288/89584270-a8a91e80-d7f0-11ea-9a1c-a59dbb76cc11.png)

The same happens with `axe`.

The html formatter in local creates a single html file with all the images as data-uri

[2020-08-07 15:29] hxlnt opened #3935 "webhint team meeting 2020-08-21"
## Time

**UTC Friday 21-Aug-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 21-Aug-2020 09:00 (09:00 AM) |
| US / Mountain | Friday 21-Aug-2020 10:00 (10:00 AM) |
| US / Central  | Friday 21-Aug-2020 11:00 (11:00 AM) |
| US / Eastern  | Friday 21-Aug-2020 12:00 (12:00 PM) |
| London        | Friday 21-Aug-2020

[2020-08-07 15:30] #3911 closed

[2020-08-07 16:16] #3808 closed

[2020-08-07 16:29] hxlnt commented on #3794
We chatted about this this morning, and we're thinking we can downgrade this warning to a hint to mitigate the concern while still surfacing the message for those who would like to see it. Thoughts?

[2020-08-07 16:35] madskristensen commented on #3794
@hxlnt Would that deprive users from getting the satisfaction of getting to green/clean?

[2020-08-07 16:45] hxlnt commented on #3792
@johnemau Tony thinks we already implement this fix above, and that it's possible this may be a bug on npm. Do you mind taking a look?

[2020-08-07 16:52] antross commented on #3928
@zmeyc Thanks for the suggestion! I think this is a great idea and would really help users target "just the right files" in a number of cases. Is this something you might be willing to open a PR for?

[2020-08-07 17:47] molant commented on #3794
It will depend on what the user has configured as the minimum threshold. IIRC the default one for the browser extension is warning so it will not show up unless they change it.

[2020-08-07 18:02] madskristensen commented on #3794
@molant in that case it sounds great IMHO.

[2020-08-07 18:04] molant commented on #3794
This might take a bit because of other priorities but if you want to do a PR we will be happy to help you along the way!

[2020-08-07 18:07] madskristensen commented on #3794
Sure, can you point me to the right file(s)?

[2020-08-07 18:12] molant commented on #3794
Sure.
The file to modify would be [this one](https://github.com/webhintio/hint/blob/604b587f6a76d45b1e20200e35b52405fa9817bd/packages/hint-http-cache/src/hint.ts#L430).

The idea will be to detect the finger printing syntax after `cacheRevvingPatterns` fails. If it is detected then change the severity from `Severity.warning` to `Severity.hint` a couple lines later from where I pointed.

Ideally th

[2020-08-07 18:38] johnemau commented on #3792
@molant, after researching the root cause in npm (https://github.com/npm/marky-markdown/issues/449) I went with this fix (#3937) from your [comment](https://github.com/webhintio/hint/issues/3792#issuecomment-637076471).

Can you clarify how this might _"mess with the link transformation step"_ ? How can I check if this is the case?

[2020-08-07 20:05] molant commented on #3792
Good question. Before we were cloning the latest version of master in webhint.io, but now we are pulling the latest npm packages.

I think that a way would be clone the website's repo locally, install all dependencies, manually update a couple of the files you've modified, and then run the generation scripts to see what comes out of that.

[2020-08-12 08:36] abhisheksiet23 opened #3943 "New Feature | print/save report generated in browser extension"
Hi Web Hint Team,

I have just started using Webhint.io browser extension with both Firefox and Chrome and find it awesome. There is one thing which i think is absolutely required and that's a way to print (to pdf) / save the results generated.

I hope you will find this request genuine.

Regards,
Abhishek Jain

[2020-08-12 16:19] antross commented on #3943
Thanks for the suggestion @abhisheksiet23, I think this is a great idea! Would you be willing to try to open a PR for this?

Specifically I think we could implement this pretty easily by adding a link/button that calls `window.print()` to results page. Since the results are just a web page this would trigger the browser's built-in print capability which should have an option to save to PDF as well

[2020-08-12 16:25] antross commented on #3943
Also, if you decide to work on this, you'll most likely be looking to make changes in these files:
* https://github.com/webhintio/hint/blob/main/packages/extension-browser/src/devtools/views/pages/results/header.tsx
* https://github.com/webhintio/hint/blob/main/packages/extension-browser/src/devtools/views/pages/results/header.css

And to keep things nicely separated you may want to implement this

[2020-08-12 17:03] antross opened #3944 "[Feature] Add compatibility hints for JavaScript (hint-compat-api/js)"
Given we already have `parser-typescript` which produces a compatible AST with `acorn`, we should be able to cut over to using the TS parser for JS files as well. This would allow us to have type-information for elements in the AST (when TS can figure it out).

That then allows webhint to confidently start providing feedback on JS APIs based on MDN data without risking false positives (where the t

[2020-08-12 17:14] antross commented on #3767
One uncertainty is the impact on bundle size for the browser extension and utils-worker which don't currently include `parser-typescript`. Performance will also be impacted to a degree as deriving types is almost certainly going to be slower than just parsing JS normally.

[2020-08-12 21:02] antross commented on #3922
@captainbrosset This looks like a piece of documentation we missed updating when we updated this hint in https://github.com/webhintio/hint/pull/3776. Can you take a look?

[2020-08-12 21:35] antross commented on #3933
@MSW345 Can you elaborate on what documentation issue you're seeing with this page? Thanks!

[2020-08-13 08:26] captainbrosset commented on #3922
@antross I attempted a doc fix in the referenced PR above. Let me know if that's better.

[2020-08-13 18:54] #3922 closed

[2020-08-13 20:20] tmb-github opened #3946 "[Bug] Bug description"
Windows 8.1
Chrome Version 84.0.4147.125 (Official Build) (64-bit)
Webhint online scanner running Webhint version 6.0.7
Website scanned; https://thomasbrodhead.com

Preload <link>elements referencing locally hosted resources that make use of the <base> path element are not recognized. For example:

hint #1: Could not be fetched.

https://thomasbrodhead … Cabin-Bold-700.woff2

<link rel="preload" h

[2020-08-14 15:31] tmb-github commented on #3922
Despite the commit, the changes found in https://github.com/webhintio/hint/commit/d78a83e3285c94dbee72f9e6e330a080880a76c2 are not reflected in the public documents, and the public documents are different from one to the other.

The code at the https://github.com/webhintio/hint/commit/d78a83e3285c94dbee72f9e6e330a080880a76c2 shows this:

[code]

So far so good.  But on [Disallowed HTTP Headers](ht

[2020-08-14 15:42] sarvaje commented on #3922
Hi @tmb-github, that is "normal", the documentation won't be updated until a new version of webhint (with those changes) is release.

[2020-08-14 22:28] antross opened #3947 "[Bug] Use `importHelpers: true` in tsconfig.json to reduce code size"
Currently the webhint codebase doesn't follow [its own best practice of using `importHelpers: true`](https://webhint.io/docs/user-guide/hints/hint-typescript-config/import-helpers/) to reduce the amount of redundant helper code generated by TypeScript (also requires adding `tslib` as a dependency). This causes unnecessary bloat in the built webhint code, particularly for large bundles like the bro

[2020-08-15 07:38] sheikhazrin commented on #3917
Just test only. Sorry for disturbing you.

[2020-08-16 15:01] gianpaj opened #3951 "[Bug] Do not show autocomplete warning (input[autocomplete]) if it's off"
# 🐛 Bug report

## Description

The webhint VSCode extensions shows an warning/problem even if the `autocomplete` attrib is `off`

![image](https://user-images.githubusercontent.com/899175/90337311-917ce480-dfd9-11ea-9d7f-d9104ca44377.png)

[code]

https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes/autocomplete

## `webhint` configuration

none

[2020-08-17 15:05] QmarkC opened #3952 "[Bug] UserConfig type not exported by hint"
# 🐛 Bug report

## Description

The `UserConfig` type is not exported from `hint` as documented in the [`Using the API`](https://github.com/webhintio/hint/blob/main/packages/hint/docs/user-guide/api/using-api.md#how-to-use-the-api) docs.

[code]

Adding `export type { UserConfig } from '@hint/utils';` to the [analyzer types](https://github.com/webhintio/hint/blob/main/packages/hint/src/lib/types/a

[2020-08-17 16:13] antross commented on #3917
No problem, just wanted to make sure we weren't missing additional details. Thanks for clarifying!

[2020-08-17 16:13] #3917 closed

[2020-08-17 17:03] QmarkC opened #3954 "[Docs Bug] Broken html output image in formatter-html README"
# 📚 Docs issue

* **Affected URL**: https://github.com/webhintio/hint/blob/main/packages/formatter-html/README.md
* **What's the problem**:
The example output for the html formatter image is broken when viewing the README.md.
Copying the [html output image](https://github.com/webhintio/hint/blob/main/packages/hint/docs/user-guide/concepts/images/html-output.png) from the hint docs to [`formatter-h

[2020-08-17 17:03] antross commented on #3946
Thanks for another good report @tmb-github!

Looks like this is only affecting `@hint/hint-http-compression` so it should repro on the webhint CLI as well (but not the browser extension which excludes this hint due to API limitations). Unlike most hints this one tries to manually re-request resources using a variety of different headers to test server configuration. I haven't had a chance to dig d

[2020-08-17 17:23] antross commented on #3951
Thanks for the feedback @gianpaj! I agree this would be a good change, though I'm wondering if we should just ignore `autocomplete` entirely. I'm not sure if there's any particular value that needs to be flagged since this will gracefully degrade in IE 11 regardless.

@webhintio/contributors anyone else have thoughts/opinions on whether we should ignore this entire attribute, just the "off" value,

[2020-08-17 17:38] molant commented on #3951
Ignoring sounds good to me 😊

[2020-08-17 18:24] #3952 closed

[2020-08-17 20:08] antross opened #3956 "Make utils-tests-helpers `overrides` strongly typed"
If we want to get really fancy I may be able to use generics in the type definition of `overrides` to derive this type automatically based on the referenced module name. Which would be cool since it'd flag typos or signature mis-matches versus the actual module. I feel it's out of scope here since we're trying to unblock a dependency update, but could be neat to explore in the future.

_Originally

[2020-08-17 20:10] #3954 closed

[2020-08-19 19:45] #3929 closed

[2020-08-20 02:24] EddyHaigh opened #3962 "[Feature] Markdown Formatter"
# 🚀 Feature request

## Description

 What do you want to be added?
A markdown formatter.

 Are you willing to work on this?
Yes

## What scenarios will this solve?

 Why do you want/need this?
This will solve issues where you can't display rich HTML formats such as in websites with particular Content Security Policies as well as environments such as Azure Pipelines where the pipeline summary page

[2020-08-20 09:54] captainbrosset commented on #3951
Ignoring sounds good to me too!

[2020-08-21 16:51] antross opened #3964 "Start doing automated performance testing"
Current testing is ad-hoc using the various webhint entry points manually. As we make more significant changes (e.g. enhancements to dig deeper into MDN data) we need a way to ensure we're not regressing the user experience with the additional overhead. Plus in some contexts where we're running automatically we likely need to be faster than we are today. Either way we need a baseline to help us kn

[2020-08-21 17:00] antross opened #3965 "Release latest webhint packages"

[2020-08-23 12:00] zmeyc opened #3966 "[Feature] Ignoring a specific line in css"
# 🚀 Feature request

It would be nice to be able to ignore a specific line in css. For example, overscroll-behavior-y is missing in Safari and webhint warns about this, but unless I've missed something, there's no way of disabling the warning.

[code]

For example, this is how stylelint implements this:
https://stylelint.io/user-guide/ignore-code

[2020-08-24 16:49] johnemau commented on #3792
@molant, tested it out after https://github.com/webhintio/webhint.io/pull/934, and my fix worked #3967

[2020-08-24 17:21] #3642 closed

[2020-08-24 19:08] #3792 closed

[2020-08-24 21:23] antross commented on #3966
Good suggestion @zmeyc! Plus I like the idea of offering a syntax consistent with other linting tools.

I will note if you're using the CLI or VS Code extension you can edit your `.hintrc` file to ignore specific CSS properties. Some examples here: https://webhint.io/docs/user-guide/hints/hint-compat-api/css/#can-the-hint-be-configured

So for this particular case you could do:
[code]

This is of

[2020-08-26 17:02] sarvaje commented on #3965
Done!

[2020-08-26 17:02] #3965 closed

[2020-08-26 20:17] jm-trd-ms opened #3970 "[Bug] The built-in configuration does not run"
# 🐛 Bug report

## Description

1.  Open zsh shell.
1.  Run `npx hint https://www.example.com`

## Environment

* __`hint` version:__ zsh: command not found: hint
* __`Node.js` version:__ v14.7.0.
* __`OS`:__ macOS Catalina 10.15.6
* __URL for which webhint failed:__ https://www.example.com

## `webhint` configuration

<details>
<summary>webhint configuration</summary>

[code]

</details>

## Debu

[2020-08-26 22:20] #3951 closed

[2020-08-27 22:13] antross opened #3975 "Refactor `post` for `@hint/utils-telemetry` to provide shared implementations for browser and node"
Hat-tip to @sarvaje for pointing out I used the old code from the VS Code extension that still had the "chunked" bug. Definitely need to refactor this so we can share the `post` implementation between `node` environments, but don't want to block this fix on publishing a new package to NPM.
[code]

_Originally posted by @antross in https://github.com/webhintio/webhint.io/pull/939#discussion_r478724

[2020-08-27 22:39] #3535 closed

[2020-08-27 22:51] sarvaje opened #3976 "Update dependencies"
Looks like dependabot is missing some updates and yarn sometimes miss to update some subdependencies.

We should catch up with the new versions of the packages and update yarn.lock

[2020-08-28 21:44] antross commented on #3970
Thanks @jm-trd-ms!

This seems really similar to https://github.com/webhintio/hint/issues/3900 which should have been fixed already...

Just to double-check: you do have a Chromium-based browser installed on your machine already, correct?

[2020-08-28 22:01] #3413 closed

[2020-08-28 23:02] jm-trd-ms commented on #3970
I have Microsoft Edge (Chromium) installed, but the issue is on in the zsh command-line (the default macOS terminal shell).

[2020-08-31 15:57] pawanakhil commented on #3943
Hey @antross ,
I am new to open source community. I would like to start my open source journey by opening PR to this issue, if no one is working on it.

[2020-08-31 17:45] antross commented on #3943
Hi @pawanakhil and welcome!

No one is working on this that I know of so please feel free to open a PR. We're happy to help if you have any questions along the way. And thanks in advance!

[2020-09-01 16:11] #3930 closed

[2020-09-01 22:21] #3932 closed

[2020-09-02 02:12] fahensha commented on #3691
Hi, completely new to open source here but interested in submitting a PR for this issue! Just thought I would drop a comment to make sure the status is still that there needs to be an `extensionValueDirectives` list and that `stale-while-revalidate` and `stale-if-error` need to be moved there and have their values accounted for?

[2020-09-02 16:14] antross commented on #3691
Hi @fahensha and thanks for offering to submit a PR!

Yes, your summary is correct. And accounting for the extension values will probably need to happen either before this check or as part of it:
https://github.com/webhintio/hint/blob/190284e5ff577b6bc0600b1425e7abb39818ced8/packages/hint-http-cache/src/hint.ts#L165

Feel free to ask questions if you run into any trouble and thanks again!

[2020-09-02 20:06] antross opened #3982 "Simplify code snippets for HTML"
Currently code snippets for HTML elements displayed in the online scanner or browser extension can become quite large depending on the number of attributes involved. Here's an example on the smaller side:

[code]

To make this less noisy and help users focus on finding where/what they need to fix, I propose we only keep the first identifying attribute (of `id`, `name`, `href`, `src`, or `class`) p

[2020-09-02 21:36] antross commented on #3770
We've decided to generally state that we're linking to an element rather than try to provide details on the element itself, so this will no longer be needed (unless someone else has a use case for it).

[2020-09-02 21:36] #3770 closed

[2020-09-02 22:33] #3976 closed

[2020-09-04 16:22] antross opened #3983 "Add a reserved VM to CI for running some tests"
Related to #3964

We need consistent hardware to help us compare times across runs. Includes configuring a new Azure Pipeline to use this VM (so we can run just performance tests and not the whole suite).

[2020-09-04 16:24] antross commented on #3964
Initial thoughts are to run an end-to-end test on same sample files using utils-worker in puppeteer. We'll measure the total runtime for comparison across runs.

[2020-09-06 00:58] JanGray opened #3996 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __webhint version:__ 2.1.4
* __Browser version:__ Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:81.0) Gecko/20100101 Firefox/81.0
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibility
* [x] Performance
* [x] Pitfalls
* [x] PWA
* [x] S

[2020-09-07 14:31] ruppysuppy commented on #3943
@antross I would like to work on this issue, but I was unable to start the react project as I could not find a start script. Could you please tell me how to set things up so I can run it locally?

[2020-09-07 21:02] antross opened #3997 "[Hint] Pitfalls - classList.add/remove with leading ".""
I've hit this one a few times since I'm so used to writing selectors instead of plain class names. It actually adds/remove a className which includes the leading "." as part of the name which is almost never what you want. Seems like a warning/error here would be helpful as you can easily be left scratching your head about this for awhile.

E.g.
[code]

### Incorrect
[code]

### Correct

[code]

M

[2020-09-08 17:57] antross commented on #3943
@ruppysuppy I'll let @pawanakhil comment on whether they're still working on a PR, but to get set up I'd recommend looking at the contributor guide for the browser extension here: https://github.com/webhintio/hint/blob/main/packages/extension-browser/CONTRIBUTING.md

You'll need node 10+ and the latest version of yarn 1 (not yarn 2) installed as prerequisites.

[2020-09-08 19:16] antross commented on #3996
Hi @JanGray, was this just a test or is there an issue you were trying to report?

[2020-09-09 14:34] ruppysuppy commented on #3943
@antross, @pawanakhil doesn't see to be responding. Can I open a PR if he doesn't respond in 1 more day? I have added the functionality locally

[2020-09-09 15:59] antross commented on #3943
Absolutely. Waiting was mostly to save duplicate effort so if you've already done the work feel free to open a PR anytime. If we end up with two of them we'll compare and use the best ideas from both 🙂

[2020-09-09 22:58] josephines opened #3998 "[Bug] Link to source for code preview doesn't link to a valid location"
# 🐛 Bug report

## Description

Repro steps:
1. Navigate to [https://www.microsoft.com/en-us/](https://www.microsoft.com/en-us/)
2. Open Hints tab in DevTools and run scan
3. Go to Compatibility > Supported CSS features > find this warning:
`'-ms-grid-column-span' is not supported by Chrome, Chrome Android, Edge 16+, Firefox, Firefox Android, Opera, Safari, Samsung Internet, iOS Safari.`
(actually

[2020-09-10 09:33] yoannmoinet opened #4000 "[Bug] Doesn't support Yarn v2 with PnP."
# 🐛 Bug report

## Description

We're using Yarn v2 with [PnP](https://next.yarnpkg.com/features/pnp) enabled.
Running `yarn hint <path to dist folder>` outputs this:

[code]

Answering `Y` will trigger this error:

[code]

So we installed manually

[code]

But the error persists.

## Environment

* __`hint` version:v6.1.0
* __`Node.js` version:v12.16.1
* __`OS`:MacOS Catalina (10.15.6)
* __URL fo

[2020-09-10 20:26] 0352053439 opened #4002 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __webhint version:__
* __Browser version:__
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibility
* [x] Performance
* [x] Pitfalls
* [x] PWA
* [x] Security

Your target browsers:
* [x] Recommended settings
* [ ] Custom:

Ignored reso

[2020-09-11 02:07] antross commented on #3998
Thanks for the report @josephines!

Looks like this may be a challenging fix. As you point out, webhint doesn't find the source location because the styles were dynamically added as part of a script. Normally webhint tries to point to the `<style>` element in the original HTML file for inline styles, but since this one was added later webhint doesn't know where it came from.

Seems like we could d

[2020-09-14 13:40] molant commented on #4000
Hi @yoannmoinet

Seems like yarn2 is not downloading the packages the same way npx does. I haven't tried yarn 2 myself but if their goal is to have parity I would raise this issue with them as I doubt we would be the only project running into this.

Unfortunately the team does not have time to look into this at the moment but if you find out how to make it work please submit a PR!

[2020-09-14 13:44] molant commented on #4002
Hello @0352053439

Was this issue opened by mistake or did you have a problem with the extension? If you had a problem, feel free to open a new issue filling the details so we can take action on it.

Thank you!

[2020-09-14 13:44] #4002 closed

[2020-09-14 17:53] #3943 closed

[2020-09-16 16:30] antross opened #4017 "Include feature name in links to MDN"
Affects the "Further Reading" links which haven't been released yet. In testing we've noted seeing repeated "Learn more about this feature on MDN" links gives the impression we may just be linking to a general MDN page and not deep-linking to details about the feature (which is what we're doing).

We may also want to do something similar for axe which currently reports "Learn more about this axe r

[2020-09-17 02:22] antross opened #4018 "[Hint] Pitfalls - Using for..in with an Array/Iterable (or for..of with an object)"
Credit to @jdalton for this idea from awhile ago.

Basically it's easy to forget whether you want `for..of` or `for..in` as the names don't really convey which one is for iterables and which one is for enumerating keys on an object. Especially when using `for..in` with an array it will "work", but will give you the indices instead of the values (almost never what you want). This can lead to some c

[2020-09-18 14:05] molant commented on #3856
This is what I'm thinking about this issue:

* Update [Browser Configuration](https://webhint.io/docs/user-guide/configuring-webhint/browser-context/) and paste this text from the [official docs](https://github.com/browserslist/browserslist#configuring-for-different-environments)

* For VS Code we have to options, depending on how much time we want to invest:
  - Easy one, should cover all cases I

[2020-09-18 14:07] #3996 closed

[2020-09-18 15:31] molant commented on #3962
Hi @EddyHaigh 👋

I see that you are willing to work on this, is that still the case? If so, we will be more than happy to help you along the way 😊

You probably have seen this, but we have some documentation about [developing a formatter](https://webhint.io/docs/contributor-guide/how-to/formatter/).
Also, copy pasting the json formatter is a good starting point. Just make sure to update the names

[2020-09-18 15:32] molant commented on #3956
Adding to agenda so it can be tagged accordingly.

[2020-09-18 15:33] molant commented on #3935
Closing this as it was over a month ago and the notes are already here.

[2020-09-18 15:33] #3935 closed

[2020-09-18 15:34] molant commented on #3794
Hi @madskristensen

did you have the time to look into this?

[2020-09-18 15:35] molant commented on #3786
Adding to the agenda so we can make a final decission.

[2020-09-18 15:37] molant opened #4019 "Hacktober fest is around the corner"
Creating this issue and adding to the agenda so we can discuss if we want to participate and what should be done.

[2020-09-18 16:10] hxlnt commented on #4019
- Update tagged issues/meta tracking issue
 - Advertise via social media

[2020-09-18 16:14] hxlnt commented on #4000
This change will require some changes to webhint's resource loader.

[2020-09-18 16:18] #3975 closed

[2020-09-18 16:25] EddyHaigh commented on #3962
@molant , yeah im still willing to work on this. I'm just trying to think of the best way to do this before I start. Initially, I was thinking a string builder style way but that could easily become complicated and hard to maintain. Then I took a look at the HTML formatter and thought about using the EJS templating engine to develop the Markdown. I know it might sound silly but it would be more ma

[2020-09-18 17:00] molant commented on #3962
Have you looked at [Tagged templates](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals#Tagged_templates)

It might be a good option for this scenario.

[2020-09-18 17:07] EddyHaigh commented on #3962
I'll give it a look and try it out. Thanks for the suggestion! 😀

[2020-09-18 17:08] antross commented on #3856
@molant I like your easier suggestion here. The only other thing I'd like to do is figure out how someone can set that environment variable for our VS Code extension to pick it up and document that.

[2020-09-18 17:44] molant commented on #3856
It's a regular environment variable so they will have to set it up before opening VS Code (via whatever method the OS provides).
I think the key thing is that we default to "development" which is what developers are most likely to want when running VS Code. The browserslist paragraph already explains those are environment variables and we can probably link to that page from the VS Code instruction

[2020-09-19 16:19] EddyHaigh commented on #3962
Is there any documentation on testing a new formatter other than the tests in the test folder?

[2020-09-19 21:37] molant commented on #3962
You could update the `.hintrc` file in `packages/hint` to use the new formatter and run webhint from there.
If you are using vs code I believe there's a debug configuration to run it (hint?).
IIRC you have to select a url on a text file to make it work or you could modify the `.vscode/launch.json` file and hardcode any url by replacing `{selectText}` or something similar (I'm on mobile and don't h

[2020-09-20 18:25] matylla opened #4030 "[Hint] OptidashAI Image Optimization"
# 🚀 Feature request

✍️ **What do you want to be added?**

Official OptidashAI https://optidash.ai image optimization hint to suplement the existing tool.

💪 **Are you willing to work on this?**

Yes, absolutely.

✍️ **Why do you want/need this?**

The only check for image optimization in the Performance section is currently sponsored by Cloudinary. We believe users should have an option to choose

[2020-09-21 02:14] fahensha commented on #3691
While recreating the issue I am running into a problem creating the sideload chrome extension.

Since this is just a set up issue, is it okay to discuss it here, or is there somewhere else I can get help resolving this? Thanks in advance!

[2020-09-21 05:42] molant commented on #3691
Here is fine :)

[2020-09-21 09:29] gottfridsberg opened #4031 "[Bug] Http-compression of small files"
<!--

# 🐛 Bug report

## Description

My site have a few files that are smaller than 500 Bytes, but I still get hints.

URL: www.tomasmoberg.org:
Uncompressed file sizes: pwa.webmanifest: 346 B; image.svg: 289 B; max-width: 1.31 kB; ;min-width.css: 1.31 kB
CDN: Netlify (brotli compression of files > 1kB)

## Debug output

http-compression: 6 hints

hint #1: Response should be compressed with gzip

[2020-09-21 16:47] madskristensen commented on #3794
@molant sorry, life happened, and I never got around to doing this. I won't be able to do this in the foreseeable future.

[2020-09-21 16:48] madskristensen commented on #3794
@molant sorry, life happened, and I never got around to doing this. I won't be able to do this in the foreseeable future.

[2020-09-21 19:05] molant commented on #4031
Hello @gottfridsberg,

can you please provide more information about what issue are you experiencing with `http-compression` (hopefully with a URL we can reproduce on our end)?

[2020-09-22 14:52] gottfridsberg commented on #4031
Sorry for the incomplete (missing) bug repport. The tested site has a few files that are smaller than 500b, but I still get http-compression hints.

URL: https://www.tomasmoberg.org
Original file sizes: image.svg: 289 B; max-width.css: 1.32 KB; min-width.css: 1.33 KB; pwa.webmanifest: 346 B
CDN: Netlify (Brotli compression of files > 1KB)

http-compression: 6 hints

hint #1: Response should be com

[2020-09-22 14:57] gottfridsberg commented on #4031
@molant, I've added some content to bug repport #4031...

[2020-09-22 15:22] antross commented on #4031
Thanks for the additional detail @gottfridsberg!

@molant - looks like `hint-http-compression` should consider a minimum size limit for reporting files (which should probably be configurable), agreed? We could use 1KB to align with the reported Netlify behavior, though I'd be curious if we can find any other resources discussing a recommended cutoff size.

[2020-09-22 20:30] antross opened #4032 "Run CI for dependency updates on Linux"
Currently runs on Windows, but this is slower. Would be nice to get these through the pipeline more quickly so I propose we run on Linux. We'll still get Windows coverage once the update is merged and can always revert if necessary (same as we would do for Linux or Mac today).

[2020-09-22 20:37] molant commented on #4031
What do you think of changing the severity if the files are under the threshold?

I think the cutoff size depends a lot if you are using HTTP2 or not, the size of the headers, if it's the first resource from a given domain (and all the price that you need to pay for shaking and such).

From a quick search it seems the average size of a TCP package is around 1500 bytes (that's the MTU on Ethernet).

[2020-09-22 22:47] antross commented on #4031
Depends on the severity. If we're going to show anything I'd say no stronger than a "hint" - "warning" seems like too much. That said, I think I'd prefer nothing at all unless there are a lot of small, uncompressed files (though I know that's harder to account for given the way the hint is written).

[2020-09-23 02:37] fahensha commented on #3691
Okie dokie, when I try to sideload the extension to test changes on my local copy through the "Load Unpacked" option on chrome://extensions/, I get this error message:

Looking at the manifest the line with the version on it is: "version": "(set by scripts/copy-version.js)" Should I just choose my own version here, or should I run the copy-version.js script, or maybe something else was not happeni

[2020-09-23 18:50] molant commented on #4031
I was thinking on hint. Definitely not warning.

[2020-09-23 18:54] molant commented on #4032
IIRC the reason why it is running on Windows is because we had problems in the past with dependencies working OK on Linux/mac and not on Win.
The reality is that most of the development of these packages is still in non-Windows environments :(

[2020-09-24 06:44] akraman0959 opened #4033 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __webhint version:__ 2.1.4
* __Browser version:__ Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:82.0) Gecko/20100101 Firefox/82.0
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibility
* [x] Performance
* [x] Pitfalls
* [x] PWA
* [x] S

[2020-09-24 15:47] molant commented on #4033
Hi @akraman0959,

can you please provide the URL where this happens? Otherwise we cannot take a look at it.

[2020-09-24 18:23] EddyHaigh commented on #3962
Yeah, changing the args on the debug launch of hint, to the following works.
[code]

[2020-09-28 15:58] antross commented on #4030
Thanks @matylla, I like the idea of presenting multiple options for users.

Discussing with @sarvaje I think we'd like to approach this by replacing the existing `hint-image-optimization-cloudinary` with a more general `hint-image-optimization` that can call multiple services.

The goal is we'd warn users for any images that aren't sufficiently optimized and provide links to both services as part

[2020-09-28 19:08] matylla commented on #4030
Hey Tony,

I think that's an excellent idea - to create a universal connector that would allow users to choose their favorite image optimization service.

How and when do we move forward?

[2020-09-28 21:05] #3934 closed

[2020-09-29 16:06] molant opened #4044 "Replace moment for maintained alternative"
[moment is considered legacy now by their team](https://momentjs.com/docs/#/-project-status/), we should think about moving to other alternatives

_Originally posted by @molant in https://github.com/webhintio/hint/pull/4040#discussion_r496124464_

[2020-09-29 17:03] antross commented on #4030
@matylla if you're interested in opening a PR feel free to get started. You can always post it as a draft so we can give early feedback or answer any remaining open questions. If you have other questions you'd like to have answered before getting started feel free to ask here.

I'd suggest just creating the new hint and leaving the existing hint as-is for now (though feel free to copy the existing

[2020-09-29 19:37] #4032 closed

[2020-09-30 13:29] molant commented on #3691
Sorry for the delay answering 😞
Don't know why the version is not being copied correctly and why we haven't catch this earlier. You should be able to put whatever you like in there or use `build-release` or `build-release:chromium` (although those won't be unpacked).

@antross, @sarvaje this PR seems related: https://github.com/webhintio/hint/pull/2964 but don't know why it would have this side ef

[2020-09-30 14:45] ruppysuppy commented on #3997
@antross, I would like to give it a shot. Could you tell me how should I approach the problem and where do I need to make the changes?

[2020-09-30 18:16] antross commented on #3997
Thanks @ruppysuppy!

This would be a new hint similar to [`hint-create-element-svg`](https://github.com/webhintio/hint/blob/main/packages/hint-create-element-svg/src/hint.ts) (feel free to copy/paste that one as a starting point).

That hint uses `walk.simple` and `CallExpression(node)` to check for `createElement` calls. This hint should do something similar checking for `add` and `remove` calls.

[2020-10-01 01:40] fahensha commented on #3691
No worries! I added in my own version number of '1' and now its complaining about not being able to find background-script.js:

`Failed to load extension
File
~/git/hint/packages/extension-browser/dist/bundle
Error
Could not load background script 'background-script.js'.
Could not load manifest.
 `

[2020-10-01 16:17] antross commented on #3691
@fahensha, this definitely sounds like some of our build/bundle steps aren't running correctly.

If you're on a branch with some changes already, can you open a draft PR so we can checkout the same code and see if we also run into this issue? I tried reproducing the issue on `main` but things appear to be working fine for me.

[2020-10-01 21:44] fahensha commented on #3691
@antross Yep sure thing!

[2020-10-02 14:27] molant opened #4048 "[Feature] Use npm automation tokens for publishing automatically"
# 🚀 Feature request

## Description

Looks like we can finally publish to npm from CI:

https://github.blog/changelog/2020-10-02-npm-automation-tokens/

## What scenarios will this solve?

We could publish more often and automatically 🎉

[2020-10-02 15:38] hxlnt commented on #3786
Reached out to OpenJS Foundation to see if there's a cross-project infrastructure we could benefit from here.

[2020-10-02 15:40] hxlnt opened #4049 "webhint team meeting 2020-10-02"
## Time

**UTC Friday 02-Oct-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 02-Oct-2020 09:00 (09:00 AM) |
| US / Mountain | Friday 02-Oct-2020 10:00 (10:00 AM) |
| US / Central  | Friday 02-Oct-2020 11:00 (11:00 AM) |
| US / Eastern  | Friday 02-Oct-2020 12:00 (12:00 PM) |
| London        | Friday 02-Oct-2020

[2020-10-02 20:21] sarvaje commented on #3691
Hi @fahensha.
I have been trying your [PR](https://github.com/webhintio/hint/pull/4047) in windows, WSL2 and Ubuntu and I didn't have any problem building or loading the extension.

This is what I did:
1. Clone the repo
2. Checkout your PR
3. Run `yarn`
4. Run `yarn build`
5. Go to the browser and load the extension

Can you try cloning your repo in another folder and run those steps?

[2020-10-04 04:04] ruppysuppy commented on #552
I would like to work on this issue. Could you tell me how I can check for the redirection (https to http) and give some suggestions for testing it?

[2020-10-05 15:38] antross commented on #4048
Love this! Getting the npm packages published automatically from CI would be *huge*!!!

[2020-10-06 11:04] claudiush commented on #3921
Currently https://webhint.io/docs/user-guide/hints/hint-manifest-is-valid/index.html is flagging a false error
_'root' should NOT have additional properties. Additional property found 'shortcuts'._
if the site manifest contains **shortcuts** as member even thought this is following the documented standard: https://w3c.github.io/manifest/#shortcuts-member

[2020-10-06 22:12] antross opened #4057 "[Hint] Report compat for CSS gap properties based on context"
The `gap`, `column-gap`, and `row-gap` CSS properties have varying browser support depending on whether they're used in a grid, flexbox, or multi-column context. However inconsistent support for these properties have been a cross-browser pain point for a number of developers with support only being added very recently to some browsers.

Corresponding MDN pages:
* https://developer.mozilla.org/en-U

[2020-10-07 06:00] fofo384 opened #4058 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __webhint version:__ 2.1.4
* __Browser version:__ Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:81.0) Gecko/20100101 Firefox/81.0
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibility
* [x] Performance
* [x] Pitfalls
* [x] PWA
* [

[2020-10-07 09:25] captainbrosset opened #4059 "[Hint][Flexbox] Report Column flex items set to align-items: center overflow their container"
_(from https://github.com/philipwalton/flexbugs#flexbug-2)_

When using `align-items: center` on a flex container in the column direction, the contents of flex item, if too big, will overflow their container in IE 10-11.

Test case: https://philipwalton.github.io/flexbugs/2.1.a-bug.html

Bug (Edge on the left, IE11 on the right)
<img width="632" alt="align-items-center-bug" src="https://user-image

[2020-10-07 09:28] captainbrosset opened #4060 "[Hint][Flexbox] Report when min-height on a flex container won't apply to its flex items"
_(from https://github.com/philipwalton/flexbugs#flexbug-3)_

In order for flex items to size and position themselves, they need to know how big their containers are. For example, if a flex item is supposed to be vertically centered, it needs to know how tall its parent is. The same is true when flex items are told to grow to fill the remaining empty space.

In IE 10-11, `min-height` declarations o

[2020-10-07 11:55] captainbrosset opened #4061 "[Hint][Flexbox] Report flex shorthand declarations with unitless flex-basis values are ignored"
_(from https://github.com/philipwalton/flexbugs#flexbug-4)_

Prior to the release of IE 10, [the flexbox spec at the time](http://www.w3.org/TR/2012/WD-css3-flexbox-20120322/#flexibility) stated that a flexbox item's preferred size required a unit when using the `flex` shorthand:

This is no longer true in the spec, but IE 10-11 still treat it as true. If you use the declaration `flex: 1 0 0` in o

[2020-10-07 11:59] captainbrosset opened #4062 "[Hint][Flexbox] Report Column flex items don't always preserve intrinsic aspect ratios"
_(from https://github.com/philipwalton/flexbugs#flexbug-5)_

The [March 2014 spec](http://www.w3.org/TR/2014/WD-css-flexbox-1-20140325/#min-size-auto) has the following to say about how size determinations are made for flex items:

Demo [5.1.a](https://philipwalton.github.io/flexbugs/5.1.a-bug.html) contains an image whose height is 200 pixels and whose width is 500 pixels. Its container, however,

[2020-10-07 12:02] captainbrosset opened #4063 "[Hint][Flexbox] Report The default flex value has changed"
_(from https://github.com/philipwalton/flexbugs#flexbug-6)_

When IE 10 was being developed, the [March 2012 spec](http://www.w3.org/TR/2012/WD-css3-flexbox-20120322/#flexibility) said the initial value for the `flex` property was none, which translates to `0 0 auto`. The [most recent spec](http://www.w3.org/TR/css3-flexbox/#flex-property) sets the initial `flex` value to the initial values of the

[2020-10-07 12:07] captainbrosset opened #4064 "[Hint][Flexbox] Report flex-basis doesn't account for box-sizing: border-box"
_(from https://github.com/philipwalton/flexbugs#flexbug-7)_

An explicit `flex-basis` value (i.e., any value other than `auto`) is supposed to act just like `width` or `height`. It determines the initial size of a flex item and then the other flexibility properties allow it to grow or shrink accordingly.

IE 10-11 always assume a `content` box model when using `flex-basis` to determine a flex item

[2020-10-07 12:11] captainbrosset opened #4065 "[Hint][Flexbox] Report flex-basis doesn't support calc()"
_(from https://github.com/philipwalton/flexbugs#flexbug-8)_

IE 10-11 ignore `calc()` functions used in `flex` shorthand declarations. Demo [8.1.a](https://philipwalton.github.io/flexbugs/8.1.a-bug.html) shows `flex: 0 0 calc(100%/3)` not working in IE.

In IE 10, `calc()` functions don't even work in longhand `flex-basis` declarations (though this does work in IE 11). Demo [8.2.a](https://philipw

[2020-10-07 12:16] captainbrosset opened #4066 "[Hint][Flexbox] Report Some HTML elements can't be flex containers"
_(from https://github.com/philipwalton/flexbugs#flexbug-9)_

Certain HTML elements, like `<summary>`, `<fieldset>` and `<button>`, do not work as flex containers. The browser's default rendering of those element's UI conflicts with the `display: flex` declaration.

Many browsers used to suffer from this bug, to various levels, but got fixed in recent times.
The issue described in https://github.co

[2020-10-07 12:24] captainbrosset opened #4067 "[Hint][Flexbox] Report Inline elements are not treated as flex-items"
_(from https://github.com/philipwalton/flexbugs#flexbug-12)_

Inline elements, including `::before` and `::after` pseudo-elements, are not treated as flex items in IE 10.

https://philipwalton.github.io/flexbugs/12.1.a-bug.html

Bug (Edge at the top, IE10 at the bottom)
<img width="1059" alt="bug" src="https://user-images.githubusercontent.com/1152698/95330353-ba6a7900-08a8-11eb-9b31-dac673a11023.

[2020-10-07 12:30] captainbrosset opened #4068 "[Hint][Flexbox] Report Shrink-to-fit containers with flex-flow: column wrap do not contain their items"
_(from https://github.com/philipwalton/flexbugs#flexbug-14)_

If you `float` a flex container, use `inline-flex`, or absolutely position it, the size of the container becomes determined by its content (a.k.a shrink-to-fit).

When using `flex-flow: column wrap`, some browsers do not properly size the container based on its content, and there is unwanted overflow. Demo [14.1.a](https://philipwalton.

[2020-10-07 12:33] captainbrosset opened #4069 "[Hint][Flexbox] Report Column flex items ignore margin: auto on the cross axis"
_(from https://github.com/philipwalton/flexbugs#flexbug-15)_

`margin: auto` can be used to fill all the available space between flex items (and is useful for centering), but in IE 10-11 this doesn't work in the cross axis for flex items within a column container.

Instead of filling the available space, items render according to their `align-self` property, which defaults to `stretch`. Demo [15.1

[2020-10-07 12:38] captainbrosset opened #4070 "[Hint][Flexbox] Report flex-basis cannot be animated"
_(from https://github.com/philipwalton/flexbugs#flexbug-16)_

In some browsers, CSS animations involving the `flex-basis` property are ignored.
Safari and IE10-11 seem to be affected by this.

Test case: https://philipwalton.github.io/flexbugs/16.1.a-bug.html

On Safari, the flex item remains un-animated as shown below:
<img width="1334" alt="bug" src="https://user-images.githubusercontent.com/115

[2020-10-07 12:41] captainbrosset opened #4071 "[Hint][Flexbox] Report Flex items are not correctly justified when max-width is used"
_(from https://github.com/philipwalton/flexbugs#flexbug-17)_

In IE 11 the free space between or around flex items (as per their container's `justify-content` property) is not correctly calculated if a max-size property is used (`max-width` in the row direction, `max-height` in the column direction).

Test case: https://philipwalton.github.io/flexbugs/17.1.a-bug.html

Bug (Edge on top, IE11 at the

[2020-10-07 13:15] captainbrosset commented on #4057
I'm interested in learning more about this. I just filed a few issues related to more flexbox compat issues that webhint would be awesome to warn against, but I believe they all would require access to computed styles.

What do you mean by:

Could we, somehow, think of these runtime computed style checks as a separate category so they don't slow down everything else, and only run when required?

[2020-10-07 16:31] molant commented on #4071
Maybe we can use https://github.com/webhintio/hint/issues/132 as the umbrella for all this flexbox issues?

[2020-10-07 16:47] captainbrosset opened #4072 "[Hint] IE Flexbox compat hint"
IE10-11 have a lot of compatibility issues with other browsers when it comes to Flexbox.
Most of these are fixed in the new Edge, and will never be addressed in those older browsers.

When asked about what frustrates them the most about web dev, people tend to mention web compat a lot. And IE is almost always cited as a source of frustration.

Also, these IE-specific compat bugs are documented and

[2020-10-07 16:48] captainbrosset commented on #4071
After talking to @antross , closing this in favor of #4072.

[2020-10-07 16:48] #4071 closed

[2020-10-07 16:49] captainbrosset commented on #4069
After talking to @antross , closing this in favor of #4072.

[2020-10-07 16:49] #4069 closed

[2020-10-07 16:49] captainbrosset commented on #4067
After talking to @antross , closing this in favor of #4072.

[2020-10-07 16:49] #4067 closed

[2020-10-07 16:49] captainbrosset commented on #4061
After talking to @antross , closing this in favor of #4072.

[2020-10-07 16:49] #4061 closed

[2020-10-07 16:49] captainbrosset commented on #4064
After talking to @antross , closing this in favor of #4072.

[2020-10-07 16:49] #4064 closed

[2020-10-07 16:49] captainbrosset commented on #4060
After talking to @antross , closing this in favor of #4072.

[2020-10-07 16:49] #4060 closed

[2020-10-07 16:50] captainbrosset commented on #4062
After talking to @antross , closing this in favor of #4072.

[2020-10-07 16:50] #4062 closed

[2020-10-07 16:50] captainbrosset commented on #4063
After talking to @antross , closing this in favor of #4072.

[2020-10-07 16:50] #4063 closed

[2020-10-07 16:50] captainbrosset commented on #4059
After talking to @antross , closing this in favor of #4072.

[2020-10-07 16:50] #4059 closed

[2020-10-07 16:50] captainbrosset commented on #4065
After talking to @antross , closing this in favor of #4072.

[2020-10-07 16:50] #4065 closed

[2020-10-07 16:54] captainbrosset commented on #4066
As said above, these bugs got fixed very recently in major browsers. In 6 weeks from now, it will become possible to use a `fieldset` as a flex container in Edge and Chrome standard releases.
It might be worth the effort to write a hint.

However, @antross brought up a good point that certain older versions of chrome still exist out there in the wild. Chrome 49, which was the last compatible versi

[2020-10-07 18:10] antross commented on #4070
Discussing with @captainbrosset we think we can consider a few things to catch this in source:
1. Any `transition`, `transition-property`, or animation `@keyframes` directly referencing `flex-basis`.
2. Any rule with both a transition on all properties and a `flex-basis` value (may produce false-positives, though).
3. Similar selectors likely to target the same element with a transition on all pro

[2020-10-07 18:12] antross commented on #4068
Yeah, if browsers are already consistent this probably becomes more interesting if/when at least one browser has fixed the bug.

[2020-10-07 18:15] antross commented on #4072
Yeah, I like the more general detect flex usage + IE in target browsers and notify users with a link to known issues. I think setting the severity to `Hint` would be appropriate in this case.

[2020-10-07 18:18] antross commented on #4058
Thanks for the report @fofo384!

Can you share the page you were trying to analyze with webhint where this error occurred? We'll need that to try to figure out why the content script injection failed.

[2020-10-07 19:18] molant commented on #4072
I'm not sure about `Hint` as the level.
IE is not the default configuration so this is intentional by the user, especially if the code is not under a media query or similar.

[2020-10-07 19:27] antross commented on #4072
@molant so are you thinking `Warning` instead? I think the challenge is we don't know for sure that they're hitting one of these issues, so I'd definitely avoid `Error`.

Personally I feel `Warning` is a bit strong for something that won't go away even if you've addressed it already. We could go with `Information` since that's technically what we're doing here - we won't have decided whether or no

[2020-10-07 19:38] molant commented on #4072
If someone is checking an old intranet and unmaintained website they are definitely not going to change anything. They are just doing it for "fun". On the other side, if they are updating it to make it work in more modern browsers then they should be doing something.
Given that `Hint` is below the threshold I think that `Warning` should be the right one.
I haven't check what the workarounds are, b

[2020-10-07 19:43] antross commented on #4072
To clarify, in which context is `Hint` below the threshold, the CLI / online scanner? I know we include it by default in the browser and VS Code extensions.

[2020-10-07 19:55] molant commented on #4072
Isn't the default severity for the [browser extension `Warning`](https://github.com/webhintio/hint/blob/87ac4ab571742bf4ef852ea936e7d621cc391e75/packages/extension-browser/src/content-script/webhint.ts#L108) and [`Error`](https://github.com/webhintio/hint/blob/4b5414e4c36543792ab2f35763428a180abff6ac/packages/hint/src/lib/cli/analyze.ts) for the CLI?

[2020-10-07 19:59] antross commented on #4072
Apparently so. I must have had a saved setting in my copy of the browser extension...

[2020-10-08 07:51] captainbrosset commented on #4072
It might be worth considering to link from this hint to the official Microsoft's support policy for IE: https://www.microsoft.com/en-us/microsoft-365/windows/end-of-ie-support

And, perhaps also to the enterprise mode docs: https://docs.microsoft.com/en-US/microsoft-edge/deploy/emie-to-improve-compatibility

When it comes to linking people to the list of bugs and their workarounds, I have not foun

[2020-10-12 19:44] firtman opened #4077 "[docs] Issue with 'Use Apple touch icon'"
I want to express that I don't agree with this entire rule
https://webhint.io/docs/user-guide/hints/hint-apple-touch-icons/index.html

Several statements are false and/or opinionable, not actual guidelines from Apple or from the community, such as "Most sizes will probably never be used as iOS devices get upgraded quickly" (Latest iPhone SE and iPhone 11 use 120px and not 180px), or "The 180×180px

[2020-10-12 20:40] molant commented on #4077
Adding the agenda label so we can discuss this during the next meeting and move forward.
@firtman it will be this Friday 16th at 9.00am PST on Zoom and you are more than welcome to join. @hxlnt creates an issue with the link a couple days earlier.

[2020-10-13 20:45] gottfridsberg opened #4078 "[Bug] Why zopfli compression (over HTTP) when HSTS?"
Why do I get the below 'http-compression' hints when the site has implemented an HSTS Policy (not allowing communication over HTTP)?

Url: https://www.tomasmoberg.org

hint #3: Response should be compressed with Zopfli when gzip compression is requested.
https://www.tomasmoberg … static/max-width.css

hint #4: Response should be compressed with Zopfli when gzip compression is requested.
https://ww

[2020-10-14 21:01] #3997 closed

[2020-10-16 15:37] #4049 closed

[2020-10-16 15:38] hxlnt opened #4080 "webhint team meeting 2020-10-16"
## Time

**UTC Friday 16-Oct-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 16-Oct-2020 09:00 (09:00 AM) |
| US / Mountain | Friday 16-Oct-2020 10:00 (10:00 AM) |
| US / Central  | Friday 16-Oct-2020 11:00 (11:00 AM) |
| US / Eastern  | Friday 16-Oct-2020 12:00 (12:00 PM) |
| London        | Friday 16-Oct-2020

[2020-10-16 15:39] hxlnt commented on #4019
^^ The above is done, so closing this issue.

[2020-10-16 15:39] #4019 closed

[2020-10-16 19:22] hxlnt commented on #4077
Hi, @firtman! Thanks for the feedback. The team met this morning, and we agree with the points you've made here: our `apple-touch-icons` recommendations can benefit from an update. We'd like to propose modifying this hint in the following ways:

 - Remove the current **error** that appears when multiple sizes of icons are available,
 - Present an **error** if there's no touch icon at all,
 - Prese

[2020-10-19 13:58] firtman commented on #4077
Great to hear that. I think the new rules are fine now. Unfortunately, there are no authoritative sources to include in the docs. Safari documentation on the topic is completely outdated. Thanks for taking the feedback and change it!

[2020-10-19 18:00] #4080 closed

[2020-10-25 17:16] hxlnt commented on #4058
Hi, @fofo384--friendly ping to see if you could follow up with the URL to the page that was giving you this error so we can take a look. Otherwise, we'll assume things are all resolved and will close the issue. Thanks!

[2020-10-28 16:13] hxlnt commented on #4033
@akraman0959 Friendly ping to provide us more information on this bug. If we don't hear back, we'll assume the issue is now resolved and will close the issue. Thanks!

[2020-10-29 16:21] #4044 closed

[2020-10-29 23:09] sarvaje opened #4089 "[Feature] Allow connector puppeteer to disable writing to disk"
## What scenarios will this solve?

Azure function consumption plan doesn't allow to write on any part of the disk, only in the tmp folder.

We have three options:
1. Modify the path where the connector save the files to the tmp folder.
2. Add a flag to NOT write in disk.
3. Add a flag to write in disk.

The writing is made to avoid lunching multiple browsers during the tests, so maybe options 3 i

[2020-10-29 23:39] molant commented on #4089
I'm trying to remember but I think that the lock and browserInfo files are used mainly to reuse the browser when runing the tests instead of creating  a new one.
I believe the tests are run using the [`detach` option](https://github.com/webhintio/hint/blob/f7b6997f1b70403193768b81cc2f7f261e8c8fdf/packages/connector-puppeteer/src/lib/schema.ts#L61) and that the default option is false.

If that's t

[2020-10-30 16:02] sarvaje commented on #4089
I will take a look to that, if that is the case, I will use detach.

[2020-10-30 16:14] #3983 closed

[2020-10-30 16:25] antross opened #4090 "New release"
It's that time again :)

[2020-11-04 04:31] ruppysuppy commented on #4018
I would like to work on this issue. Could you tell me how to start @antross?

[2020-11-04 18:56] antross commented on #4018
Thanks @ruppysuppy, but fair warning this one might be a bit tricky.

It will probably need to be scoped to TypeScript files for now so we have type information available in the AST. We can decide this just by looking at the AST for types, not by requiring TS. If the referenced object doesn't have a type, it should pass the hint to handle this gracefully and avoid false-positives.

I haven't dug t

[2020-11-05 04:50] ruppysuppy commented on #4018
I want to work on this issue even though it seems rather daunting as this is I mistake I make quite frequently

[2020-11-05 07:55] #4072 closed

[2020-11-05 22:49] #4058 closed

[2020-11-10 22:07] #2034 closed

[2020-11-10 22:09] #3964 closed

[2020-11-11 18:39] sarvaje opened #4117 "mdn-browser-compat-data is deprecated."
Upgrade to @mdn/browser-compat-data.

[2020-11-12 15:49] Damon-debug opened #4118 "[docs] Issue with 'Basic server configuration for Apache'"
https://webhint.io/docs/user-guide/server-configurations/apache/index.html

[2020-11-12 22:31] hxlnt opened #4119 "webhint team meeting 2020-11-13"
## Time

**UTC Friday 13-Nov-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 13-Nov-2020 09:00 (09:00 AM) |
| US / Mountain | Friday 13-Nov-2020 10:00 (10:00 AM) |
| US / Central  | Friday 13-Nov-2020 11:00 (11:00 AM) |
| US / Eastern  | Friday 13-Nov-2020 12:00 (12:00 PM) |
| London        | Friday 13-Nov-2020

[2020-11-14 00:46] sarvaje commented on #4089
Reopening, I forgot to include the conditional to the `close` method :(

[2020-11-20 10:38] sanmai-NL commented on #4018
Isn’t this more of a rule for ESLint instead?

[2020-11-20 10:45] sanmai-NL opened #4137 "[Feature] Check for inefficient relative URL, e.g. `./images/` instead of `images/`"
# 🚀 Feature request

## Description

URLs starting with ./ that are not exactly `./` work, but the prefix is extraneous. For example, `./images/` resolves to the same location as`images/`.

I'm willing to work on this.

## What scenarios will this solve?

I develop educational content for web development students. When they start learning about relative URLs, they often misunderstand them and thin

[2020-11-21 12:10] mmasters1287 opened #4138 "[docs] Issue with 'Axe: ARIA'"
https://webhint.io/docs/user-guide/hints/hint-axe/aria/index.html

[2020-11-21 12:10] mmasters1287 opened #4139 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __`hint` version:__
* __`Node.js` version:__
* __`OS`:__
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

[code]

</details>

## Debug output

Please include the raw output generated by `webhint`, or if possible,
the raw output from running `webhint` in debug mode: `hint --debug

[2020-11-25 17:54] sarvaje commented on #4077
Present a warning if additional icons aren't one of the standard sizes per our documentation (which likely needs an update),

If none of the icons have standard sizes, should I just show an error, or show the error and the individual warning for each of them?

[2020-11-25 18:00] antross commented on #4077
I'd lean toward showing an error for each of them in this case. No correct value is present which is what would downgrade the message to a warning normally. Plus I still think we want to report each message so the user sees all reports up-front (rather than fixing one only to get a warning on the others afterward).

[2020-11-25 19:48] sarvaje commented on #4077
I get the part of reporting individual issue for each item, but what severity, error or warning?

[2020-11-25 20:08] antross commented on #4077
If none of the icons align with sizes in the table, I'd expect all of them to report errors instead of warnings.

[2020-11-25 20:13] sarvaje commented on #4077
ok! I got it

[2020-11-25 20:43] hxlnt commented on #4119
Follow up from meeting notes:
@sarvaje has pushed website updates so that new docs appear! 🎉 He's also working on the apple-touch-icon fix (#4077) for this sprint.

[2020-11-25 20:46] hxlnt opened #4155 "webhint team meeting 2020-12-04"
On account of the upcoming holiday in the US, I propose we push out our next sprint review and planning to Dec. 4, 2020. Additionally, I think we should take off from sprint reviews for the remainder of December to accommodate assorted holiday schedules. Thoughts, @antross @molant @sarvaje @johnemau?

[2020-11-25 20:48] hxlnt commented on #4139
Hi, @mmasters1287--Can you please fill out the bug report above with a description of your problem as well as your environment and webhint config? Thanks!

[2020-11-25 20:49] hxlnt commented on #4138
Hi, @mmasters1287, can you provide more information about your concern with these docs? Thanks!

[2020-11-26 19:22] molant commented on #4155
Sounds good to me!

[2020-11-30 01:16] GGSheridan commented on #4017
Should this issue be labeled as Good First Issue?

We are doing research about how to help newcomers onboarding in an open source project and how to accelerate the issue resolving process.
We have developed a tool to automatically label the Good First Issue (GFI), i.e., the issue which is good for newcomers.
We first extract 72 features from different dimensions of issue reports, such as readabili

[2020-11-30 01:31] GGSheridan commented on #3177
Should this issue be labeled as Good First Issue?

We are doing research about how to help newcomers onboarding in an open source project and how to accelerate the issue resolving process.
We have developed a tool to automatically label the Good First Issue (GFI), i.e., the issue which is good for newcomers.
We first extract 72 features from different dimensions of issue reports, such as readabili

[2020-12-01 23:06] #4119 closed

[2020-12-02 21:33] hxlnt opened #4157 "[Feature] Extension installation toast"
# 🚀 Extension installation toast

## Description

The VS Code extension can take 5+ minutes to install. During this time, there is little indication to the user that anything is happening or whether the extension is working. The dependency installation progress appears in the Output pane, but this may not be open by default for the user.

I propose adding a toast notification to say that the exten

[2020-12-02 21:35] hxlnt opened #4158 "[Feature] Disable Internet Explorer hints by default"
# 🚀 Disable Internet Explorer hints by default

## Description

Internet Explorer hints can be very noisy, and not all users are targeting this browser. I recommend not publishing IE hints to the Problems pane by default. This could still be user configured.

## What scenarios will this solve?

User overwhelm due to number of issues surfaced.

[2020-12-02 22:33] hxlnt commented on #4118
@Damon-debug Can you provide some more information about the problem you're having with this documentation? Thanks!

[2020-12-04 17:04] #4090 closed

[2020-12-04 17:06] hxlnt opened #4162 "New release"

[2020-12-04 17:21] hxlnt commented on #3849
This is blocked on https://github.com/webhintio/hint/issues/2351; I will take a look next sprint. Once the docs are updated, @sarvaje will update the `package.json`.

[2020-12-04 17:23] hxlnt commented on #4158
@sarvaje and I were talking about this this morning, and another option might be to surface the VS Code Command Palette after installation to prompt the user to set up their config file. (Pressing "Enter" could keep them with defaults like having IE on or off, but it at least surfaces to users the possibility of editing the configuration.)

[2020-12-04 17:24] hxlnt commented on #4139
Assuming this issue is resolved and closing for now.

[2020-12-04 17:24] #4139 closed

[2020-12-04 17:24] #4033 closed

[2020-12-04 17:31] hxlnt commented on #496
@sarvaje @antross Is this something we should add to https://github.com/webhintio/hint/pull/4156?

[2020-12-04 17:36] sarvaje commented on #496
Is this still happening?
I think we should work on this in a separate task.

[2020-12-08 06:03] hxlnt commented on #1613
Given that #1659 and #4035 are complete, we should be able to close this now.

[2020-12-08 06:03] #1613 closed

[2020-12-08 06:06] hxlnt commented on #1650
Closing this for now, as there's no specific work defined here.

[2020-12-08 06:06] #1650 closed

[2020-12-08 06:07] hxlnt commented on #1649
Closing this for now, as there's no specific work defined here.

[2020-12-08 06:07] #1649 closed

[2020-12-08 20:13] hxlnt commented on #4118
Closing this issue for now; if you'd like to discuss this further, feel free to reply or open a new issue letting us know your problem so we can address it.

[2020-12-08 20:13] #4118 closed

[2020-12-08 20:16] hxlnt commented on #3786
OpenJS has a Slack, though there are not channels for individual projects there. GitHub Discussions might be another good choice, as it's integrated directly into GitHub. I've enabled it for this repo if folks want to try it.

[2020-12-08 20:22] hxlnt commented on #1651
Closing this placeholder issue for now.

[2020-12-08 20:22] #1651 closed

[2020-12-09 20:58] #1646 closed

[2020-12-09 21:00] #1677 closed

[2020-12-09 21:41] hxlnt commented on #1647
Looks like the specific fixes listed here have been fixed; closing for now.

[2020-12-09 21:41] #1647 closed

[2020-12-09 21:42] hxlnt commented on #2779
Link is still dead after 16 months, let's close this one. :)

[2020-12-09 21:42] #2779 closed

[2020-12-09 21:43] hxlnt commented on #4138
Assuming this is resolved and closing for now. Let us know if we can help!

[2020-12-09 21:43] #4138 closed

[2020-12-09 21:46] hxlnt commented on #1972
Closing this old-ish placeholder issue for now.

[2020-12-09 21:46] #1972 closed

[2020-12-09 21:46] #1700 closed

[2020-12-09 21:53] hxlnt commented on #132
Fixed by https://github.com/webhintio/hint/pull/4073

[2020-12-09 21:53] #132 closed

[2020-12-10 00:50] sarvaje commented on #4031
I have started working on this and I have just realized that IIRC, the online scanner is going to show all the issues regardless of their severities, so if we just change the severity to `hint`, people are still going to see the hints.
@molant @antross are we ok with that? should we just ignore the files? Maybe we can consider what @antross said about ignore them unless there are a lot of small fi

[2020-12-12 07:31] Seirdy opened #4168 "[Feature] Specify custom longCached/cache-busted mimetypes"
🚀 Allow specifying custom longCached/cache-busted mimetypes
============================================================

Description
-----------

Currently, every [`longCached` mimetype](https://github.com/webhintio/hint/blob/8df0336e63a35344c2b87c6ced5d9eeaa0e85b51/packages/hint-http-cache/src/hint.ts#L67) is checked for cache-busting, among other things. It would be helpful to include/exclude u

[2020-12-12 08:28] Seirdy commented on #3786
I'd suggest Freenode (IRC). All Freenode rooms are automatically bridged to Matrix, for those who'd prefer a a more "modern" client. A bridge from Matrix to the existing Gitter channel should be trivial since Gitter now supports Matrix natively.

This way, we could keep the existing Gitter channel but invite Matrix and IRC users as well; doing so would significantly lower the barrier to entry usin

[2020-12-13 19:58] Seirdy commented on #3786
Also, the Gitter room is already accessible through both IRC and Matrix, but the IRC integration requires a Gitter account.

If webhint uses another platform, it would ideally bridge to the existing Gitter room.

[2020-12-14 03:59] fahensha commented on #3691
Hi @sarvaje ! Trying these steps all again, sorry for the massive delay. I'll let you know how it goes

[2020-12-14 23:28] Seirdy commented on #4168
Another valid use-case: some pages contain images in the body that need a stable URL. This is common for websites that want to support hotlinking, and especially true for webcomics like xkcd (which advertises a link for hotlinking below every comic). Specifying an exception for body images would help with this.

I stumbled into this when I replaced an image on my website with a more heavily-compre

[2020-12-15 02:18] fahensha commented on #3691
I'm not sure what it was that was broken, but re-running these steps did the trick and sideloading the extension works! I think I just had to mess with the build process and make sure I ran `yarn build` in the root as well as in /packages/extension-browser.

I think the originally given example of https://web.dev with the `stale-while-revalidate ` error is moot because I can't replicate the error

[2020-12-16 12:03] jchassery12 opened #4173 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __webhint version:__ 2.2.0
* __Browser version:__ Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:84.0) Gecko/20100101 Firefox/84.0
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibility
* [x] Performance
* [x] Pitfalls
* [x] PWA
* [x] S

[2020-12-16 16:07] hxlnt commented on #1436
Closing this placeholder task.

[2020-12-16 16:07] #1436 closed

[2020-12-16 16:08] hxlnt commented on #377
@digitarald OK to close this issue, or is there still work here?

[2020-12-16 16:43] molant commented on #377
@digitarald is now working in vs code. I think it's safe to close.

[2020-12-16 16:43] #377 closed

[2020-12-17 05:12] antross commented on #4031
@sarvaje I'm okay with these still appearing in the online scanner initially. I'd rather separately get that updated to correctly communicate severity as opposed to working around the limitation at the hint level.

[2020-12-18 07:20] mhatvan opened #4175 "[Bug] Couldn't find package "tslib" error in a nested project structure"
# 🐛 Bug report

## Description

I am working on a frontend that had the expected structure with tsconfig.json at the root of the project, no error was reported.

Now the frontend was integrated as git submodule within a project with a nested folder structure and I always get the error:
[code]

This error pops up even though `tslib` is installed (v2.0.3) and `importHelpers: true` is enabled in the

[2020-12-18 11:55] kbmagill opened #4176 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __webhint version:__ 2.2.0
* __Browser version:__ Mozilla/5.0 (Macintosh; Intel Mac OS X 10.13; rv:84.0) Gecko/20100101 Firefox/84.0
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibility
* [x] Performance
* [x] Pitfalls
* [x] PWA
* [

[2020-12-18 16:39] #4077 closed

[2020-12-18 16:40] #4031 closed

[2020-12-20 21:06] Seirdy commented on #3849
Would be great if it could also check if the manifest icons are cache-busted.

[2020-12-21 17:03] antross commented on #4173
Thanks for the report @jchassery12! Any chance you could share the URL of the page you were trying to analyze when the scan timed out?

[2020-12-21 17:05] antross commented on #4176
@kbmagill was this an accidental/test submission or is there a bug with the webhint browser extension you were trying to report?

[2020-12-21 17:24] antross commented on #4175
Thanks for reporting @mhatvan!

You mentioned `tslib` is installed. Is it part of the top-level project or part of the project being loaded as a submodule?

I ask because when I just took another look at the implementation for this hint it looks like it currently only checks the top-level `node_modules` for `tslib` which may be the source of the bug: https://github.com/webhintio/hint/blob/accf8220

[2020-12-21 19:06] mhatvan commented on #4175
It is part of the project being loaded as a sub module, so the checking for `tslib` can definitely be improved to also include subdirectories.

[2020-12-22 07:59] thatdude504016 opened #4197 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __webhint version:__ 2.2.0
* __Browser version:__ Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:85.0) Gecko/20100101 Firefox/85.0
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibility
* [x] Performance
* [x] Pitfalls
* [x] PWA
* [x] S

[2020-12-23 15:49] antross commented on #4197
Thanks for the report @thatdude504016! Any chance you could share the URL of the page where you hit this error?

[2020-12-23 17:05] kbmagill commented on #4176
can't remember which one of the things that have been hacked I've tried to sort out, but yes I guess I would have been reporting a bug. Bet you long winded nerds can't do anything about it. Let me know if I'm being unfair and you can fix it.

    On Monday, 21 December 2020, 17:06:07 GMT, Tony Ross <notifications@github.com> wrote:

@kbmagill was this an accidental/test submission or is there a bu

[2020-12-29 16:24] MauricioRobayo opened #4201 "[Bug] Paths with square brackets [file-path] are not resolved"
# 🐛 Bug report

## Description

While trying to use WebHint with a Nextjs project, running it on local files that use the Nextjs [dynamic routes](https://nextjs.org/docs/routing/dynamic-routes), the file paths that use square brackets are not resolved and produces an `AnalyzerError: ENOENT: no such file or directory`.

## Environment

* __`hint` version:__ v6.1.1
* __`Node.js` version:__ v14.15.0

[2020-12-30 21:47] shahriyar9839 opened #4202 "[docs] Issue with 'Webhint browser extension'"
https://webhint.io/docs/user-guide/extensions/extension-browser/index.html

[2021-01-04 15:58] M-Miller-42 opened #4209 "[Bug] Wrong recommended date format for cookies"
My site used the following header:
`Set-Cookie: session=xxx; expires=Mon, 04-Jan-2021 17:45:03 GMT; Max-Age=7200; path=/; httponly; samesite=lax`
The generated warning is:
`A 'set-cookie' has an invalid 'expires' date format. The recommended format is: Thu, 04 Jan -2021 17:25:59 GMT`

Issues in the recommendation:
- 4th of January is a Monday
- There should be no hyphens at all in the date (I thin

[2021-01-05 11:50] spoenemann opened #4210 "Open VSX Listing: Signing the Publisher Agreement"
Thank you for being part of the Open VSX community by adding your extensions to the Open VSX Registry. Please note that the service was recently transferred to the Eclipse Foundation and urgent action on your part is needed so we can continue to list your extensions. To ensure uninterrupted service, please sign the [Eclipse Publisher Agreement](https://www.eclipse.org/legal/documents/eclipse-openv

[2021-01-05 16:37] hxlnt commented on #4202
@shahriyar9839 Can you provide more information about your issue here? Thanks!

[2021-01-05 16:43] hxlnt commented on #4176
@kbmagill Whoa, let's keep the conversation friendly here! The bug report you created (https://github.com/webhintio/hint/issues/4176) was blank, so if you'd like to add more information about the trouble you're experiencing with webhint, we can take a look and see if we can help.

[2021-01-05 19:42] #4089 closed

[2021-01-05 19:57] antross commented on #4209
Thanks for the report @M-Miller-42!

This definitely looks like something is off since webhint appears to be interpreting the year as a negative number. We'll have to dig into the parsing logic and see what's up...

In the meantime, any chance you could share a repro URL to make this easier to test (doesn't need to be your full site)? Thanks!

[2021-01-05 20:05] antross commented on #4201
Good bug, thanks for the report @MauricioRobayo!

Looks like webhint may have processed the file path with an URL processor that escaped the square brackets before trying to read the file from the filesystem.

Actual:
`/home/rfmaj/Projects/pyphoy/pypweb/pages/%5Bcity%5D/index.tsx`

Expected:
`/home/rfmaj/Projects/pyphoy/pypweb/pages/[city]/index.tsx`

We'll to investigate to figure out where this

[2021-01-06 02:53] M-Miller-42 commented on #4209
My wrong headers are fixed by now, but I have set up [this mock URL](https://webhint.free.beeceptor.com/wrongExpiredHeader), that reproduced the same issue:
![Screenshot from 2021-01-06 03-51-41](https://user-images.githubusercontent.com/4184356/103723554-a54dd500-4fd2-11eb-93db-e3e230d0f730.png)

[2021-01-06 18:04] antross commented on #4209
Thanks @M-Miller-42, much appreciated!

I was able to reproduce the issue, but oddly enough only when running the webhint browser extension in Firefox. The correct recommended format was displayed when running the extension in Edge and Chrome. It also displays correctly using the webhint.io online scanner.

So something must be different in how webhint is getting the data (or what is returned) in

[2021-01-06 23:11] antross commented on #4209
Turns out this is a difference in the handling of date strings between Firefox and other browsers / Node.

Firefox:
[code]

Chrome, Edge, Node:
[code]

But we should be able to work around it by replacing dashes with spaces before parsing the date.

Current Code:
https://github.com/webhintio/hint/blob/63a47778d7096ebe3ef3a70bc6e5e7b23a90b2a6/packages/hint-validate-set-cookie-header/src/hint.ts#L23

[2021-01-12 23:41] antross commented on #4209
FYI, I decided to do this by scoping the fix to just the negative year in the linked PR to avoid impacting the behavior of other invalid dates.

[2021-01-13 19:15] M-Miller-42 commented on #4209
Thank you for reporting back and letting me know what the problem was. I did not expect such a minor break getting fixed so fast. Great job!

[2021-01-13 22:27] #4209 closed

[2021-01-13 23:11] antross commented on #4209
It helps that it was a relatively simple fix once I understood what was going on 🙂 Thanks again for reporting it and for putting together a test page!

Note that it will likely be a few weeks before this fix is live in an updated version of the browser extension, but I did verify this fix worked with a locally built version of the extension in Firefox.

[2021-01-14 16:34] antross opened #4229 "[Bug] False-positive reports on localhost"
Given localhost (and 127.0.0.1) typically represent development environments, hints related to HTTP headers or minification should not report issues on resources originating from these origins. In the current configuration using the CLI or browser extension against a localhost URL results in a number of false-positives around cache control headers (as no-cache is typically desired during developme

[2021-01-14 21:23] hxlnt commented on #4202
@shahriyar9839 Will be closing this issue for now, as there's no actionable information for the team. Feel free to reply here if you want to have this issue reopened. Thanks!

[2021-01-14 21:23] #4202 closed

[2021-01-14 21:26] hxlnt opened #4230 "webhint team meetings"
## Time

**UTC Friday 28-Jan-2021 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 28-Jan-2021 09:00 (09:00 AM) |
| US / Mountain | Friday 28-Jan-2021 10:00 (10:00 AM) |
| US / Central  | Friday 28-Jan-2021 11:00 (11:00 AM) |
| US / Eastern  | Friday 28-Jan-2021 12:00 (12:00 PM) |
| London        | Friday 28-Jan-2021

[2021-01-16 16:11] AndreasJacobsen opened #4232 "[Bug] Webhint produces no results in VS Code"
# 🐛 Bug report
I installed webhint in VS Code, excited to finally get axe-core errors straight in my IDE. But no errors show up

## Description
I tested with the following two elements, both should produce an error
[code]
I have not installed webhint as an npm package, only as a vs code plugin.

Webhint is running in a lerna mono-repo containing a next.js-project and a sanity-project (CMS). The pr

[2021-01-19 06:50] hub2020-hw opened #4233 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __webhint version:__ 2.2.0
* __Browser version:__ Mozilla/5.0 (Windows NT 10.0; rv:72.0) Gecko/20100101 Firefox/72.0
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibility
* [x] Performance
* [x] Pitfalls
* [x] PWA
* [x] Security

You

[2021-01-20 20:59] #4201 closed

[2021-01-21 03:12] molant opened #4236 "Noopener"
Might be time to revisit this hint and the advice it provides:

https://twitter.com/ericlaw/status/1351976704210849795?s=21

[2021-01-21 16:43] antross commented on #4236
If I'm reading the tweet correctly it means `target="_blank"` implies noopener in Chrome 88+ (as well as the latest versions of Firefox and Safari since some time in 2019).

Seems we should update the hint then to no longer suggest adding noopener unless you're still targeting a browser that needs it (which is still probably likely for most people in the immediate future).

[2021-01-21 16:50] antross commented on #4232
Thanks for the report @AndreasJacobsen!

I'm not immediately sure what's going on here, though I do wonder if the monorepo structure is somehow confusing the extension. The only thing that jumps out at me from the extension host log is all those activation events were for JavaScript. I'd expect to see `"activationEvent":"onLanguage:html"` in there somewhere too to kick off axe-core analysis.

Can

[2021-01-21 16:54] antross commented on #4233
Thanks for the report @hub2020-hw!

Looks like webhint timed out trying to scan the page you were viewing. Any chance you can provide a URL to the page you were analyzing so we can try to repro the issue?

[2021-01-22 23:07] #4229 closed

[2021-01-23 12:03] Melvin-Abraham commented on #3299
@antross I think it would be helpful if the notification includes an option for automatically clearing the cache or an option for troubleshooting the issue right beside the **"Retry"** option.

[2021-01-23 20:13] nahloo80 opened #4254 "[docs] Issue with 'Website authentication'"
https://webhint.io/docs/user-guide/configuring-webhint/website-authentication/index.html

[2021-01-23 20:13] #4254 closed

[2021-01-25 23:03] antross commented on #3299
@Melvin-Abraham does this mean you ran into this particular issue as well? If so I'm starting to think `the npm cache self-heals from corruption issues` isn't as accurate as that message claims...

I'm a little wary of automatically changing the user's global NPM state, but I like the idea of linking off to some troubleshooting steps (which can include this issue). I'm thinking we could include a

[2021-01-26 17:30] antross commented on #4175
@mhatvan would you be interested in putting together a PR for this fix?

Looks like the hint is already triggered after parsing a `tsconfig.json` so we just need to update the logic to search for `tslib` relative to the path of the `tsconfig.json` we just parsed instead of the current working directory. I bet `require.resolve` with the `paths` option could do the trick.

[2021-01-26 18:10] mhatvan commented on #4175
Sure thing, will provide a PR soonish ;)

[2021-01-27 03:09] Melvin-Abraham commented on #3299
@antross

Yes, I did. Although, clearing the npm cache helped fix this issue.

Maybe that is true but what if instead of clearing the cache, the packages are installed forcefully without relying on cache with something like `--no-cache` flag. If required, this could be triggered when installation of packages results in corruption in the first attempt or the users can be provided a dedicated config

[2021-01-27 13:55] mhatvan commented on #4175
@antross After taking an initial look, I am wondering how I can receive the current full path where the `tsconfig.json` was found through webhint in `import-helpers.ts` ?

Then this would work: `path.dirname(require.resolve("tslib", {paths: ["<path-to-tsconfig.json>"] }))`

[2021-01-27 16:33] antross commented on #4175
@mhatvan thanks for taking a look!

I think we already have the path to the `tsconfig.json` as the `resource` string pulled off the event that triggered the validation:
https://github.com/webhintio/hint/blob/461a19be3731b447e47a7b0072cfbd1ce60616b2/packages/hint-typescript-config/src/import-helpers.ts#L34

Does that help?

[2021-01-27 16:51] antross commented on #3299
@Melvin-Abraham

I'd definitely prefer to have this self-heal if possible so long as we're not affecting other parts of the user's system. If a true `--no-cache` flag existed that would be great, but unfortunately [this npm issue](https://github.com/npm/cli/issues/390) suggests it doesn't do what we'd want...

Still, perhaps we could do something similar by specifying which cache folder to use dur

[2021-01-27 19:06] mhatvan commented on #4175
Yep, that's it! I got confused because it is not an absolute path but is prefixed by `file:///`, but works nonetheless!

[2021-01-28 22:10] hxlnt commented on #4176
Since we have not received any additional information about the nature of this bug (URL scanned, error message, etc.), I'm going to close this bug for now. Feel free to respond or open a new issue if you feel this is in error. Thanks!

[2021-01-28 22:10] #4176 closed

[2021-01-28 22:12] hxlnt commented on #4173
@jchassery12 Since we haven't heard back from you in over a month, we hope that this issue has since been resolved and will be marking it as closed. If you're still experiencing an issue, please feel free to reply to this issue or create a new one containing the URL that caused the error. Thanks!

[2021-01-28 22:12] #4173 closed

[2021-01-29 03:09] Melvin-Abraham commented on #3299
@antross Since `--no-cache` does not work in the intended way, I think this approach would be lot better as it will automatically deal with the problem without the user going through any troubleshooting steps 👍

[2021-01-29 05:46] whiplash696 opened #4260 "[docs] Issue with 'web hint development configuration'"
https://webhint.io/docs/user-guide/configurations/configuration-development/index.html

[2021-01-29 16:33] nyedidikeke opened #4261 "[docs] Issue with 'Local'"
Typo under Further Reading, close to the footer of the page; "Connectors oerview" should be "Connectors overview".
https://webhint.io/docs/user-guide/connectors/connector-local/index.html

[2021-01-29 17:44] antross opened #4262 "[Bug] Can't tell when webhint is done installing in VS Code"
Before hints actually display in VS Code for projects that don't already have webhint installed, webhint has to get installed in the background. However there's no indication that this is happening so it can feel like the extension isn't working until it's done.

We could fix this by adding a notification that shows when webhint starts installing for the first time, which includes a button to opti

[2021-01-29 17:54] antross opened #4263 "[Feature] Release a new version"
It's that time again :)

[2021-01-29 17:55] antross opened #4264 "[Feature] Make release a CI/CD step"
We should start automatically releasing (at least to npm) on a regular cadence now that we've moved updating dependencies out of the release script. This can be either scheduled (likely every other week) or manually triggered.

[2021-01-29 18:24] antross commented on #3299
@Melvin-Abraham reactivating this issue given our discussion here. Would you be interesting in taking a stab at this? The relevant install code lives here https://github.com/webhintio/hint/blob/main/packages/extension-vscode/src/utils/webhint-packages.ts

[2021-01-29 18:26] antross commented on #4260
Thanks for the report @whiplash696, can you share more detail on what issue(s) you found with the documentation on this page? Thanks!

[2021-01-29 18:32] antross commented on #4261
Thanks for pointing this out @nyedidikeke! Interested in opening a (tiny) PR to fix this? The markdown that this page is generated from lives here https://github.com/webhintio/hint/blob/main/packages/connector-local/README.md.

[2021-01-30 15:36] Simbiat opened #4281 "stale-while-revalidate and stale-if-error"
https://webhint.io/docs/user-guide/hints/hint-http-cache/index.html

Content-Cashe hint reports:

in MS Edge 88.0.705.56, even though as per https://caniuse.com stale-while-revalidate is supported from Edge 88. stale-if-error is not supported yet by Edge, so it should be ok for it to be reported, for now. I guess an update is needed.

[2021-01-31 13:49] Melvin-Abraham commented on #3299
@antross Sure, I would love to give it a try!

[2021-02-01 07:49] alexaguilar89 opened #4282 "[docs] Issue with 'Webhint Visual Studio Code extension'"
https://webhint.io/docs/user-guide/extensions/vscode-webhint/index.html  i cant install

[2021-02-01 22:01] sarvaje commented on #4264
Do you have something in mind, I'm thinking that we can start trying a Github Action and see how it goes.

[2021-02-03 16:44] antross commented on #4281
Thanks for the report @Simbiat! This is a known issue with a fix is being tracked in #3691.

If you have an public URL we could use to verify the fix that'd be helpful. Feel free to link it to that bug. Thanks!

[2021-02-03 16:44] #4281 closed

[2021-02-03 16:47] antross commented on #3691
@fahensha looks like it's our turn to apologize for the delay over the holidays. Sorry about that.

I don't currently know of a live URL with this issue, though we just had an issue report from someone else who apparently has one (I just linked the duped bug #4281). I'm hoping they might be able to share the URL so you can use it to validate the fix.

In the meantime feel free to open a PR with yo

[2021-02-03 16:49] antross commented on #4282
Hi @alexaguilar89, we'd definitely like to help if we can. How are you trying to install the extension? Are there any errors you're getting that might help us figure out what's going on?

[2021-02-03 16:51] antross commented on #4264
@sarvaje no strong preference on my part. I think a GitHub Action sounds great if you think that'll work best. I'd also be happy with an Azure Pipeline since we're using those for a number of other things. Take your pick 😉

[2021-02-03 16:55] #3921 closed

[2021-02-03 17:23] Simbiat commented on #3691
I've encountered this during setup on a test environment. If everything goes as planned I may be able to promote it to PROD this weekend and will share link. Even if it's not this weekend, I will share the link as soon as it's live.

[2021-02-04 15:52] Simbiat commented on #3691
I was able to promote to PROD a small portion, which utilizes the header in question: https://simbiat.ru/api/atom/bicchanged/
`cache-control: max-age=3600, stale-while-revalidate=1800, stale-if-error=1800, no-transform`
Please, note, that there seems to be a bug on my side, that if 304 is sent, the header `cache-control: no-store, no-cache, must-revalidate` is sent. I am working on fixing that, bu

[2021-02-09 10:19] sammie3172 opened #4303 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __`hint` version:__
* __`Node.js` version:__
* __`OS`:__
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

[code]

</details>

## Debug output

Please include the raw output generated by `webhint`, or if possible,
the raw output from running `webhint` in debug mode: `hint --debug

[2021-02-09 16:49] antross commented on #4303
Hi @sammie3172! Just to double-check, is there a bug you were trying to report or was this an accidental submission?

[2021-02-09 16:51] #4261 closed

[2021-02-09 17:08] justinthompson313 opened #4304 "[docs] Issue with 'Has webpack configuration'"
https://webhint.io/docs/user-guide/hints/hint-webpack-config/config-exists/index.html

[2021-02-09 17:45] antross commented on #3691
Thanks @Simbiat!

@fahensha do you think you'll have an opportunity to verify your changes against this site and post a PR?

[2021-02-09 17:47] antross commented on #4304
Hi @justinthompson313, is there a specific issue with the webpack config documentation you were trying to report? Thanks!

[2021-02-09 20:35] #4175 closed

[2021-02-09 21:01] fahensha commented on #3691
Yeah absolutely :) I would have never thought to just custom make a URL with the specific directive, but that’s a great way to do it! Thanks @Simbiat

[2021-02-10 02:21] tok3r1 opened #4305 "[docs] Issue with 'Disallowed HTTP headers'"
https://webhint.io/docs/user-guide/hints/hint-no-disallowed-headers/index.html

[2021-02-10 05:03] Simbiat commented on #3691
It's no longer a "custom" page: whole site now should be providing these headers. I am specifically coding some functions in https://github.com/Simbiat/HTTP20 to allow easier standardization of headers on a website. It's work in progress, but one can only hope, that some day it will be used all over and make the web more secure...

[2021-02-10 13:56] tok3r1 commented on #4305
https://webhint.io/docs/user-guide/hints/hint-no-disallowed-headers/index.html

[2021-02-10 13:56] tok3r1 opened #4306 "https://webhint.io/docs/user-guide/hints/hint-no-disallowed-headers/index.html"
https://webhint.io/docs/user-guide/hints/hint-no-disallowed-headers/index.html

_Originally posted by @tok3r1 in https://github.com/webhintio/hint/issues/4305#issuecomment-776721602_

[2021-02-10 17:53] sarvaje commented on #4306
Hi @tok3r1, is there a bug you were trying to report or was this an accidental submission?

[2021-02-11 03:09] ruppysuppy commented on #3947
I could work on this one. Any suggestions on how to get started @antross?

[2021-02-12 15:38] hxlnt commented on #4230
Meeting notes from January 28:
- Some older feature PRs completed and merged in! 🎉
- New release planned for next sprint. After that, looking into how to automate more of the release process.
- Discussion around adding a "projects who use webhint" page to website.
- Planning to move this meeting from Zoom to Teams to circumvent meeting time limit.

[2021-02-12 16:00] hxlnt commented on #4230
## Time

**UTC Friday 02-Feb-2021 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 02-Feb-2021 09:00 (09:00 AM) |
| US / Mountain | Friday 02-Feb-2021 10:00 (10:00 AM) |
| US / Central  | Friday 02-Feb-2021 11:00 (11:00 AM) |
| US / Eastern  | Friday 02-Feb-2021 12:00 (12:00 PM) |
| London        | Friday 02-Feb-2021

[2021-02-13 00:24] antross commented on #3947
Hey @ruppysuppy. This should just involve adding `tslib` as a `devDependency` in the root `package.json`, then updating the root `tsconfig.json` to set `"importHelpers": true` in the `"compilerOptions"` section.

I'd recommend running `yarn build-release` from `packages/extension-browser` before and after the change to see if we get the expected decrease in bundle size (that command should tell yo

[2021-02-13 03:30] ruppysuppy commented on #3947
The bundle size actually increased after setting `"importHelpers": true`

**Before setting `importHelpers`**
[code]

**After setting `importHelpers`**
[code]

[2021-02-14 04:07] fahensha commented on #3691
@Simbiat When I first read your message I just assumed that the URL you sent was using the cache-control directives in question, but now I see that its a link to your project which creates standardized functions that helps developers follow best caching practices when designing a website.

I can see that the `Headers` class with the `cacheControl` function with `cacheStrat` parameter 'month' would

[2021-02-14 04:27] Simbiat commented on #3691
@fahensha actually my https://simbiat.ru is already providing the necessary headers (you can use whatever page there).
As for creating a page... I guess I'll add something to readme, but in general, if you want to use my HTTP20 class, I'd recommend using
[code]
You put whatever HTML into `$output` and select an optional `$cacheStrat` (`'month'` as you have mentioned) and... Enjoy the page you've c

[2021-02-14 04:42] fahensha commented on #3691
Awesome thank you! This is consistent with discussion above. As @antross put it, "its complaining about the value as opposed to the existence of the directive. This appears to be because we don't account for this in `valueDirectives`..."

<img width="714" alt="Screen Shot 2021-02-13 at 11 40 45 PM" src="https://user-images.githubusercontent.com/48158362/107868771-e6000000-6e54-11eb-9773-db0e1fd674

[2021-02-14 04:54] fahensha commented on #3691
As I'm about to submit a PR with the fix, I am wondering if simply removing the error and accepting the directives as valid is actually the best way to go? @antross

MDN still has the "Experimental. Expect behavior to change in the future," tag on them, and browser support is still lacking, particularly for `stalie-if-error` source: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-C

[2021-02-15 20:49] robereight3 opened #4326 "[docs] Problema con 'Empezar a usar webhint'"
https://webhint.io/docs/user-guide/index.html

[2021-02-15 20:59] robereight3 opened #4327 "[Bug] Descripción de errores"
# 🐛 Bug report

## Description

## Environment

* __`hint` version:__
* __`Node.js` version:__
* __`OS`:__
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

[code]

</details>

## Debug output

Please include the raw output generated by `webhint`, or if possible,
the raw output from running `webhint` in debug mode: `hint --debug

[2021-02-16 18:58] antross commented on #3947
Thanks @ruppysuppy. That is definitely not what I expected.

Can you post this as a draft PR so I can clone and take a look? I'm going to poke around and see exactly what code is getting generated. Thanks!

[2021-02-16 20:02] masi commented on #4236
I have been told that noreferrer is the only value you need as noopener is already implied by it:
https://html.spec.whatwg.org/#link-type-noreferrer

Is that not true for all browsers?

[2021-02-17 01:21] molant commented on #4236
It depends on the browsers you need to support. Newer version do not require anything, while olders might need noreferral/noopener.
The current hint does not reflect yet the case where nothing is required.

[2021-02-17 19:54] VikramGrover commented on #2847
Hello, I would like to work on this, I hope this is still open. I had a couple of questions regarding this bug:

1. What kind of issues will webhint report in this case? After looking into the code, my guess is it would just report some features as "unsupported" because their vendor-prefixed versions are not included in the source code?
2. I am unsure as to how we would handle these false positive

[2021-02-20 13:51] KikeE36 opened #4350 "[Error] Descripción del error"
# 🐛 Bug report

## Description

## Environment

* __`hint` version:__
* __`Node.js` version:__
* __`OS`:__
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

[code]

</details>

## Debug output

Please include the raw output generated by `webhint`, or if possible,
the raw output from running `webhint` in debug mode: `hint --debug

[2021-02-20 13:51] #4350 closed, assigned to nobody

[2021-02-21 08:31] GitHub-yande0326 opened #4352 "[docs] Issue with 'Webhint Visual Studio Code extension'"

[2021-02-22 17:33] sarvaje commented on #4327
Hi @robereight3.

Just to double-check, is there a bug you were trying to report or was this an accidental submission?

[2021-02-22 17:34] sarvaje commented on #4326
Hi @robereight3.

Just to double-check, is there a bug in the documentation you were trying to report or was this an accidental submission?

[2021-02-24 17:37] sarvaje commented on #4305
Hi @tok3r1, is there a bug you were trying to report or was this an accidental submission?

[2021-02-24 17:37] antross commented on #4352
@GitHub-yande0326 was there a specific issue with the VS Code extension you were trying to report?

I'm closing for now because we don't have enough detail to do anything, but if you had something to report feel free to reopen with the details. Thanks!

[2021-02-24 17:37] #4352 closed

[2021-02-24 17:38] antross commented on #4327
Closing since we don't have anything actionable at the moment. Please feel free to reactivate with more details if there's a specific issue you want to report. Thanks!

[2021-02-24 17:38] #4327 closed

[2021-02-24 17:38] antross commented on #4326
Closing since we don't have anything actionable at the moment. Please feel free to reactivate with more details if there's a specific issue you want to report. Thanks!

[2021-02-24 17:38] #4326 closed

[2021-02-24 17:38] antross commented on #4305
Closing since we don't have anything actionable at the moment. Please feel free to reactivate with more details if there's a specific issue you want to report. Thanks!

[2021-02-24 17:38] #4305 closed

[2021-02-25 17:51] Rithy77 opened #4353 "[docs] Issue with 'Webhint Visual Studio Code extension'"
https://webhint.io/docs/user-guide/extensions/vscode-webhint/index.html

[2021-02-25 23:01] antross commented on #4353
Hey @Rithy77, was there a specific problem you were trying to report with this page?

If so, please feel free to reopen this issue with more details. Thanks!

[2021-02-25 23:01] #4353 closed

[2021-02-26 15:42] hxlnt commented on #4230
## Time

**UTC Friday 26-Feb-2021 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 26-Feb-2021 09:00 (09:00 AM) |
| US / Mountain | Friday 26-Feb-2021 10:00 (10:00 AM) |
| US / Central  | Friday 26-Feb-2021 11:00 (11:00 AM) |
| US / Eastern  | Friday 26-Feb-2021 12:00 (12:00 PM) |
| London        | Friday 26-Feb-2021

[2021-03-05 18:15] bearnecessities opened #4362 "[Bug] Unable to run axe hints via API w/ Puppeteer - Chrome - AnalyzerError: Missing or incompatible dependencies"
# 🐛 Bug report

## Description

I'm currently unable to successfully run axe hints using Puppeteer.
I get the following error - `AnalyzerError: Missing or incompatible dependencies`.
In the past I've successfully used the puppeteer connector with chrome, in the same manner.

I have a public repo where the issue is reproducible for me - https://github.com/bearnecessities/just-testing
just clone the

[2021-03-08 14:48] masi opened #4376 "[Bug] CLI option -o breaks with multiple formatters in .hintrc"
# 🐛 Bug report

## Description

I ran `hint -c foobar` with a hintrc that included `"formatters": ["html", stylish"]` on mutliple URLs

I got after the run for the first URL:
[code]

The reason is that both formatters use -o, but HTML treats it as directory and Stylish as file. I need either different CLI options or a way to configure the formatter within .hintrc.

## Environment

* __`hint` versi

[2021-03-08 14:54] masi commented on #4260
The list of rules included by the ruleset is incomplete. You have to dig into the source code to find out what you get when you extend from it. This contradicts "The following code snippet is an expanded version of the previous code snippet." and is disappointing.

[2021-03-08 20:39] masi opened #4378 "[Feature] Document return values of CLI"
Especially in a CI context it is important to know the different (if any) return values for a run of webhint.

[2021-03-08 20:41] masi opened #4379 "[Docs Bug] How to "Highlight or break for specific warnings."?"
https://webhint.io/docs/user-guide/

This page tells me that I can break for specific "warnings" (does that mean "hint"?), but not how.

[2021-03-08 20:41] #4378 closed

[2021-03-08 20:41] masi commented on #4378
Wrong tag.

[2021-03-08 20:42] masi opened #4380 "[Docs Bug] Describe return values of CLI"
Especially in a CI context it is important to know the different (if any) return values for a run of webhint.

The docs say nothing about the them.

[2021-03-08 20:46] masi commented on #3180
Like in other tests systems they should be reported as "failed".

[2021-03-08 21:02] molant commented on #4380
Thanks @masi,

In what page would you expect this return codes to appear?

IIRC, currently it's 0 for success and any other number for failure.

[2021-03-08 21:07] molant commented on #4379
I think we should make that language clear as some concepts have changed since we write it. More notably, this should be related to "change the severity of a hint".

Also, from the same link:

Does the link [configuring webhint](https://webhint.io/docs/user-guide/configuring-webhint/summary/) in the paragraph above have the information that you are looking for or is something else missing that we

[2021-03-09 09:17] masi commented on #4380
I'd appreciate a dedicated CLI page in the docs. None of the pages within the user guide seem a good place for me. But I expected information on return values in the CI sections. The reason is that I wanted to know how to find out if a step using webhint has failed.

BTW, currently the documentation starts surprisingly with the most invloved topic the API. Only now I realied that it order alphabet

[2021-03-10 19:58] antross commented on #4260
Good point @masi (and it looks like we'd need to do this for all the configuration docs). I could see fixing this by either including the full JSON or linking to the source on GitHub. What do you think?

The link is definitely the simplest approach to get the current "right" answer, but takes you away from the rest of the docs.

Putting the full JSON inline (along with the current partial snippet)

[2021-03-10 20:27] masi commented on #4260
I agree that copying manually large lists easily ends up being stale. As a quick fix linking to the source files is IMHO good enough.

[2021-03-10 20:32] masi commented on #4379
The information found at https://webhint.io/docs/user-guide/configuring-webhint/summary/ is good. It's only the hilight/breaking part that is out-dated or misleading. It makes me think I miss something I could tweak if knew how to.

[2021-03-10 20:40] masi opened #4381 "[Feature] CLI option for exit code 0 only for hint errors or webhint failures"
# 🚀 Feature request

## Description

I would like to make webhint exit with a non-zero exit code only when either at least one hint has the severity "error" or webhint has a failure condition so it cannot run all tests.

The icing would be to set up a minimum severity to trigger a non-zero exit code, eg warning.

## What scenarios will this solve?

In a CI I don't have to disable low severity hint

[2021-03-10 20:46] masi opened #4382 "[Feature] Different CLI exit codes depeneding on results"
# 🚀 Feature request

## Description

Webhint exits with 1 if at least one hint with serverity "error" is found, 2 if at least one hint with serverity "warning" is found etc.
In case of a failure it exits with 99.

## What scenarios will this solve?

It allows a script to decide what to do next depending on the result of the run.

[2021-03-11 18:54] molant commented on #4381
I'm looking at the code and by default the CLI should be exiting with non-zero when there are at least 1 error. What is the configuration that you are using? Maybe we are overriding it in there?

I think you can do what you want by using the `severityThreshold`  property in your `.hintrc`. I'm not sure why it's not documented in the website though (probably my bad as [I was the one implementing th

[2021-03-11 19:14] molant commented on #4379
I've updated the title to reflect what we need to do.
Thanks!

[2021-03-11 20:28] codepo8 opened #4383 "[Bug] webhint flags up <input type="hidden"> fields without labels"
# 🐛 Bug report

## Input type hidden without label is flagged up as an error

Hidden form fields aren't editable and should not get a label, right?

[2021-03-12 08:33] caimingtr opened #4384 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __`hint` version:__
* __`Node.js` version:__
* __`OS`:__
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

[code]

</details>

## Debug output

Please include the raw output generated by `webhint`, or if possible,
the raw output from running `webhint` in debug mode: `hint --debug

[2021-03-12 15:23] hxlnt commented on #4230
## Time

**UTC Friday 12-Mar-2021 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 12-Mar-2021 09:00 (09:00 AM) |
| US / Mountain | Friday 12-Mar-2021 10:00 (10:00 AM) |
| US / Central  | Friday 12-Mar-2021 11:00 (11:00 AM) |
| US / Eastern  | Friday 12-Mar-2021 12:00 (12:00 PM) |
| London        | Friday 12-Mar-2021

[2021-03-12 17:23] hxlnt opened #4387 "Improve issue templates"
Issue templates are a bit long; this issue tracks making them simpler. We'll exclude browser extension template for now.

[2021-03-12 17:27] hxlnt opened #4388 "Migrate commit formatting checks to GitHub"
Removing commit message requirements on contributors and moving this check to PR merges.

[2021-03-12 17:30] hxlnt commented on #4383
@codepo8 This feedback comes from axe-core, so it would be worth checking https://github.com/dequelabs/axe-core.

Also, do you have a site with this issue so we could repro?

[2021-03-12 17:31] hxlnt commented on #4362
Thanks for the feedback, @bearnecessities! We're going to take a look at this and see if we can repro. ✌

[2021-03-12 17:42] sarvaje commented on #4306
Closing since we don't have anything actionable at the moment. Please feel free to reactivate with more details if there's a specific issue you want to report. Thanks!

[2021-03-12 17:42] #4306 closed

[2021-03-12 17:42] sarvaje commented on #4304
Closing since we don't have anything actionable at the moment. Please feel free to reactivate with more details if there's a specific issue you want to report. Thanks!

[2021-03-12 17:42] #4304 closed

[2021-03-12 17:43] sarvaje commented on #4303
Closing since we don't have anything actionable at the moment. Please feel free to reactivate with more details if there's a specific issue you want to report. Thanks!

[2021-03-12 17:43] #4303 closed

[2021-03-12 17:44] sarvaje commented on #4282
Closing since we don't have anything actionable at the moment. Please feel free to reactivate with more details if there's a specific issue you want to report. Thanks!

[2021-03-12 17:44] #4282 closed

[2021-03-12 17:48] sarvaje commented on #4260
Thanks @masi!

Would you be interested in opening a PR for this?

This should be the link to replace the expanded code snipped with: https://github.com/webhintio/hint/blob/main/packages/configuration-development/index.json

The markdown for this page lives here: https://github.com/webhintio/hint/blob/main/packages/configuration-development/README.md

[2021-03-12 17:55] sarvaje commented on #4236
We should be able to use the MDN data related to this page to update `hint-disown-opener`

https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a#browser_compatibility

[2021-03-12 17:56] sarvaje commented on #4233
Closing since we don't have anything actionable at the moment. Please feel free to reactivate with more details if there's a specific issue you want to report. Thanks!

[2021-03-12 17:56] #4233 closed

[2021-03-12 20:10] codepo8 commented on #4383
Will do. Our docs site is the problematic one.

On Fri, Mar 12, 2021, 18:30 Rachel Simone Weil ***@***.***>
wrote:

[2021-03-14 16:38] Fixmenow13 opened #4403 "[docs] Issue with 'AMP HTML validator'"
https://webhint.io/docs/user-guide/hints/hint-amp-validator/index.html

[2021-03-14 16:38] #4403 closed

[2021-03-16 00:55] Pittuc opened #4404 "[Error] Descripción del error"
# 🐛 Bug report

## Description

## Environment

* __`hint` version:__
* __`Node.js` version:__
* __`OS`:__
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

[code]

</details>

## Debug output

Please include the raw output generated by `webhint`, or if possible,
the raw output from running `webhint` in debug mode: `hint --debug

[2021-03-16 00:58] #4404 closed

[2021-03-19 17:23] bearnecessities commented on #4362
@antross @hxlnt Hey, just wanted to circle back and see if the issue was reproducible on your end. Is there any additional information that I can provide that would be helpful?

[2021-03-21 08:36] masa77736 opened #4423 "[ドキュメント]'プロジェクトで Web ヒントを構成する' に関する問題"
https://webhint.io/docs/user-guide/configuring-webhint/summary/index.html

[2021-03-21 08:37] masa77736 opened #4424 "[バグ]バグの説明"
# 🐛 Bug report

## Description

## Environment

* __`hint` version:__
* __`Node.js` version:__
* __`OS`:__
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

[code]

</details>

## Debug output

Please include the raw output generated by `webhint`, or if possible,
the raw output from running `webhint` in debug mode: `hint --debug

[2021-03-22 18:27] MagicMark88 opened #4425 "[dokumente] Problem mit 'Webhint in Ihrem Projekt konfigurieren'"
https://webhint.io/docs/user-guide/configuring-webhint/summary/index.html

[2021-03-22 18:28] MagicMark88 commented on #4425
position: fixed;
    border: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100%;
    font-size: large;
    display: none;

[2021-03-22 18:29] MagicMark88 commented on #4425
position: fixed;
    border: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100%;
    font-size: large;
    display: none;

[2021-03-23 18:39] 411b opened #4427 "[docs] Issue with 'Webhint browser extension'"
https://webhint.io/docs/user-guide/extensions/extension-browser/index.html

[2021-03-24 16:12] hxlnt commented on #4383
Sounds good--will close this for now; feel free to reopen if this is actually on us and not axe.

[2021-03-24 16:12] #4383 closed

[2021-03-24 18:20] codepo8 opened #4428 "[Bug] On computers without a Node/NPM install, the VS Code extension doesn't work"
# 🐛 Bug report

## Description

I just set up a new machine and installed VS Code and the Webhint extension without installing NPM and Node first. The extension fails to load hint then.

Error report
[code]

[2021-03-25 20:40] antross commented on #4428
Thanks @codepo8!

@sarvaje @molant I think the best we can do here is detect that `npm` isn't available and give a better error message to the user (possibly pop a VS Code message dialog). Thoughts?

[2021-03-25 21:11] antross commented on #4362
Hey @bearnecessities, sorry it took a bit to get to this.

I was able to repro the issue. Once I did, I was able to debug to find out the specific missing dependency was `axe/other`. This information is on the `missing` property of the thrown exception, but we really should put it in the message too so scenarios like this are easier to debug. Probably just a small edit needed here: https://github.

[2021-03-25 21:13] antross commented on #4362
@sarvaje what do you think about this?

[2021-03-25 21:15] antross commented on #4362
@bearnecessities I'm guessing just being able to specify something like `axe` or `axe/*` would have been easier for your use case as well, correct?

[2021-03-25 22:04] codepo8 commented on #4428
That would work. Maybe also add some documentation on how to debug when
something goes wrong - as in - how to get a debug log.

On Thu, Mar 25, 2021, 21:40 Tony Ross ***@***.***> wrote:

[2021-03-26 02:07] #4117 closed

[2021-03-26 14:46] hxlnt commented on #4230
## Time

**UTC Friday 26-Mar-2021 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 26-Mar-2021 09:00 (09:00 AM) |
| US / Mountain | Friday 26-Mar-2021 10:00 (10:00 AM) |
| US / Central  | Friday 26-Mar-2021 11:00 (11:00 AM) |
| US / Eastern  | Friday 26-Mar-2021 12:00 (12:00 PM) |
| London        | Friday 26-Mar-2021

[2021-03-29 06:40] Yavnet2021 opened #4441 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __webhint version:__ 2.3.1
* __Browser version:__ Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.90 Safari/537.36
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibility
* [x] Performa

[2021-03-29 14:50] antross commented on #4197
Closing as we aren't able to investigate without a URL to reproduce the problem. Feel free to reactivate if you're able to share more details.

[2021-03-29 14:50] #4197 closed

[2021-03-29 14:50] antross commented on #4441
Thanks for the report @Yavnet2021!

Is this affecting you on all pages or only on a specific site? If it's a specific site, are you able to share a URL we can look at to repro the issue? Thanks!

[2021-03-30 22:18] Yernando opened #4444 "report abuse"
Hi there.

I would like to report a repository which contains confidential information which can put the Ministry of Foreign Relations at risk, this repository contains sensitive information about vulnerabilities in a URL.

URL Official: https://mexitel.sre.gob.mx/citas.webportal/pages/public/login/login.jsf
Repository: https://github.com/webhintio/scan-issues/issues/32895

I would greatly appreci

[2021-04-03 06:49] rizqventure opened #4446 "[Docs Bug] Add docs improvement idea here"
# 📚 Request documentation enhancements

## Description

## Details

[2021-04-04 18:13] sollo11 opened #4460 "[dokumenty] Problém s hlavičkou "Použít možnosti typu X""
https://webhint.io/docs/user-guide/hints/hint-x-content-type-options/index.html

[2021-04-04 18:13] #4460 closed

[2021-04-04 18:13] sollo11 commented on #4460
@ -1,5 +1,11 @@
<<<<<<< Updated upstream
node_modules/
_site/
.DS_Store
machine.min.js
dist/
dist/
=======

README.md
assets/images/-1zA-2/

[2021-04-05 16:33] antross commented on #4446
Closing since this appears to be an accidental submission. Feel free to reopen with additional details if there was a real issue you were trying to report. Thanks!

[2021-04-05 16:33] #4446 closed

[2021-04-07 11:18] ryanerringtonatom opened #4463 "[Bug] Gitlab CI - Failed to launch the browser process (Running as root without --no-sandbox is not supported)"
# 🐞 Bug report

## Description

When running the CLI using Gitlab CI we are getting the following error:

`AnalyzerError: Failed to launch the browser process!
[0407/104854.477195:ERROR:zygote_host_impl_linux.cc(89)] Running as root without --no-sandbox is not supported. See https://crbug.com/638180.
TROUBLESHOOTING: https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md
    at A

[2021-04-07 16:23] antross commented on #4463
Thanks for the report @ryanerringtonatom!

From the error you shared, this initially looked like an issue getting `puppeteer` to work in this context. However, the webhint CLI command you used suggests you're trying to analyze source code (as opposed to a loaded page). When analyzing source code the webhint CLI shouldn't be trying to use puppeteer, it should be trying to use JSDOM instead (which d

[2021-04-07 16:23] antross commented on #4463
@sarvaje any idea why the webhint CLI is still trying to load puppeteer in this setup?

[2021-04-07 16:26] ryanerringtonatom commented on #4463
@antross apologies - we are actually testing a domain, I removed this in the code.

So the command we have used is `node node_modules/hint/dist/src/bin/hint.js www.test.co.uk`

[2021-04-07 16:41] antross commented on #4463
@ryanerringtonatom thanks for the clarification. That makes me feel better about what's getting loaded when 🙂

Short of getting puppeteer working in this context, you could try setting up a custom `.hintrc` which extends the web-recommended configuration, but uses the JSDOM connector instead:

[code]

Then run:
[code]

[2021-04-07 17:30] tristan957 commented on #3134
This is still happening as of version 6.1.3. I don't use WSL. I use Fedora 33.

[2021-04-07 18:15] molant commented on #4463
I'm looking at the output and this catch my eye:

The [troubleshooting has a section specific for this](https://github.com/puppeteer/puppeteer/blob/main/docs/troubleshooting.md#setting-up-chrome-linux-sandbox):

There's an [option to pass custom options to the connector via `puppeteerOptions`](https://webhint.io/docs/user-guide/connectors/connector-puppeteer/#options). Give it a try, it might work

[2021-04-07 22:00] joshvickerson opened #4464 "[Bug] Issues Not Reported using Local Connector"
# 🐞 Bug report

## Description

I'm attempting to setup Webhint with a `.hintrc` file that can be committed to a project so the configuration can be shared by everyone on my team. I'm trying to run Webhint on local files only using the local connector, and it's not reporting issues I would expect it to based on examples I see in the documentation.

I have attempted this using both the CLI, and the

[2021-04-07 22:37] molant commented on #4464
Thanks for the report @joshvickerson

Do you have a repo we can clone to investigate? That will help us a lot.

[2021-04-07 22:48] joshvickerson commented on #4464
I'm setting this up at work so unfortunately no, I can't provide a repo for you to clone at the moment.

[2021-04-08 16:15] ryanerringtonatom commented on #4463
It is now running successfully with the following config in `.hintrc`

[code]

Thanks for the help with this!

[2021-04-08 18:54] antross commented on #4463
Great, glad to hear it worked!

I'm assuming you own the content you're analyzing here so you shouldn't have to worry about the sandbox being off. But if for some reason you do analyze untrusted content I'd recommend looking into an alternate approach that doesn't require disabling the sandbox.

[2021-04-08 18:54] #4463 closed

[2021-04-08 19:17] glen-84 commented on #4158
Or maybe look for [browserslist](https://github.com/browserslist/browserslist/) configuration.

[2021-04-08 22:12] molant commented on #4158
[webhint already uses browserslist](https://webhint.io/docs/user-guide/configuring-webhint/browser-context/). I believe this is more about the defaults, which come from browserslist.

[2021-04-09 13:01] bearnecessities commented on #4362
@antross thanks for looking into this! It would definitely be awesome to be able to specify something like `axe/*`

[2021-04-09 13:01] #4362 closed

[2021-04-10 18:25] glen-84 commented on #4158
Oh, apologies, I'm new to webhint and I should have noticed that.

So is this effectively about adding `not IE > 0` when a user is either not using `browserslist`, or is implicitly using the defaults (assuming that that can be determined)?

[2021-04-11 14:50] molant commented on #4158
Haven't talked with @hxlnt about this in a while, but IIRC this is about modifying the development configuration (the one used by the vs code extension) and add `not IE` to browserslists defaults if there is no explicit configuration.

[2021-04-11 21:22] a33e opened #4478 "[علة] وصف الخطأ"
عدم تنشيط

[2021-04-11 23:51] #4478 closed

[2021-04-12 10:58] addy175 opened #4479 "[docs] Issue with 'browser extension'"
https://webhint.in

[2021-04-12 20:31] Xatsokot opened #4480 "[مستندات] المشكلة مع 'الفأس: أشكال'"
https://webhint.io/docs/user-guide/hints/hint-axe/forms/index.html

[2021-04-13 17:02] antross opened #4481 "[Bug] Enable hint-doctype by default"
This hint has been around since 2018 and is documented on webhint.io (https://webhint.io/docs/user-guide/hints/hint-doctype/). However it's not enabled by default in any of webhint's configurations (likely an oversight).

We should turn this on by default and perform any necessary cleanup in the process (e.g. switching to get locations from webhint's location-aware DOM that was added after the hin

[2021-04-13 19:35] SirbB12 opened #4482 "[docs] Issue with 'Use `X-Content-Type-Options` header'"
https://webhint.io/docs/user-guide/hints/hint-x-content-type-options/index.html

[2021-04-13 19:36] SirbB12 opened #4483 "[docs] Issue with 'Highest document mode'"
https://webhint.io/docs/user-guide/hints/hint-highest-available-document-mode/index.html

[2021-04-14 07:22] captainbrosset commented on #4481
For information, fixing this also means that the webhint integration in Edge DevTools (in the Issues panel) will have the hint enabled. This means that when you navigate to a page that uses quirks mode (maybe by accident) and open DevTools, you'll get a warning for it. This is super useful when debugging weird layout issues! And will impact many many users.

[2021-04-15 16:44] addy175 commented on #4479
#

[2021-04-16 11:30] RealUn2ken opened #4485 "[docs] Issue with 'No Inline CSS Styles'"
https://webhint.io/docs/user-guide/hints/hint-no-inline-styles/index.html
the old notion of style not being cached is not necessarily true anymore in fact this advice is rather obsolete these days. progressive app implementation fully caches a page to viewed offline.  in terms of browser rendering inline-styles for small tweaks on particular page via is significantly faster than putting small line

[2021-04-17 20:55] masi opened #4487 "[Docs Bug] Configuration of axe is wrong or misleading"
# 📚 Request documentation enhancements

## Description

https://webhint.io/docs/user-guide/hints/hint-axe/#can-the-hint-be-configured

It says:

Then an example follows that does not look at all like a real axe configuration. It is completely unclear how options can be passed to axe.

I am not even sure if options refers to the second parameter of the axe.run() method or all of them.

In particula

[2021-04-20 16:11] antross commented on #4485
Thanks for the feedback @RealUn2ken!

@RealUn2ken, to clarify, are you suggesting the guidance is only invalid if the target page is cached for offline viewing?

@bolah2009 any thoughts since you introduced this hint?

cc @webhintio/contributors in case anyone else has an opinion on this.

[2021-04-20 16:30] molant commented on #4485
It is not clear to me what "faster" means in this context. Is it for the developer? the user when rendering the content? Something else?
Also, can you please point us to any recent data about this? I remember reading about this many years back and inline styles where a perf killer. IIRC the browser needs to stop the parsing of the HTML every time there's a `<style>` tag and then reprocess the layo

[2021-04-21 01:32] RealUn2ken commented on #4485
the guiding principle of the old suggestion dates back in the day where in it was ideal to put all our styles in one stylesheet and rely on cache for loading the stylesheet. however browsers have evolved and that is why you do not see this suggestion a lot testing tools like pagespeed or webpagetest
how browsers work now is a little bit different and has something do with[ critical css ](https://w

[2021-04-21 15:29] rupesh8182 opened #4488 "scanned timed out"
# 🐛 Bug report

## Description

## Environment

* __webhint version:__ 2.3.1
* __Browser version:__ Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.128 Safari/537.36
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [ ] Accessibility
* [ ] Compatibility
* [ ] Perform

[2021-04-21 15:59] antross commented on #4488
Thanks for the report @rupesh8182! Any chance you can share the URL for the page you were analyzing when the scan timed out?

Without a page to reproduce the issue on we likely won't be able to fix it.

[2021-04-23 16:30] hxlnt commented on #4487
Thanks for filing the issue. You're right--this is a docs bug. We don't currently support passing the axe configuration. However, we'll fix the docs and open a new bug to track excluding part of the page as a feature request.

[2021-04-23 16:34] hxlnt commented on #4444
Fixed.

[2021-04-23 16:34] #4444 closed

[2021-04-24 09:15] Simbiat opened #4490 "[docs] Issue with 'Unneeded HTTP headers'"
https://webhint.io/docs/user-guide/hints/hint-no-html-only-headers/index.html

The list of headers triggering the hint does not include Feature-Policy. Most likely will be triggered by Permissions-Policy as well if it's already supported. They need to be added to the list in the manual.

[2021-04-26 03:31] dustpan28646 opened #4508 "https://github.com/webhintio/hint/blob/7096003bd695830e8677ccf21cf2f3417aa0a21b/.github/CONTRIBUTING.md"
Please tell us about your:

## Environment

* __`hint` version:__
* __`Node.js` version:__
* __`npm` version:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

[code]

</details>

## URL for which `webhint` failed

* __URL:__

## Output

Please include the raw output generated by `webhint`, or if possible,
the raw output from running `webhint` in debug mode: `hin

[2021-04-26 05:36] dustpan28646 commented on #4508
https://github.com/webhintio/hint/issues/4508#

[2021-04-26 05:36] #4508 closed

[2021-04-26 06:28] scarecrew69 opened #4509 "[docs] Issue with 'Correct `Content-Type` header'"
https://webhint.io/docs/user-guide/hints/hint-content-type/index.html

[2021-04-26 06:29] scarecrew69 commented on #4509
https://github.com/scarecrew69

[2021-04-26 06:30] scarecrew69 commented on #4509
aware

[2021-04-26 06:48] tok3r1 opened #4510 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __webhint version:__
* __Browser version:__
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibility
* [x] Performance
* [x] Pitfalls
* [x] PWA
* [x] Security

Your target browsers:
* [x] Recommended settings
* [ ] Custom:

Ignored reso

[2021-04-26 07:41] scarecrew69 opened #4511 "[docs] Issue with 'Axe: Text Alternatives'"
https://webhint.io/docs/user-guide/hints/hint-axe/text-alternatives/index.html

[2021-04-26 09:30] #4511 closed

[2021-04-26 21:39] anne41 opened #4512 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __webhint version:__ 2.3.1
* __Browser version:__ Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.85 Safari/537.36 Edg/90.0.818.46
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibilit

[2021-05-02 10:14] tok3r1 opened #4523 "[docs] Issue with 'HTTP cache'"
https://webhint.io/docs/user-guide/hints/hint-http-cache/index.html

[2021-05-02 10:14] tok3r1 commented on #4523
https://webhint.io/docs/user-guide/hints/hint-http-cache/index.html

[2021-05-02 10:14] #4523 closed

[2021-05-02 10:31] sluc69 opened #4524 "[docs] Issue with 'HTTP cache'"
https://webhint.io/docs/user-guide/hints/hint-http-cache/index.html

What is the correct header entry for 'stale-while-revalidate'
Cache-Control: max-age=3600, stale-while-revalidate=31536000

I have dynamic pages where images are updated and in some case css is added to the to the stylesheet without changing names.
I could use cache busting but can't get it configured to be recognized by webhinti

[2021-05-02 17:35] molant commented on #4524
What is the format of your cache busting?
You should be able to configure it via [`revvingPatterns`](https://webhint.io/docs/user-guide/hints/hint-http-cache/index.html#custom-regular-expressions-for-revving-files) and if it doesn't work we should fix it.

[2021-05-06 16:14] gianpaj commented on #3966
Another use case for this.
See this JSX code:
[code]

current error:
<img width="819" alt="image" src="https://user-images.githubusercontent.com/899175/117331101-4fa90c80-ae8e-11eb-82e4-079a53195e5b.png">

Eslint can do this:
[code]

[2021-05-07 07:39] chrisatkins2019-creat opened #4525 "[docs] Issue with 'webhint recommended web configuration'"
https://webhint.io/docs/user-guide/configurations/configuration-web-recommended/index.html

[2021-05-07 15:45] hxlnt commented on #4512
Hi, @anne41--Without error details or a URL, we won't be able to troubleshoot. Can you please include them in your bug description? Thanks!

[2021-05-07 15:46] hxlnt commented on #4525
@chrisatkins2019-creat Can you let us know what the issue is? Thanks!

[2021-05-07 15:47] hxlnt commented on #4510
@tok3r1 Can you please include the URL and error details so we can help you with your problem? Thanks!

[2021-05-07 15:48] hxlnt commented on #4480
Can you please provide more information about the problem you're seeing? Thanks!

[2021-05-07 15:48] hxlnt commented on #4441
Closing this for now since we're not able to repro.

[2021-05-07 15:48] #4441 closed

[2021-05-07 15:49] #4479 closed

[2021-05-07 15:49] hxlnt commented on #4423
Hi, can you provide some additional details on what issue you're seeing? Thanks!

[2021-05-07 15:49] hxlnt commented on #4424
Can you please include the URL and error details so we can help you with your problem? Thanks!

[2021-05-07 15:50] hxlnt commented on #4384
Can you please include the URL and error details so we can help you with your problem? Thanks!

[2021-05-07 15:53] hxlnt commented on #4425
Closing this issue, as this doesn't appear to be an issue with webhint. Please be sure to include a description of the issue you're seeing in the documentation so we can troubleshoot accordingly. Thanks!

[2021-05-07 15:53] #4425 closed

[2021-05-07 15:54] hxlnt commented on #4483
Can you let us know what issue you're experiencing with this page? Thanks!

[2021-05-07 16:05] hxlnt opened #4526 "Disable ts-import-helpers by default"
## Description

This can be disabled as it doesn't result in significant bundle size reduction in modern JS targets. See https://github.com/webhintio/hint/pull/4329

[2021-05-07 16:13] hxlnt commented on #4490
Thanks--we'll add this to the documentation and examples!

[2021-05-09 09:46] sluc69 commented on #4524
https://sanlo.info/templates/cassiopeia
/css/user.css?dd9b676592f953759bd4438978aa908f
https://sanlo.info/templates/cassiopeia/css/global/colors_alternative.min.css?dd9b676592f953759bd4438978aa908f

Check yourself at the home page

On Mon, 3 May 2021 at 01:35, Antón Molleda ***@***.***> wrote:

[2021-05-10 00:49] rendol21 opened #4543 "[docs] Issue with 'Supported HTML features'"
https://webhint.io/docs/user-guide/hints/hint-compat-api/html/index.html

[2021-05-10 00:49] rendol21 opened #4544 "[Docs Bug] Add docs improvement idea here"
# 📚 Request documentation enhancements

## Description

## Details

[2021-05-10 07:05] mosro opened #4545 "[docs] Issue with 'Axe: Forms'"
https://webhint.io/docs/user-guide/hints/hint-axe/forms/index.html

[2021-05-12 16:25] giorgioskizzo opened #4546 "[Bug] Bug description"
# 🐛 Bug report

## Description

## Environment

* __webhint version:__ 2.3.1
* __Browser version:__ Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.93 Safari/537.36
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibility
* [x] Performa

[2021-05-12 16:33] antross commented on #4546
Thanks for the report @giorgioskizzo! Are you able to share the URL you were trying to analyze with webhint when this error occurred? That would help us reproduce the issue so we can identify what's going on. Thanks!