[2019-09-26 20:05] molant commented on #2714
Closing in favor of #2776

[2019-09-26 20:05] #2714 closed

[2019-09-26 20:09] molant commented on #1628
Closing in favor of #1594

[2019-09-26 20:09] #1628 closed

[2019-09-26 22:47] gregwhitworth opened #3034 "Surface AA/AAA recommendations"
When doing an assessment and there are accessibility issues, it would be valuable to denote in some manner which items impact failing either AA or AAA. This would be valuable as more and more laws require a specific rating to be passed. And while the documentation does denote this information it would be good to see it while the developer is looking at the results. This could be as simple as a sub

[2019-09-26 23:12] sarvaje commented on #3006
@molant I think we can close this too, right?

[2019-09-26 23:22] antross commented on #3006
Yep.

[2019-09-26 23:22] #3006 closed

[2019-09-26 23:42] molant opened #3035 "[Feature] Separate the compat data into its own utils package"
The browser compat data gets updated fairly often. Right now our compat util lives in `utils` which is used virtually by all hints and thus causing all the packages to update everytime there's something new.

We should take it to a different package to avoid releasing that often.

This will be a breaking change on `utils`.

[2019-09-26 23:45] molant commented on #2998
We think we've fixed this with the latest release but @antross will verify once he gets back home.

[2019-09-27 03:03] molant commented on #2982
I've done a bit more testing and the numbers on my machine for builds (`yarn build`) are:

| Device | Environment | Build time |
| -------| ---------| ----- |
| Surface Book (i7 512GB SSD) |  WSL2 | 513s |
| Surface Book (i7 512GB SSD) |  Windows | 982s |

@antross, @sarvaje can you please post your times in your machines?
I'll try to get the times for the macBook tomorrow

Nevertheless, we are lo

[2019-09-27 16:20] molant opened #3036 "Update severity of hints"
# Severity of hints

## Current status

Hints have an associated severity (`off`, `warning`, `error`) that can be set
via a `.hintrc` file when using the CLI. E.g.:

[code]

The browser extension or the online scanner do not have the possibility to
change the severity. What's more, a lot of users rely in the provided
configurations (e.g.: `configuration-web-recommended`).

The problem with this is

[2019-09-27 17:34] molant opened #3037 "[Bug] "CSS-Prefix-Order" reports twice for prefixes order when error is in nested selectors in SASS"
Create a `.scss` file with this content:

[code]

You'll get the following on VS Code:

![image](https://user-images.githubusercontent.com/606594/65789412-3a94c500-e112-11e9-8fcc-c935fce36c57.png)

Adding an extra nested level will cause a 3rd report for the same issue:

(css-prefix-order)

[2019-09-27 17:35] antross opened #3038 "[Feature] Ignore third-party libraries by default"
Most developers aren't going to try to update code inside of a third-party library they're using as part of their content (other than updating to a newer version of that library). Consequently reporting detailed hints against that code (e.g. bootstrap.css) just creates additional noise.

[2019-09-27 17:49] sarvaje commented on #2982
| Device | Environment | Build time |
| -------| ---------| ----- |
| Surface Book 2 (i7 16GB 512GB SSD) |  WSL | 925s |
| Surface Book 2 (i7 16GB 512GB SSD) |  Windows | 749s |

[2019-09-27 17:55] antross commented on #2982
| Device | Environment | Build time |
| -------| ---------| ----- |
| Surface Laptop (i7 16GB 512GB SSD) |  Windows | 640s |

[2019-09-27 18:19] molant opened #3039 "[Feature] Add schema auto completion in the vs code extension"
Users can add a json schema via the `settings.json`, maybe there's a way we can enable this directly from the extension:

[code]

[2019-09-27 18:22] molant commented on #1586
We've moved to `puppeteer` as the default everywhere so this shouldn't has as big of an impact as before so closing it.

[2019-09-27 18:22] #1586 closed

[2019-09-27 18:22] #1413 closed

[2019-09-27 18:22] #1705 closed

[2019-09-27 18:23] antross opened #3040 "[i18n] Make VS Code extension strings localizable"
This includes the few prompts we show, the one setting we add, and figuring out how to determine the current language so it can be passed to webhint.

[2019-09-27 18:24] molant commented on #1640
Closing this issue as we reached this milestone already 🎉

Thank you everyone who made this possible 🙏

[2019-09-27 18:24] #1640 closed

[2019-09-27 18:24] molant commented on #2253
This was done a few weeks back.

[2019-09-27 18:24] #2253 closed

[2019-09-27 19:29] molant opened #3041 "[Bug] Need to add instructions when clicking on the extension to let users know they should go to the dev tools"
Clicking in the button that appears close to the address bar should tell the user to go to the dev tools and click on the hint tab. This is how it looks like right now:

![image](https://user-images.githubusercontent.com/606594/65796791-60c26100-e122-11e9-8519-5c860f727957.png)

[2019-09-27 20:24] molant commented on #3041
Working on this ATM.

This is how it looks like for now:

![image](https://user-images.githubusercontent.com/606594/65799920-17760f80-e12a-11e9-9bf7-6e08d5c4bc9c.png)

Need to figure out how to remove it from the manifest on Firefox.

@hxlnt @antross feedback? I'd like to have this published in the store before Monday :S

[2019-09-27 21:07] pmielnik commented on #552
Hey there, I'd love to work on this if it's still available!

[2019-09-27 21:48] hxlnt commented on #3041
Wow, fast turnaround! 🤩 A few thoughts:

1. Can we increase the outer padding? The text is running pretty close to the edges.
2. What do you think about replacing some of the text with an screenshot mockup or GIF? Tony brought up a good point that the Hints pane may be in the overflow menu of DevTools. Showing the navigation there would help.

Ex:
[ Webhint header ]
Open DevTools (F12) and navigat

[2019-09-27 21:49] molant commented on #552
@pmielnik up for grabs!

What we usually recommend to first time contributors to the project is to go through:

1. [Setting up the development environment](https://webhint.io/docs/contributor-guide/getting-started/development-environment/)
1. And then [create a hint step by step](https://webhint.io/docs/contributor-guide/guides/create-custom-hint/)

If something is not clear or wrong in the docs p

[2019-09-27 21:52] molant commented on #3041
Sounds good to me. I'll use that image

[2019-09-27 22:03] antross commented on #3041
Should we use a different image for Chrome vs Edge so it matches the devtools in each (I’m okay if we do this later)?

Also, for modifying the manifest for Firefox see https://github.com/webhintio/hint/blob/master/packages/extension-browser/scripts/drop-persistent-flag.js

[2019-09-27 22:07] molant commented on #3041
This is how it's going to look in Chrome:

![image](https://user-images.githubusercontent.com/606594/65804905-6fb40e00-e138-11e9-801e-e1ff5960de4e.png)

Don't think we can get the Edge one published before Monday so I'll leave it to someone else to do the image swap 😛

[2019-09-28 03:32] #3041 closed

[2019-09-28 03:46] molant opened #3044 "[Bug] Release script bumping extension even if no changes?"
The release script updated recently the extension to version 1.0.2 in the `package.json` even though there weren't any changes. Even the release script said that nothing had change do so nothing had to be submitted to the stores.

We need to review why the version got bumped and avoid this in the future.

[2019-09-28 20:45] digitarald opened #3045 "[Feature] Links to MDN for CSS and HTML compat hints"
CSS properties and incorrect values should link to MDN. The webhint pages on those features just broadly describe CSS and HTML hinting in general, but not specific features. The "Learn how to fix it" promised in the link text is not covered at all.

If you want to keep the page, maybe both can be combined into a `How this is tested.` and `Learn more about the CSS property.`

[2019-09-28 20:51] digitarald opened #3046 "[Feature] Better visual separation in compatbility hints"
Example:

<img width="507" alt="image" src="https://user-images.githubusercontent.com/8599/65822337-6dd67180-e242-11e9-9953-d8bdd1f9e05d.png">

I find it hard to parse the hint summaries as the different semantic parts are not visually separated. Maybe both `'property'` occurences might be easier to scan when they are set in a monospaced font (which is also consistent with rest of devtools). The b

[2019-09-28 20:57] digitarald opened #3047 "[Feature] Extension should have an option to avoid refresh"
It should be possible to run some parts of webhint without refreshing, so it can be used to test specific states of web apps.

Surely some features in the extension require refresh to access resources, while some could be done without. Lighthouse runs into the same issue of forcing a refresh.

One idea is highlighting refresh-forcing options or having a "No refresh" button that disables all needs-

[2019-09-29 08:09] molant commented on #1640
[webhint-chromium-1.0.3.zip](https://github.com/webhintio/hint/files/3666491/webhint-chromium-1.0.3.zip)

[2019-09-29 19:10] molant commented on #3035
Adding @atopal as we talked about this earlier today 🙂

[2019-09-30 08:36] ststimac opened #3048 "[Bug] Focus style bug in browser extension"
# 🐛 Bug report

## Description

There's a contrast issue with the inputs when you start up the extension. The text is black until you select the input and give it focus, in which case it then turns white.

![focus-bug](https://user-images.githubusercontent.com/18073131/65862029-a888f880-e36d-11e9-8158-efe6fe6a9559.PNG)

## Environment

* __webhint version:__  1.03
* __Browser version:__  Edge Cana

[2019-09-30 08:46] molant commented on #3048
Yeah, that's a change (bug?) in chromium upstream. I believe Amanda has filed and issue because she had some problems with it too in other parts of the devtools.
@antross might have a bit more info.

________________________________
From: Stephanie <notifications@github.com>
Sent: Monday, September 30, 2019 10:36
To: webhintio/hint
Cc: Subscribed
Subject: [webhintio/hint] [Bug] Focus style bug in

[2019-09-30 12:11] molant commented on #1640
Sources for version 1.0.3 [hint-master.zip](https://github.com/webhintio/hint/files/3670959/hint-master.zip)

[2019-09-30 12:12] #3037 closed

[2019-09-30 16:59] antross commented on #3048
Yes, this is a Chromium bug. I couldn't find the original issue I was looking for, but I found two other bugs related to this that both tie back to the same regressing change:
* https://bugs.chromium.org/p/chromium/issues/detail?id=1009285
* https://bugs.chromium.org/p/chromium/issues/detail?id=1009424

The first one is currently marked as stable blocking so I'd expect to see this fixed there.

[2019-09-30 18:15] antross commented on #3047
Good suggestion! I've been thinking about this a bit as well. Ultimately I'd love to see us get to a point where we can scan "continuously" once webhint is enabled, but that's probably further out. Avoiding refresh could be a good intermediate step.

One variation on this idea I've been debating is having an option where users to choose when to "stop" a scan. This approach technically would still

[2019-09-30 18:18] antross commented on #3045
I'd love to see this too.

I think to pull it off we'll need to enhance webhint's `Problem` interface to allow including reference links. Our current documentation link is for the rule's implementation all-up, but to cover this scenario we'll need to be able to link to a different page for each individual report.

[2019-09-30 21:24] digitarald commented on #3047
"continuously" is also great, maybe worth another bug to track this.

This might work for some other cases, but my case would be clicking the app in a specific state (like hitting image upload in a CMS to open the modal upload overlay) and then snapshotting webhint recommendations for that specific UI state.

[2019-09-30 23:49] leoniDEV commented on #3039
You can publish the schema on [JSON Schema Store](http://schemastore.org/json/) this enable all editors and IDEs that support [JSON Schema Store](http://schemastore.org/json/) to automatically use that schema even if does not exist an exstension for that editor or IDE

[2019-10-01 03:41] molant commented on #3039
Nice, didn't know we could do this.
From what I'm seeing the publishing process is to do a PR in that repo with the schema in `src/schemas/json`.

@antross how complete do we want to do the schema? I'm thinking that maybe we could have something on the release script that gathers all the schemas from the different pieces (hint, connectors, hints, etc.) and puts all that information together to mak

[2019-10-01 10:58] leoniDEV commented on #3039
Sorry but I'm not an export of Json-Schema and the Json-Schema Store . But for versioning you can refer to this issue SchemaStore/schemastore#197

[2019-10-01 13:12] molant commented on #2571
Blogpost went live yesterday: https://hacks.mozilla.org/2019/09/webhint-in-firefox-devtools-improve-compatibility-accessibility-and-more/

[2019-10-01 13:12] #2571 closed

[2019-10-01 14:49] bmt-systems opened #3054 "[Bug: Browser Extension] Some of my site's fonts are blocked by extension until I refresh page"
Since using Webhint, I've discovered a weird bug that I thought was a Chromium issue, but I've been able to demonstrate that it's the Webhint extension that's causing the problem.

If the Webhint extension is active, then when I first load my page, there's a delay between the time that the default/fall-back sans-serif fonts are displayed and when the specified, "first-choice" webfonts are used, in

[2019-10-01 15:34] molant commented on #3054
Does this issue happen with just the extension installed or when you run an analysis with it?

[2019-10-01 16:32] antross opened #3055 "Reduce permissions requested by the browser extension"
Currently the browser extension needs to request some fairly all-encompassing permissions:

[code]

This results in a prompt similar to the following stating that webhint can "read and change all your data on the websites you visit" (which some users may find scary/surprising):
![image](https://user-images.githubusercontent.com/785009/65980455-d12bf380-e43c-11e9-99cd-d868d487368e.png)

As a develo

[2019-10-01 17:05] bmt-systems commented on #3054
This doesn't happen during analysis, because the browser refreshes during that process.

This also doesn't happen if Chrome is already open in any other form. A single instance of Chrome is what is needed to reproduce the behavior.

With all instances of Chrome closed, open Chrome directly in an incognito window by issuing this command at a CMD prompt:

"C:\Program Files (x86)\Google\Chrome\Applic

[2019-10-01 20:36] michaelneu commented on #1745
If nobody is working on this yet, I'd like to grab this one.

[2019-10-01 20:59] molant commented on #1745
Go for it @michaelneu!

[2019-10-01 21:07] antross opened #3056 "[Feature] Include retention data as part of telemetry"
We'd like to be able to calculate a rolling 28-day retention metric as part of understanding the feature health of the browser extension. Specifically the goal is to understand how many users were active in the last 28 days (used the extension at least once), how many users were more engaged in the last 28 days (used the extension at least two different days), and how those metrics change over tim

[2019-10-01 21:20] antross commented on #3039
@molant

Agree that's the way we should do it in the long term. I'd be okay with a lightweight version to start, though. As long as we're not disallowing anything valid then getting *some* schema help would be an improvement.

[2019-10-01 21:44] molant opened #3057 "Review extension browser `devDependencies`"
We might have more things that needed (`jsdom`?)

[2019-10-01 21:49] antross opened #3058 "Make `browser` option for `connector-puppeteer` case-insensitive"
Currently `connector-puppeteer` only accepts capitalized browser names: Chrome, Chromium, Edge.
It should also support the lower case versions.

The work that should happen is:
* [Update the connector schema](https://github.com/webhintio/hint/blob/c912cae69cc498471b960cf77646a90b7356c89a/packages/connector-puppeteer/src/connector.ts#L113)
* [Update `chromium-finder`](https://github.com/webhintio/h

[2019-10-01 21:54] antross commented on #3057
Looks like it. I definitely don't think `jsdom` should be there...

[2019-10-01 21:56] antross commented on #2998
Update: This still happens on my machine 😞

I think we're going to need to add a `package.json` to the shared install to help `npm` do the right thing here. I'll try to test again later this week.

[2019-10-02 12:08] GabiOC commented on #3058
Hi @antross , I'd be happy to pick this one up!

[2019-10-02 13:30] Kilian opened #3059 "[Feature] Electron support for browser extension"
# 🚀 Feature request

## Description

Electron support for the browser extension.

When running the Chrome browser extension in Electron, which supports [devtools extensions](https://electronjs.org/docs/tutorial/devtools-extension), the scan times out. I don't get any specific error message, also not when inspecting the devtools with a remote session, so I don't know _why_.

One _hint_ (sorry) is T

[2019-10-02 15:00] molant commented on #3058
Go for it @GabiOC !

If you have any questions during the process please let us know.

[2019-10-02 15:03] molant commented on #3059
My first thought is that it's something related to local resource. IIRC we are filtering out resources that do not start with http(s).

@antross what do you think?

[2019-10-02 15:12] Malvoz commented on #2019
This issue should be closed.

The proposal for the attribute is [no longer being pursued](https://github.com/WICG/intrinsicsize-attribute/pull/18) by WICG, as a result of the conclusion in WICG/intrinsicsize-attribute#16.

### tldr

This is instead solved by UAs adding below styles to the UA stylesheet, making the attribute obsolete:
[code]

[2019-10-02 15:24] antross opened #3060 "[Hint] Recommend <link rel="preload"> for custom fonts"
Thanks to @06b, loading custom fonts in the webhint website is now faster due to preloading the resources using `<link rel="preload">` as part of  webhintio/webhint.io#838. This seems like a great best practice to recommend to other sites using custom fonts. Filing so we can consider adding a hint to recognize and recommend this.

[2019-10-02 15:24] antross opened #3061 "[Hint] Recommend `font-display: swap` for custom fonts"
Thanks to @06b, loading custom fonts in the webhint website no longer delays showing text as long due to adding `font-display: swap` as part of  webhintio/webhint.io#838. This seems like a great best practice to recommend to other sites using custom fonts. Filing so we can consider adding a hint to recognize and recommend this.

[2019-10-02 15:39] Malvoz commented on #3061
There's an [intervention](https://github.com/WICG/interventions/issues/58) for browsers to default to the `swap` value. But you're presumably checking for the computed `font-display`, and if not `swap` then prompt the recommendation?

[2019-10-02 15:50] antross commented on #3061
Good to know, thanks @Malvoz!

We'd be checking the raw source in most cases, but can adjust our feedback to only prompt if at least one of your target browsers does not default to `font-display: swap` if that change goes through.

Looking at the [MDN documentation for `font-display`](https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display), I think we'd want to allow `font-displa

[2019-10-02 15:55] antross commented on #3059
@Kilian Thanks for the suggestion! This seems like a great scenario for us to support.

If you want to dig deeper you can create your own custom build of the extension by following the steps at the top of [the CONTRIBUTING file for the browser extension](https://github.com/webhintio/hint/blob/master/packages/extension-browser/CONTRIBUTING.md). The initial build of the repo takes some time (10-20mi

[2019-10-02 16:19] blenderskool commented on #2590
@antross Can I work on this? 🙂

[2019-10-02 16:34] antross commented on #3033
Some quick build tips if you're making changes in the `hint` repo:
1. Run `yarn` and `yarn build` after checking out to get everything set up
2. `cd` to `packages/X` for whichever sub-package `X` you want to work on
3. Just run `yarn build` from `packages/X` for updates (no need to build the entire repo again)

[2019-10-02 16:35] antross commented on #2590
Absolutely @blenderskool, thanks for offering!

Feel free to ask if you need any help.

[2019-10-02 16:46] molant commented on #2019
I saw it mentioned at one talk during View Source yesterday but forgot about updating this issue.

Thanks!

[2019-10-02 16:46] #2019 closed

[2019-10-02 16:47] Kilian commented on #3059
@molant That's why I also tested with the `<webview>`, which has a regular url as origin.

@antross I'll see what I can do there, thanks!

[2019-10-02 17:42] molant opened #3062 "Store artifacts online and download them automatically on build"
Based on the research in #2982, the tasks that takes the most time and where contributors could benefit from is to store the content of the multiple `dist` folders and download them on demand.

The idea is to:

1. Use the assets generated in Azure DevOps when merging into master
   1. Zip them and upload them to a GitHub release "dist"
   1. The filename will be the hash of the commit
   1. This w

[2019-10-02 17:43] molant commented on #3062
I started working on this the other day. Initial numbers look very promising. Right now I'm battling Azure Pipelines to test everything end to end but I hope to have something soon-ish.

[2019-10-02 21:12] molant commented on #1604
[These are the current dates for the node versions](https://nodejs.org/en/about/releases/):

| Release | Status | Initial Release | Active LTS Start	| Maintenance LTS Start | End-of-life |
| ---------|--------|----------------|------------------|--------------------------|-------------- |
| v8 |	Maintenance LTS | 2017-05-30 | 2017-10-31 | 2019-01-01 | 2019-12-31 |
| v10 | Active LTS | 2018-04-24 |

[2019-10-02 21:55] sarvaje commented on #1604
I don't think we need to wait until v8 EOL, as soon we migrate to v10, the better.

[2019-10-03 07:23] molant opened #3064 "Gather all the reports to decide severity for each one"
I'll share an spreadsheet with all the information so we can decide what to do about the different reports. I expect axe and compat api to be the ones where most discussion will be needed (and maybe changes in the code?)

[2019-10-03 07:23] molant opened #3065 "Add support for new severity schema"
Add support for the new schema described in #3036

[2019-10-03 07:24] molant opened #3066 "Update all hints to new severity"

[2019-10-03 07:24] molant opened #3067 "Match VS Code severity with new ones"

[2019-10-03 07:24] molant opened #3068 "Add new severity levels to browser extension"

[2019-10-03 07:53] molant opened #3069 "Add minimum severity level option to browser extension"

[2019-10-03 08:16] molant commented on #3036
Keeping in mind that earlier this year we decided to have smaller PRs and that updating everything could take us quite a bit this is what I'm proposing. It might not be the most effective in terms of code (will have to add code that will be removed later) but I think it will allow us to keep working on other areas of the project while not breaking our users until it is really necessary.

1. Add su

[2019-10-03 10:15] molant opened #3070 "Decide severity of hints"
We need to decide the severity of each report of each hint (Error, Warning, Information, or Hint).

The current spreadsheet is available [here](https://docs.google.com/spreadsheets/u/1/d/10QzDgAELjaolUYxcuex3f9PvalhfEVO225qeILLu_vo/edit?usp=sharing).

Ideally what we should do is a first pass of all of the reports, make comment in the ones where we have doubts and then meet online to discuss the p

[2019-10-03 10:18] molant commented on #3070
We need to decide the severity of each report of each hint.

The current spreadsheet is available [here](https://docs.google.com/spreadsheets/d/10QzDgAELjaolUYxcuex3f9PvalhfEVO225qeILLu_vo/edit?usp=sharing).

Ideally what we should do is a first pass of all of the reports, make comment in the ones where we have doubts and then meet online to discuss the pending or the ones we disagree on.

I've cr

[2019-10-03 10:20] molant commented on #3064
The current spreadsheet is available [here](https://docs.google.com/spreadsheets/d/10QzDgAELjaolUYxcuex3f9PvalhfEVO225qeILLu_vo/edit?usp=sharing).

I've created #3070 to track the work we need to do to fill that spreadsheet so I'll close this issue.

[2019-10-03 10:20] #3064 closed

[2019-10-03 21:15] antross commented on #1604
Agree with the sentiment we shouldn't wait on this.

Binary dependencies have been a consistent pain so the sooner we eliminate them the better our overall install experience will be (assuming we also eliminate `canvas`).

Plus we already have dependencies that ask for v10 plus. They still work on v8 for the moment using `--ignore-engines`, but who knows how long that will last.

[2019-10-03 21:50] antross commented on #3056
After discussing with the team, everyone still feels strongly about not having user IDs in our system. As such, we'll explore using a client-maintained 28-day retention map.

#### Collection
* Client locally tracks which days it was active for the last 28 days
* When active *for the first time in a day*, client submits a list of 28 active/inactive entries
  e.g. 4-day rolling retention record acti

[2019-10-04 09:23] y-a-v-a opened #3072 "[docs] Issue with 'HTTP cache'"
https://webhint.io/docs/user-guide/hints/hint-http-cache/index.html

I was receiving a hint with this description: 'The directive "no-store" is not recommended' but in the docs I cannot find anything about "no-store", this makes it hard to understand the "why" of this hint.

[2019-10-04 16:35] Malvoz commented on #3072
If there's insufficient documentation I agree it needs clarification, but just to try to answer your question about why `no-store` is "bad": You're asking the HTTP cache not to store anything about the response, this means more bandwidth is wasted on repeated requests for that resource, but also latency due to having to fetch the resource over the network instead of retrieving it from the cache.

[2019-10-04 16:38] antross commented on #3072
Yep, we should cover that in our docs, thanks @y-a-v-a for reporting!

And thanks @Malvoz for explaining :)

@molant Looks like you added this check as part of implementing https://github.com/webhintio/hint/issues/142. From reading the ["no-store" section of HTTP Caching](https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/http-caching#no-cache_and_no-store) re

[2019-10-04 17:04] Malvoz commented on #142
FWIW, I edited the code snippet on MDN some time ago - to prevent caching it now suggests: `Cache-Control: no-store`. When @molant linked to it, it was proposing `Cache-Control: no-cache, no-store, must-revalidate` which is overkill. https://www.mnot.net/blog/2017/03/16/browser-caching confirms that browsers correctly respond to each directive, e.g.:

so there's really no scenario where `Cache-Con

[2019-10-04 22:47] molant commented on #3072
There wasn't any discussion. The reasoning behind was that:

* this directive will not come up on first load of pages which is the most common scenario (also, how can we detect that something contains sensitive information?)
* if it is really required the user will know and then it can be deactivated via `ignoredUrls` and specifying the hint to disable

Do we want to just explain this directive or

[2019-10-05 02:27] antross commented on #3072
I think we should have a small section for each one. Since there aren't that many reported by the hint, having the summary for each directly in our documentation will make this easier for users.

[2019-10-05 03:18] antross opened #3074 "Create scheduled job to process retention data"
Splitting out the processing as a separate task from the telemetry collection covered in #3056.

#### Processing
Due to some of the records containing redundant data, structured queries aren't suitable to generate the retention chart directly. Instead we'll run a daily scheduled web job to convert the records into a form that's easier to query.

As an example, using a rolling 4 day period (where `

[2019-10-05 13:12] blenderskool commented on #2590
@antross Now that I understand the project structure, I found small usage of the shadow styles in the CSS. Do I make those as CSS variables in the `app.photon.css` and `app.fluent.css`?

Also, would they be part of fluent or photon design system?

[2019-10-05 23:07] molant commented on #2590
Yes, please!

What do you mean by that? These styles are only used in the extension. We publish it for Firefox and Chromium and we try to adapt the style to each browser. There's a bit more of work we need to do for photon but in general the shadows should follow the design system of each browser 🙂

[2019-10-05 23:16] molant commented on #2095
We should look into downloading the artifacts from the closest commit history and be smart about the packages that need to be tested (related to #2029)

From https://github.com/webhintio/hint/pull/3063#discussion_r331718755

* download the assets
* identify the packages that have been modified
* build those packages

[2019-10-07 14:53] molant opened #3095 "[Docs] Improve root README.md"
We need to improve the root README.md. I'm thinking about the following sections:

* Quick start user guide (what we have right now)
* Contributing to webhint
  * How the code is organized (mono repo with all the sources)
  * How to build the project
  * How to build the browser extension and how to test it
* Further reading (links to contributor guide, architecture, etc.)

@webhintio/core what do

[2019-10-07 16:39] alrra opened #3096 "Improve what URLs are or aren't made real links in the scanner's error messages"
<img width="666" alt="screen shot 2018-02-06 at 5 08 07 pm" src="https://user-images.githubusercontent.com/1223565/35893012-db854e8c-0b60-11e8-969a-e143ed7d3827.png">

1) Should we also make protocol relative URLs real link?
2) Should we try not to make position links real links?

[2019-10-07 17:50] molant commented on #3035
Going to take a look at this now.

[2019-10-07 18:28] y-a-v-a commented on #3072
@Malvoz I think my company's devops team has added the `no-store` to HTML pages that contain specific state, so indeed we don't want it to be cached.

Thanks for the efforts to extend the documentation!

[2019-10-07 19:51] #2590 closed

[2019-10-07 19:56] antross commented on #3095
Would the intent here be to link off to [packages/extension-browser/CONTRIBUTING.md](https://github.com/webhintio/hint/blob/master/packages/extension-browser/CONTRIBUTING.md)? If so, then sounds good to me.

We should probably include "How to build and test the VS Code extension" as well referencing [packages/extension-vscode/CONTRIBUTING.md](https://github.com/webhintio/hint/blob/master/packages/

[2019-10-07 19:59] molant commented on #3095
Don't know TBH. While that seems reasonable, after the latest issues we've had with the extension submission I wonder if we should duplicate some of the information to make it easier for reviewers.

Guess we can try with the links and add more info if we run into other problems.

[2019-10-07 21:07] antross commented on #3095
I'd prefer starting with that just to try to avoid having the content get out of sync.

[2019-10-07 23:20] sarvaje commented on #3074
@antross I'm going to take this one. I will let you know if I have some questions/problems hehehe

[2019-10-08 01:47] orokanasaru opened #3097 "Hide `configuration-all` from create packages and website"
Using ` "extends": ["development", "accessibility", "web-recommended", "progressive-web-apps"],` works, but `"extends": ["all"]` gives the error below.

`npm rebuild` on different versions of node gives different versions for compiled against, but none are 69. The version required looks to be a custom electron version, but I was unable to get it to build with `electron-rebuild`. The change above s

[2019-10-08 02:12] antross commented on #3074
Great! I was hoping you would 😉

[2019-10-08 15:34] wellington1993 opened #3098 "[Hint] Hint checking existence of tabindex=-1 for disabled links or elements"
# 🚀 Hint request

Add hint for disabled elements without ```tabindex``` with value ```-1```
![Screenshot_2019-10-08 Buttons](https://user-images.githubusercontent.com/6920053/66409664-36e12800-e9c7-11e9-97d1-55d4fe269739.png)

Links:
https://developer.mozilla.org/pt-BR/docs/Web/HTML/Global_attributes/tabindex
https://getbootstrap.com/docs/4.1/components/buttons/#disabled-state

## Description

 Wh

[2019-10-08 16:08] antross commented on #3098
Thanks for the suggestion @wellington1993!

At first I was thinking this might be something for `axe` to handle (which webhint relies on for accessibility checks). Then I realized how specific this particular case is to the Bootstrap library, which now has me thinking that perhaps a set of hints to help with using Bootstrap correctly may be useful.

For this case, I could see adding a hint that lo

[2019-10-08 16:48] molant commented on #3097
Hi @orokanasaru,

`configuration-all` isn't supposed to be used by anyone. We created it so we could pull all the documentation automatically in the website in one easy step. How did you ended up using it? From the docs in the website? `npm create hintrc`? Something else? Maybe we should filter that one out.

Also you can just have `"extends": ["development", "web-recommended"]` should be enough (

[2019-10-08 17:11] #3062 closed

[2019-10-08 17:48] orokanasaru commented on #3097
I learned about `all` through `npm create hintrc`, though it's also documented on the [site](https://webhint.io/docs/user-guide/configurations/configuration-all/)

[2019-10-08 18:30] wellington1993 commented on #3098
@antross I'm suggest this because I can see the benefits without the Bootstrap too. Because ```tabindex="-1"``` appears to be useffull for accessibility.

But I appreciate the idea of a set of rules for correct use of frameworks like Bootstrap.
When bootstrap is present, the elements of the page can be iterated and searching the rules cab be applied.

If needed can be discussed here about other ru

[2019-10-08 18:35] #2249 closed

[2019-10-08 18:35] #3019 closed

[2019-10-08 18:37] molant opened #3099 "Hide config all from site documentation and create-hintrc"
I learned about `all` through `npm create hintrc`, though it's also documented on the [site](https://webhint.io/docs/user-guide/configurations/configuration-all/)

_Originally posted by @orokanasaru in https://github.com/webhintio/hint/issues/3097#issuecomment-539626967_

[2019-10-08 19:37] antross commented on #3098
Absolutely agree. In fact, the accessibility hints webhint gets from axe cover a few tabindex scenarios already, though mostly around "hidden" content as opposed to "disabled" content. Fortunately the `disabled` attribute on `input` and `button` elements already "does the right thing" with respect to focus at least so only custom scenarios like Bootstrap class names should need special handling.

[2019-10-08 19:45] arturmiz commented on #2890
Hi! What should be done in here? Any tips?

[2019-10-08 20:11] antross commented on #2890
Hi @arturmiz!

For the VS Code extension itself this will ultimately require registering for `onLanguage:vue` in the `activationEvents`: https://github.com/webhintio/hint/blob/80279dcdaa25306d5278f8f606fe3dda51bb54bc/packages/extension-vscode/package.json#L2

But before that will produce any results we'll need to teach webhint to parse `.vue` files. The `.vue` extension doesn't appear to be part o

[2019-10-08 20:23] antross commented on #2890
I should add, one thing I'm not sure about is if `onLanguage:vue` will work without the [Vetur extension](https://marketplace.visualstudio.com/items?itemName=octref.vetur) installed since `vue` is not in the [list of known language identifiers for VS Code](https://code.visualstudio.com/docs/languages/identifiers#_known-language-identifiers).

I'm hoping items outside that list are just direct mapp

[2019-10-08 21:03] #3056 closed

[2019-10-08 21:30] molant commented on #2110
I believe this is no longer needed. We have [`lint-dependencies.js`](https://github.com/webhintio/hint/blob/master/scripts/lint-dependencies.js) that does this.

[2019-10-08 21:30] #2110 closed

[2019-10-08 23:12] molant opened #3102 "Review usage of `eslint-plugin-import`"
We are using this plugin in the config but no rules are turned on for it.

We should review if we can enable those within typescript and how that works with the `js` files we have or if we should just remove it.

[2019-10-08 23:41] molant opened #3103 "Create script to detect unused dependencies"
We have a script that detects if we have a missing dependency on our `package.json` but we don't have anything that goes in the opposite sense (check `package.json` and make sure everything is used).

[2019-10-08 23:41] molant commented on #3103
Going to work on this right now because we need to clean up our dependencies for the next time we submit the extension to the Firefox store.

[2019-10-09 01:52] antross commented on #3070
@molant Maybe I'm misunderstanding the intent, but I think the `hint` level is too coarse for a blanket default severity - for a number of these I think we're going to want different severity per-report within the same hint (e.g. `meta-charset-utf8`, `no-vulnerable-javascript-libraries`, etc.)

[2019-10-09 02:14] molant commented on #3070
That's the wrong file 🤦‍♂️

[2019-10-09 02:16] molant commented on #3070
Can you try again? The [link document should be updated](https://docs.google.com/spreadsheets/u/1/d/10QzDgAELjaolUYxcuex3f9PvalhfEVO225qeILLu_vo/edit?usp=sharing).

Sorry about that. If you get any permissions issue please let me know. I tried generating a shareable link with edit permissions but I think Rachel had to request access.

[2019-10-09 16:26] antross commented on #3070
Thanks! As I start to work on this I think it may be worth discussing some high-level guidelines for when we want to use each severity level. Here are my initial thoughts:
* `Error` - Will definitely not work as intended in at least one of the target browsers
* `Warning` - Minimal impact or may not cause problems at all depending on exact usage
* `Hint` - Fine for now, but could cause problems in

[2019-10-09 20:02] #3095 closed

[2019-10-09 22:31] #2998 closed

[2019-10-10 20:05] wellington1993 opened #3105 "[Feature] Add suuport for Blocking Resources Rules"
# 🚀 Feature request

![image](https://user-images.githubusercontent.com/6920053/66601878-41deb880-eb7f-11e9-8b6d-f07d4bfbf49d.png)

and

![image](https://user-images.githubusercontent.com/6920053/66602177-f24cbc80-eb7f-11e9-91cc-e3fac7b9b0ab.png)

From:
https://developers.google.com/web/tools/lighthouse/audits/blocking-resources

## Description

Lighthouse validations off performance.

 Are you wi

[2019-10-11 09:15] y-a-v-a opened #3107 "[docs] Issue with 'Correct viewport'"
https://webhint.io/docs/user-guide/hints/hint-meta-viewport/index.html

Hi, I got the hint that the viewport meta element should be in the head and not in the body. I totally agree, and reading our HTML, I clearly see it is within the head. How can this hint appear then?

https://webhint.io/scanner/60a978e6-11b8-4953-9ff6-75f9d45a63fd#hint-meta-viewport-1

[2019-10-11 10:35] Elchi3 commented on #3035
How often do you plan to update the data? Have users reported issues with outdated information?

[2019-10-11 13:46] molant commented on #3035
Dependabot runs once per week and our plans is to publish once every other week more or less.

The issue is that the compat data is in the `utils` package that is virtually used by all our other packages. Updating `utils` means all the other packages (70+) need to be bumped and published to npm. By separating the compat data to a separate package only 4-5 packages will need to be published if only

[2019-10-11 13:53] molant commented on #3107
Looking into this @y-a-v-a

[2019-10-11 13:53] Elchi3 commented on #3035
Ah, got it now. Thank you for elaborating! :)

Yes, awesome! We should considers this if / when we start any work on https://github.com/mdn/browser-compat-data/issues/4106

[2019-10-11 14:21] molant commented on #3107
@y-a-v-a could it be that the website offers different HTML depending on where the request is coming from (or user agent or something else?).

I cannot reproduce this locally and I'm taking a look at some of the other error messages and I cannot find most of the elements with issues. Also that the cloudinary only finds 2 images to optimize is a bit suspicious to me.

While we figure this out you c

[2019-10-11 16:49] molant opened #3108 "Telemetry dashboard"
Start working on a dashboard to read the telemetry

[2019-10-13 21:38] Malvoz commented on #767
In conjunction to applying this header to CSS and JS (per section "_Should response to request be blocked due to nosniff?_" in https://fetch.spec.whatwg.org/#x-content-type-options-header), the "[Determining whether a response is CORB-protected](https://chromium.googlesource.com/chromium/src/+/master/services/network/cross_origin_read_blocking_explainer.md#Determining-whether-a-response-is-CORB_pr

[2019-10-13 22:17] Malvoz opened #3118 "[Hint] Open Graph Protocol"
I think https://github.com/webhintio/webhint.io/issues/516 warrants a hint for [OGP](https://ogp.me) implementations. 😂

I can update the list of requirements for the respective social platforms (as described in https://github.com/webhintio/webhint.io/issues/516#issue-360078914).

The hint would presumably look for:

- `<meta>` elements starting with `property="og:{...}"`
- and `prefix="og: http:/

[2019-10-14 08:29] y-a-v-a commented on #3107
Hi @molant , I could verify that if you could tell me with what UA webhint.io does the request. But still then, I even verified our templates and there's now way the viewport meta could be within the body-tag...

[2019-10-14 09:06] y-a-v-a commented on #3107
FYI I reviewed our website with your browser extension and I can confirm that the output of the extensions does not mention anything about the viewport meta element being within the body, so I only see this in the report from webhint.io.

[2019-10-14 13:01] Kilian commented on #3059
I've been trying to get this to run (on Ubuntu 18.04) folloing the contributing guidelines but I'm running into issues.

My initial `yarn build` is really fast:

[code]

but a `yarn build` in the extension-browser folder spits out this:

<details>
<summary>webhint’s yarn build error output</summary>

[code]
</details>

An additional `yarn` in that directory will say everything is ok though:
[code]

[2019-10-14 16:19] molant commented on #3059
I'm looking into this now see if I can repro.

In the meantime, the order of commands is:

1. `yarn` --> This should download all packages and create any necessary symbolic links.
1. `yarn build` --> Will download the artifacts if already available or otherwise fallback to build, so it can be really fast (otherwise it can be 10+ minutes).

[2019-10-14 16:34] molant commented on #3059
I can repro this locally. Looks like some `dist` folders don't get zipped.

[2019-10-14 18:18] molant commented on #3059
@Kilian working on a solution. [CI is currently running](https://dev.azure.com/webhint/webhint/_build/results?buildId=6714) to validate the changes and I hope to merge the change within the next couple hours 🤞

[2019-10-14 19:36] molant commented on #3059
https://github.com/webhintio/hint/pull/3119 is on the pipeline now and should fix this issue.

[2019-10-14 22:44] molant commented on #3059
Commit just got merged. You can run the command now (it will default to build everything from source as [CI hasn't finished yet](https://dev.azure.com/webhint/webhint/_build/results?buildId=6726)) or wait a bit until it's done.

[2019-10-14 23:32] molant commented on #3118
@Malvoz yes please, update the list of requirements. Looks like there should be different errors levels depending on what's missing/wrong (error, warning, info, hint). If you have already an idea of what should be each thing please share it.

Thanks!

[2019-10-15 09:05] Kilian commented on #3059
It runs now, but it does end with this warning:
[code]

Is that expected?

[2019-10-15 15:43] antross commented on #3059
@Kilian Yes, that warning is currently expected when we bundle `parser-html` using webpack as part of the `extension-browser` build.

[2019-10-15 16:50] #3103 closed

[2019-10-15 17:06] sarvaje opened #3120 "[Bug] Update proxyquire"
Proxyquire v 2.1.3 should be fixed and we should be able to update it.

rel #2025

[2019-10-15 23:05] arturmiz commented on #2890
Thanks for the detailed explanation! I started to work on it. I have already created a new simple parser but I cannot find the way to register this newly created parser inside `extension-vscode` package to make it run and attach to `fetch::end::unknown` event...

[2019-10-15 23:23] molant commented on #2890
Hi @arturmiz,

did you add the parser name to `configuration-development`? That might be what's missing in your side.

@antross has a [work in progress PR for JSX](https://github.com/webhintio/hint/pull/3109/) at the moment and you can see what he did to add it to the configuration [here](https://github.com/webhintio/hint/pull/3109/files#diff-a084bf8894e2c36068ed7a461295df8aR47)

[2019-10-16 16:18] molant commented on #2317
@tominventisbe are you using `jsdom` or `puppeteer`?

The trace you pasted points to `request` which is not used by axe. Also the way axe works is by injecting and executing a script in the context of the site so I have no idea why it will happen only with `axe/aria`  🤔

Do you have a website/projects I can use to reproduce and investigate this?

[2019-10-16 17:39] #3035 closed

[2019-10-16 18:41] sarvaje opened #3126 "[Feature] hint-typescript-config should look into the extends if a property exists or not"
Right now, if a property doesn't exists in a file, we don't check if it is already in the extended file or not.

[2019-10-16 19:34] molant commented on #3108
@hxlnt can you please list the information you want to see in the dashboard?

[2019-10-16 20:56] molant commented on #1640
[webhint-chromium-1.1.0.zip](https://github.com/webhintio/hint/files/3736366/webhint-chromium-1.1.0.zip)

[2019-10-16 22:53] molant commented on #2076
I've updated the initial comment with the different cases I've identified so far and what I think should be the expected output (haven't checked if it is possible in all scenarios).

Let me know what you think!

[2019-10-16 23:53] molant commented on #2076
Looks like most of the json issues are going to be easy to fix, we were missing `{ at: 'value' }` in a bunch of places.

While we are changing the position of the output I'd consider that a `fix` rather and a `new`.

[2019-10-17 02:40] molant commented on #2076
I'm changing my PoV and I think we should point to `"` at least on JSON:

![image](https://user-images.githubusercontent.com/606594/66973411-cbddc400-f04c-11e9-9336-9ace8285cc68.png)

Otherwise we will have an special case and I'm not sure it's worth it.

[2019-10-17 06:31] tominventisbe commented on #2317
@molant Thanks for replying.

I am indeed using `jsdom`. I am just getting started with Webhint, so I mentioned `axe/aria` as it was the first Aria package I encountered, but the same appears to happen for e.g. `axe/color`. If I keep these hints disabled by setting them to `off`, no errors show up.

I am using a local development website for testing with a self-signed certificate, but I also appea

[2019-10-17 16:14] molant commented on #2317
Thanks @tominventisbe,

I've reopened the issue to investigate.

[2019-10-17 18:15] #2037 closed

[2019-10-17 18:15] #2222 closed

[2019-10-17 20:03] antross commented on #3055
Update: testing has shown that Chromium browsers also display the "Read and change all your data on the websites you visit" text when a `"devtools_page"` is specified in the manifest (which webhint absolutely must have to function). Unfortunately that means we can't avoid the prompt there.

However we have a similar prompt in Firefox which lists three items:
![image.png](https://images.zenhubuserc

[2019-10-17 22:32] antross opened #3130 "Dashed CSS property names are only partially underlined in the VS Code extension"
E.g. if a report is generated for `background-color`, only `background` ends up underlined.

Fixing this probably requires a few steps:
* Introduce support for ranges on `Problem` (e.g. adding an optional `endColumn` and `endLine`)
* Update affected hints to provide ranges with reports
* Update the VS Code extension to map them to VS Code ranges

[2019-10-17 22:41] sarvaje commented on #3120
fixed via https://github.com/webhintio/hint/pull/3121

[2019-10-17 22:41] #3120 closed

[2019-10-18 03:44] molant commented on #2076
@sarvaje, @antross I have a few questions about where we want to report issues with `extends`.

In the case of TypeScript and after @sarvaje's changes, the error should be pointing to `compilerOptions` in most cases. E.g.: If an `extends` has `removeComments = false` the error will point to the `compilerOptions` of the file using the `extends`:

![image](https://user-images.githubusercontent.com/6

[2019-10-18 05:56] kolappannathan opened #3131 "[Bug] Redirect from http to https shold not be reported as error"
# 🐛 Bug report

## Description

Currently if a webpage redirects from http to https it is displayed as an error in Performance -> no-http-redirects. This should not be the case.

Example: [https://webhint.io/scanner/ce2ee61b-9370-4c43-ad1f-29d7cec6340a#hint-no-http-redirects-1](https://webhint.io/scanner/ce2ee61b-9370-4c43-ad1f-29d7cec6340a#hint-no-http-redirects-1)

## Environment

* __`hint` ver

[2019-10-18 14:44] antross opened #3132 "[Bug] Layout in telemetry prompt is incorrect in Chrome Canary/Dev"
Note the position of the "X":

Incorrect (Chromium Canary and Dev builds):
![image](https://user-images.githubusercontent.com/785009/67103908-a5727280-f18b-11e9-984f-d19642a7bb4f.png)

Correct (Firefox, Chromium Beta and Stable builds):
![image](https://user-images.githubusercontent.com/785009/67104001-ccc93f80-f18b-11e9-8bb4-5bdbb7a51fb4.png)

Filed a Chromium bug https://bugs.chromium.org/p/chro

[2019-10-18 16:15] sarvaje commented on #2076
@molant For what I saw in the current implementation, we are not checking if the property exists/is valid in the extend file. I opened this issue https://github.com/webhintio/hint/issues/3126 yesterday to tracking that.

This is what I think:
1. The property doesn't exist neither in the current file or in the `extend` one: point to the `compilerOptions` in the current file.
2. The property doesn't

[2019-10-18 16:31] antross commented on #3132
I think the workaround should be fairly simple. Currently the JSX for the controls in https://github.com/webhintio/hint/blob/master/packages/extension-browser/src/devtools/views/controls/notification.tsx looks like this:
[code]

And the styles organize it into a grid with two rows and two columns, with the actions spanning the second row and organized into their own sub-grid.

One possible fix wou

[2019-10-18 16:34] hxlnt opened #3133 "[Bug] Extension from the Edge extension store is corrupted"
# 🐛 Bug report

## Description

Repro steps:

1. Go to Microsoft Edge extension store in Edge Chromium (Beta)
2. Install webhint extension
3. Extension button does not appear and extension is listed as corrupted. Removing and repairing does not fix the issue.

<img width="509" alt="edge-ext" src="https://user-images.githubusercontent.com/9647195/67111008-e3ba6280-f188-11e9-9c96-c6445b248322.png">

[2019-10-18 16:38] hxlnt commented on #3133
Fixed in 1.1.0 release.

[2019-10-18 16:38] #3133 closed

[2019-10-18 16:38] mahomedalid opened #3134 "[Bug] "A valid configuration file can't be found" loop on installation"
# 🐛 Bug report

When installing webhint from WSL using `npx hint https://www.mysite.com/` the process can't create a default configuration file and remains in a loop. I know it could be something from my environment but a detailed error why file could not be created (missing utility, permissions, etc.) could be useful.

## Description

1. `$ npx hint https://www.mysite.com/`
2. A valid configurati

[2019-10-18 16:47] mahomedalid commented on #3134
Same machine, on Powershell works, so likely something with permissions on WSL.

[2019-10-18 17:00] mahomedalid commented on #3134
Default configuration returns:

 {"extends":["web-recommended"]}

But, the analyzer throws an exception trying to parse it:

AnalyzerError: Invalid configuration. ResourceError: Resource web-recommended not found

[2019-10-18 17:07] sarvaje commented on #3134
@mahomedalid can you run `npx hint https://snowballv2.azurewebsites.net/ --debug` and paste the output?

[2019-10-18 17:08] sysofwan opened #3135 "[Bug] ARIA Acessibility issue does not have html snippet"
# 🐛 Bug report
![image](https://user-images.githubusercontent.com/1856058/67113373-31859980-f18e-11e9-8e0c-86d890aff4f0.png)

## Description
The browser extension does not point to the issue in HTML for ARIA accessibility issue, see attached screenshot.

## Environment

* __webhint version:__ 1.0.3
* __Browser version:__ Firefox 69.0.3
* __URL for which webhint failed:__ internal

## `webhint` con

[2019-10-18 17:11] sarvaje commented on #3134
For now, I can't reproduce your loop error, but it doesn't work for me neither in wsl (ubuntu 18.04) because it can't find a chromium installation.

[code]

[2019-10-18 17:11] sysofwan opened #3136 "[Bug] Learn more link does not work in Firefox"
# 🐛 Bug report
Clicking on learn more link does not open the url

## Description
After scanning for issues, clicking learn more does not do anything

## Environment

* __webhint version:__ 1.0.3
* __Browser version:__ Firefox 69.0.3
* __URL for which webhint failed:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibil

[2019-10-18 17:17] antross commented on #3136
Thanks @sysofwan! I'm guessing this is probably a duplicate of #3015. Can you confirm?

[2019-10-18 17:20] antross commented on #3135
Thanks @sysofwan!

Is this something you can share internally so we can try to reproduce the issue? My alias is `tross` if you want to reach out to me on Teams.

[2019-10-18 17:20] molant commented on #3134
This is the most probable cause. I think we should detect if we are running via `npx` and if so no prompt if we don't find a configuration and go directly with the default.

@sarvaje thoughts?

[2019-10-18 17:49] sarvaje commented on #3134
I thought that the default behavior was if we don't find a configuration file, run directly the default configuration.

The problem here I think is that for some reason, he is having problem with the `web-recommended` configuration.

[2019-10-18 17:54] sarvaje commented on #3134
I have double check, and we only ask to use the default configuration if there is any problem loading the configuration, which makes this issue more weird, because the default configuration should be valid... :s

[2019-10-18 17:56] antross commented on #2888
Looks like [`@typescript-eslint/typescript-estree`](https://www.npmjs.com/package/@typescript-eslint/typescript-estree) can be used to get an ESTree compatible AST. That should allow a new `parser-typescript` to emit `parse::end::javascript` events that are compatible with existing JS hints that consume those events from `parser-javascript`. Plus, once #3109 is merged that should allow TSX content

[2019-10-18 18:00] Shri-Humrudha commented on #2198
I will pick this issue.

[2019-10-18 18:04] antross commented on #2888
Also, `@typescript-eslint/typescript-estree` may add some new node types to the emitted AST. Those will likely cause `acorn-walk` to break without adding some sort of extension support. For #3109 I used `acorn-jsx-walk` - not sure if there's an equivalent `acorn-typescript-walk` available.

[2019-10-18 18:05] molant commented on #3134
@mahomedalid can you please run `npx hint -v` to see what version are you running?

[2019-10-18 18:15] molant commented on #2198
Awesome! Let us know if you need anything @Shri-Humrudha

[2019-10-18 18:15] sysofwan commented on #3136
Yes, this a a dupe

[2019-10-18 18:20] antross commented on #3136
Thanks for confirming!

[2019-10-18 18:20] #3136 closed

[2019-10-18 18:21] antross commented on #3015
@digitarald any word on if this issue is going to get fixed in Firefox? Is there a bugzilla issue tracking it we can point to?

[2019-10-18 18:29] sysofwan commented on #3135
@antross you can try use this [link](https://sip.protection.office.com/knowyourdata?viewid=contentexplorer&flight=EnableM365ComplianceCenter,EnableKnowYourData). Log in with Microsoft account. Page will not work, but the issue repro.

[2019-10-18 18:38] Shri-Humrudha commented on #2198
I do see 7 scripts folder in respective packages. What is the best way you recommend to identify the appropriate place to look for.
![Scripts folder](https://user-images.githubusercontent.com/52764236/67119332-c773f100-f19b-11e9-9efa-be666087f2eb.png)

[2019-10-18 18:39] antross commented on #3135
Yep, that was enough to repro. Thanks @sysofwan!

Additionally, I'm only seeing this in the extension in Firefox. Running the extension in Edge (Chromium) I get the following:
![image](https://user-images.githubusercontent.com/785009/67119288-78828780-f1ac-11e9-89b5-962cda05a6d2.png)

No initial idea as to why these two are different, but the failure likely lives somewhere within our snapshot code

[2019-10-18 18:41] molant commented on #1604
Working on this right now.
Will also update docs to say to use node 10, etc.

[2019-10-18 19:09] molant commented on #2198
I think that using the search vscode options is the best way. I've tried the following:

![image](https://user-images.githubusercontent.com/606594/67121302-0a37c800-f1a0-11e9-9846-8852d1c118e3.png)

I think we want to normalize to `throw` exceptions.

[2019-10-18 19:42] mahomedalid commented on #3134
$ npx hint -v
v5.3.3

[2019-10-18 19:55] Shri-Humrudha commented on #2198
The issue description says 'Some packages have a folder scripts in them.' where I see the handling are different. The root scripts folder is already standardized to use exit code as appropriate. Please correct me if the understanding is different.

[2019-10-18 19:56] erichkray opened #3139 "[Bug] VSCode Extension applies standard HTML rules to Angular component HTML files"
# 🐛 Bug report

## Description

Install Webhint VSCode extension when developing an Angular website.
- Applies standard HTML rules to component HTML
- Flags known input binding syntax as non-allowed elements

![example](https://user-images.githubusercontent.com/6619041/67123706-ec6d6180-f1a5-11e9-98b6-68cdebf633e4.jpg)

## Environment

* __`hint` version:__ hint@5.3.3
* __`Node.js` version:__ v12.

[2019-10-18 20:11] mahomedalid commented on #3134
In case the trace is useful:

[code]

[2019-10-18 20:12] sarvaje commented on #3134
@mahomedalid can you run `npx hint https://snowballv2.azurewebsites.net/ --debug` and copy the output here?

[2019-10-18 20:22] molant commented on #2198
Most of the scripts in the root use `process.exitCode = 1` or `process.exit(1)`. There are some exceptions like `scripts\dist-management` where we `throw`.

Haven't checked `packages/PACKAGENAME/scripts` but I guess there's going to be a mix too.

We would like to replace all the `process.exit(1)` or `process.exitCode =1` (or variants) to `throw` an error unless there's a good reason to keep the c

[2019-10-18 20:28] molant commented on #3139
This is happening because we interpret all `.html` files as "full" HTML documents.

Wonder how we can make the distinction between fragments and full documents.
Maybe if we don't see a `<!doctype html>` or `<html>` tags and we are running on the local connector we could assume it's a fragment?
@antross what do you think?

[2019-10-18 20:34] antross commented on #3139
Let's check for `<!doctype html>` or `<html>` for anything that runs through `parser-html` (fragments could be pulled in via XHR even in other connectors).

@molant I think we'll also need to do something about `{{expression}}` blocks in attribute values. What do you think about expanding the `isAttributeAnExpression` check to return `true` if an attribute value contains `{`?

[2019-10-18 20:36] antross commented on #3131
Thanks @kolappannathan!

I agree this seems a bit odd to report for the top-level page. It should still make sense for sub-resources as the sub-resource should point to HTTPS to begin with.

@molant what do you think?

[2019-10-18 20:39] molant commented on #3139
Good idea. Seems like everyone uses that character for interpolation.

So if both are missing let's assume it's a fragment?

[2019-10-18 20:40] rohit-ms opened #3141 "[Hint] Dead code analysis based on unreachable code on the run time in browser"
# 🚀 Hint request

I would like to get an idea like which part of code is never get used/called when it actually runs in the browser even though it is covered by unit tests. Idea originated from finding the unused event listeners in the code. This hint can help developers if they can optimize the code base.

## Description

 What do you want webhint to test?
Analysis functions which are never used

[2019-10-18 20:44] antross commented on #3139
Yep.

[2019-10-18 20:46] fs1337 commented on #3058
@GabiOC I will pick it up if you are not working on it.

[2019-10-18 20:51] rohit-ms opened #3142 "[Hint] Responsiveness Test based on image comparison"
# 🚀 Hint request
Responsiveness Test based on image comparison. We can get the min and max resolution should be supported for the website along with the screenshot and we can compare in the run-time and give user that hint.

## Description

 What do you want webhint to test?
Image comparison on different resolutions.

 Are you willing to work on this?
Yes

## What should be tested exactly?

 Expla

[2019-10-18 20:52] molant commented on #3131
This redirect still has a perf impact (need to establish a new connection to the server) that I don't think should be masked to the user. I've seen many shared URLs that use `http` instead of `https`. If the user knows that a website supports `https` then I'd suggest that the target URL should be the https one.

That said, one thing we could do for the particular github.com case (and many other bi

[2019-10-18 21:20] mahomedalid commented on #3134
[code]

[2019-10-18 21:30] mahomedalid commented on #3134
I think I may have a hint of what is the problem. iltorb could not be installed (no prebuilt binaries for this specific ubuntu WSL version), hence loadResource is failing.

I'm installing gcc to see if that could solve the problem. I know this is could be considered very low priority because at the end puppeter will be a major challenge and I can just run this on powershell.

Details:

[code]

[2019-10-18 21:31] sarvaje commented on #3134
yep, that can be the problem, I usually install nodejs and build-essential

[2019-10-18 21:49] mahomedalid commented on #3134
Correct, after install g++ and gcc, works .. well, it fails to try to find puppeter.

[code]

[code]

[2019-10-18 22:03] sarvaje commented on #3134
Yep, that is expected in wsl1 hehehe.

[2019-10-18 22:47] molant commented on #3134
Need to merge #3140 sooner rather than later to move away from binaries 😓
Also I just saw that you are running node `9.10.0` which is no longer maintained (and not supported by webhint). Can you try updating to a more recent version see if you have the same issues?

[2019-10-18 23:26] molant commented on #3139
We have something working 😁

![image](https://user-images.githubusercontent.com/606594/67133887-e8e8d300-f1c3-11e9-9ee9-3388069903f4.png)

[2019-10-18 23:39] molant commented on #3139
There's a  PR for this now: https://github.com/webhintio/hint/pull/3145

[2019-10-18 23:43] chryw commented on #3134
Same issue here.
- **macOS Catalina** - I've been having some permission/security related issues after I updated. Maybe it's realated?
- node 10.16.3
- npm 6.9.0

`npx hint https://webhint.io` result is **blank** and it exits:
[code]

`sudo npx hint https://webhint.io` result is the loop that @mahomedalid mentioned

[code]

[2019-10-19 01:06] GabiOC commented on #3058
Hi @fs1337 , yes, go for it! Apologies, I wasn't able to find the time to work on this.

[2019-10-19 02:34] fs1337 commented on #3058
No worries, thanks for your help!

On Fri, Oct 18, 2019 at 6:07 PM GabiOC <notifications@github.com> wrote:

--
Regards,
Fangfang Sun
MS in Computer Engineering
NYU Tandon School of Engineering

[2019-10-19 14:25] Alhadis opened #3161 "Unable to run `hint` executable after global install"
## Description

After running `npm --global install hint`, no `hint` executable was linked into my `PATH`, despite [`dist/src/bin/hint.js`](https://github.com/webhintio/hint/blob/9f8af134727a795379e004c163598315a2537f64/packages/hint/src/bin/hint.ts) being listed in [`package.json`'s `bin` field](https://github.com/webhintio/hint/blob/84741292b0a04f1b3bb5922bccd7c3494b86f09d/packages/hint/package.

[2019-10-19 14:53] Alhadis commented on #3161
Ouch. Never mind, it's my own damn env. `*kicks self*`

[2019-10-19 14:53] #3161 closed

[2019-10-19 19:21] Malvoz commented on #3118
Sorry for the delay, for a proper overview of what is required/recommended for developers based on the support across platforms, I created an [OGP support & requirements](https://github.com/Malvoz/ogp-support-and-requirements) document. But things like formats and correct structure of metadata is explained in https://ogp.me.

[2019-10-21 07:48] digitarald commented on #3015
I did ping backchannels on this to get attention but somehow forgot to file a bug to track the fix, so here we go: https://bugzilla.mozilla.org/show_bug.cgi?id=1590027

[2019-10-21 10:10] Kilian commented on #3059
Electron currently doesn't support two of the Chrome extension API's that Webhint uses in the background script: `webNavigation.onCommitted` and `browser.tabs.reload`. Electron is currently moving to a new implementation of the Chrome extension API, so I'm checking if it makes sense to add support for these specific calls to the current implementation.

[2019-10-21 12:44] molant commented on #3059
FYI we want to add an option to scan a site without reloading. For this scenario reload and onComitted shouldn't be used so in theory things should then work in electron.

Is that something you'd be interested in looking into?

________________________________
From: Kilian Valkhof <notifications@github.com>
Sent: Monday, October 21, 2019 03:10
To: webhintio/hint
Cc: Antón Molleda; Mention
Subject:

[2019-10-21 12:57] Kilian commented on #3059
@molant that would mean neither call is required so that should work. It took me a very long time to track this down though, so I'd be up for it if someone could pair with me to talk me through where to make the changes for that.

[2019-10-21 18:38] molant opened #3163 "Follow OpenJS Foundation projects guidelines"
Need to make sure we check all the boxes in https://github.com/openjs-foundation/cross-project-council/issues/362

Adding the issue in our repo to make sure we don't forget about it and pinging @jorydotcom

## Project Onboarding Checklist - Webhint

**Stage: Growth**

- [ ] Adopt the OpenJS Foundation Code of Conduct
- [ ] Update project CoC reporting methods to include OpenJS Foundation escalatio

[2019-10-21 20:30] molant opened #3164 "`cpx` has a ton of vulnerabilities and it hasn't been updated in years."
`cpx` has a ton of vulnerabilities and it hasn't been updated in years.

_Originally posted by @sarvaje in https://github.com/webhintio/telemetry/diffs_

[2019-10-21 22:10] antross commented on #3135
Dug into this a bit more. The issue is due to a delay between when we snapshot the DOM of the page and when we run the `axe` accessibility checks.

Notably in Firefox the `onload` fires well before all content has been loaded so the snapshot is missing a number of elements. It's possible Chrome delays the load event for these requests which is why it doesn't hit this issue.

Ultimately making this

[2019-10-21 22:16] antross commented on #3135
@sysofwan I'd be curious to hear your thoughts on possible options to tell webhint to wait for additional content in a page. So far we've discussed a couple of ideas:
* Allow the user to specify a number of additional seconds to wait (simple, but not always consistent)
* Allow the user to specify a selector to wait for a matching element to appear in the page (requires understanding the page struc

[2019-10-21 23:33] sarvaje commented on #2317
This should be fix via 81d5f84f51596c24009089fb977e59fd05e0f28f

[2019-10-21 23:33] #2317 closed

[2019-10-21 23:34] sarvaje commented on #3074
This is done in the telemetry repository via 1115e039dfa9bc474c9ce199b1ebd50a634316da

Closing..

[2019-10-21 23:34] #3074 closed

[2019-10-22 00:01] sarvaje opened #3166 "[Breaking] Remove from hint all the "shortcuts" redirects to @hint/utils"
e.g. category.ts in `hint` only point to `@hint/utils` -- `export * from '@hint/utils/dist/src/types/category';`

Now that we are going to make some breaking changes, it would be nice to remove these "shortcuts".

[2019-10-22 15:54] antross commented on #2444
@sarvaje, @molant If we're wanting to tackle this along with other breaking changes, are there any other utilities we should consider breaking out into their own packages as part of this process (like we recently did for `@hint/utils-compat-data`?

Currently an update to `@hint/utils` requires nearly all our other packages to be updated. I think if we break these down a little more we can reduce t

[2019-10-22 16:23] sarvaje commented on #2444
Do you have any particular util in mind?

I think that the localization utils (folder 'i18n') could be a candidate to have its own package. We are using it in almost all the packages, but it is rarely modified.

Something else?

[2019-10-22 16:30] antross commented on #2444
I was thinking of `dom` in particular, though we may need to take `report` along for the ride to avoid `utils` still having a dependency on it. Since `i18n` already is used by almost everything I don't think we get much of a win by splitting it out into it's own package.

[2019-10-22 16:40] sarvaje commented on #2444
Because is used everywhere, it makes them depend on @hint/utils, so any change done to any other utils will affect to those packages, that's why I think is a good idea to move it.

[2019-10-22 16:46] antross commented on #2444
Ah, I see your point. So if we move it does that mean a number of packages can drop direct references to `@hint/utils`? Or would there be other items that still need broken out?

[2019-10-22 17:01] sarvaje commented on #2444
Because of the `meta.ts` all the hints are going to have a dependency on @hint/uitls (now it dependes on hint, but Category is parte of utils so at some point we should start pointing there and remove the shortcut from 'hint').

One way to remove the dependency in some packages would be moving to its own package:
`types` (this one includes enums and types)
`debug` (this one is also used in a lot o

[2019-10-22 17:13] antross commented on #2444
I think we could move `Category` out as part of `i18n` if we wanted.

Also where possible I think `types` should not be in a separate directory and instead live in the same folder as the related utility the types are for. Once we do that we may not need a separate `types` package - or if we do, it could me a minimal set of core enums/types like `Category` (e.g. if we don't want that as part of `i1

[2019-10-22 17:29] sarvaje commented on #2444
Now that I'm thinking, this flattened think makes more sense if we have smaller `utils` packages, for example, in the current `@hint/utils`, if I flatten everything, I could do something like this:

[code]
or even the initial example:
[code]

what `enable` does? This will enable the utils?
what `isSupported` does? check if I support an utils?

But If I have my @hint/util-compat-data`, then it is m

[2019-10-22 17:37] molant commented on #2444
There are also some stuff in hint that I believe should be in `utils` or a separate package. For example `/ src/lib/parser.ts`. This is only for JSON parsing and it is weird to have it in there. I think we had a good reason to keep it (like to big of a change?) but can't remember it.

[2019-10-22 17:39] sarvaje commented on #2444
Because it has a dependency on `engine`.

[2019-10-22 17:41] molant commented on #2444
Don't know what `engine` is used after a quick glance TBH 😓

[2019-10-22 17:44] antross commented on #2444
I don't see a `/src/lib/parser.ts` in `hint`. Were you referring to `/src/lib/types/parser.ts`? If so that's not for JSON parsing, it's the foundation for `parser-*` packages...

[2019-10-22 17:58] molant commented on #2444
Yes. It seems mostly oriented to `JSON` parsers:

[code]

Maybe there's some decoupling that needs to happen there?

[2019-10-22 18:47] antross commented on #2444
Ah, I see what you mean. Yes, feels like we should decouple that into a helper util that just JSON-related parsers can import/call.

[2019-10-22 19:22] antross commented on #3059
@Kilian I'd be willing to help here.

I'm wondering if it might first be worth making a modified build that just calls `injectContentScript(tabId)` directly in the `enable` helper of the background script to see if that's the last missing piece.

If so and we can detect that either `onCommited` or `browser.tabs.reload` is not available (or detect that we're running in Electron) we could do this au

[2019-10-22 19:41] molant opened #3171 "Decouple parser and JSON logic from `hint` package"
Ah, I see what you mean. Yes, feels like we should decouple that into a helper util that just JSON-related parsers can import/call.

_Originally posted by @antross in https://github.com/webhintio/hint/issues/2444#issuecomment-545100721_

[2019-10-22 19:45] antross commented on #2888
@alohaninja I know you were taking a look at this one. Is this still something you're interested in or should I pick it back up?

[2019-10-22 20:53] sarvaje commented on #2444
or even the initial example:

what enable does? This will enable the utils?
what isSupported does? check if I support an utils?

@molant @antross Thoughts?

[2019-10-22 21:00] sarvaje commented on #3171
Event if we move the method `finalConfig` to a helper, Parser still has the dependency on Engine.

[2019-10-22 21:49] antross commented on #2444
I'm a fan of smaller utils packages, but we should pay careful attention to where we have dependencies. Plus I still don't think we want to have too many of them so some reasonable grouping may still be necessary.

[2019-10-22 21:50] antross commented on #3171
Yes, I think the intent is that the `Parser` type will remain in `hint`, but the logic that's specific to `JSON` parsers such as `parser-typescript-config` will be moved into a helper in some `utils-*` package.

[2019-10-22 21:59] molant commented on #2444
Smaller utils packages are 👍 with me.
What if we see that a util is only used by one hint? Should we move it there?

[2019-10-22 22:01] antross commented on #2444
Maybe. We'll probably want to discuss depending on the specific util, though.

[2019-10-23 00:05] molant opened #3172 "Allow release script to release from a servicing branch"
In preparation for the next big release, we need the release script to be able to publish from a servicing branch in case we need to do any updates while we work in the newer release.

Right now the script only allows releases from `master`. The name of the branch hasn't been decided yet. Because there are many packages in the repo I'm not sure about using `5.x` as the name. Maybe `servicing`? I d

[2019-10-23 16:12] antross commented on #3172
I like `servicing` though I agree we don't want this to be a long-lived branch. My expectation would be that we'd delete it once the breaking changes have been merged. Though I'd keep changes to the release script so we can create a new `servicing` branch the next time we need to prepare breaking changes.

For any work that does need to go to `servicing` I think we should still commit it to `maste

[2019-10-23 17:11] molant commented on #3172
Yup, that was my ideas as well 🤝

[2019-10-23 17:16] hxlnt commented on #3108
I think we should be able to track when a user:
 - Enables telemetry (already in place)
 - Is active (usage on 1 day in 30-day period, can include telemetry-enabled day)
 - Is engaged (usage on 2 days within 30-day period, can include telemetry-enabled day)
 - Starts a scan
 - Completes a scan
 - Cancels a scan

As I understand from @antross, we can collect these usage stats for a given user witho

[2019-10-23 18:02] #3172 closed

[2019-10-23 23:39] sarvaje commented on #2444
@antross @molant one question, do we still want to be able to access as before.
For example, to access to the function `readFile`, it would be
[code]

and also

[code]

[2019-10-24 00:28] molant commented on #2444
Can we do something like `from '@hint/utils/fs'`?

________________________________
From: Jesus David García Gomez <notifications@github.com>
Sent: Wednesday, October 23, 2019 16:39
To: webhintio/hint
Cc: Antón Molleda; Mention
Subject: Re: [webhintio/hint] [Feature] Allow flattened imports from utils (#2444)

@antross<https://github.com/antross> @molant<https://github.com/molant> one question, do

[2019-10-24 02:54] antross commented on #2444
I'm fine dropping `import { fs } from '@hint/utils'` in favor of only supporting the flattened `import { readFile } from '@hint/utils'`.

I agree `import { readFile } from '@hint/utils/fs'` may still be needed for webpack purposes, though I expect that to still work anyway unless we move files around.

[2019-10-24 03:02] #2889 closed

[2019-10-24 03:12] molant commented on #2444
So if I understood this correctly:

* Flatten everything to the first level even if it is a bit weird (let's hope there isn't any collusion)
* Implement `Friendlier import syntax` (#2194)

Is that right? If so, I'm OK with it 🙂

[2019-10-24 03:21] molant opened #3174 "[Bug] Formatter-summary isn't i18n"
This formatter is the only one that isn't ready for internationalization.

[2019-10-24 03:32] antross commented on #2444
No, I misunderstood about `@hint/utils/fs` - I was thinking that was the existing `@hint/utils/dist/src/fs` reference and I'm not sure we'll need it after this work. I'm thinking more:
* Break out select utils into new `@hint/utils-*` packages (e.g. `debug`, `dom`, `css`, and `i18n`).
* Flatten everything remaining to the first level (fewer things should be weird due to the first step)

[2019-10-24 10:45] kolappannathan commented on #3131
@molant In this case, I type only github.com and webhint automatically took it as "http".

[2019-10-24 16:05] hxlnt opened #3175 "[Bug] Hint descriptions cut off in VS Code extension"
# 🐛 Bug report

## Description

Hint text is cut off in VS Code extension. It would be nice to either word wrap the descriptions or have the full text appear on hover.

![image](https://user-images.githubusercontent.com/9647195/67503250-28884280-f63c-11e9-81bc-0bd656a450fd.png)

## Environment

* __`OS`:__ Windows 10

[2019-10-24 16:15] antross commented on #3175
@hxlnt We'll have to file this on VS Code. We have no control over the UX presented here other than to provide the message text and a few pieces of metadata.

[2019-10-24 16:26] #3175 closed

[2019-10-24 18:41] antross opened #3177 "Specify position ranges for JSON files"
Most of the time `Position` objects translate to VS Code fine without an end position, but some scenarios (like pointing to the opening curly `{` of an object literal) do not.

This should include updating tests to specify ranges where needed building on the work in  https://github.com/webhintio/hint/pull/3138/files#r338139101. Though we may want to make `match` optional for cases like this where

[2019-10-24 19:19] molant opened #3179 "[Feature] Support new severity levels in html-formatter"
As part of #3036 (and follow up of #3070 and #3071) we need to update the HTML formatter to report new severity values.

Right now the HTML formatter (used on the website) only supports Error and Warning but we are going to have Hint and Information as well.

Also the current logic assumes that all reports for the same hint have the same value (i.e.: all reports for `hint-compression` will be of t

[2019-10-24 19:20] antross opened #3180 "Display internal hint failures differently than errors/warnings"
Today if an internal piece of a hint fails it emits an error/warning in the results. This can be a bit confusing as there's not anything necessarily wrong with the content being analyzed.

If we report this differently internally (e.g. using `Severity.off` for internal failures to indicate a hint failed to run) we can surface this in the UI of the online scanner and browser extension to more clear

[2019-10-24 19:21] molant opened #3181 "[Feature] Update browser extension to support new severity values"
As part of #3036 (and follow up of #3070 and #3071) we need to update the browser extension to report new severity values.

Right now it only supports Error and Warning but we are going to have Hint and Information as well.

Also we will need to allow the user to set the threshold.

This requires design and implementation work so assigning to @ststimac.

[2019-10-24 19:25] molant opened #3182 "[Feature] Update formatters to support new severity values"
As part of #3036 (and follow up of #3070 and #3071) we need to update all formatters (except HTML) to support the new severity values.

We might want to tweak the output of some of these (like maybe summary?)

[2019-10-24 19:29] molant commented on #3068
Closing in favor of #3181

[2019-10-24 19:29] #3068 closed

[2019-10-24 19:38] molant commented on #3070
@antross and myself have gone through the excel file and agree on the severity of each message.

@digitarald, @malvoz (or anyone interested in this subject) it will be great if you could take a look and say if you disagree with anything.

I plan on leaving this issue for a few (working) days before closing it and start working on implementing the messages (and we can also update the severity later

[2019-10-24 21:19] molant opened #3183 "[Feature] Incremental builds from downloaded artifacts"
Right now we are generating (and downloading) artifacts from most commits in master.
While this is great for first time contributors, it does not accelerate the CI system because we are always generating from scratch (scheduled, merges in master, PRs).

One way to work around this and save a few minutes is to build from the latest "checkpoint":"

- Go through the current git history
- Pick the mos

[2019-10-25 02:49] molant opened #3185 "Look into Azure Pipelines stages to see if we can accelerate some parts"
[Azure Pipelines now has stages](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/stages?view=azure-devops&tabs=yaml)

We should look into them to see if we can reduce the time each worker runs.

For example: build with one and reuse the artifacts in other workers to test (and in parallel we could run `yarn`).

[2019-10-25 15:19] Malvoz opened #3187 "[Docs Bug] Check links in content-type docs"
Affected documentation: https://webhint.io/docs/user-guide/hints/hint-content-type/

The information in the source destination for "[media type may be required](https://developer.mozilla.org/en-US/docs/Web/HTML/Using_the_application_cache#Referencing_a_cache_manifest_file)" seems to be incorrect/outdated.

[2019-10-25 16:32] molant commented on #3057
This was done a few days ago via #3104

[2019-10-25 16:32] #3057 closed

[2019-10-25 17:25] #3130 closed

[2019-10-25 20:54] #2888 closed

[2019-10-27 19:12] Malvoz commented on #3070
I have reviewed all the hints, and agree with your take on the severity of each report, but regarding the [`hint-content-type` report](https://docs.google.com/spreadsheets/d/10QzDgAELjaolUYxcuex3f9PvalhfEVO225qeILLu_vo/edit#gid=1093046857):

I think it'd be safer in terms of interoperability to also have this be "_Error if `no-sniff` is present. Warning otherwise._", such that we allow the browser

[2019-10-28 04:09] molant commented on #3139
#3145 got merged so closing this. We will do a release soon with this enabled 🎉

[2019-10-28 04:09] #3139 closed

[2019-10-28 04:11] molant commented on #2076
@sarvaje can you please update the table on the top with the things that you've fixed and add any missing item?

[2019-10-28 04:20] molant commented on #3187
Need to address this before the next release which should be on Monday/Tuesday

[2019-10-28 16:03] sarvaje commented on #2076
@molant done!. I don't remember missing anything.

[2019-10-28 16:54] molant commented on #2076
I mean from my list. Maybe you fixed something else that wasn't listed there.

[2019-10-28 17:08] sarvaje commented on #2076
Ahh, ok, no, I only fix the underline of the values :)

[2019-10-28 19:15] molant commented on #3070
TL;DR; I think it's an easy check and we should probably do it.

@antross I believe we discuss exactly this so hopefully I can get our reasoning right.

IIRC we want hints as independent as possible. We are already checking for `no-sniff` as another one and that's why we decided not to add more logic to this one and use `Warning` instead of `Error`. That said, adding the check for `no-sniff` in he

[2019-10-28 19:40] Malvoz opened #3197 "Improving annotations in hint messages"
While running a test scan using the Chrome extension (which is awesome by the way!), I noticed that the (unwritten) convention for code annotation differs from hint to hint, for example:

<blockquote>
<details open>
<summary>Correct `Content-Type` header</summary>
<p>'content-type' header charset value should be 'utf-8'.</p>
</details>
</blockquote>

<blockquote>
<details open>
<summary>HTTP cache

[2019-10-28 20:22] molant commented on #3197
Yes please!

We did a big push to normalize those a while back but we must have missed some since then.
IIRC we try to end up everything with `.`. Not sure about `'` vs `"` TBH (I think most use `'`?).

[2019-10-28 20:41] antross commented on #3197
We also had @digitarald mention the following in #3046 which I feel is related:

I think that might be easier to consider in the future if we consistently use backticks (`) in our messages to wrap code-related properties and values (like Markdown). What does everyone think?

[2019-10-28 20:50] antross opened #3199 "[Feature] Make JS AST walker more resilient to AST format changes"
Currently webhint relies on the `acorn-walk` utility to provide helpers for walking JS ASTs. Unfortunately this utility hard-codes known AST node types and throws an error when encountering unknown types. Today webhint adapts `acorn-walk` using the `acorn-jsx-walk` package for JSX nodes and some custom code for TypeScript nodes. However, this doesn't scale well as new concepts are added.

I think

[2019-10-28 20:53] molant commented on #3197
SGTM

[2019-10-28 21:02] antross commented on #3070
Thanks @Malvoz!

@molant I think we just missed this case. We already proposed checking for `no-sniff` in this particular hint for a different message. I agree this seems like another reasonable place to make that distinction. I'm not sure what browsers do here, but ignoring `X-Content-Type-Options: nosniff` seems unlikely.

[2019-10-28 21:56] #1780 closed

[2019-10-28 22:34] Malvoz commented on #3197
SGTM2

[2019-10-29 12:46] ldevernay opened #3201 "[Bug] Bug description"
# 🐛 Bug report

## Description
Audited website is : https://www.observatoire-dpe.fr/index.php/
Firefox plugin crashes totally.
Online webhint crashes too, but only on accessibility.

## Environment

* __webhint version:__ 1.1.1
* __Browser version:__ Mozilla/5.0 (X11; Linux x86_64; rv:69.0) Gecko/20100101 Firefox/69.0
* __URL for which webhint failed:__ https://www.observatoire-dpe.fr/index.php/

[2019-10-29 16:21] antross commented on #3201
Thanks for the report @ldevernay!

Digging into this a bit I see the browser extension seems to fail when trying to snapshot the DOM:
[code]

Given the library in the callstack I'm suspecting both webhint's browser extension DOM snapshot utility and `axe-core` (which powers webhint's accessibility checks) are being affected by overrides to native APIs in the page.

[2019-10-29 16:42] molant commented on #3187
I've gone through the docs and I believe the link is correct although it seems a bit out of context:

Also we are talking about application cache which is deprecated so... A few options:

1. Explain in the text that this is for the case of application cache
1. Remove the link
1. Find another scenario where this applies

Easiest one will be 2 although I think it will be better if we find another ex

[2019-10-29 19:17] #2713 closed

[2019-10-29 19:17] #2776 closed

[2019-10-30 03:04] Jxck opened #3204 "[docs] Issue with 'HTTP cache' why must-revalidate is not recommended ?"
https://webhint.io/docs/user-guide/hints/hint-http-cache/index.html

[code]

why it's not recommended ?

[2019-10-30 04:32] molant commented on #3204
The names of the directives aren't super clear. In fact, they do usually the opposite of what you expect and that can create unexpected results for most developers.

[This article](https://jakearchibald.com/2016/caching-best-practices/) explains in detail all the directives, what they do and what the final recommendation is.

Hope it helps!

[2019-10-30 05:30] Jxck commented on #3204
not only for must-revalidate, tons of developer think no-cache as what do in no-store.

not only for must-revalidate, cache is potentially difficult. if you can't use it correctly, it breaks.

must-revalidate is a standard feature which supported by browser/proxy etc
It should used by developer without no recommendation from someone in my opinion.
if must-revalidate is really a no-recommended feat

[2019-10-30 18:01] Malvoz commented on #3204
Even Googlers get this wrong https://github.com/GoogleChrome/web.dev/issues/609...

I was also questioning the recommendation of not using this directive only a few days ago, any Cache-Control related directive is useful under the right circumstances.

Developers need easy-to-read documentation. Should probably aim to improve the hint's documentation, if needed.

[2019-10-30 18:35] Malvoz commented on #624
RedBot is really useful, and it has [opinions on the webhint.io configs](https://redbot.org/?uri=https%3A%2F%2Fwebhint.io). :P

[2019-10-30 20:23] sarvaje opened #3206 "[Bug] Could not find a declaration file for module 'request'"
# 🐛 Bug report

## Description

If I use `@hint/utils` and enable `strict: true` in my tsconfig.json, then I get this error.

[code]

## Environment

* __`@hint/utils` version:__ 6.1.0
* __`Node.js` version:__ 12

[2019-10-30 21:18] molant commented on #3206
You mean from a different project, right?

We probably have to add `@types/request` to `dependencies` and not just `devDependencies`. Might be worth looking into the other types as well.

[2019-10-30 21:24] sarvaje commented on #3206
yes, sorry I forgot to mention that hehehe.

[2019-10-30 21:24] sarvaje commented on #3206
That is the only error I get for now.

[2019-10-30 21:50] molant commented on #3206
Can you add `@types/request` as a `devDependency` in your project and add `@types/request` as a `dependency` in your flattening PR?

Don't think we are going to publish `utils` again until the next breaking unless there's a major thing going on.

[2019-10-30 22:53] sarvaje commented on #3206
Sure, I can do that.

[2019-10-30 22:56] sarvaje commented on #3206
done!

[2019-10-31 03:33] Jxck commented on #3204
needed.
not recommended with no reason are only loss-information. not easy to read.

[2019-10-31 04:02] molant commented on #624
Will be good to have more info about this one:

We should be sending it 🤔

[2019-10-31 04:20] molant commented on #3204
webhint's goal is to provide feedback that applies to most scenarios out of the box.
It's impossible to create a tool that fits every scenario and that's why we don't give a score, provide links to more documentation so you can decide if a particular report applies to you or not, etc.

We are working on having more granularity on the [severity of each report](https://github.com/webhintio/hint/issu

[2019-10-31 22:16] molant opened #3207 "[Bug] Release script doesn't calculate changes correctly for new packages"
The release script correctly publishes a new package, but the next time it is run it bumps it to 1.0.1 even if there hasn't been any changes.

It could be related to the commit "Chore: Update packages and references" that technically is part of the previous release but I believe it gets included in the changelog of the next one.

We need to fix this before releasing the new utils packages

[2019-11-01 16:36] molant opened #3208 "[Severity Updates] hint-amp-validator"
Severity should come from the validator it self. Not sure if we are doing the match right now

| Report | Severity |
| --------| ----------|
| Message from validator | Severity from validator |

[2019-11-01 16:42] molant opened #3209 "[Severity Updates] hint-apple-touch-icons"
| Report | Severity |
| --------| ----------|
| Message to show when the icon request fail: '$1' could not be fetched (request failed). | Error |
| Message to show when the icon request fail: '$1' could not be fetched (status code: $2). | Error|
| Message to show when the 'apple-touch-icon' element is duplicated: 'apple-touch-icon' link element is not needed as one was already specified. | Warning

[2019-11-01 16:43] molant opened #3210 "[Severity Updates] Hint-axe"
| Report | Severity |
| --------| ----------|
| metadata name: XXXX | map impact |
| Message to show when there is an error running the script: $1. Please try again later, or report an issue if this problem persists. | Warning |

[2019-11-01 16:44] molant opened #3211 "[Severity Update] hint-babel-config"
| Report | Severity |
| --------| ----------|
| is-valid hint metadata name: Valid Babel configuration | Error |

[2019-11-01 16:45] molant opened #3212 "[Severity Updates] hint-button-type"
| Report | Severity |
| --------| ----------|
| Message to show when a button doesn't have a type attribute.: Button type attribute has not been set | "Warning if the button is in a form. Hint if we don't know" |
| Message to show when a button type attribute is not valid.: Invalid button type: $1 | Error |

[2019-11-01 16:46] molant opened #3213 "[Severity Updates] Hint-compat-api"
| Report | Severity |
| --------| ----------|
| Message showing a feature which can be added to enhance support.: Add '$1' to support $2. | Error |
| Message to show when a feature is not supported: '$1' is not supported by $2. | Warning |

[2019-11-01 16:48] molant opened #3214 "[Severity Updates] hint-content-type"
| Report | Severity |
| --------| ----------|
| Report message when the charset in the content type is not valid: 'content-type' header charset value should be '$1'. | Warning |
| Report message when the charset in the content type is not valid: 'content-type' header charset value should be '$1', not '$2'. | Warning |
| Report message when content type value fails to parse: 'content-type' header v

[2019-11-01 16:49] molant opened #3215 "[Severity Updates] hint-create-element-svg"
| Report | Severity |
| --------| ----------|
| Report message when the validation fails: SVG elements cannot be created with createElement; use createElementNS instead | Error |

[2019-11-01 16:50] molant opened #3216 "[Severity Updates] hint-css-prefix-order"
| Report | Severity |
| --------| ----------|
| Report message to show when the validation fails: '$1' should be listed after '$2'. | Warning |

[2019-11-01 16:51] molant opened #3217 "[Severity Update] hint-disown-opener"
| Report | Severity |
| --------| ----------|
| Missing noopener | Error |
| Missing noreferrer | Warning |

Will have to review this feedback once noopener starts being on by default

[2019-11-01 16:53] molant opened #3218 "[Severity Updates] hint-doctype"
| Report | Severity |
| --------| ----------|
| Report message when a doctype is duplicated: 'doctype' is not needed as one was already specified. | Warning |
| Report message when a doctype is not specified: 'doctype' was not specified. | Error |
| Report message when a doctype is not specified as '<!doctype html>': 'doctype' should be specified as '<!doctype html>'. | Error if resulting docmode

[2019-11-01 16:55] molant opened #3219 "[Severity Updates] hint-highest-available-document-mode"
| Report | Severity |
| --------| ----------|
| Report message when 'x-ua-compatible' doesn't have the value 'ie=edge': 'x-ua-compatible' header value should be 'ie=edge', not '$1'. | Error |
| Report emssage when the 'x-ua-compatible' meta element is duplicated: 'x-ua-compatible' meta element is not needed as one was already specified. | Warning |
| Report message when the 'x-ua-compatible' meta

[2019-11-01 16:56] molant opened #3220 "[Severity Updates] hint-html-checker"
| Report | Severity |
| --------| ----------|
| Messages from server | Severity from server |

[2019-11-01 16:58] molant opened #3221 "[Severity Updates] hint-https-only"
| Report | Severity |
| --------| ----------|
| Report message when the site is not serverd over HTTPS: Should be served over HTTPS. | Error unless domain is on HSTS list |
| Report message when a redirect to a non HTTP is detected: Should not be redirected from HTTPS. | Error |
| Report message when the site is not serverd over HTTPS: Site should be served over HTTPS. | Error |

[2019-11-01 17:00] molant opened #3222 "[Severity Updates] hint-http-cache"
| Report | Severity |
| --------| ----------|
| Report message when the directives are invalid: The $1 $2 $3 invalid | Error |
| Report message when the directives have invalid value: The following $1 an invalid value: $2 | Error |
| Report message when a directive is not recomended: The directive "$1" is not recommended | Warning |
| Report message when a cache busting pattern is not configured:

[2019-11-01 17:05] molant opened #3223 "[Severity Updates] hint-http-compression"
| Report | Severity |
| --------| ----------|
| Report message when response is not compressed with Brotli over HTTPS: Response should be compressed with Brotli when Brotli compression is requested over HTTPS. | Warning |
| Report message when response is not compressed with Brotli over HTTPS, regardless of the user agent: Response should be compressed with Brotli when Brotli compression is reques

[2019-11-01 17:07] molant opened #3224 "[Severity Updates] hint-image-optimization"
| Report | Severity |
| --------| ----------|
| Log message when there is an error processing an image.: Error processing image $1 with cloudinary | Error |
| Report message when a image could be smaller: '$1' could be around $2kB ($3%) smaller. | Warning if over threshold, Hint otherwise |
| Log messag when a configuration for cloudinary can't be found: No configuration found for cloudinary | Err

[2019-11-01 17:08] molant opened #3225 "[Severity Updates] hint-manifest-app-name"
| Report | Severity |
| --------| ----------|
| Report message when a property is empty: Web app manifest should have non-empty '$1' property value. | Error |
| Report message when a property doesn't exists: Web app manifest should have '$1' property. | Error |
| Report message when a property value is too long: Web app manifest should have '$1' property value under $2 characters. | Warning |

[2019-11-01 17:09] molant opened #3226 "[Severity Updates] hint-manifest-exists"
| Report | Severity |
| --------| ----------|
| Report message when there are more than one manifest: 'manifest' link element is not needed as one was already specified. | Warning |
| Report message when the manifest has an empty href attribute: 'manifest' link element should have non-empty 'href' attribute. | Error |
| Report message when the manifest file cannot be loaded due to network failure.

[2019-11-01 17:10] molant opened #3227 "[Severity Updates] hint-manifest-file-extension"
| Report | Severity |
| --------| ----------|
| Report message when the file extension doesn't exists: Web app manifest should have the filename extension '$1'. | Warning |
| Report message when the file extension is incorrect.: Web app manifest should have the filename extension '$1', not '$2'. | Hint if ".json", Warning otherwise |

[2019-11-01 17:12] molant opened #3228 "[Severity Updates] hint-manifest-icons"
| Report | Severity |
| --------| ----------|
| Report message when an icon can't be fetched: Icon could not be fetched (request failed). | Error |
| Report message when an icon request return an status code !== 200: Icon could not be fetched (status code: $1). | Error |
| Report message when the image type is not valid: Icon should be a valid image type $1 | Error |
| Report message when an icon

[2019-11-01 17:13] molant opened #3229 "[Severity Updates] hint-manifest-is-valid"
| Report | Severity |
| --------| ----------|
| Report message when a property has an invalid value: Web app manifest should not have invalid value '$1' for property '$2'. | Error |
| Report message when a property has an unsupported value: Web app manifest should not have unsupported value '$1' for property '$2'. | Error |
| Report message when the web app manifest is not a valid JSON: Web app ma

[2019-11-01 17:14] molant opened #3230 "[Severity Updates] hint-manifest-scoped-urls"
| Report | Severity |
| --------| ----------|
| Report message when the property 'start_url' not found in manifest file: Property 'start_url' not found in manifest file | Warning |
| Report message when the request for 'start_url' fails: Request failed for 'start_url' | Error |
| Report message when the response for 'start_url' has a status code !== 200: Specified 'start_url' is not accessible. (s

[2019-11-01 17:18] molant opened #3231 "[Severity Updates] hint-meta-charset-utf-8"
| Report | Severity |
| --------| ----------|
| Report message when the 'charset' meta element is duplicated: 'charset' meta element is not needed as one was already specified. | Warning |
| Report message when the 'charset' meta element is not the first element in '<head>': 'charset' meta element should be the first thing in '<head>'. | Hint if within 1024, Error if after 1024 |
| Report message

[2019-11-01 17:20] molant opened #3232 "[Severity Updates] hint-meta-theme-color"
| Report | Severity |
| --------| ----------|
| Report message when the 'theme-color' meta element is duplicated: 'theme-color' meta element is not needed as one was already specified. | Warning |
| Report message when the 'theme-color' meta element has an invalid value for 'content': 'theme-color' meta element 'content' attribute should not have invalid value of '$1'. | Error |
| Report message w

[2019-11-01 17:21] molant opened #3233 "[Severity Updates] hint-meta-viewport"
| Report | Severity |
| --------| ----------|
| Report message when the 'viewport' meta element has disallowed values in 'content': 'viewport' meta element 'content' attribute value should not contain disallowed property '$1'. | Error |
| Report message when the 'viewport' meta element is duplciated: 'viewport' meta element is not needed as one was already specified. | Warning |
| Report message w

[2019-11-01 17:22] molant opened #3234 "[Severity Updates] hint-minified-js"
| Report | Severity |
| --------| ----------|
| Report message when a JavaScript can be minified: JavaScript content should be minified. | Warning |

[2019-11-01 17:23] molant opened #3235 "[Severity Updates] hint-no-bom"
| Report | Severity |
| --------| ----------|
| Report message when a resource can't be fetched: Content could not be fetched. | Error |
| Report message when a text-based resource start with BOM character: Text-based resource should not start with BOM character. | Warning |

[2019-11-01 17:24] molant opened #3236 "[Severity Updates] hint-no-broken-links"
| Report | Severity |
| --------| ----------|
| Report message when a link is broken: Broken link found (domain not found). | Error |
| Report message when a link return a 'broken' status code: Broken link found ($1 response). | Error |
| Report message when a url is invalid: Broken link found (invalid URL). | Error |

[2019-11-01 17:25] molant opened #3237 "[Severity Updates] hint-no-disallowed-headers"
| Report | Severity |
| --------| ----------|
| Report message when the response includes a disallowed header: Response should not include disallowed $1 header. | Warning |
| Report message when the response includes multiple disallowed headers: Response should not include disallowed $1 headers. | Warning |
| Report message when the 'server' header contains more than the server name: 'server' head

[2019-11-01 17:26] molant opened #3238 "[Severity Updates] hint-no-friendly-error-pages"
| Report | Severity |
| --------| ----------|
| Report message when the error page is under the threshold: Response with status code $1 should have more than $2 bytes. | "Hint if IE is in target browsers Off otherwise" |

[2019-11-01 17:27] molant opened #3239 "[Severity Updates] hint-no-html-only-headers"
| Report | Severity |
| --------| ----------|
| Report message when a response includes a unneeded header: Response should not include unneeded $1 header. | Warning |
| Report message when a response includes multiple unneeded headers: Response should not include unneeded $1 headers. | Warning |

[2019-11-01 17:28] molant opened #3240 "[Severity Updates] hint-no-http-redirects"
| Report | Severity |
| --------| ----------|
| Report message when a redirect are detected: $1 redirect detected for '$2' (max is $3). | Warning |
| Report message when a redirect are detected: $1 redirects detected for '$2' (max is $3). | Warning |

[2019-11-01 17:28] molant opened #3241 "[Severity Updates] hint-no-p3p"
| Report | Severity |
| --------| ----------|
| Report message when P3P is detected: P3P should not be used as it is deprecated. | Error |

[2019-11-01 17:30] molant opened #3242 "[Severity Updates] no-protocol-relative-urls"
| Report | Severity |
| --------| ----------|
| Report message when a protocol relative URL is found: '$1' should not be specified as a protocol-relative URL. | "Hint if page is https Warning otherwise" |

[2019-11-01 17:31] molant opened #3243 "[Severity Updates] hint-no-vulnerable-javascript-libraries"
| Report | Severity |
| --------| ----------|
| Report message when the execution of the script fails: Error executing script: '$1' | Warning |
| Report message when evaluating the script takes too long: webhint did not return the result fast enough | Warning |
| Report message when there is an error running the script: $1. Please try again later, or report an issue if this problem persists. | War

[2019-11-01 17:32] molant opened #3244 "[Severity Updates] hint-performance-budget"
| Report | Severity |
| --------| ----------|
| Report message when the validation fails: To load all the resources on a $1 network, it will take about $2s in optimal conditions (that is $3s more than the $4s target). | Hint: 90-<100% <br> Warning: >=100%-<150% <br> Error: >=150% |

[2019-11-01 17:33] molant opened #3245 "[Severity Updates] hint-scoped-svg-styles"
| Report | Severity |
| --------| ----------|
| Report rule message when the validation fails: A '<style>' inside '<svg>' should not affect elements outside of that subtree. | Error |
| Report affected element message when the validation fails: Styles from an unrelated SVG subtree matched this element using the following selector: '$1' | Error |

[2019-11-01 17:34] molant opened #3246 "[Severity Updates] hint-sri"
| Report | Severity |
| --------| ----------|
| Report message when the algorightm used doesn't meet the baseline: The hash algorithm "$1" doesn't meet the baseline "$2" in resource $3 | Warning |
| Report message when a resource can't be downloaded: Can't get the resource $1 | Error |
| Report message when the attribute crossorigin has an inavlid value: Attribute "crossorigin" for resource $1 doe

[2019-11-01 17:35] molant opened #3247 "[Severity Updates] hint-ssllabs"
| Report | Severity |
| --------| ----------|
| Report message when SSL Labs cannot get results: Could not get results from SSL Labs for '$1'. | Warning |
| Report message when the resources doesn't support HTTPS: '$1' does not support HTTPS. | Error |
| Report message when the server doesn't meet the minimum grade required: $1's grade $2 does not meet the minimum $3 required. | Error |
| Report m

[2019-11-01 17:37] molant opened #3248 "[Severity Updates] hint-strict-transport-security"
| Report | Severity |
| --------| ----------|
| Report message when there is an error getting the preload eligibility: Error with getting preload eligibility for $1. | Error |
| Report message when there is an error getting the preload status: Error with getting preload status for $1. | Error |
| Report message when a 'strict-transport-security' header has more than one 'name': 'strict-transport-s

[2019-11-01 17:38] molant opened #3249 "[Severity Updates] hint-stylesheet-limits"
| Report | Severity |
| --------| ----------|
| Report message when the maximum of nested imports is reached: Maximum of $1 nested imports reached ($2) | Error |
| Report message when the maximum of CSS rules is reached: Maximum of $1 CSS rules reached ($2) | Error |
| Report message when the maximum of stylesheets is reached: Maximum of $1 stylesheets reached ($2) | Error |

[2019-11-01 17:38] molant opened #3250 "[Severity Updates] hint-summary-display"
| Report | Severity |
| --------| ----------|
| Report message when a change of the diplay property is detected in a summary element: Changing display of a summary tag hides open/close icon | Error |

[2019-11-01 17:39] molant opened #3251 "[Severity Updates] hint-typescript-config"
| Report | Severity |
| --------| ----------|
| Couldn't find package "tslib". | Error |
| Report message when the option 'forceConsistentCasingInFileNames' is not enabled: The compiler option "forceConsistentCasingInFileNames" should be enabled to reduce issues when working with different OSes. | Warning |
| Report message when the option 'importHelpers' is not enabled: The compiler option "impor

[2019-11-01 17:42] molant opened #3252 "[Severity Updates] hint-validate-set-cookie-header"
| Report | Severity |
| --------| ----------|
| Report message when the header contains duplicated directives: '$1' header contains more than one $2. | Warning |
| Report message when the header contains prefix but the domain directive is set: $1 header contains '__Host-' prefix but the 'domain' directive is set. | Error |
| Report message when the header contains prefixes from an insecure page: '

[2019-11-01 17:42] molant opened #3253 "[Severity Updates] hint-webpack-config"
| Report | Severity |
| --------| ----------|
| Report message when modules option si not false: Babel presets `modules` option should be `false` | Error |
| Report message when a webpack configuration file doesn't exists: webpack configuration file not found in your project. | Off |
| Report message when the compilerOptions.module doesn't have esnext configured: TypeScript `compilerOptions.module

[2019-11-01 17:43] molant opened #3254 "[Severity Updates] hint-x-content-type-options"
| Report | Severity |
| --------| ----------|
| Report message when the 'x-content-type-options' header value is not 'nosniff': 'x-content-type-options' header value should be 'nosniff', not '$1'. | Error |
| Report message when the response doesn't include the header 'x-content-type-options': Response should include 'x-content-type-options' header. | Error |

[2019-11-01 20:32] #3065 closed

[2019-11-03 21:27] molant commented on #3217
Right now this hint combines if both values are missing. Do we want to keep the same behavior or report each missing value independently?

If we keep the same behavior then we will have:

| Report | Severity |
| --------| ----------|
| Missing noopener and noreferrer | Error |
| Missing noopener | Error |
| Missing noreferrer | Warning |

@webhintio/core thoughts?

[2019-11-04 14:24] pmd-bgermain opened #3262 "[Bug] Polyfill.io blocks the tests in local environment"
# 🐛 Bug report

## Description

I installed webhint locally on my computer and when I launch a hint test with ```hint https://www.voici.fr``` the test never ends.

## Environment

* __`hint` version:__ 5.4.1
* __`Node.js` version: 8.16.1
* __`OS`:__ MacOS X 10.14.6
* __URL for which webhint failed:__ https://www.voici.fr

## `webhint` configuration

Using default configuration (or edited one)

##

[2019-11-04 17:37] antross commented on #3217
Personally I think it's more consistent to report each separately, but I don't feel too strongly about this either way.

[2019-11-04 18:39] molant commented on #3217
It will also make my code easier 😅
@Malvoz what do you think? Any strong opinion?

[2019-11-04 19:29] molant commented on #3262
@pmd-bgermain what's the configuration you are using? Are you using the default one (and thus running chrome?)

Thanks!

[2019-11-04 23:36] ststimac commented on #3181
@molant @hxlnt @antross what do we think of doing labels with an icon for different severity types.
These are the icons I'm proposing but this does not encompass the whole label component of icon + text.
![Screen Shot 2019-11-04 at 3 33 43 PM](https://user-images.githubusercontent.com/18073131/68166967-dd620f80-ff18-11e9-87ef-74aa6ca4f33b.png)

[2019-11-04 23:49] antross commented on #3181
I like it. Where do you think we'd put the icons, before individual messages?
![image](https://user-images.githubusercontent.com/785009/68167452-258a2d80-ff2b-11e9-9729-8cdb5bea8d70.png)

I ask because the "Hints: 8" text in that screenshot that indicates a warning may be too general for a single icon because many hints will now report messages of differing severities (which probably means we'll n

[2019-11-04 23:51] ststimac commented on #3181
@antross that's what I was thinking. I was thinking similar to the badges we do already but different colors. I can mock it up.

I was thinking: yellow for warning, red for error, webhint purple for hints, and maybe grey for information? I was originally thinking blue but don't want that to get lost.

[2019-11-05 11:30] pmd-bgermain commented on #3262
@molant I am using the default configuration (I tried to create a custom one without success)

[2019-11-05 14:55] Malvoz commented on #3252
I Initially thought these 2 were fundamentally solving the same issue, i.e. alerting developers from (perhaps unawarely) setting an attribute multiple times - suggesting that these should have the same severity.

But, setting both `max-age` and `expires` is a real use case for those who want support in _really_ old [browsers that don't support `max-age`](https://caniuse.com/#feat=mdn-http_headers_

[2019-11-05 16:11] Malvoz commented on #3217
I don't see why they should combine, +1 for separating. :)

[2019-11-05 17:07] antross commented on #3252
Looks like this is mostly just IE7 and below. I think the likelihood of someone targeting one of those browsers is quite low. That said, if we care about this case we could always make the severity conditional based on the list of target browsers (e.g. `Error` if only targeting browsers with `max-age` support, `Hint` otherwise).

[2019-11-05 17:20] molant commented on #3217
Looks like there's consensus so I'll separate them :)

Thanks!

[2019-11-05 18:04] antross opened #3270 "[Bug] Syntax highlighting colors are incorrect for Edge in light theme"
Actual:
![image](https://user-images.githubusercontent.com/785009/68233151-3c309300-ffc4-11e9-9ae0-74cfe96bdfce.png)

Expected (align with Elements panel):
![image](https://user-images.githubusercontent.com/785009/68233199-57030780-ffc4-11e9-98d0-33c73bd4e1c2.png)

Thanks @ststimac for pointing this out!

[2019-11-05 18:05] antross opened #3271 "[Bug] Syntax highlighting colors are incorrect in Edge light theme"
Actual:
![image](https://user-images.githubusercontent.com/785009/68233151-3c309300-ffc4-11e9-9ae0-74cfe96bdfce.png)

Expected (align with Elements panel):
![image](https://user-images.githubusercontent.com/785009/68233199-57030780-ffc4-11e9-98d0-33c73bd4e1c2.png)

Thanks @ststimac for pointing this out!

[2019-11-05 18:05] antross opened #3272 "[Bug] Syntax highlighting colors are incorrect in Edge light theme"
Actual:
![image](https://user-images.githubusercontent.com/785009/68233151-3c309300-ffc4-11e9-9ae0-74cfe96bdfce.png)

Expected (align with Elements panel):
![image](https://user-images.githubusercontent.com/785009/68233199-57030780-ffc4-11e9-98d0-33c73bd4e1c2.png)

Thanks @ststimac for pointing this out!

[2019-11-05 18:06] #3271 closed

[2019-11-05 18:07] #3272 closed

[2019-11-05 18:30] ststimac commented on #3181
So something like this:
![Screen Shot 2019-11-05 at 10 30 27 AM](https://user-images.githubusercontent.com/18073131/68235020-4ef09b00-ffb7-11e9-8598-901d6bcd3d6f.png)

[2019-11-05 18:57] antross commented on #3181
The badges look nice, though the start of the message text being shifted by different amounts feels slightly odd to me, especially for "Information". Curious to hear what others think.

Also, what do you think about the existing summaries, e.g. "Hints: 2" and the top-level colored dots for categories? Should we surface something about the differing contained severities at those levels too? The tex

[2019-11-05 19:03] ststimac commented on #3181
Yeah that's a good point about the Hints: 2 badge at the top. I think some sort of indicator with the dots would be good, to indicate there's an issue. Let me try a few things.

As for the shifting of the message, that doesn't feel off to me but am open to others opinions.

[2019-11-05 20:02] ststimac commented on #3181
![Screen Shot 2019-11-05 at 12 01 39 PM](https://user-images.githubusercontent.com/18073131/68241737-15725c80-ffc4-11e9-9cbe-be03f1a9b952.png)

@antross, I think if we drop the badge and bold the lettering that should be sufficient.

[2019-11-05 23:11] molant commented on #3181
Not convinced about having **Hints: 2** and then another **Hint** right after.

Also, right now we have another badge with "No issues" that should probably be redesigned to be consistent with the rest.

Maybe having a summary of the results there? Something like"Errors: 3, Warnings: 2" and remove the categories that don't have any result or that do not meet the threshold?

That has the risk of mak

[2019-11-05 23:21] molant commented on #3252
I'd say `Hint`. Nothing breaks and the message is clear about which directive takes precedence.
I'll update the table in the first comment to `Hint`.

[2019-11-05 23:49] molant commented on #3218
Once the utils PR lands the plan is to add this to the `utils-dom/html.ts` so we can access it from the `HTMLParse` event:

[code]

[2019-11-06 03:58] molant commented on #3210
@antross I believe this is the default behavior:

[code]

Can we close it?

[2019-11-06 17:00] antross commented on #3210
We wanted to tweak the `toSeverity` mapping slightly. Per our discussion:

Currently we map minor and moderate to Warning, then serious and critical to Error.
I propose we modify this slightly to map minor to Hint, moderate and serious to Warning, and critical to Error.

[2019-11-06 18:04] antross commented on #2877
Update: This is being refined in #3288 as part of the severity work. Going forward this rule will report files with `.json` as a `Hint` and other non-`.webmanifest` extensions as a `Warning`.

[2019-11-06 18:40] Malvoz commented on #2877
Admittedly I haven't read this great wall of text, but consider that **any file extension is a valid one** as long as the `Content-Type` is appropriate (e.g. you could potentially serve `manifest.teapot` with either `application/manifest+json`, `application/json`, or potentially even another JSON-based MIME-type extension (there are plenty: https://www.iana.org/assignments/media-types/media-types.

[2019-11-06 21:19] molant commented on #3231
https://github.com/webhintio/hint/pull/3263#discussion_r342811566

[2019-11-06 21:38] molant commented on #3224
Right now we are only reporting if above threshold so we will only have `Warnings` in this hint

[2019-11-07 09:40] ivanagui2 opened #3299 "[Bug] VS Code extension error: "Unable to start webhint. Ensure you are using the latest version of the `hint` package.""
The VS Code extension has stopped working. I'm working with Angular 8 workspaces. "npm install hint --save-dev" didn't fix it

# 🐛 Bug report

## Description
Error message:
"Unable to start webhint. Ensure you are using the latest version of the `hint` package."

## Environment
Extension info:
- Name: webhint
- Id: webhint.vscode-webhint
- Description: Run webhint in Visual Studio Code.
- Version:

[2019-11-07 16:40] ststimac commented on #3181
I like the summary of issues idea and removing the categories that don't have results.

No issues would probably just be a green badge with a check icon to match the other badges.

[2019-11-07 16:45] ststimac commented on #3181
Also for the config panel, I suggest we add another column with checkboxes for the severity types.

[2019-11-07 17:05] antross commented on #2877
I agree that's technically allowed, but is it a good idea? I think this may be a case where we want to continue to recommend a "best practice" that goes beyond the specification. Especially if you pick a file extension that is typically associated with some other known `Content-Type` it seems problematic. E.g. `.manifest` in particular comes to mind as one to avoid...

[2019-11-07 17:10] molant commented on #3181
I see it more as a "minimum threshold". I don't think why someone would just select "warning" but not "error" and I'm not even sure we should enable this scenario.
So basically the user needs to be able to decide what's the minimum type of report they want to receive:

1. Error
1. Warning
1. Information
1. Hint

Personally I see it more as a slider  but I'm fine as long as we don't allow things li

[2019-11-07 17:11] ststimac commented on #3181
If that's the case, a radio button would probably be the better solution.

[2019-11-07 18:04] molant commented on #3214
@Malvoz we've updated some of these severities. Now everything that's not charset will be error if `no-sniff`, warning otherwise.

Let us know if you disagree!

[2019-11-07 18:50] antross commented on #3299
Thanks for the report @ivanagui2!

I'm not sure what's going on yet other than it appears webhint is having trouble finding the `@hint/configuration-development` package. Also no luck reproducing the issue on my machine.

One thing that did jump out from the logs was a failure installing `@hint/hint-axe`. Though it seems unlikely, I wonder if the version pulled from the npm cache is somehow corrup

[2019-11-07 19:33] ivanagui2 commented on #3299
I don't have a .hintrc file in my project.

## The commands output
<details>
<summary>The commands output:</summary>

[code]

</details>

[2019-11-07 19:44] antross commented on #3299
Thanks @ivanagui2!

One more thing: I don't see `hint` or `@hint/*` packages listed in the `npm ls` output. Did you remove `hint` from your project?

If so that's fine, but can you re-run `npm ls` from `c:\Users\iaguilar\AppData\Roaming\Code\User\globalStorage\webhint.vscode-webhint` instead?

This will capture the package structure for the "shared" instance of webhint the VS Code extension uses b

[2019-11-07 20:31] ivanagui2 commented on #3299
I only have the VS Code extension installed, my problem is only with it. 😅

[code]

[2019-11-07 20:40] ivanagui2 commented on #3299
It seems that @hint/configuration-development is not installed, but why?

[2019-11-07 21:24] ivanagui2 commented on #3299
I run npm i -save-dev from` c:\Users\iaguilar\AppData\Roaming\Code\User\globalStorage\webhint.vscode-webhint` and it installed 2 packages.

After:

## The commands output
<details>
<summary>The commands output:</summary>

[code]

</details>

[2019-11-07 21:30] ivanagui2 commented on #3299
## 2019-11-07T21_14_31_028Z-debug.log
<details>
<summary>File content:</summary>

[code]

</details>

[2019-11-07 21:44] ivanagui2 commented on #3299
It was the cache. Now it works.
[code]

[2019-11-07 22:30] Malvoz commented on #3214
LGTM

[2019-11-07 22:30] antross commented on #3299
That helps.

So it does look like some problem with installing `@hint/hint-axe` is the root cause. And it looks like the package data `npm` is trying to read from the cache is incorrect/corrupt.

Even though `npm cache verify` came back okay, I'd still recommend trying `npm cache clean --force`, then retrying the install. 🤞

[2019-11-07 22:33] antross commented on #3299
Glad to hear you got it sorted out. Since you used a temporary cache, you may still need to run `npm cache clean --force` to keep the issue from returning in the future.

[2019-11-07 22:33] antross commented on #3299
Closing since this has been identified as a local issue with the `npm` cache.

[2019-11-08 03:35] molant commented on #3206
What happened with this? Did it got merged into master or is it part of your flattening PR?

[2019-11-08 17:26] sarvaje commented on #3206
It is part of the flattening PR

[2019-11-08 19:00] ststimac commented on #3181
@antross @molant what else do you need from me before I head to btconf next Tuesday?

[2019-11-08 19:29] molant commented on #3181
Can we have the design of the settings and the final look and feel of the results.

[2019-11-08 19:37] sarvaje commented on #3244
what this means? `Hint: 90-<100%`
That even if the performance test pass (but "consuming" 90% of the time) we should report a hint?

[2019-11-08 19:39] ststimac commented on #3181
Config panel. But we should discuss the title for the new settings. I'm not sure it's super clear what this will mean to folks. I have an idea for a different layout that would include a small caption to identify what this setting is for.

![Screen Shot 2019-11-08 at 11 37 48 AM](https://user-images.githubusercontent.com/18073131/68505494-37661c00-021c-11ea-9976-5f88416e01b9.png)

[2019-11-08 20:31] #2444 closed

[2019-11-08 20:31] #3206 closed

[2019-11-08 21:53] #3252 closed

[2019-11-08 22:07] molant commented on #3244
Yes

________________________________
From: Jesus David García Gomez <notifications@github.com>
Sent: Friday, November 8, 2019 11:37
To: webhintio/hint
Cc: Antón Molleda; Author
Subject: Re: [webhintio/hint] [Severity Updates] hint-performance-budget (#3244)

what this means? Hint: 90-<100%
That even if the performance test pass (but "consuming" 90% of the time) we should report a hint?

—
You are

[2019-11-08 22:28] ststimac commented on #3181
Okay: for the results, I'm thinking we don't need actually need a green badge because we don't have a subset of items for those categories that have no issues. So I'm proposing we just keep "No issues" at the top level but match the styling of the error, warning message summary. Make sense?

![Screen Shot 2019-11-08 at 2 26 51 PM](https://user-images.githubusercontent.com/18073131/68514861-d3e7e88

[2019-11-08 22:52] #3251 closed

[2019-11-08 23:24] sarvaje opened #3312 "Create a helper `isPWA(dom)`"
Not blocking this PR, but since we know we're going to use this across a few hints, what do you think about making an `isPWA(dom)` helper method to share between them? In theory this would also make changing our "detection" logic easier in the future if needed.

_Originally posted by @antross in https://github.com/webhintio/hint/pull/3301_

[2019-11-08 23:25] #3209 closed

[2019-11-08 23:42] #3228 closed

[2019-11-09 00:17] #3214 closed

[2019-11-09 00:17] #3247 closed

[2019-11-09 00:22] #3233 closed

[2019-11-09 00:27] #3213 closed

[2019-11-09 00:54] #3223 closed

[2019-11-09 06:03] #3212 closed

[2019-11-09 06:04] #3243 closed

[2019-11-09 06:05] #3224 closed

[2019-11-09 06:05] #3211 closed

[2019-11-09 06:05] #3220 closed

[2019-11-09 06:06] #3227 closed

[2019-11-09 06:06] #3238 closed

[2019-11-09 06:07] #3241 closed

[2019-11-09 06:07] #3242 closed

[2019-11-09 07:00] #3234 closed

[2019-11-09 15:15] #3217 closed

[2019-11-09 15:16] #3248 closed

[2019-11-09 16:53] Malvoz commented on #3187
I had just misinterpreted the sentence, it would read better if it instead said "_or in some cases, the official media type of a resource may be required_". I thought the intention was link to a more generic document explaining that, so that's why I was confused. 😄

But indeed AppCache is deprecated, so we should delete that. And even without it, I think the document does a good job explaining why

[2019-11-09 16:55] Malvoz commented on #3187
@molant can you review changes in https://github.com/webhintio/hint/commit/f6c3a32a3cdbc55ad0f7bd7712a15c94ea8019b1?

[2019-11-11 15:02] sk3lk0 commented on #800
can you give new dockerfile ? other docker files not working

[2019-11-11 15:03] sk3lk0 opened #3331 "Dockerfile"
can you give new dockerfile ? other docker files not working
https://github.com/webhintio/hint/issues/800

[2019-11-11 15:32] molant commented on #3187
Looks good to me!
The only problem I see is that lines are more than 80 characters long. I believe that's why CI has been failing for the last couple days. Glad to see is a quick fix 😁
I'll go ahead and change it.

Thanks for taking care of this!

[2019-11-11 15:53] sk3lk0 commented on #3331
my dockerfile is:

[2019-11-11 16:18] molant commented on #800
What are the errors you are having?

________________________________
From: sk3lk0 <notifications@github.com>
Sent: Monday, November 11, 2019 07:02
To: webhintio/hint
Cc: Antón Molleda; Team mention
Subject: Re: [webhintio/hint] webhint + Docker (#800)

can you give new dockerfile ? other docker files not working

—
You are receiving this because you are on a team that was mentioned.
Reply to this

[2019-11-11 16:19] sk3lk0 commented on #3331
https://github.com/molant

[2019-11-11 16:19] sk3lk0 commented on #3331
@molant

[2019-11-11 16:22] sk3lk0 commented on #800
my dockerfile is:

FROM node:8.10.0-slim
WORKDIR /wd
RUN apk update
RUN apk add python pkgconfig pixman pixman-dev cairo cairo-dev pango pango-dev make g++ libjpeg libjpeg-turbo-dev
RUN npm install hint --save-dev
RUN npm install @hint/configuration-all --save-dev
RUN npm install @hint/formatter-json --save-dev
RUN npm install -g node-pre-gyp --save-dev
COPY .hintrc ./
#npx hint -c .hintrc https:/

[2019-11-11 16:39] molant commented on #3331
I'm not the docker expert in the team but I think there are a few things in that configuration that should probably be changed:

* It's using node 8. We are going to remove for that version in the next weeks. That should fix the issue `Error: Cannot find module '/root/.npm/_npx/563/lib/node_modules/hint/node_modules/iltorb/scripts/install.js'`
* You are also installing the `@hint/configuration-all

[2019-11-11 16:44] #3187 closed

[2019-11-11 16:44] molant commented on #3070
Severities were agreed and work is in progress to update all hints. Closing this isse.

[2019-11-11 16:44] #3070 closed

[2019-11-11 16:45] molant commented on #3201
Seems that #3262 might be related to this as well.

[2019-11-11 16:46] molant commented on #3262
This might be related to #3201

[2019-11-11 16:48] molant commented on #3066
Closing this issue as we have individual issues to track each hint.

[2019-11-11 16:48] #3066 closed

[2019-11-11 17:01] sk3lk0 commented on #3331
my hint.rc is:
{
    "extends": ["all"],
    "formatters": ["json"]
}

[2019-11-11 17:03] molant commented on #3312
@sarvaje can you please list the hints that will need to be updated to use this new feature in case someone with less background wants to take it?

[2019-11-11 17:13] molant commented on #3331
Looks like you want to have output in json format so whay I propose is:

- Install `@hint/formatter-json`
- Have a `.hintrc` file like:

[code]

- Do all the other things in my previous comment

I'm assuming you want to analyze a published website and not your local file system. Is that correct?

[2019-11-11 17:13] sk3lk0 commented on #3331
ok

I'm assuming you want to analyze a published website and not your local file system. Is that correct?

[2019-11-11 18:06] #3249 closed

[2019-11-11 18:09] #3219 closed

[2019-11-11 18:10] #3229 closed

[2019-11-11 18:10] #3245 closed

[2019-11-11 18:31] #3230 closed

[2019-11-11 18:32] #3225 closed

[2019-11-11 18:33] #3226 closed

[2019-11-11 18:34] #3246 closed

[2019-11-11 18:34] #3216 closed

[2019-11-11 18:35] #3235 closed

[2019-11-11 18:36] #3240 closed

[2019-11-11 18:36] #3254 closed

[2019-11-11 18:37] #3239 closed

[2019-11-11 18:38] #3237 closed

[2019-11-11 18:38] #3236 closed

[2019-11-11 18:39] #3215 closed

[2019-11-11 18:40] #3253 closed

[2019-11-11 18:44] #3232 closed

[2019-11-12 10:35] sk3lk0 commented on #3331
so now my docker file is:

FROM node:10-alpine
RUN apk add python pkgconfig pixman pixman-dev cairo cairo-dev pango pango-dev make g++ libjpeg libjpeg-turbo-dev
RUN npm install hint --save-dev
RUN npm install @hint/formatter-json  --save-dev
RUN npm create hintrc

what next?

[2019-11-12 12:01] Malvoz commented on #3131
@molant

I think it's best to aim to prioritize privacy over performance. While HSTS preloading is great, it isn't guaranteed; [not all websites are eligible](https://hstspreload.org/?domain=webhint.io), and even when they are, [inclusion may take some time](https://www.reddit.com/r/AskNetsec/comments/6mo4lt/how_long_to_get_onto_the_hsts_preload_list/). Redirects serves as a privacy-preserving fal

[2019-11-12 14:25] pmd-bgermain commented on #3262
More dive into the problem leads us to that resource :
[code]

[2019-11-12 15:45] Malvoz commented on #3131
Also isn't this hint (`hint-no-http-redirects`) contradictory to `hint-https-only`?

[2019-11-12 17:58] molant commented on #3262
I don't know the internal of the page, but for reference this is what each option does for `waitUntil`:

* `load` - consider navigation to be finished when the load event is fired.
* `domcontentloaded` - consider navigation to be finished when the DOMContentLoaded event is fired.
* `networkidle0` - consider navigation to be finished when there are no more than 0 network connections for at least 50

[2019-11-12 18:59] sarvaje commented on #3312
List of hints:
* [ ] hint-apple-touch-icons
* [ ] hint-meta-theme-color

[2019-11-12 19:04] sarvaje commented on #3331
@sk3lk0 I'm going to take to this.

For now, I see that you need to install chrome, because `web-recomended` use puppeteer by default.

[2019-11-12 19:49] molant commented on #3131
Yup, still need to tweak a few things. We've had problems with the certificates in the past and it was a nightmare to get everything working again 😨

Isn't that to make sure only content over https is served already before being in the list? Once they are in the list and the browser has loaded it, it should navigate directly to https.

Having a redirect on the target has a perf impact. Right now a

[2019-11-12 20:28] Malvoz commented on #3131
The [Continued requirements](https://hstspreload.org/#continued-requirements) section says:

"_You must make sure your site continues to satisfy the submission requirements at all times._" 👀

[2019-11-12 21:52] molant commented on #3221
Actually all of these messages should be `Severity.error`. The message about HSTS should apply in `no-redirects` (#3240)

[2019-11-12 23:32] #3208 closed

[2019-11-12 23:37] #3218 closed

[2019-11-13 00:14] #1604 closed

[2019-11-13 00:54] #3221 closed

[2019-11-13 02:06] #3250 closed

[2019-11-13 02:07] #3222 closed

[2019-11-13 03:38] #3244 closed

[2019-11-13 05:47] #3210 closed

[2019-11-13 05:48] #3231 closed

[2019-11-13 17:28] sarvaje commented on #3181
Is the result page ready to implement?

[2019-11-13 18:43] molant commented on #3181
Yes, we can tweak things if needed but this should be a good starting point.

________________________________
From: Jesus David García Gomez <notifications@github.com>
Sent: Wednesday, November 13, 2019 09:28
To: webhintio/hint
Cc: Antón Molleda; Mention
Subject: Re: [webhintio/hint] [Feature] Update browser extension to support new severity values (#3181)

Is the result page ready to implement?

[2019-11-13 18:43] hxlnt commented on #3181
Liking the latest revisions. Within a given tree, do we want the sort order to be all errors, then all warnings, then all hints, and then all informations?

[2019-11-13 18:52] molant commented on #3181
Under each particular hint I think we want to do that.

We need to start thinking about ways of improving the visualization in general. Do we want to sort everything by severity so the most important things are on top (and this mixing hints)? Group by resource? Something else?

I wouldn't block on that right now but something we should start looking into sooner rather than later.

________________

[2019-11-14 20:39] sarvaje commented on #3331
@sk3lk0 You can try something like this:

Dockerfile:
[code]

.hintrc:
[code]

[2019-11-15 12:21] sk3lk0 commented on #3331
if i want use formatters json, my .hintrc must be something like:
{
    "connector": {
        "options": {
            "headless": true,
            "puppeteerOptions": {
                "args": [
                    "--no-sandbox",
                    "--disable-setuid-sandbox"
                ]
            }
        },
        "name": "puppeteer"
    },
    "extends": [
        "web-recommended

[2019-11-15 16:44] sarvaje commented on #3331
yes
[code]

[2019-11-15 17:28] molant opened #3347 "CSS prefix order does not have full code snippet"
@sarvaje I'm seeing something weird on the extension and the CSS prefixes hint:

![image](https://user-images.githubusercontent.com/606594/68907899-38a4b680-06fe-11ea-98be-8c27c04de2f5.png)

I'm not seeing any of the prefixes in the code snippets.

This is form analyzing https://github.com/webhintio/hint/pull/3345/files with the sideloaded extension in this thread?

Can you please take a look?

_O

[2019-11-15 17:35] molant commented on #3179
One thing we have to do in the HTML formatter is to indicate the severity of each report. Right now there is no visual cue to let the user know if it's an Error or a Warning.

[2019-11-15 17:38] sarvaje commented on #3347
Do we want the full code snippet only for CSS prefix order or for all the CSS hints?

[2019-11-15 17:52] molant commented on #3181
@ststimac can we pretty please have the icons as svgs files? 🙏
Is the only thing missing to merge #3340

[2019-11-15 18:37] molant commented on #3347
I think it depends on the situation. For the compat API I think things are OK as they are. For the CSS prefix order we should at least have the related ones in the order they appear and probably filter anything else out.

If we want to do something fancy we could have it in several levels and make it decide automatically

1. Everything if content is small enough (size TBD)
1. Related property(ies)

[2019-11-15 18:47] #3182 closed

[2019-11-15 18:47] #3174 closed

[2019-11-15 18:49] ststimac commented on #3181
[icons.zip](https://github.com/webhintio/hint/files/3852797/icons.zip)

@molant here ya go

[2019-11-15 18:53] molant commented on #3181
Thanks a lot!

[2019-11-15 21:05] sarvaje commented on #3181
Thanks @ststimac!!

[2019-11-16 12:23] sk3lk0 commented on #3331
The following package is missing:

    formatter-json

[2019-11-17 10:33] martin-sweeny opened #3363 "Fresh install EACCES: permission denied, scandir '//lost+found'"
Please tell us about your:

## Environment

* __`hint` version:__ v5.4.1
* __`Node.js` version:__ v12.11.0
* __`npm` version:__ 6.11.3

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

[code]

</details>

## URL for which `webhint` failed

* __URL:__ http://localhost:3000

## Output

Please include the raw output generated by `webhint`, or if possible,
the raw outp

[2019-11-18 04:08] molant commented on #3363
@martin-sweeny your debug output is really unexpected. Are you running Linux?
While we investigate what's going on, can you give it a try with `web-recommended`? That's the configuration we advice when analyzing `http` and it will catch other things that development doesn't (which is more for local files).

In any case, the error you are seeing is not expected at all 🤔

[2019-11-18 15:29] sk3lk0 commented on #3331
what is my next step?

[2019-11-18 17:23] molant opened #3364 "[Feature] Add formatter-json to default configs"
It's lightweight enough that should be added in `web-recommended` and `development`.

That will also make integration with CI, docker, etc. easier with no extra steps to install things.

[2019-11-18 17:54] #2737 closed

[2019-11-18 17:57] #3270 closed

[2019-11-18 17:59] #3069 closed

[2019-11-18 17:59] #3181 closed

[2019-11-18 18:16] molant opened #3365 "[Bug] Color contrast with errors"
Report received via email:

contrast is not sufficient enough.
A much darker red would be better.

@ststimac I don't think we've updated the colors with the latest changes, right? What red do you want to use to fix this?

@sarvaje FYI as this will probably something you have to integrate.

[2019-11-18 18:21] #2976 closed

[2019-11-18 18:21] #3044 closed

[2019-11-18 18:21] #3207 closed

[2019-11-18 18:28] sarvaje commented on #3331
Hi @sk3lk0:

This docker file should fix the problem with the formatter-json:

[code]

[2019-11-18 21:21] molant opened #3368 "Make webhint less hintrc "centric""
During these last few sprints we've been doing good progress on reducing false positives, change the default severity of hints, hiding configuration that shouldn't be used by anyone, use development when path is in the file system, etc.
Still, on boarding someone new can be difficult. We really tell the user that they need a `.hintrc` file and it is not clear when to use one or the other.

I propo

[2019-11-19 14:31] #3097 closed

[2019-11-20 00:38] sarvaje commented on #3363
The issue in this case is because you are trying to use `configuration-development` with an URL.
`configuration-development` use by default the `connector-local` which is translating you URL to the `/` directory and basically is trying to scan all files in you computer. In the PR #3370 I'm adding a check to be sure the connector is receiving a file, if not, it will return an exception.

[2019-11-20 23:05] sarvaje opened #3373 "[Bug] Severity icon has a wrong color in light theme."
![image](https://user-images.githubusercontent.com/1581288/69286073-25cf2d80-0ba7-11ea-9fea-f6298c3d8f5b.png)

[2019-11-20 23:07] sarvaje opened #3375 "[Bug] Information should be in the last position in Minimum hint severity"
![image](https://user-images.githubusercontent.com/1581288/69286188-6d55b980-0ba7-11ea-823f-3e135a75a19f.png)

[2019-11-21 03:46] #3375 closed

[2019-11-21 03:46] #3364 closed

[2019-11-21 04:15] molant commented on #3067
Looks like this was already done a while ago in a7278f2f78edb07df5e610c3b207c3b779ec1f2b so closing.

[2019-11-21 04:15] #3067 closed

[2019-11-21 10:26] sk3lk0 commented on #3331
it work. thanks all

[2019-11-21 10:26] #3331 closed

[2019-11-21 16:47] sarvaje commented on #3132
I can't reproduce this.

This is how it looks like in my PC:

![image](https://user-images.githubusercontent.com/1581288/69358332-88720900-0c3b-11ea-915e-3d4887ea1c47.png)

[2019-11-21 16:52] sarvaje commented on #3365
Now "Hint:1" is not in the extension, but we have
![image](https://user-images.githubusercontent.com/1581288/69358737-3087d200-0c3c-11ea-9ea0-4847dab7edd2.png)

[2019-11-21 16:53] sarvaje commented on #2194
Now, we have access directly from `@hint/utils` to all the method in utils. Do we still want to investigate if this is possible to do?

[2019-11-21 17:15] molant commented on #3132
In latest edge canary?
@antross did a bit of research and it looked like a change in the spec

________________________________
From: Jesus David García Gomez <notifications@github.com>
Sent: Thursday, November 21, 2019 08:47
To: webhintio/hint
Cc: Subscribed
Subject: Re: [webhintio/hint] [Bug] Layout in telemetry prompt is incorrect in Chrome Canary/Dev (#3132)

I can't reproduce this.

This is h

[2019-11-21 17:23] sarvaje commented on #3132
Edge canary is my default browser hahaha. I have try also chrome canary and I can't reproduce it :s

[2019-11-21 17:24] #2995 closed

[2019-11-21 17:26] #3363 closed

[2019-11-21 17:26] molant commented on #3363
@martin-sweeny fix will be in the next release that should be after Thanksgiving week (🤞)

[2019-11-21 17:37] molant commented on #3132
Maybe they changed their minds. Going to close this then.

[2019-11-21 17:37] #3132 closed

[2019-11-21 17:39] molant commented on #2194
With the split and those changes I don't think this is needed anymore. Closing.

[2019-11-21 17:39] #2194 closed

[2019-11-21 19:02] molant commented on #2386
@sarvaje I believe this is in another package. Do we still need to do it?

[2019-11-21 19:03] molant commented on #2966
This was done in ##3349

[2019-11-21 19:03] #2966 closed

[2019-11-21 19:50] sarvaje commented on #2386
That is in another package and now we have one test to pass the coverage in that package, but take a look to see if there is something else you would like to test.

[2019-11-21 21:49] #3347 closed

[2019-11-21 22:34] ststimac commented on #3365
The current color contrast is 4:61 which is passing, but we can use #C02E00, that will bump color contrast up to 5:78

[2019-11-21 23:14] Malvoz commented on #31
New headers are proposed in https://github.com/WICG/ua-client-hints, to deprecate the `User-Agent` header.

[2019-11-22 01:49] #3166 closed

[2019-11-22 06:41] #3365 closed

[2019-11-22 17:26] molant commented on #31
I'd love to see the deprecation of UA in my life time 😁

[2019-11-22 17:47] #2796 closed

[2019-11-22 18:15] #2392 closed

[2019-11-22 18:16] #3368 closed

[2019-11-22 18:48] #1537 closed

[2019-11-22 19:11] #3058 closed

[2019-11-22 19:50] sarvaje opened #3386 "[Bug] VS Code extension fails if the version of webhint is too old."
The last version of VS Code extension fails if I have installed locally webhint v4.5.0

[code]

Maybe we should have a minimum version of webhint defined and tell the user if they not match the condition.

[2019-11-22 21:32] #3386 closed

[2019-11-22 22:34] sarvaje commented on #3373
Fixed via 905ef614196f286dacd79f97720c97897195b8ae

[2019-11-22 22:34] #3373 closed

[2019-11-22 22:45] sarvaje commented on #3099
@molant is this done? I think you were working on something like this few days ago.

[2019-11-22 23:10] molant commented on #3099
Yes, looks like this was a dupe. I closed 3097 via https://github.com/webhintio/hint/pull/3367

And I'm closing this one now.

[2019-11-22 23:10] #3099 closed

[2019-11-23 02:13] goldingdamien opened #3388 "typescript-config/target error in VS code, but no browserslist."
I am getting "typescript-config/target" error from webhint via VScode extension.
According to the docs, this is checked via looking at browserslist configuration:
https://webhint.io/docs/user-guide/hints/hint-typescript-config/target/
I can't see any browserslist config in my project(Can only browserslist as a dependency in the yarn.lock file.).
What could be causing this issue?

Based on your bro

[2019-11-23 03:48] molant commented on #3388
In the absence of one, it will use browsers list defaults (https://github.com/browserslist/browserslist/blob/master/README.md#best practices) and that's probably the reason.

Is your project node only or does it have front end code? Are you using babel?
We would like to improve this hint to avoid false positives. We have some ideas around this (like disabling if babel is found) but want to identif

[2019-11-23 14:04] goldingdamien commented on #3388
It's a nuxt project using Typescript. It includes Babel.
I thought because there is nothing specifying the environment that this hint would be ignored.
If there is a reason why the current functionality is preferred, please could you consider adding some additional documentation.

Regards.

[2019-11-23 14:28] molant commented on #3388
In the absence of an specific target, typescript transpiles to es3 which in most cases is not what the user wants.

UWe are changing the severities of the reports and the new ones are documented in https://github.com/webhintio/hint/issues/3251

I do think that looking for babel configurations and/or node targets in package.json to reduce the severity (or tune it off) should help with this.

We sho

[2019-11-25 17:54] jamesgecko opened #3401 "[Bug] Crash when a file name contains a space"
# 🐛 Bug report

## Description

Webhint running in development mode crashes with exit code 1 when it encounters a file name that contains a space.

[I've created a minimal project repo which demonstrates the issue](https://github.com/jamesgecko/webhint-space-error). The problematic file name in the repo starts with a space, but a space anywhere within the file name will also trigger it.

Running `

[2019-11-25 23:23] chrisgraham opened #3402 "[Bug] application/x-httpd-php suggested for .php file"
Running on webhint.io, a dependent resource (related to Facebook integration)...

https://staticxx.facebook.com/connect/xd_arbiter.php?version=44

Gives:
"'content-type' header media type value should be 'application/x-httpd-php', not 'text/html'. "

Clearly it is not meant to have a .php mime-type, as this is a server-side language. I don't know if maybe it's getting this from the file extension.

[2019-11-25 23:43] chrisgraham opened #3403 "[Bug] HTML-only headers are legitimate for non-HTML requests"
Using webhint.io...

I got:
Response should not include unneeded 'content-security-policy' and 'x-xss-protection' headers.
...for images.

While it does use a few bytes to send these, it is a legitimate security approach. Internet Explorer will do MIME sniffing even if an accurate mime-type is sent, unless explicitly disabled. All browsers will do MIME sniffing if no mime-type is sent. Potentially

[2019-11-25 23:52] chrisgraham opened #3404 "[Bug] Bug description"
"Safari for iOS < 4.2 ignored the sizes attribute, so the order in which the icons were declared mattered. When using one image there is no need to use the sizes attribute."

This is very outdated, nobody is using iOS 4.2 or older. The sizes attribute is a sensible thing to use, for performance reasons.

[2019-11-26 02:06] chrisgraham commented on #750
I'm getting errors like...

hint #1: 'x-content-type-options' header value should be 'nosniff', not 'nosniff nosniff'.

and on another URL...

hint #2: 'x-content-type-options' header value should be 'nosniff', not 'nosniff, nosniff'.

When the same (and correct) x-content-type-options is sent twice. It's really weird that sometimes it is merging them with a space and sometimes also with a comma.

[2019-11-26 02:08] chrisgraham commented on #1259
Can't it just accept that both are in common use, and allow either? Seems inappropriate to force an opinionated choice between what is the registered mime-type vs the Microsoft-preferred mime-type, when in the wild using either will work just fine.

[2019-11-26 12:23] Gummibeer opened #3405 "[Feature] Use an already present puppeteer browser instance"
# 🚀 Feature request

## Description

It would be great if the puppeteer connector accepts an already present puppeteer browser instance as argument. This way it doesn't have to launch its own instance. This is helpful if webhint is part of a larger project with more tools based on puppeteer.

## What scenarios will this solve?

I have an app based on puppeteer/chrome running lighthouse, taking scr

[2019-12-02 17:16] molant commented on #3401
Thanks for the report @jamesgecko!

@sarvaje can you please take a look into this? I think it will be good to have a fix before doing a release later today or tomorrow.

[2019-12-02 17:20] molant commented on #3402
We should only use the extension as the last resort to guess the mime type 🤔

Can you share the URL of the site doing the integration? If not, can you paste the minimum snippet of how this resource is used? Is it a xhr? script? iframe? That will help us identify where our code is getting confused.

Thanks!

[2019-12-02 17:41] molant commented on #3403
Thanks @chrisgraham !

We have a few hints about headers and the panorama across browsers is changing with new standards appearing or default behavior changing. We have a few issues open where we discussed this but we had to put on hold while we did some major refactoring in other areas. That work is almost done so maybe it is time to look again into this?

Here are the list of open issues I've fo

[2019-12-02 17:43] molant commented on #3404
Do you have any link that validates this.
Also, our recommendation is that you only send one image as the OS will do the proper scaling.

[2019-12-02 17:45] molant commented on #750
@chrisgraham do you have a URL were you are getting the values separated by a space so we can test this?
If you don't want to share it publicly you can DM it via Twitter to [webhintio](https://twitter.com/webhintio)

Thanks!

[2019-12-02 17:58] molant commented on #3405
Hi @Gummibeer,

we are using `puppeteer-core` that doesn't download the browser. If you use the [`browser` property](https://webhint.io/docs/user-guide/connectors/connector-puppeteer/#options) of the configuration it will try to find the given browser in your machine for known path locations. Alternative, you can pass the exact path to the browser to use via [`puppeteerOptions.executablePath`](htt

[2019-12-02 18:05] sarvaje commented on #3401
Working on it!

[2019-12-02 19:57] molant commented on #3401
@jamesgecko #3409 should fix this (not merged yet, waiting for CI)

[2019-12-02 20:36] #3401 closed

[2019-12-02 22:14] jamesgecko commented on #3401
Awesome! Thanks everyone. 🙂

[2019-12-02 22:18] Gummibeer commented on #3405
No, I meant the already running instance. Like lighthouse accepts it. So I can create a chrome instance via chrome launcher, start a puppeteer via the launched chrome web debug port and pass the puppeteer instance to lighthouse, webhint and so on. This should also prevent the browser.info file in CWD.

[2019-12-02 22:50] molant commented on #3405
So you want something like [`puppeteer.connect`](https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-puppeteerconnectoptions) where you can pass `browserWSEndpoint` ?

You are using webhint's CLI, right? I assume you want this via `.hintrc` or do you have something else in mind?

[2019-12-03 11:31] Gummibeer commented on #3405
I use the nodejs package. So a programmatic approach would be good for me. A simple optional config key for example where I can pass the `browserWSEndpoint`.

[2019-12-03 16:03] Malvoz commented on #3403
The issue to iterate over CSP rules is https://github.com/webhintio/hint/issues/25. But I'll answer here and we can reference or move over any conclusions as needed.

Sending headers based on media-types is an approach that is inherently error prone, for several reasons:

1. the approach assumes usage of only some of the most popular media-types, realistically this could never cover 100% of eligib

[2019-12-03 21:10] molant opened #3413 "Update 3rd party files via GitHub actions"
Right now we update some files during the release and that can cause some problems because things change upstream (e.g.: TS schema with different error messages)

Ideally we should automate this process via GitHub actions that open a PR and automerge if everything passes.

[2019-12-04 00:19] molant commented on #3388
@goldingdamien there's a PR to improve this (#3415). If everything goes well a new version will be released tomorrow.

[2019-12-04 00:23] molant commented on #2981
Done 🎉

[2019-12-04 00:23] #2981 closed

[2019-12-04 00:46] #3388 closed

[2019-12-04 01:10] #1985 closed

[2019-12-04 01:44] Malvoz commented on #3402
@molant scanning this resource directly gives the same result, see https://webhint.io/scanner/f746c0ef-cdb2-4784-a338-3d4aad078a70#category-compatibility.

As an aside, the scan times out and gives an error using the Chrome extension on v78.0.3904.108 (may or may not be related to this issue).

[2019-12-04 03:03] #2722 closed

[2019-12-04 18:59] sarvaje commented on #3402
I couldn't reproduce this, I tried it on Chrome v78.0.3904.108 and in Edge Canary (v80...)

[2019-12-04 20:12] molant opened #3420 "Rethink severity when missing properties"
This is what I have running the latest version of webhint on the website:

![image](https://user-images.githubusercontent.com/606594/70177290-f16f6d00-168e-11ea-8354-d10cf22e8ef0.png)

We are getting an Error because we are missing `-webkit-filter` and `-webkit-sticky` even though those browsers are not in the default browser support matrix.

I believe this should only be an Error if adding the mi

[2019-12-04 23:54] #3402 closed

[2019-12-05 00:15] Malvoz commented on #3402
@sarvaje Nevermind! This was due to permissions settings configured to "When you click this extension" as opposed to "On all sites", I'd like to think that Chrome could do a better job of prompting users when an extension isn't allowed to run. 😟

[2019-12-05 00:28] digitarald commented on #3420
Not sure if I get the question. If a browser is not in the support matrix, missing support should not cause errors or warnings; right?

[2019-12-05 00:40] molant commented on #3420
Sorry, I should have made the example clearer.

Let's take the second error message as an example:

IE doesn't support it and it is in the support matrix. This should usually be a warning but there's a missing prefix that adds support to Chrome 18+ the hint increases the severity to error, even though we are already covering the versions of Chrome we want.

What I propose is to look what browsers

[2019-12-05 20:36] molant commented on #2198
I've reviewed the scripts and it seems like all are using `throw` were applicable.

The guidance from now on is to use `throw` unless the exception is in a `Promise`, in that case use `process.exitCode = 1`.

Most of our scripts use callbacks so no need to change anything.

[2019-12-05 20:36] #2198 closed

[2019-12-05 20:43] molant commented on #2767
After discussing this internally we've decided not to hide this option.

There's been significant work done around configurations, severities, etc.
We can review this topic again in a few months after we roll the new version.

[2019-12-05 20:43] #2767 closed

[2019-12-06 00:49] molant commented on #1947
Closing this. @aladdin-add feel free to comment if you are still having issues.

[2019-12-06 00:49] #1947 closed

[2019-12-06 00:54] molant commented on #3102
We are not using it so closing.

[2019-12-06 00:54] #3102 closed

[2019-12-06 02:15] humphd opened #3423 "Unclosed span element in scan-category-summary.ejs"
There's a `<span>` vs. `</span>` in https://github.com/webhintio/hint/blob/68a2280a45070eb52807c5a739e04292b0cd599f/packages/formatter-html/src/views/partials/scan-category-summary.ejs#L9

[2019-12-06 03:25] molant commented on #3423
Good catch. @sarvaje is this fixed in your PR #3422?
In in mobile so can't check at the moment. If not can you add it or @humphd can you make a PR with the fix?

Thanks 🙏

[2019-12-06 03:29] Malvoz commented on #3423
It wasn't part of #3422, I added the fix. Thanks @humphd!

[2019-12-06 03:29] #3423 closed

[2019-12-06 17:34] molant commented on #2768
This was fixed via 42b40b58faf52d794d6cadd4e40de8fbfe8b93fd

[2019-12-06 17:34] #2768 closed

[2019-12-06 17:38] molant commented on #3134
With the latest release we've improved the error reporting and moved away from binaries. We still download canvas but it's an optional dependency so even if there is an issue with the package the process should continue.

I believe there's still an issue with WSL but at least it should tell you that the browser is not found.

Can you please give it a try?

[2019-12-06 17:40] molant commented on #1142
We've moved away from recommending installing webhint globally in 9f13687ebbd3d929875cab5a9b9084cf608fa21f because of issues like this one.

Going to close this as the scenario is not supported.

[2019-12-06 17:40] #1142 closed

[2019-12-06 18:01] molant commented on #1787
We are no longer recommending installing webhint globally, we've changed the configuration messages and with the change to use the built-in brotli library there shouldn't be any permission issues if using latest node 10 or later (which is what we officially support).

Going to close this.

[2019-12-06 18:01] #1787 closed

[2019-12-06 18:04] molant commented on #2187
Going to take a look at this.

[2019-12-06 20:32] digitarald opened #3424 "[Feature] Easier to understand icon in DevTools"
Nellie is an amazing mascot and her charm and stickers are magical.

For clarity and discoverability, I wanted to suggest re-considering the icon for the webhint panel (and maybe the logo usage in small favicon-sized spaces).

This is based on reoccurring feedback about the panel icon when demoing webhint in DevTools. The icon was interpreted in manifold ways, just never a narwhal. Making the narw

[2019-12-06 21:20] molant commented on #3424
@digitarald is the problem that people don't know about webhint and thus the logo/icon doesn't tell anything to them or that even knowing the project can't really see Nellie in there?

@hxlnt have you got any similar feedback from the Edge side?
Chromium doesn't have icons in the tabs but there's the icon next to the address bar that shows when installed.

[2019-12-06 21:29] digitarald commented on #3424
Both I'd say.

The narwhal made more sense for the old "Sonar" name, less so for webhint. To build up the brand, Nellie can still be in the panel as the mascot.

[2019-12-06 22:09] digitarald commented on #3420
SGTM, seems a sane heuristic.

[2019-12-06 22:31] sarvaje commented on #750
It looks like puppeteer join the duplicated headers in the same property separated with a new line:

for example: for github.com

[code]

[code]

[2019-12-06 23:30] #2187 closed

[2019-12-07 03:11] molant commented on #750
How do we process that on our side? I believe we generate an object for the headers.

________________________________
From: Jesus David García Gomez <notifications@github.com>
Sent: Friday, December 6, 2019 14:31
To: webhintio/hint
Cc: Antón Molleda; Comment
Subject: Re: [webhintio/hint] Look into how duplicate headers should be handled (#750)

It looks like puppeteer join the duplicated headers

[2019-12-07 17:39] chrisgraham commented on #3402
Looks like the issue might have been fixed, but for reference the site is https://compo.sr/

[2019-12-07 17:50] chrisgraham commented on #2626
(My feedback was requested, so I'll chime in)

The concern is that a lot of people running scanning tools are not experienced engineers. I mean that in 3 senses:
1) They don't understand how an engineer makes design trade-offs
2) They don't really understand the technologies involved
3) They don't understand the evolving context that decisions are made in, with no single unchanging point of author

[2019-12-07 17:58] chrisgraham commented on #3403
Thanks, great reply.

From the webappsec issue, I think this is great advice:

What I'd suggest to you guys is to not raise the error for the case of small CSP headers that are disabling JS. Continue to raise the error for non-HTML CSP headers that are too long or impotent (implies poor server configuration as per your original intent here).

[2019-12-07 18:11] chrisgraham commented on #3404
I don't have a link per se, but I know what Apple is thinking.

Having OS-based scaling is going to lead to aliasing-like effects, and Apple very much are about designing icons to match devices perfectly. I have developed an iOS application and they really want you to separately ship a lot of icon types (https://developer.apple.com/design/human-interface-guidelines/ios/icons-and-images/app-icon/)

[2019-12-07 18:16] chrisgraham commented on #750
My test site was https://compo.sr/

Ok, let me clarify this issue again, as I didn't report it in the best way, and now we know more...

1) Headers are not being combined by webhint according to proper HTTP rules.

They should be comma-separated, and de-duplicated. Apparently currently they are being delimited by line breaks in some situations.

2) Duplicated headers are an issue, but a completely

[2019-12-10 20:37] Malvoz commented on #1091
[Native lazy-loading](https://github.com/whatwg/html/pull/3752) currently has over 60% [browser support](https://caniuse.com/#feat=loading-lazy-attr), at minimum I think we should encourage developers to utilize the `loading` attribute, for `<img>` and `<iframe>` ([perhaps not](https://github.com/whatwg/html/pull/3752#discussion_r353634919) if they're `display: none` or `hidden`). Developers can t

[2019-12-11 04:10] molant commented on #25
Thanks, great reply.

From the webappsec issue, I think this is great advice:

What I'd suggest to you guys is to not raise the error for the case of small CSP headers that are disabling JS. Continue to raise the error for non-HTML CSP headers that are too long or impotent (implies poor server configuration as per your original intent here).

_Originally posted by @chrisgraham in https://github.co

[2019-12-11 04:11] molant commented on #3403
Thanks @chrisgraham!

I've copied your feedback in the CSP issue so we don't forget about it when we implement it.

[2019-12-11 04:22] molant opened #3436 "[Bug] Icons in labels are cropped on Firefox 2.0.1"
![image](https://user-images.githubusercontent.com/606594/70591355-b8516400-1b8a-11ea-922e-1aea5071a667.png)

[2019-12-11 04:32] molant opened #3437 "[Docs Bug] Explain severity values"
We need to document the [severity changes](https://github.com/webhintio/hint/issues/3036) somewhere in the docs and probably link from the browser extension and online scanner.

* `Error` - Will definitely not work as intended in at least one of the target browsers
* `Warning` - Minor impact or may not cause problems in practice (even if technically "wrong")
* `Hint` - Fine for now, but could caus

[2019-12-11 04:35] molant commented on #2626
Even though Microsoft contributes a lot of resources, this is an OpenJS Foundation project with an [open governance](https://webhint.io/about/governance/). We really want to get feedback from all the community (not only browser vendors) to make sure we cover as much as possible and have in consideration cases like yours. So sincerely thank you for taking the time to write all of this comments.

Th

[2019-12-11 05:13] molant commented on #750
The problem is that that's how `puppeteer` returns the headers. The `response.headers()` in the following screenshot is a call to its API and you can see the value in the `watch` section:

![image](https://user-images.githubusercontent.com/606594/70592140-99080600-1b8d-11ea-8b3d-85b899a34f2e.png)

Using the jsdom connector I get just `nosniff` instead of `nosniff, nosniff`.

![image](https://user-

[2019-12-11 23:02] hxlnt commented on #3108
Is this issue still active, or can it be closed?

[2019-12-11 23:51] molant commented on #3108
I think it can be closed. I know @antross wanted to add a few more "nice-to-have" things and you'll probably have more questions in the future but I think they can be tracked in individual issues in the future.

[2019-12-11 23:51] #3108 closed

[2019-12-13 18:55] hxlnt opened #3439 "[Bug] webhint VS Code extension hangs if `hint` is in node_modules"
# 🐛 Bug report

## Description

webhint VS Code extension hangs if `hint` is present in `node_modules` (*i.e.,* `hint` is in package.json and `npm install` is run in project folder).

Repro steps:
1. Open web project that has `hint` in package.json before running `npm install` to see feedback from webhint.
2. Run `npm install` in project folder.
3. Output shows the following message; webhint feedb

[2019-12-13 23:18] molant commented on #750
@chrisgraham looks like the `\n` issue comes from chromium and how the values are serialized in CDP so not very likely to be changed.
I've created #3440 to fix it here. Feel free to take a look!

[2019-12-13 23:20] #2402 closed

[2019-12-13 23:43] molant commented on #3439
What version of hint do you have in your `package.json`?

I've created a new one doing:

[code]

And I get results for the following html:

[code]

![image](https://user-images.githubusercontent.com/606594/70838922-4b72df80-1dbf-11ea-9c66-59d8a41b8d55.png)

[2019-12-16 19:18] BillGoldstein opened #3451 "maskable PWA icons are flagged as an error"
"icons": [
    {
      "src": "/img/maskable.svg",
      "sizes": "512x512",
      "purpose": "maskable",
      "type": "image/svg+xml"
    }

in webmanifest results in following error message:

'icons[0].purpose' should be equal to one of the allowed values 'any, any badge, badge, badge any'. Value found 'maskable'

[2019-12-16 19:31] BillGoldstein commented on #25
Please review as allow CSP, etc., on SVG, as it can contain style, script, foreignObject.

[2020-01-05 17:34] ststimac opened #3479 "[Bug] Supported CSS features not flagging 'display: subgrid'"
# 🐛 Bug report
I was running the browser extension against a subgrid demo, https://stephaniestimac.com/css-grid-experiments/project5/good-omens-subgrid, and "display: subgrid" isn't being flagged as not supported in browsers (except firefox, it's supported there).

[2020-01-05 22:06] molant commented on #3479
IIRC we treat display values as progressive enhancement to generate less noise but maybe we have to review this.
How broken is the experience in other browsers?
Are you using @supports or similar?

________________________________
From: Stephanie Stimac <notifications@github.com>
Sent: Sunday, January 5, 2020 09:34
To: webhintio/hint
Cc: Subscribed
Subject: [webhintio/hint] [Bug] Supported CSS fea

[2020-01-06 18:19] antross commented on #3479
Double-checking the demo code it looks like `grid-template-columns: subgrid;` is the value that isn't getting flagged.

Checking on MDN, it appears [`grid-template-rows`](https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-rows) has browser support listed for `subgrid`, but [`grid-template-columns`](https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns) does not.

So we

[2020-01-06 18:33] molant commented on #3479
@ststimac can you please open the issue? You can probably quote this issue when opening and tag @antross in there too.

[2020-01-09 23:37] codypierce opened #3481 "[Bug] Update URL to get latest snyk version"
# 🐛 Bug report

## Description

Auto-update of snyk database for hint-no-vulnerable-javascript-libraries gets an access denied error and future execution of webhint errors out

## Environment

nodejs

## `webhint` configuration

idk

## Debug output

Please include the raw output generated by `webhint`, or if possible,
the raw output from running `webhint` in debug mode: `hint --debug <URL>`.

<de

[2020-01-09 23:46] molant commented on #3481
Looks like snyk has updated the endpoint and https://snyk.io/partners/api/v2/vulndb/clientside.json no longer works.

Need to contact them to get the new one.

[2020-01-09 23:48] molant commented on #3481
@hxlnt fyi we worked with @tkadlec to get this working initially, but I think he no longer works there 😞

[2020-01-10 14:36] tkadlec commented on #3481
Well that's no good.

Maybe @lirantal can help get fixed?

[2020-01-12 21:59] lirantal commented on #3481
Sincere apologies for that issue, and thanks for the ping folks. I'm checking with the team what change did we introduce there and will update as soon as I have some answers.

[2020-01-13 21:14] lirantal commented on #3481
@molant ok so thanks too @tkadlec I have the context of this integration. Indeed that link is broken because the team had moved to a different way of updating the Lighthouse data with Snyk's vulnerabilities information.

I'm kicking off a discussion internally to see how we can also support this project. It's a busy week with some activities planned at Snyk but I'm tracking this. Is this something

[2020-01-14 19:23] molant commented on #3481
Hi @lirantal, thanks for looking into that.

Looks like the endpoint is working now and we get a json file. I guess you've changed something internally? Thanks!
I assume you'd like us to update to whatever the new recommended process is, right?
If you want to have a private conversation can you please send me an email to amolleda at gmail dot com. @antross, what would be your preferred email?

[2020-01-14 21:49] sarvaje commented on #3171
Yep

[2020-01-14 23:14] lirantal commented on #3481
👋wanted to let you know that we've updated the previously broken link to function again. Apologies for that inconvenience and as we're now aware that you're dependent on it we'll try not to break it in the future 🙈🤗

We're good for now with this integration as is, but I'm happy to shoot out an email so we'll have a conversation going and points of contact when needed.

[2020-01-15 01:44] molant commented on #3481
Thanks a lot @lirantal !

I'll close this issue now.

[2020-01-15 01:44] #3481 closed

[2020-01-15 03:31] molant commented on #3171
Then closing this issue 😛

[2020-01-15 03:31] #3171 closed

[2020-01-15 19:15] daniellecogburn opened #3485 "VS Code Extension source map issues when setting breakpoints"
While looking into contributing to the project, I ran "Client + Server" from the extensions-vscode folder. I set a few breakpoints in various folders, but none are being set. The message I get from Code is "Breakpoint ignored because generated code not found (source map problems?)". I have not made any changes to launch.json

![image](https://user-images.githubusercontent.com/8799404/72463428-0cea

[2020-01-16 17:21] #3451 closed

[2020-01-16 17:38] #3436 closed

[2020-01-16 19:30] zmeyc opened #3486 "[Bug] JSX: <ul> must only directly contain <li> wrongly detected"
# 🐛 Bug report

## Description

`webhint` VSCode plugin shows error for ul/li if li-s are generated with code:

<img width="606" alt="image" src="https://user-images.githubusercontent.com/1219443/72556258-4f5abb80-38af-11ea-9486-3e5b8239a7c9.png">

## Environment

* __`hint` version:__ v6.0.3
* __`Node.js` version:__ v12.11.1
* __`OS`:__ macOS Mojave 10.14.6
* __URL for which webhint failed:__ n/a

[2020-01-16 20:58] molant commented on #3486
Nice catch @zmeyc.

@antross do you know if this will require modifications in axe?
Maybe we should start an issue with all the false positives we are getting?

[2020-01-17 18:50] #750 closed

[2020-01-17 19:23] #3485 closed

[2020-01-17 20:09] molant commented on #2386
@sarvaje can you please checkif we should increase the coverage for that package regarding this and if not close this issue?

[2020-01-17 21:32] sarvaje commented on #3048
I can't reproduce it in the latest stable version of chrome neither edge

[2020-01-17 21:46] molant commented on #3048
Let's close this then!

[2020-01-17 21:46] #3048 closed

[2020-01-17 22:23] sarvaje commented on #1745
@molant there are some cases where the reject use an object instead of an `Error`, is that ok?

#3489 only takes care of the strings.

[2020-01-17 22:39] #2035 closed

[2020-01-17 22:40] molant commented on #1745
Can you show me an example? We might want to switch to Error and add some properties?

[2020-01-17 23:04] sarvaje commented on #1745
[code]

[2020-01-17 23:21] molant commented on #1745
where is that handled?

[2020-01-17 23:28] sarvaje commented on #2386
@molant I have added a few more tests.

[2020-01-17 23:52] sarvaje commented on #1745
That code is part of the `collect` method in the `connector-jsdom` so it should be handled by the analyzer (if you are using it) or for anyone.

I think we have a couple more cases in the code where we reject an object.

[2020-01-17 23:55] molant commented on #1745
If the code can be changed to use an error without too many problems I think I prefer that.

[2020-01-17 23:59] sarvaje commented on #1745
Maybe we can open a new issue to handle that scenario.

[2020-01-18 00:00] molant commented on #1745
Can you please do it?

[2020-01-18 00:01] sarvaje commented on #1745
sure thing

[2020-01-18 00:04] sarvaje opened #3491 "Make sure all `reject` use an `Error` instead of an object"
# 🐛 Bug report

## Description
Right now, some rejects are returning "custom" objects instead of objects. We should create custom erros for them and reject always with an Error.

[2020-01-18 00:38] #2386 closed

[2020-01-21 17:18] #1745 closed

[2020-01-24 15:11] Malvoz opened #3494 "[Bug] Chrome extension fails to read `localStorage` when 3p cookies are disabled."
# 🐛 Bug report

## Description

Extension does not work [when third-party cookies are blocked](https://www.chromium.org/for-testers/bug-reporting-guidelines/uncaught-securityerror-failed-to-read-the-localstorage-property-from-window-access-is-denied-for-this-document) in Chrome (79.0.3945.130):

`Uncaught DOMException: Failed to read the 'localStorage' property from 'Window': Access is denied for

[2020-01-27 19:33] antross commented on #3494
Thanks @Malvoz! Seems we should at least gracefully handle this in the meantime as the Chromium bug doesn't seem to have achieved consensus on whether the behavior should change.

The extension's use of `localStorage` is fairly minimal and all access goes through a single abstraction layer so this should be fairly easy to handle:
https://github.com/webhintio/hint/blob/master/packages/extension-bro

[2020-01-27 19:47] antross commented on #3486
@molant, this particular case occurs because our mapping leaves a reference to the interpolated expression in the resulting DOM.

Specifically we construct:
[code]

A minor tweak to the mapping could help in this case, though I can also think of a few variations (e.g. where there wasn't an `<li>` in the same part of the AST) that could prove more difficult.

Fixing this more generically either req

[2020-01-28 21:42] hxlnt commented on #2363
`manifest-icons` is merged in; `manifest-scoped-urls` still needs to be done.

[2020-01-31 14:31] Andrew-Cottrell opened #3505 "no-protocol-relative-urls has false-positive match on dns-prefetch links"
`dns-prefetch` link are only used to request DNS resolution and not to open HTTP connections. The `no-protocol-relative-urls` test considers `dns-prefetch` links to be violations. This appears to be false-positive as there are no performance or security implications.

Reference: https://www.chromium.org/developers/design-documents/dns-prefetching

[2020-01-31 16:08] Malvoz commented on #3505
`preconnect` too.

[2020-01-31 16:58] antross commented on #3505
Good catch @Andrew-Cottrell and thanks for reporting!

@molant given the special nature of `dns-prefetch` I suspect it's one of the few (if not only) exceptions here. We'll definitely still want other `pre*` values (e.g. `preconnect`, `prefetch`, `preload`, etc.) to be flagged as they actually establish a connection to and potentially load content from the referenced server.

[2020-01-31 17:00] Andrew-Cottrell opened #3506 "Confusing documentation for highest-available-document-mode"
The page https://webhint.io/docs/user-guide/hints/hint-highest-available-document-mode/#what-does-the-hint-check currently says

My website follows the above rules, but fails the test. I guess the test is actually doing a case-sensitive match on "ie=edge". If this is the case, it should be modified to do a case-insensitive comparison. The `X-UA-Compatible` header isn't case sensitive and examples

[2020-01-31 22:30] sarvaje opened #3507 "[Bug] IIS Configuration example for Unneeded HTTP Header doesn't make pass the hint."
# 🐛 Bug report

## Description

The configuration example for IIS only rewrite the value of the header to an empty string, but the header is still there and the Hint is still complaining.

I'm trying to delete the header X-XSS-Protection for elements that are not HTML.

The configuration suggested in the [documentation](https://webhint.io/docs/user-guide/hints/hint-no-html-only-headers/#how-to-con

[2020-01-31 22:37] molant commented on #3507
Do you know what the action would be to remove?
Also I believe there are a few open issues about changing the behavior of this hint.

[2020-01-31 22:54] sarvaje commented on #3507
The actions are "Rewrite" and "None".
https://docs.microsoft.com/en-us/iis/extensions/url-rewrite-module/url-rewrite-module-20-configuration-reference#rewrite-action

I have been looking for another way, but I can't find any :(

[2020-01-31 23:04] molant commented on #3507
We should probably add empty string as a valid value then.

[2020-01-31 23:56] sarvaje commented on #3507
If it is not possible to delete in IIS, I think that is a good solution.

[2020-02-05 16:50] antross opened #3528 "[Bug] Items in configuration page wrap poorly at smaller widths in browser extension"
At certain sizes just before the layout changes from horizontal to vertical, items in the configuration page wrap poorly:

![image](https://user-images.githubusercontent.com/785009/73863041-1013f080-4805-11ea-867c-259a0e0748e1.png)

This is probably most easily fixed by adjusting the media queries being used to snap to the vertical layout slightly sooner.

[2020-02-05 16:50] antross commented on #3528
Note: this appears to have regressed when the newer "Minimum hint severity" column was added.

[2020-02-05 19:13] antross commented on #3528
A stretch goal would be to add an additional media query to have this drop to a two column layout in-between so the UI makes better use of available space before going full vertical.

[2020-02-07 17:49] molant commented on #3494
@Hirse is working on this 🎉

[2020-02-07 19:38] antross opened #3531 "[Feature] Automatically reference built extension bundles from PRs"
# 🚀 Feature request

## Description

### What do you want to be added?
As part of webhint's CI runs, packages for `extension-browser` are automatically generated for Chromium and Firefox browsers. Rather than requiring PR authors to build these bundles locally and attach to PRs for testing, it'd be awesome if the bundles built as part of the CI process just got automatically linked.

### Are you w

[2020-02-07 20:49] #3494 closed

[2020-02-07 21:27] #3505 closed

[2020-02-08 00:28] Hirse opened #3535 "[Bug] Cookie names get reported in lower case"
# 🐛 Bug report

## Description

While working on #3534 I noticed that cookie names get transformed to lower case during the error reporting, which might lead to confusing reports as [cookie names are case-sensitive](https://stackoverflow.com/a/11312272) so you could have a valid cookie called `inValidCookie` and an invalid one called `InvalidCookie` and not be able to distinguish them in the repor

[2020-02-11 16:36] #2642 closed

[2020-02-20 08:02] martinahlqvist opened #3557 "[Bug] Bug description"
Hi, this isn't a bug-report per say but more of a suggestion for improvement.

This concerns Compability/Supported CSS features.

I usually check webpages that use multiple CSS files. Some are external and out om my control and other are mine to fix.

I like that webhint checks all sources but **I would like to have the errors grouped per source**. Currently I have to klick on an error to check in

[2020-02-20 08:05] martinahlqvist commented on #3557
related to #3038

[2020-02-21 23:32] antross commented on #3557
Thanks for the suggestion @martinahlqvist! I like the idea of grouping by resource.

Quick follow-up: are you wanting to do this to help you ignore files? Or to help you focus on one file at a time?

[2020-02-24 11:37] foolip commented on #2600
cc webcompat.com folks @miketaylr @karlcow @adamopenweb

My own quick read of the situation is that https://github.com/webcompat/web-bugs/issues aren't broken down by the APIs involved or root cause, so there isn't a ready data source to plug in. It's possible, however, that text analysis of the comments of all issues could yield some useful statistics.

[2020-02-24 21:32] miketaylr commented on #2600
Correct, there's no API or nice breakdown of "these APIs break these sites" -- but you could at least point to open issues for a given domain.

[2020-02-25 15:50] jorydotcom opened #3571 "[Info] OpenJS Conference & Collab Summit FYIs for Project Communities"
Hi webhint Community 🤗

I've been asked to help make sure that all the OpenJS Foundation project communities are aware that the deadline for our [OpenJS Conference Call for Proposals](https://events.linuxfoundation.org/openjs-world/program/cfp/) has been extended through Feb. 28. Previously, this event was called 'Node + JS Interactive' and it leaned heavily toward Node.js. We're hoping to have a

[2020-02-25 19:48] hxlnt commented on #3571
Thanks, @jorydotcom--sending my webhint proposal in tonight! :)

[2020-02-26 01:12] amazingcaio commented on #3451
I don't think this issue is solved. `"purpose"` can have multiple valid values, so `"any maskable"` and `"maskable any"`, and (I suppose) even `"any maskable badge"` should also be accepted. I think the real issue here is, because the possible options are hardcoded you'd have to have all 15 different possibilities (cos you have to treat `"any maskable badge"` and `"ask badge maskable"` as differen

[2020-02-26 07:13] martinahlqvist commented on #3557
I think that some resources will be out of my control and not possible to improve, but knowing that the issues are there makes it possible for me to perhaps choose one service over another and also be able to notify customers on what problems comes with a certain service.

But then again, sorting the resources helps me focus more on keeping my own CSS code more aligned with standards.

Best regard

[2020-02-28 04:28] molant opened #3572 "Webhint team meeting 2020-02-27"
## Time

**UTC Friday 28-Feb-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 28-Feb-2020 09:00 (09:00 AM) |
| US / Mountain | Friday 28-Feb-2020 10:00 (10:00 AM) |
| US / Central  | Friday 28-Feb-2020 11:00 (11:00 AM) |
| US / Eastern  | Friday 28-Feb-2020 12:00 (12:00 PM) |
| London        | Friday 28-Feb-2020

[2020-02-28 17:34] antross commented on #3135
@digitarald, given this particular problem seems to originate from the load event not getting delayed in Firefox do you think it's worth trying to reduce to see if there's a browser bug here?

[2020-02-28 17:53] antross commented on #3486
Following up: my recommendation is to update how webhint generates a DOM tree from JSX. Specifically we should generate placeholder `<li>` elements to replace expressions directly inside of `<ul>` and `<ol>` tags (instead of generating the text `{expression}`).

[2020-03-03 18:07] hxlnt commented on #3571
Closing this issue now that the CFP is closed. Thanks!

[2020-03-03 18:07] #3571 closed

[2020-03-03 22:36] hxlnt opened #3587 "[Bug] Long URLs break word wrap in results"
# 🐛 Bug report

## Description

When I run a scan against a very long URL, word wrap breaks in the results.

<img width="715" alt="long-url" src="https://user-images.githubusercontent.com/9647195/75826380-3f624280-5d5c-11ea-847e-c219635d45e4.png">

## Environment

* __webhint version:__ 1.2.1
* __Browser version:__ Edge Beta (80)

[2020-03-04 20:42] antross commented on #3587
I'm pretty sure we have correct wrapping styles on the URLs in the results, but I'm betting we missed this on the top-level URL displayed for the page. Should be as simple as replacing `overflow-wrap: break-word` with `word-break: break-all` for `.headerText` in https://github.com/webhintio/hint/blob/f847f6036569681f60d58fcc9214fe61f6ce2968/packages/extension-browser/src/devtools/views/pages/resul

[2020-03-05 04:03] keeganwitt opened #3589 "[Bug] All analysis times out when used with an app using Keycloak"
# 🐛 Bug report

## Description

Pages using [Keycloak](https://www.keycloak.org) timeout the analysis even with only 1 category enabled.  I think this is caused by the redirect by the [JavaScript adapter](https://www.keycloak.org/docs/latest/securing_apps/index.html#_javascript_adapter).

Here's how this can be reproduced:
1. `docker run --rm -p 8080:8080 -e KEYCLOAK_USER=admin -e KEYCLOAK_PASSWOR

[2020-03-05 04:08] keeganwitt opened #3590 "[Bug] Hint tab in dev tools is blank when "Block third-party cookies" is enabled"
# 🐛 Bug report

## Description

Steps:

1. Got to edge://settings
1. Site permissions
1. Enable block third-party cookies

![image](https://user-images.githubusercontent.com/606594/76256095-9492ce00-620c-11ea-88b7-15eaf9365172.png)

Once enabled, go to any website, open the devtools and switch to the Hint tab. It will be blank.

------------------------------------------------

Original report:

U

[2020-03-05 16:10] JamoCA opened #3592 "Perform on-demand webhint linting in VSCode (regardless of file extension)"
# 🚀 Feature request

## Description

I'd like to initiate an on-demand webhint linting within VSCode without regard for the file extension (or maybe even select a portion of code and perform the linting.)

## What scenarios will this solve?

I installed the new VSCode extension in hopes that it would assist in identifying improvements that we could make in our ColdFusion code (which generates HTML

[2020-03-06 17:18] liprec commented on #3590
I had a similar issue with the new Edge (Chromium).
Apparently the extension needs to be able to set cookies/access site data: I solved it by adding `chrome-extension://mlgfbihcfnkaenjpdcngdnhcpkdmcdee` to the allowed sites for cookies and site data.

[2020-03-06 18:03] molant commented on #3590
I'd assume that the permissions prompt would take care of that so it might be an issue upstream 🤔

@liprec what version and channel of Edge were you running?
I'll try to repro on my side.

[2020-03-06 18:30] liprec commented on #3590
Edge Dev channel (Version 82.0.439.1 (Official build) dev (64-bit)) with the webhint 2.0.3 extension

[2020-03-06 18:49] molant commented on #3590
I can't seem

[2020-03-06 18:51] molant commented on #3590
I can't seem to reproduce this 😢
I have installed the latest beta and dev channels but the extension always shows up.

Few follow up questions to try to narrow this:

* How do you run the dev tools? Docked? Floating?
* What theme are your running? Dark? Light?
* Did you installed the extension from the Edge store or the Chrome store?
* What URL were you testing?

[2020-03-06 18:52] liprec commented on #3590
Don't know if it helps, but I have by default third party cookies blocked and tracking set to strict

[2020-03-06 19:02] molant commented on #3590
So you have this option set, correct?

![image](https://user-images.githubusercontent.com/606594/76113920-df58df80-5f99-11ea-94fb-6906a6adf7b8.png)

[2020-03-06 19:04] liprec commented on #3590
Yes.

[2020-03-06 19:07] liprec commented on #3590
For more info via the devtools of the devtools I can see the extension error:
![image](https://user-images.githubusercontent.com/12474072/76114260-fc1b0480-5fe5-11ea-87fe-eae71ba1cdbb.png)

[2020-03-06 19:10] molant commented on #3590
Does that error show up in another page (like https://webhint.io)?
I know GitHub is using CSP so this particular error could be related (although I think that @antross found a workaround)

[2020-03-06 19:12] liprec commented on #3590
Yes, just test it and the same error appears on webhint.io.

[2020-03-06 19:33] molant commented on #3590
So it looks like the localstorage issue is fixed already in the code but we haven't shipped it yet 🤦‍♂️
Need to still figure out the blank screen though (haven't tested with strict yet)

[2020-03-07 00:04] molant commented on #3590
I cannot reproduce this 😭
I don't even get the `localStorage` issue when running on webhint.io:

![image](https://user-images.githubusercontent.com/606594/76131641-252a9d80-5fc4-11ea-9674-d4949b6c5997.png)

Do you have the telemetry enabled?

[2020-03-07 02:49] keeganwitt commented on #3590
I think my issue might have been similar.  I had enabled the new tracking protection that landed in Vivaldi Snapshot channel (https://vivaldi.com/blog/snapshots/desktop/tracking-blocker-vivaldi-browser-snapshot-1838-3/).  I have it disabled now, and the tab is showing up again.

[2020-03-07 17:48] liprec commented on #3590
@molant I don't the telemetry of the extension running. The settings are (probably) the default as I cannot change anything due to the blank screen.

[2020-03-08 00:36] molant commented on #3590
I'll try installing the extension with the strict setting on by default as soon as I can.
I tried changing it after and didn't change anything.
Don't think telemetry on/off should change anything but who knows...

[2020-03-08 03:48] molant commented on #3590
Even if I install with strict enabled previously I cannot reproduce the issue.

@liprec If you go to [edge://extensions/?id=gccemnpihkbgkdmoogenkbkckppadcag](edge://extensions/?id=gccemnpihkbgkdmoogenkbkckppadcag) what do you see?
This is what mine looks like:

![image](https://user-images.githubusercontent.com/606594/76156246-8037bf80-60ac-11ea-8dc9-f554d48979e5.png)

@antross I'm running out of

[2020-03-08 12:40] liprec commented on #3590
Here is my screenshot:
![image](https://user-images.githubusercontent.com/12474072/76162929-4ca77480-6142-11ea-925a-5ffa3ac69121.png)

[2020-03-08 13:27] Malvoz commented on #3590
This issue seems to be the same thing I reported in https://github.com/webhintio/hint/issues/3494 - while I didn't mention it - I also got a blank Hint tab (in Chrome dev tools). Until the update is shipped, I have to allow 3P cookies to use the extension.

[2020-03-08 18:26] keeganwitt commented on #3590
Actually, I misspoke earlier when I thought it was caused by blocking trackers, it was caused by blocking 3P cookies.  This isn't specific to Vivaldi, or any other Chromium browser, I can reproduce it in Chrome by turning off 3P cookies there as well.

[2020-03-09 18:53] molant opened #3613 "Change account for let's encrypt"
It currently is using my personal account. We should change it to the team one so everyone can know if something is going with the certificates.

@antross, @hxlnt I don't think you've had to deal with the certificates before so maybe we can do this together to reduce the bus factor?

[2020-03-09 20:50] molant commented on #3590
Thanks a lot @keeganwitt, I can now repro this in the latest stable version of Edge!

Steps:

1. Got to edge://settings
1. Site permissions
1. Enable block third-party cookies

![image](https://user-images.githubusercontent.com/606594/76256095-9492ce00-620c-11ea-88b7-15eaf9365172.png)

Once enabled, go to any website, open the devtools and switch to the Hint tab. It will be blank.

I'll update the

[2020-03-09 21:01] antross commented on #3590
@molant I don't think we need to track this as a separate issue. The workaround from #3494 should "fix" this in the next webhint release (localStorage still won't work, but the extension will gracefully handle it).

The underlying unexpected platform behavior has a tracking Chromium bug which would be the right place to +1: https://bugs.chromium.org/p/chromium/issues/detail?id=971848

[2020-03-09 21:12] molant commented on #3590
Then hurry up and do a new release 😛

[2020-03-09 22:22] molant opened #3615 "Webhint nominations for OpenJS CPC"
Per https://github.com/openjs-foundation/cross-project-council/issues/488

Does anyone from @webhintio/core want to participate? We can nominate up to 2 person so we should coordinate this 😊

[2020-03-10 17:34] wellington1993 opened #3616 "[Bug] call to Function() blocked by CSP"
# 🐛 Bug report

## Description

- Install Webhint
- Use Firefox Nightly
- Try to Scan Webhint website

## Environment

__webhint version:__ 2.0.1
__Browser version:__ 76.0a1 (2020-03-10) (64-bit) - Mozilla/5.0 (Windows NT 10.0; rv:76.0) Gecko/20100101 Firefox/76.0
__URL for which webhint failed:__ https://webhint.io/

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

[2020-03-10 18:03] molant commented on #3616
I'm almost sure we are not using CSP in the website so I'm not sure why you are getting that specific error.
@wellington1993 have you tried with Firefox stable? Do you have the same issue?

Maybe there's some security/privacy setting enabled in FF that is causing this similar to https://github.com/webhintio/hint/issues/3590?

@digitarald do you know what could be going on?

[2020-03-10 18:23] Malvoz commented on #3616
There's a default CSP in extensions for both Chrome and Firefox, that are using manifest v2 or later:

https://developer.chrome.com/extensions/contentSecurityPolicy#restrictions
https://blog.mozilla.org/addons/2019/12/12/test-the-new-csp-for-content-scripts/

[2020-03-12 17:47] hxlnt opened #3618 "webhint team meeting 2020-03-13"
## Time

**UTC Friday 13-Mar-2020 17:00 (05:00 PM)**:

| Timezone      | Date/Time             |
|---------------|-----------------------|
| US / Pacific  | Friday 13-Mar-2020 09:00 (09:00 AM) |
| US / Mountain | Friday 13-Mar-2020 10:00 (10:00 AM) |
| US / Central  | Friday 13-Mar-2020 11:00 (11:00 AM) |
| US / Eastern  | Friday 13-Mar-2020 12:00 (12:00 PM) |
| London        | Friday 13-Mar-2020

[2020-03-12 17:48] #3572 closed

[2020-03-12 20:20] wellington1993 commented on #3616
@Malvoz @molant The problem only occurs on Firefox Nightly. IN the stable version I can use normally the add-on.

Thanks!

[2020-03-13 03:41] antross commented on #3616
The blog post @Malvoz shared from Mozilla seems relevant. I couldn't repro until I followed the steps there to explicitly enable the new CSP behavior (was off-by-default on my machine at least, even in Nightly).

I dug in and the particular failure we're seeing is in the `ajv` library we use to validate JSON schemas (it's part of the schema compilation process). I suspect even once we mitigate tha

[2020-03-13 16:52] hxlnt commented on #3618
# Meeting notes

## Participants
 - Rachel (@hxlnt)
 - Tony (@antross)
 - Harald (@digitarald)
 - Anton (@molant)
 - Shane
 - Utsav (@utsavized)
 - John (@johnemau)

## Last sprint
 - New dependency updates are starting to get merged in, will have team review as needed
 - Charter and governance are in review with OpenJS Foundation
 - OpenJS conference talk proposal submitted
 - Other items that we

[2020-03-13 17:03] digitarald commented on #3616
I confirmed with @mixedpuppy that nothing needs to be done here. The pref that needs to be enabled for this issue to appear will further evolve into a CSP check that will be only enabled for v3 manifests.

[2020-03-13 17:03] #3616 closed

[2020-03-13 17:05] digitarald commented on #3616
@wellington1993 just to double-check: Can you confirm that you had the `extensions.content_script_csp.*` prefs flipped?

[2020-03-13 19:16] mixedpuppy commented on #3616
To clarify, the new CSP limits will be able to work in a V2 manifest if you use the new format for CSP.  It will be required for V3 manifest.  The issue I'll be fixing on current nightly is that if you flip the pref, it is applied to a V2 addon even if you do not use the new format.

[2020-03-13 19:32] wellington1993 commented on #3616
@digitarald Sure.
[code]
Thanks!

[2020-03-23 21:05] antross opened #3642 "Use mdn/data to fix missing reports due to CSS value types"
Currently compatibility of CSS values has gaps when the data is part of a CSS type instead of a CSS property (e.g. values for the `<color>` type applies to `color`, `background-color`, `border`, etc.)

Per https://github.com/mdn/browser-compat-data/issues/4309#issuecomment-602761482 we can associate the two using data from https://github.com/mdn/data, which should greatly increase coverage of CSS