[2019-01-08 17:51] molant opened #1635 "[Hint] CORS Vary issues"
Originally reported by @antross in https://github.com/webhintio/hint/issues/1205

[2019-01-08 17:56] molant opened #1636 "[Hint] Non-standard `<meta>` tags"
Originally reported by @alrra in https://github.com/webhintio/hint/issues/148

-------------

TODO: investigate what to recommend be used or removed.

* [Apple specific](https://developer.apple.com/library/content/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html)
* [Microsoft specific](https://msdn.microsoft.com/en-us/library/gg491732.aspx)
* Other?

[2019-01-08 18:37] molant commented on #145
We should look into [squoosh](https://github.com/GoogleChromeLabs/squoosh)

[2019-01-08 18:49] molant commented on #1204
@antross isn't this done via https://github.com/webhintio/hint/pull/1584 ?

[2019-01-08 18:50] molant commented on #1251
See also: [The Reporting API](https://developers.google.com/web/updates/2018/09/reportingapi).

[2019-01-08 18:51] greysteil commented on #938
No worries! Format is [finalised now](https://dependabot.com/blog/introducing-config-files/). 🎉

[2019-01-08 19:03] molant opened #1637 "[Feature] Auto-retry failing tests"
# 🚀 Feature request

## Description

In CI tests tend to fail randomly. While on Travis we can restart an agent we can't do the same on Azure Pipelines. Also an agent could run for a long time... Ideally we should auto-retry a few times and run just the failing set of tests. E.g.: if `hint-XXX` fails, we should run again those tests.

## What scenarios will this solve?

This should reduce the amou

[2019-01-08 19:11] molant commented on #938
Awesome, [I started looking into it yesterday](https://github.com/molant/hint/commit/c4f5b739b77d2f1fa9907608c4e0eb77de7cb852) so hopefully I won't have to update a lot of things 😁
Any idea on when the commit messages will be customizable?

[2019-01-08 20:06] antross commented on #1589
@borgitas21 Yes, this was fixed by #1584. Closing.

[2019-01-08 20:06] #1589 closed

[2019-01-08 20:08] sarvaje commented on #1526
The order of the errors depends on the schema file. For example, if we modify the file `packages/hint/src/lib/config/config-schema.json` editing the property 'hint->anyOf' to:
[code]
The error number 3 would be the number 1.

[2019-01-08 20:12] molant commented on #1526
Then I think we should print all the messages.

________________________________
From: Jesus David García Gomez <notifications@github.com>
Sent: Tuesday, January 8, 2019 12:08
To: webhintio/hint
Cc: Antón Molleda; Comment
Subject: Re: [webhintio/hint] "Configuration schema is not valid" - missing feedback why it is invalid (#1526)

The order of the errors depends on the schema file. For example, i

[2019-01-08 20:53] sarvaje commented on #1526
Me too.

In that case, I think https://github.com/webhintio/hint/pull/1602 is ready to review. :)

[2019-01-09 15:00] alrra opened #1648 "Scanner `details` look broken in Firefox"
E.g.: https://webhint.io/scanner/13648822-a735-4204-a601-70417896d990

<img width="24" src="https://user-images.githubusercontent.com/1223565/50907409-29692400-13dc-11e9-8cb5-f124767ed892.png">
<img width="23" src="https://user-images.githubusercontent.com/1223565/50907411-2a01ba80-13dc-11e9-84b3-703bb6f20af8.png">

[2019-01-09 16:20] borgitas21 commented on #1623
Could you provide the name of the property to define the list of features to ignore? I'm expecting an array that includes a list of name features. Does it make sense for you?
[code]

[2019-01-09 16:50] #1637 closed

[2019-01-09 17:00] molant commented on #938
Great, that's the only feature I'm missing from greenkeeper 😊 Thank you!

[2019-01-09 17:09] molant opened #1640 "Browser extension v1"
We are in the final stretch to publish the v1 and we need your help to make it awesome!

# Extensions and installation instructions

* [**Firefox**](https://addons.mozilla.org/en-US/firefox/addon/webhint/)
* [**Edge (Chromium)**](https://microsoftedge.microsoft.com/insider-addons/detail/mlgfbihcfnkaenjpdcngdnhcpkdmcdee)
* [**Chrome**](https://chrome.google.com/webstore/detail/webhint/gccemnpihkbgk

[2019-01-09 17:10] molant commented on #1499
@antross is this done? I see it closed but no related commit nor how much the size has improved.

[2019-01-09 17:15] molant opened #1641 "Create store accounts and publish extension in them [1.5]"
Need to create accounts for:

* [x] Create account for Chrome: https://developer.chrome.com/webstore/publish
* [x] Create account for Firefox: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/Distribution/Submitting_an_add-on
  * [x] Add more authors to Firefox (and Chrome if possible)
* [x] Generate bundles for each store

[2019-01-09 17:19] molant opened #1642 "Create packages for different stores"
The browser extension build process should generate packages for the different stores.

[2019-01-09 17:23] molant opened #1643 "Release improvements"
The release process is already semi-automatic (thanks @alrra 🙏) but there's always room for improvements. This Epic tracks the work (and discussions) to make it less painful.

[2019-01-09 17:29] molant opened #1644 "[Release] Automate release process"
Even though the release process is semi automatic, doing a full release of webhint takes many hours.
I'd like us to use this thread to have an open discussion about what would be our ideal scenario and explore different alternatives. E.g.: "I'd like to have a process that automatically publishes a new version a given day (if there are changes).". What is currently preventing us from doing this?

[2019-01-09 17:33] molant opened #1645 "[Feature] Release script should validate current branch before starting"
# 🚀 Feature request

## Description

While using the release script sometimes I've messed up by not being in the right branch or the branch pointing to a fork. I think the release script could validate that the current working branch points to the master branch of webhintio/hint to avoid any issue.

Additionally it should probably check that everything is up-to-date and there aren't any pending ch

[2019-01-09 17:33] molant commented on #1645
@alrra @antross any feedback about this?

[2019-01-09 17:34] molant commented on #1644
@webhintio/core thoughts about this?

[2019-01-09 19:04] molant opened #1646 "[hint-compat] Hint compat v1"
Epic to track the work needed to enable the hint compat API.

[2019-01-09 19:05] molant opened #1647 "VS Code extension improvements"
Epic to track the next round of improvements for the VS Code extension

[2019-01-09 19:13] molant commented on #1648
This is part of the html-formatter so I'm moving the issue to the other repo.

[2019-01-09 19:20] #1648 closed

[2019-01-09 19:35] molant opened #1649 "[Epic] Security hints"
Please tell us about your:

## Environment

* __`hint` version:__
* __`Node.js` version:__
* __`npm` version:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

[code]

</details>

## URL for which `webhint` failed

* __URL:__

## Output

Please include the raw output generated by `webhint`, or if possible,
the raw output from running `webhint` in debug mode: `hin

[2019-01-09 19:37] molant opened #1650 "[Epic] Performance Hints"

[2019-01-09 20:33] molant opened #1651 "CLI UX improvements"

[2019-01-09 21:04] antross commented on #1645
Sounds like a good enhancement to me.

[2019-01-09 21:05] antross commented on #1499
Good catch. I did not mean to close this.

[2019-01-09 21:08] molant opened #1652 "[Feature] Add FOSSA to project"
# 🚀 Feature request

## Description

To make sure we are in compliance of OSS licenses (especially since we will be bundling dependencies once we publish the browser extension), we should add [FOSSA](https://fossa.com/).

[2019-01-09 22:13] molant commented on #1652
Looks like the JS Foundation already has an account with FOSSA that's better than the free tier. I've reached out to @dmethvin to see if we can join it and have some control over it.
I'll close https://github.com/webhintio/hint/pull/1653 for now until we know what happens.

[2019-01-09 22:45] antross commented on #1623
I think just `ignore` will do for the property name.

Also, this should be part of the configuration for the `hint-compat-api` package as opposed to `hint` all-up. As such we won't be editing `config-schema.json`, but instead adding an inline `schema` definition in the `meta` file for each sub-hint in `hint-compat-api`. See [`meta.ts` in `hint-stylesheet-limits`](https://github.com/webhintio/hint/

[2019-01-09 23:50] molant commented on #1541
https://code.visualstudio.com/api/working-with-extensions/publishing-extension#.vscodeignore says that `devDependencies` aren't included so we should double check this is true and see if https://github.com/webhintio/hint/pull/1654 actually fixes the bundle size.
Maybe the problem comes from doing `yarn` and later `npm install` so maybe we should do `npm ci` before publishing to make sure we are in

[2019-01-10 01:18] #1652 closed

[2019-01-10 06:05] molant commented on #1624
Because anyone can submit any url we have to be careful on how we do the deleting. I can think of 2 things:

* Opt-out of scanning. We could have something a la `robots.txt` that tells webhint not to analyze the website with the online scanner. This will be useful for websites that do not want anyone analyzing their site. This is good to prevent future scans.
* On top of that, we could add a form

[2019-01-10 12:31] molant commented on #1608
Things to do:

* [ ] Run tests in all platforms
* [ ] Cron job to validate links ➡ I think we can skip this with the work @sarvaje is doing in #1543
* [ ] Notify the website of an update
* [ ] Run Travis + Azure Pipeline side by side
* [ ] Remove Travis

Something else I'm missing @alrra?

[2019-01-10 13:16] molant commented on #1543
@sarvaje I've published your package on npm: https://www.npmjs.com/package/markdown-link-validator

You should be able to do a PR to finish this now.

[2019-01-10 15:03] molant opened #1658 "[Bug] Release script list doesn't show the first items"
# 🐛 Bug report

## Description

When running `npm run release` on a regular macbook 13", the list of packages is too long to be displayed in full and scrolling doesn't work correctly not knowing to what one has to answer (approve changelog, enter OTP, etc.).

Multiple solutions (don't know how feasible they are):
- Fix scrolling
- Trim the list to the max number of lines possible (and move it upwa

[2019-01-10 15:23] molant opened #1659 "[Feature] Release script should auto-retry tests if they fail"
# 🚀 Feature request

## Description

As we know, tests are somehow unreliable (#1613) and fail when running `npm run release`. Because a clean up is needed, we need to enter an OTP for GitHub and then start the process again (user/pass/OTP) which is time consuming.

We should add an auto-retry to failing tests [similar to the one done for `npm test`](https://github.com/webhintio/hint/commit/883837

[2019-01-10 15:38] molant opened #1661 "[Bug] "Object is possibly 'undefined'" in hint-compat"
When I try to build `hint-compat-api` I get a `"Object is possibly 'undefined'"` error in [`getProblemLocationFromNode`](https://github.com/webhintio/hint/blob/26310655df3a20fcf95ddc2936fcb45f68c2a6da/packages/hint-compat-api/src/helpers/compat-css.ts#L34)

[code]

It happens in 2 separate machines. @borgitas21, @antross can you please confirm and do a PR with a fix (don't know if just adding `!`)

[2019-01-10 15:41] molant commented on #1608
The first parallel run looks promising:

* [Travis](https://travis-ci.org/webhintio/hint/builds/477857970)
* [Pipelines](https://dev.azure.com/webhint/webhint/_build/results?buildId=403&view=results)

2 of the Windows build have failed even after retries. Will have to investigate what's going on and if it's something particular to those node versions.

[2019-01-10 15:44] molant commented on #1562
Is there any work remaining to close this issue?

[2019-01-10 16:16] molant commented on #1608
* [ ] Figure out why `[skip ci]` doesn't work and if there's an alternative

[2019-01-10 16:33] sarvaje commented on #1562
Yes, there is some changes to do [here](https://github.com/webhintio/online-service/pull/187) before mergin it, and then I think we can close this issue.

[2019-01-10 16:34] antross commented on #1661
At first glance this looks like an issue due to a change in type definitions in a patch update of `postcss`. It just bumped to `7.0.8` two days ago (we reference `7.0.7`).

I should have a PR ready shortly.

[2019-01-10 16:35] molant commented on #1608
To avoid executing a build the comment needs to be `***NO_CI***`.
[There's a request to support `[skip ci]`](https://developercommunity.visualstudio.com/idea/365801/use-ci-skip-rather-than-no-ci.html?inRegister=true) but it doesn't seem to have too much success (opened in 2017) 😞

We should probably change the commit message and maybe use both until we remove Travis. Thoughts?

[2019-01-10 16:50] antross commented on #1661
For reference, here's the PR that broke us (released as part of `postcss` `7.0.8`):
https://github.com/postcss/postcss/pull/1217

It corrects the type definitions to match what `postcss` was already doing in previous versions (they were out-of-sync).

[2019-01-10 17:32] antross commented on #1608
Using both `[skip ci]` and `***NO_CI***` until we remove Travis seems reasonable to me.

[2019-01-10 17:39] #1622 closed

[2019-01-10 17:40] #1661 closed

[2019-01-10 18:48] #1541 closed

[2019-01-10 19:35] antross commented on #1640
Current browser extension build for testing:
* [webhint-browser-extension.zip](https://github.com/webhintio/hint/files/2746814/webhint-browser-extension.zip) (Updated 01/10/2019)

[2019-01-10 23:40] antross commented on #1407
Looks like `"main"` in the `package.json` for `create-hint` needs changed to point to `hint.js` instead of `index.js`.

[2019-01-11 03:45] molant commented on #1407
And `index.js` doesn't have to be added. I'm renaming this issue.

[2019-01-11 05:02] molant commented on #1543
@sarvaje I can take care of this tomorrow so you can wrap up the other PRs. I'm thinking about adding `markdown-link-validator` just in the root to take advantage of the parallel analysis and do everything in one go at the very beginning. Is that what you were doing in your tests?

[2019-01-11 16:13] antross opened #1665 "[utils-test-helpers] Include `connector-local` in `testHint` runs"
Currently `connector-local` only gets used by `testLocalHint`, but we also use this connector with hints that can run in either context from `extension-vscode` and the CLI.

Adding it to these tests should include running each test twice in `connector-local` with the same `Engine` instance to simulate re-runs that can occur when watched files change. This has been a source of bugs when hints cache

[2019-01-11 16:31] sarvaje commented on #1543
That sounds good. For my tests I was running the validator from the project folder, pointing to the root of the hint project, to scan everything in just one run.

[2019-01-11 16:42] antross opened #1666 "[extension-browser] Specifying an invalid browsers query hangs analysis [1]"
Found by @ststimac

Actual:

Expected:

I dug into this a bit and specifically it's our `browserslist` dependency that's rejecting the input. While we could (and should) handle the error, this happens rather late in the process as part of the analysis script injected into a page. As such, we may want to also validate the query ahead of time to provide more timely feedback.

[2019-01-11 16:59] antross opened #1667 "[extension-browser] Show a progress bar during analysis"
# 🚀 Feature request

## Description

Based on feedback from @ststimac.

Display a progress bar (possibly an indeterminate one) after clicking "Analyze" to clearly indicate that the scan is in progress.

## What scenarios will this solve?

The current UX doesn't clearly communicate to users that webhint is processing the page. They may mistakenly think the tool is stuck/hung.

[2019-01-11 17:02] molant commented on #1665
We might have to create a new method that will abstract the magic.
With the other connectors we point to a URL but with the local one is a file so the ergonomics aren't the same.

Another (poor person) solution I can think of is to make sure that all the hints that have scope `any` call `testHint` and `testLocalHint`.

[2019-01-11 19:17] antross opened #1668 "[extension-browser] Isolate styles"
Most likely using [CSS Modules](https://github.com/css-modules/css-modules) which can easily be enabled via [webpack's css-loader](https://webpack.js.org/loaders/css-loader/#modules).

[2019-01-11 19:25] antross opened #1669 "[extension-browser] Create infrastructure match syntax highlighting colors with current browser theme"
The extension should align with the look-and-feel of the tools it's running in. To that end, we'll need to write some custom themes for [`highlight.js`](https://github.com/highlightjs/highlight.js) to match each of our target browser environments. Additionally this will include logic to choose the correct styles based on the current browser and user's choice of dark/light theme.

[2019-01-11 19:33] antross opened #1670 "[extension-browser] Create infra to align UX colors with current browser theme"
Currently the extension respects the user's choice of light/dark theme, but provides a single implementation of each that doesn't always match the theme of the tools it's running in. This includes work to define themes that align with each of our target browsers and logic to choose the correct styles based on the current browser + theme choice.

[2019-01-11 19:37] antross commented on #1668
This will also require updating the UI templates to reference the class names generated by the `css-loader`.

[2019-01-11 21:32] #1645 closed

[2019-01-11 21:32] #1658 closed

[2019-01-11 22:21] molant commented on #1608
Even though with Azure Pipelines we have 10 workers, I think we can improve build times with other workarounds. Here goes some ideas on how I'm thinking about organizing things to get your feedback:

* **PRs**: Execute on the latest version of node for each platform. @antross proposed this in a conversation we had a few weeks back and I'm leaning more and more towards it. We could have also one LT

[2019-01-14 16:47] antross opened #1676 "[hint-compat-api] Suppress duplicate reports for prefixed properties by CSS rule block"
*From [discussions in #1614](https://github.com/webhintio/hint/pull/1614#pullrequestreview-191883554)*

For consistency I think we need to keep suppression of double-reports for prefixed properties independent of the order in which the properties are listed. So long as the unprefixed version appears in the same CSS rule block, let's not flag the prefixed versions.

With that in mind, currently thi

[2019-01-14 16:57] antross opened #1677 "i18n"
Specific localizations TBD.

Items that should be made localizable:
* Messages from hints
* UI for `extension-browser`
* Documentation
* Website UI
* CLI prompts

Resources:
* https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/i18n
* https://developer.chrome.com/extensions/i18n

[2019-01-14 17:01] antross opened #1678 "[extension-browser] a11y testing"
Tracks testing to validate the browser extension is accessible.

[2019-01-14 17:20] molant opened #1679 "Investigate VS Code extension boot up perf [2.5]"

[2019-01-14 23:44] #1526 closed

[2019-01-14 23:46] #1510 closed

[2019-01-15 00:37] molant commented on #1608
For notifying the website I just find out there's this awesome thing that allows me to trigger a build when another one finishes it successfully even if it's another repo 😍

![image](https://user-images.githubusercontent.com/606594/51150321-a6502f80-181a-11e9-8f92-1e36b056d04a.png)

[2019-01-15 04:05] molant opened #1683 "[Feature] New category pitfalls"
# 🚀 Feature request

## Description

There are a few hints (or requests) that don't fit exactly in any of the categories we currently have:

* [button attribute set](#1674)
* [createElement svg](#1625)
* and maybe more

We should create a new category ([pitfalls?](https://github.com/webhintio/hint/pull/1674#discussion_r247334082)).
Using this issue to track any proposals and if not default to this

[2019-01-15 17:26] antross opened #1684 "[extension-browser] Detect and recover from analysis failures [1.5]"
If for some reason analysis fails, we can hang the UI waiting for results. While each of these represent a bug we'll want to fix, we should also have a failsafe mechanism that detects this state and/or cancels the analysis after a certain amount of time.

[2019-01-15 18:03] molant opened #1685 "[Bug] Browser selection should be radios and not checks"
# 🐛 Bug report

## Description

The browser selection control currently uses checkboxes instead of radios allowing to select the default values and a custom expression.

https://github.com/webhintio/hint/pull/1681#pullrequestreview-192481172

![image](https://user-images.githubusercontent.com/606594/51197502-9716c380-18a6-11e9-99dd-99f2d5beb90a.png)

After talking with @antross we believe they sho

[2019-01-15 18:47] molant opened #1686 "[Docs Bug] Empty section "Further reading" in `compat-api`"
# 📚 Docs issue

* **Affected URL**:  https://webhint.io/docs/user-guide/hints/hint-compat-api/
* **What's the problem**: The section is empty. It shouldn't exist or it should contain some links

[2019-01-15 18:52] #1686 closed

[2019-01-15 19:18] molant commented on #1507
Here are the PRs for all the projects:

* Hint: https://github.com/webhintio/hint/pull/1687
* webhint.io: https://github.com/webhintio/webhint.io/pull/604
* online-service: https://github.com/webhintio/online-service/pull/203

And this is what I think the roll up should be. @webhintio/core please let me know if I miss something:

1. Merge hint and online-service and stop any automatic deployment o

[2019-01-15 19:20] sarvaje commented on #1507
I think the step 3 should be disable the online scanner

[2019-01-15 19:22] sarvaje commented on #1507
Also, before deploy the new version of the scanner, maybe we need to add a new step to edit the category in the database, to have retro compatibility.

[2019-01-15 19:23] molant commented on #1507
By update the online scanner I mean the code in the repo, step 5 is actually publishing it.

[2019-01-15 19:24] sarvaje commented on #1507
ahh, ok

[2019-01-15 19:31] molant commented on #1507
Sounds good. I've updated the plan and split a few of the tasks

[2019-01-15 19:39] antross commented on #1685
@ststimac What do you think?

If we switch these to radios a user can still modify the recommended settings by starting the query with `defaults` (or the more explicit text we list under "Recommended settings").

[2019-01-15 19:41] antross commented on #1683
I'm okay with "Pitfalls" as the category name.

I'm sure there's a long list of other potential hints that could fit here once we start thinking about them.

[2019-01-15 19:57] antross commented on #1507
The plan sounds good. I can't think of anything else that's missing.

[2019-01-15 20:31] #1666 closed

[2019-01-15 21:14] molant commented on #1507
1. [x] Merge hint and online-service and stop any automatic deployment of the website

[2019-01-15 21:18] #1659 closed

[2019-01-15 22:36] molant commented on #1608
Looks like `***NO_CI***` is not working for some reason 😔

[2019-01-16 00:38] molant commented on #1507
1. [x] Do a release of all packages, including the configuration ones

[2019-01-16 03:10] molant commented on #938
I've enabled this in the `online-service` and `webhint.io`. Will enable soon here.

Also for reference, we have the the `Create a merge commit if a PR is auto-merged` un-checked so it better fits our commit style.

![image](https://user-images.githubusercontent.com/606594/51224064-32388900-18f9-11e9-98fb-636494fcdb56.png)

[2019-01-16 17:15] molant commented on #1507
1. [x] Disable online scanner from website
1. [x] Merge website PR

[2019-01-16 19:23] molant opened #1692 "[Feature] Validate schema when testing a hint"
# 🚀 Feature request

## Description

Currently `hintRuner` doesn't validate the options passed against the schema. We find out about this thanks to @chrisguttandin in https://github.com/webhintio/hint/pull/1690

**What do you want to be added?**

I'd like `hintRunner` to validate the hint options (when available) against the hint schema.

Another alternative would be to add specific tests to valid

[2019-01-16 19:36] molant opened #1693 "[Tests] Remove `.serial` from all tests [3.3]"
# 🚀 Feature request

## Description

Right now we are using `.serial` in many places. We should remove this instances to make sure tests run faster and are fully independent of each other.

## What scenarios will this solve?

Hopefully this should help with the tests reliability so we don't have to auto-retry.

[2019-01-16 19:41] molant opened #1694 "[Tests] Run test web server(s) in a separate thread"
# 🚀 Feature request

## Description

Right now the web server created by `hintRunner` runs in the same process.
Spawn the web server into its own process. Right now the web server and the tests run in the same process and I think that some of the timeouts we are getting are because of that.

**Are you willing to work on this?** 😏

## What scenarios will this solve?

This should hopefully make the

[2019-01-16 23:12] sarvaje commented on #1562
@molant I think everything is done. Closing the issue.

[2019-01-16 23:12] #1562 closed

[2019-01-17 05:32] #1407 closed

[2019-01-17 05:33] #1585 closed

[2019-01-17 08:00] borgitas21 commented on #1588
Duplicated? #1623
Fixed as part of #1660

[2019-01-17 16:35] #1598 closed

[2019-01-17 16:35] #1676 closed

[2019-01-17 18:32] molant opened #1697 "PWA hints"
Creating this Epic to track all hints related to PWA

[2019-01-17 18:41] molant opened #1698 "Interop Hints"
Epic to track all the proposed Interop hints

[2019-01-17 18:50] molant opened #1699 "Misc Hints"
Epic to track all the proposed Misc hints (although some could go in a pitfalls category)

[2019-01-17 18:54] molant opened #1700 "a11y Hints"
Epic to track all proposed a11y hints

[2019-01-17 18:56] molant opened #1701 "Connector support"
Epic to track work related to support more connectos

[2019-01-17 19:34] antross commented on #1019
Closing as `browserslist` dealt with the `last 2 versions` issue by using `not dead`. Additionally, our current behavior falls back to letting `browserslist` choose if a user config was not provided (by not passing anything). This allows `browserslist` to search its own fallback locations (e.g. `.browserslistrc`) before falling back to `defaults`.

[2019-01-17 19:34] #1019 closed

[2019-01-17 19:43] molant commented on #1493
@alrra you are the one who did this hint. Want to complete the documentation?

[2019-01-17 19:44] antross opened #1702 "[Feature] Display resolved browsers from `browserslist` during configuration"
# 🚀 Feature request

## Description

 What do you want to be added?

When configuring the list of browsers in `extension-browser`, have the option to view the actual resolved list for "Recommended settings" in addition to the query `> 0.5%, last 2 versions, Firefox ESR, not dead` (though some of the names should be made more human-friendly). Additionally allow unchecking browsers from this list. C

[2019-01-17 19:45] molant commented on #342
I think we are doing OK for now where all the developer output goes to `debug` and the user output to `logger`.

[2019-01-17 19:45] #342 closed

[2019-01-17 19:46] molant commented on #512
The only thing I can think of is to automatically create a proxy and set it up when running the tests 🤔

[2019-01-17 19:50] molant opened #1703 "Random tweaks and enhancements"
Epic to track relatively small tasks or feature requests to improve webhint's core

[2019-01-17 19:51] antross opened #1704 "[Feature] Display coverage chart for current selected browsers"
# 🚀 Feature request

## Description

 What do you want to be added?

Show a chart during configuration of target browsers illustrating the coverage of the current selection and coverage changes as target browsers are added/removed.

The `browserslist` package used by webhint for selecting target browsers includes both global and regional coverage data for browsers as well as the ability to feed in

[2019-01-17 19:57] molant opened #1705 "jsdom connector improvements"
Using this Epic to track all work related to improve the jsdom connector

[2019-01-17 20:00] molant opened #1706 "General connector improvements"
Epic to track general improvements that should apply to all (or most) connectors

[2019-01-17 20:04] antross opened #1707 "Refactor DOM traversal to use a copy of the DOM"
Applies to both `connector-chrome` and `extension-browser`. It could allow more code to be shared between the two and potentially improve performance.

Currently `connector-chrome` uses CDP to interact with the DOM, which can lead to a fair amount of back-and-forth overhead. On the other hand `extension-browser` runs an "in-page" bundle to do the analysis, which optimizes DOM interaction, but requ

[2019-01-18 17:42] antross commented on #1565
Closing as contained work has been completed.

[2019-01-18 17:42] #1565 closed

[2019-01-18 17:54] #1608 closed

[2019-01-18 18:22] molant opened #1714 "[Feature] Run all tests on scheduled build in Azure Pipelines"
# 🚀 Feature request

## Description

Right now we run an scheduled build at 11.00pm PST but it takes into account the latest commits to decide what to run so potentially not all test will be run.

**What do you want to be added?**

I'd like the scheduled build to run all the test suite. We will probably have to add a new task in `package.json` like `test-all` and refactor a bit the azure pipelines

[2019-01-18 19:09] #1667 closed

[2019-01-18 19:41] molant opened #1715 "[Feature] Look into adding commitizen"
# 🚀 Feature request

## Description

Look into adding [commitizen](http://commitizen.github.io/cz-cli/) to help during the commit process, especially for people contributing for the first time.

[2019-01-18 19:46] molant opened #1716 "[Feature] Migrate to @typescript-eslint/parser"
# 🚀 Feature request

## Description

The TypeScript team announced that they are going to invest in ESLint to properly lint TypeScript.
Today [the ESLint team has announced what that means](https://eslint.org/blog/2019/01/future-typescript-eslint) and one of the outputs is that there will no be more versions of `typescript-eslint-parser` and that `@typescript-eslint/parser` should be used instead.

[2019-01-18 20:13] antross opened #1717 "[hint-typescript-config] Report inherited errors at `extends` location"
# 🚀 Feature request

## Description

 What do you want to be added?
Currently errors in a `tsconfig.json` file which originate in a parent `tsconfig.json` file imported via `extends` are reported at position `0, 0`. This is confusing as it's not clear where the error is originating from.  I propose reporting inherited errors at the `extends` location instead to more clearly communicate where they'

[2019-01-18 20:39] utsavized opened #1718 "Test bug"
Testing sync services

[2019-01-18 21:22] #1718 closed

[2019-01-22 16:11] borgitas21 commented on #1307
@molant I have been trying to reproduce the error locally without success. I also created a tested to ensure the scenario is working 😕.

[code]

Today, I have checked again the online scanner with https://webhint.io and it works fine. However, some days ago I was able to reproduce the error that you mentioned above. Could you double check it?  https://webhint.io/scanner/3df624f9-414d-42ea-9ffe-45a

[2019-01-22 18:28] molant opened #1745 "Make sure all `reject` use an `Error` instead of a string"
# 🐛 Bug report

## Description

In some instances we are returning a `string` instead of an `Error` and it's causing some issues with the upgrade to the latest ava version. Also it kind of makes sense to use `Error`.

[2019-01-22 19:19] #1493 closed

[2019-01-23 00:16] molant opened #1748 "[Bug] Not all file names follow the same convention"
# 🐛 Bug report

## Description

All files should be lower case and dash separated. There are some that don't follow this convention such as `fetchContent.ts` in `connector-chrome`.

[2019-01-23 05:31] #1597 closed

[2019-01-23 16:46] molant commented on #1307
Awesome, let's close this one and reopen in case it happens again. Thanks!

[2019-01-23 16:46] #1307 closed

[2019-01-23 16:50] molant commented on #1499
I believe we are bundling moment as well (at least we do for snyk and maybe others). That's also another source of potential savings.

[2019-01-23 16:54] molant opened #1749 "[hint compat] Add architeture documentation"
# 📚 Docs improvements

The `compat-api` hint is pretty big and complex. We need to document how it works, ideally with some diagrams and such, in an `architecture.md` file to make sure we don't forget how it works in a couple months.

[2019-01-23 16:55] selfagency opened #1750 "[Feature] htpasswd support"
# 🚀 Feature request

## Description

 What do you want to be added?
Support for htpasswd logins.

 Are you willing to work on this?
Sure.

## What scenarios will this solve?

 Why do you want/need this?
Working on a development site hosted behind an htpasswd login and want to run webhint tests.

[2019-01-23 20:18] molant opened #1751 "[browser extension] Browser extension - Future features"
We are getting closer to have a fully functional browser extension we like so I'm creating this epic to track ideas and work for future iterations and help us have a better idea of what needs to happen to have a v1

[2019-01-23 21:36] molant opened #1752 "[Bug] `mdn-browser-compat-data` should be a `dependency` not `devDependency`"
# 🐛 Bug report

## Description

`mdn-browser-compat-data` should be a `dependency` not `devDependency` in the [`package.json` of `compat-api`](https://github.com/webhintio/hint/blob/91b1e213ec18901a23e2eb737f4831ec3ae1d65a/packages/hint-compat-api/package.json#L22)

[2019-01-23 22:18] #1752 closed

[2019-01-24 17:21] borgitas21 commented on #1749
About the documentation I’m not 100% sure about what kind of diagrams you are expecting. Could you check this diagram and let me know your feedback?
![compat-api-flow-2](https://user-images.githubusercontent.com/817394/51696024-c21ab900-2004-11e9-8a49-992dc4cf52af.png)

[2019-01-24 20:44] #1516 closed

[2019-01-24 21:34] molant commented on #1750
@selfagency have you tried using the chrome connector and use a Basic Authentication URL as the target? Haven't tried it myself but I think it should work.

[2019-01-24 21:51] molant opened #1765 "[Feature] Publish test results in builds"
# 🚀 Feature request

## Description

When running the build on Azure Pipelines right now we only see the task that failed:

![image](https://user-images.githubusercontent.com/606594/51710764-f5e2e800-1fde-11e9-970c-29560eb9ec4a.png)

It will be great to publish the results into the tests tab.

![image](https://user-images.githubusercontent.com/606594/51710792-0dba6c00-1fdf-11e9-8291-4f499493594a.p

[2019-01-24 22:49] antross opened #1766 "[Bug] Commented-out tests in hint-compat-api fail"
@borgitas21 Can you take a look?

Not sure when these tests were commented out, but if I understand them correctly they should pass (when I uncomment them they fail). We should understand if there's a bug here we should fix.

https://github.com/webhintio/hint/blob/33ab25e1f6e46301185635a4d206ed2865b29774/packages/hint-compat-api/tests/css-next.ts#L212

[2019-01-25 01:20] molant commented on #1574
@antross should this be an Epic? Something else that is needed to close this?

[2019-01-25 12:55] borgitas21 commented on #1766
Good catch! These tests were outdated, so one of them was failing because the syntax was modified. However, there was an "actual" bug with the other one.

[2019-01-25 16:31] #1588 closed

[2019-01-25 16:37] antross commented on #1574
@molant No, just keeping this around to remind us to selfhost `hint-compat-api` a bit more with the latest changes before turning it on-by-default.

Since those changes are wrapping up in this milestone, we should all make a deliberate effort next week to selfhost, then merge #1596 when we're happy with the results.

[2019-01-25 17:35] antross commented on #1623
Fixed by f110ed51015174f996bd5904061b59901b55b66b

[2019-01-25 17:35] #1623 closed

[2019-01-25 17:41] #1580 closed

[2019-01-25 18:40] #1668 closed

[2019-01-25 18:53] molant opened #1772 "[Bug] Builds failing on mac because Chrome is not found [1]"
# 🐛 Bug report

## Description

macOS builds starting failing yesterday or the day before (01/23/2019) because [Chrome can't be found](https://dev.azure.com/webhint/webhint/_build/results?buildId=1040&view=logs&jobId=b66f3996-923d-5a48-a75d-a7c1343c48fb&taskId=549d15f7-e42b-56ae-22a7-f9a2ceea06bc&lineStart=1621&lineEnd=1621&colStart=21&colEnd=29)

[code]

We are installing Chrome in a step so... 🤔

[2019-01-28 16:33] mituller opened #1774 "OS X will not run"
I have tried a number of times to get webhint running and I run into errors on OS X.

OS X 10.14.2
Node 10.15.0

When I run npx hint https://www.mywebsite.com I get the following:

[code]
I enter Y and get this:

[code]
If I try to install using:

`sudo npm install -g --engine-strict hint`

I get many errors

[code]
So, I decided to try to install locally with devDependencies and I removed the glo

[2019-01-28 17:16] antross commented on #1717
This likely also affects `hint-babel-config` as it has a similar extends mechanism.

[2019-01-28 17:21] antross opened #1775 "Create a list of all reports generated by existing hints [0.5]"
Some formats are easier to localize than others, so we need to assess the current set of messages to see what might need changed.

Full list of hints:

* [x] hint-amp-validator
  * Messages come from third party tool
* [x] hint-apple-touch-icons
  * 'apple-touch-icon' link element should have non-empty 'href' attribute.
  * '${appleTouchIconHref}' could not be fetched (request failed).
  * '${appl

[2019-01-28 17:22] antross opened #1776 "Make extension-browser UI localizable"
Move strings to a JSON file and resolve them via a function call.

[2019-01-28 17:35] antross opened #1777 "Create an icon for new "Pitfalls" category"

[2019-01-28 17:36] antross opened #1778 "Browser extension UI design improvements [8]"
- [x] Improve design of landing "page" with configuration options [3]
- [x] Adjust "analyzing" page to match updated designs
- [x] Improve design of scan results "page"

[2019-01-28 17:39] antross opened #1779 "Investigate cause of Firefox bug in devtools.network.onRequestFinished [2]"
Affects our browser extension implementation.
https://bugzilla.mozilla.org/show_bug.cgi?id=1472653

[2019-01-28 18:09] molant commented on #1749
This diagram looks good. I think that we will need more detail in the documentation with examples of `Error refinement`, quirks, etc.

@antross anything else you can think of?

[2019-01-28 18:42] antross commented on #1574
We may want to add the `crossorigin` attribute to the built-in ignore list for HTML. It's often paired with the `integrity` attribute which we already ignore since SRI is a good thing to use even if not all your target browsers support it. That said, `crossorigin` can also be used in other contexts that don't involve `integrity`.

[2019-01-28 19:42] molant opened #1780 "[Feature] Run web test server in same thread when in CI"
# 🚀 Feature request

## Description

When running in CI we should run the web test servers in the same thread.

From a quick test there are about ~5min difference in average per platform when running the tests:
* https://dev.azure.com/webhint/webhint/_build/results?buildId=1078
* https://dev.azure.com/webhint/webhint/_build/results?buildId=1072

Keep in mind that in the fastest one there are 3 pac

[2019-01-28 19:44] #1694 closed

[2019-01-28 19:47] molant opened #1781 "Update @types/sinon from 5.0.7 to 7.0.5 [0.5]"
# 🚀 Feature request

## Description

PR #1770 is failing. Need to find out why and fix it.

[2019-01-28 21:53] molant commented on #1772
This seems to happen only when doing a PR and not when running master directly 😵

![image](https://user-images.githubusercontent.com/606594/51868842-d65ffe00-2303-11e9-85cf-87a0769780f8.png)

![image](https://user-images.githubusercontent.com/606594/51868934-10c99b00-2304-11e9-85d8-3e93872255e2.png)

[2019-01-28 22:13] #1716 closed

[2019-01-28 22:17] molant commented on #1774
Thanks @mituller, I'm taking a look right now.

[2019-01-28 22:44] molant opened #1786 "[Docs] Mention that x64 versions are recommended"
# 📚 Docs issue

We use a few binaries that only have prebuilt versions for x64 platforms. We should mention this in the getting started guide and also in the troubleshoot section.

[2019-01-28 22:55] molant opened #1787 "[Feature] Improve npx experience"
# 🚀 Feature request

## Description

The `npx` is used as a way to allow users to quickly test `hint` for the first time. With that in mind I think there are a few things we could do better:
1. It warns about using default configuration which might be confusing to first time uses
1. Right now `npx` can have issues when there's a global installation of `hint`

Not sure what to do about 2. Maybe det

[2019-01-28 22:56] molant commented on #1774
@mituller I can't seem to repro the issues you are having but I think I have an idea of what could be going on in some of your issues.

* `npx` issue: You might have an old version of `hint` installed globally and `npm` might be trying to use that one. We've changed how dependencies are loaded and what comes out of the box or not that might be the reason. Can you please do a `npm uninstall -g hint

[2019-01-28 22:56] #1774 closed

[2019-01-29 21:15] antross commented on #1779
Results of investigation posted on Bugzilla:
https://bugzilla.mozilla.org/show_bug.cgi?id=1472653#c13

Waiting to see if more help is needed to land a fix.

[2019-01-29 21:55] molant commented on #1772
Also it doesn't reproduce in all PRs 😭

* Passes: https://dev.azure.com/webhint/webhint/_build/results?buildId=1117
* Fails: https://dev.azure.com/webhint/webhint/_build/results?buildId=1118

[2019-01-30 00:45] molant opened #1792 "Escape `\n` on `findElementLocation`"
I've run the extension in this page with the defaults and I'm getting a bunch of errors :(

[code]

This is probably not related to the extension itself.

_Originally posted by @molant in https://github.com/webhintio/hint/pull/1596#issuecomment-458726770_

[2019-01-30 01:15] molant commented on #1772
[homebrew hasn't been updated yet](https://github.com/Homebrew/homebrew-cask/pull/58116) so that could explain todays failures. Still doesn't explain the ones before because v72 was released today.

[2019-01-30 01:52] molant commented on #1772
[It's merged](https://github.com/Homebrew/homebrew-cask/commit/59f70b04132b3d06d6faeb43f91ae232a76e6838)

[2019-01-30 10:09] borgitas21 commented on #1574
#1797

[2019-01-30 16:47] #1766 closed

[2019-01-30 17:36] antross commented on #1792
When trying to repro the issue I hit another case as well. Apparently the HTML parser allows `%` as an attribute name, but that also fails when building a selector (and when trying to use `setAttribute` for that matter).

[code]

[2019-01-30 17:41] antross commented on #1792
Rather than chase down each possible invalid selector, I'm going to fix the `\n` case and add a `try`/`catch` to ensure we handle potential invalid selectors gracefully. FWIW this whole code path should become obsolete after we do #1707 as we'll get location information from each element when we use `parser-html` to load the DOM snapshot.

[2019-01-30 17:49] molant commented on #1792
Sounds good to me. More reason to do #1707 sooner rather than later.

[2019-01-30 18:27] molant opened #1798 "[Feature] Add no-vulnerable-javascript libraries to extension"
# 🚀 Feature request

## Description

The current extension doesn't have it enabled. We need to figure out how to avoid the requests to check the latest version and such.

[2019-01-30 18:45] thejohnjansen opened #1799 "no-vulnerable"

[2019-01-30 18:46] #1799 closed

[2019-01-30 19:20] utsavized opened #1800 "Test ADO Task"
Please tell us about your:

## Environment

* __`hint` version:__
* __`Node.js` version:__
* __`npm` version:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

[code]

</details>

## URL for which `webhint` failed

* __URL:__

## Output

Please include the raw output generated by `webhint`, or if possible,
the raw output from running `webhint` in debug mode: `hin

[2019-01-30 19:21] #1800 closed

[2019-01-30 23:18] #1693 closed

[2019-01-30 23:21] molant commented on #1499
Another package we could mock is `debug`. We are never going to see the output from the extension.

[2019-01-31 17:31] #1074 closed

[2019-01-31 17:32] #1792 closed

[2019-01-31 17:45] molant commented on #1574
I'm having some unexpected results on a site with bootstrap:

[code]

Let's pick the `box-sizing` for example:

[code]

If I go to the source, all the references to `-webkit-box-sizing` are:

[code]

I don't think the hint should be failing in this case. Am I wrong?

[2019-01-31 18:04] antross commented on #1574
I'm seeing the same and this shouldn't be failing. Let me update the pre-built bundle with the latest from `master` and try again just to be sure.

[2019-01-31 18:40] molant commented on #1574
@borgitas21 do you still have time to look into this?

[2019-01-31 18:49] sarvaje commented on #1452
@molant, should we close this issue?

[2019-01-31 19:15] molant commented on #1452
Let's connect it to https://github.com/webhintio/hint/issues/1707 and close it once it is done. Sounds good?

[2019-01-31 19:57] #1749 closed

[2019-01-31 20:07] borgitas21 commented on #1574
Yes, I will check it. Could you provide the list of browsers you are using in this scenario?

[2019-01-31 20:16] antross commented on #1574
@borgitas21 We're using `defaults` for `browserslist`.

[2019-02-01 22:37] molant commented on #1775
@antross any suggestion as to how to store this information?

[2019-02-01 22:50] antross commented on #1775
How about a JSON file or a spreadsheet?

[2019-02-02 04:49] molant opened #1818 "[Feature] Look into url.fileURLToPath(url) and url.pathToFileURL(path)"
# 🚀 Feature request

## Description

node 10 has `url.fileURLToPath(url)` and `url.pathToFileURL(path)`. Right now we have some helpers to do that (`getAsURI` and some other I don't recall right now). We should look into migrating to those if they do the same.

## What scenarios will this solve?

Less code to maintain!

We should do this when we deprecate node 8 probably

[2019-02-04 19:11] molant opened #1824 "Reduce footprint"
While dependabot is doing a good work at updating our dependencies, we should make sure that we are using only the ones we need or if there are opportunities to reduce/replace for lighter versions.

Some examples:
- [ ] `npm-link-check`: We have it in quite a few of our packages but I don't think we are using it at any moment nor why it was added.
- [ ] `request`: It's quite heavy. We should inves

[2019-02-04 23:06] antross opened #1827 "Deprecated vendor prefixes in reverse order reports an error"
When deprecated vendor prefixes are involved, reversing the order of the properties still causes the compat hint to incorrectly raise an issue:
[code]
Expected:
(no reported issues)

Actual:
[code]

_Originally posted by @antross in https://github.com/webhintio/hint/pull/1820#issuecomment-460449277_

[2019-02-05 18:28] molant opened #1836 "[Feature] Use [skip_ci]"
# 🚀 Feature request

## Description

Right now we have to use `***NO_CI***` to avoid triggering builds on Azure Pipelines (althought there's a known bug).
In mid-March `[skip_ci]` will also be supported so we should probably migrate to that as it is the prefered token elsewhere.

https://developercommunity.visualstudio.com/content/problem/430367/no-ci-not-being-honored-in-azure-devops.html?childTo

[2019-02-05 19:49] ststimac commented on #1777
<img width="833" alt="screen shot 2019-02-05 at 11 44 26 am" src="https://user-images.githubusercontent.com/18073131/52299970-9f10d300-293b-11e9-9523-7a9f35146d72.png">

@antross @molant @sarvaje I have a few options for a "pitfalls" icon. Kind of tricky and I may be taking the term too literally so if anyone else has any other ideas please let me know. Also looking for feedback on this.

[2019-02-05 19:58] molant commented on #1777
I like the ones with the foot 😁

[2019-02-05 20:11] antross commented on #1777
I've been playing the latest Tomb Raider lately and the spikes are all too familiar...

My vote is for the spikes on the dark circle. The foot over the bear trap is my runner-up, though I'd want to see how that one fits in with the other icons.

No bright ideas on other ways to portray this, unfortunately.

[2019-02-05 20:18] ststimac commented on #1777
Should I add an option with the spikes and the foot?

[2019-02-05 20:21] antross commented on #1777
I'd probably still vote for the current spikes one. Which one do you prefer?

[2019-02-05 20:44] ststimac commented on #1777
And I'll post that here.

[2019-02-05 21:44] #1717 closed

[2019-02-05 21:48] molant commented on #1781
This was fixed

[2019-02-05 21:48] #1781 closed

[2019-02-05 22:15] ststimac commented on #1777
Pitfalls icons inline with the rest of the icons:

<img width="473" alt="screen shot 2019-02-05 at 2 13 52 pm" src="https://user-images.githubusercontent.com/18073131/52307762-5fa0b180-2950-11e9-93f9-f43a262084de.png">

[2019-02-05 22:23] molant commented on #1777
Bear trap?

[2019-02-05 22:36] ststimac commented on #1777
Ok, we'll use the bear trap. :D

[2019-02-05 22:39] antross commented on #1777
Works for me. :)

[2019-02-05 22:51] ststimac commented on #1777
@antross I have this in a branch under the webhint.io site repo, is that ok?

[2019-02-05 22:54] sarvaje commented on #1777
I like the bear trap too :)

[2019-02-05 23:38] antross commented on #1777
Let's open a PR to add it to the same folder as the other icons in the site. I don't think it should matter that we're not using it just yet. Sound ok to everyone?

[2019-02-05 23:46] molant commented on #1777
Webhint.io branch is fine!

________________________________
From: Jesus David García Gomez <notifications@github.com>
Sent: Tuesday, February 5, 2019 2:54:13 PM
To: webhintio/hint
Cc: Antón Molleda; Mention
Subject: Re: [webhintio/hint] Create an icon for new "Pitfalls" category (#1777)

I like the bear trap too :)

—
You are receiving this because you were mentioned.
Reply to this email directly

[2019-02-06 17:21] molant opened #1844 "[Docs] Improve commit message template"
# 📚 Docs issue

The current commit template looks like this:

[code]

There are a few things that are outdated or that cause confussion:

- Title can be now longer than 50 characters
- The links section at the end is confussing and people put the same ID in Ref, Fix and Close. That's kind of what we are asking but now what we want... We probably only need `Fix` and in some cases `Ref` when we poin

[2019-02-06 17:25] molant commented on #1772
RIght now I'm manually printing the chrome version, opening and closing it in the "Install" step. So far this seems to do the trick 🤯 although I'm not 100% sure so I'll keep queueing the build to see if this is for real:

[code]

[2019-02-06 19:22] karansapolia commented on #1748
There are more files in `packages/hint/src/lib/enums` , namely `hintscope.ts`, `errorstatus.ts`, `resourcetype.ts` which do not follow the convention. Possibly there are more. If renaming the files does not cause anything to break, I would be more than happy to do the legwork here :-). Should I go ahead with it?

[2019-02-06 19:38] molant opened #1846 "[Feature] Increase code coverage to update to latest nyc [0.8]"
# 🚀 Feature request

## Description

With the latest update of nyc (See https://github.com/webhintio/hint/pull/1831) our code coverage has decreased. It looks like now ternary operators are also part of branch coverage (or it wasn't well calculated before), default parameters, and such.

This means we have to go package by package, test it and see if we should add `/* istanbul  ignore next */` or

[2019-02-06 23:22] molant opened #1847 "[Bug] Weird tests results for hint-performance-budget"
# 🐛 Bug report

## Description

Trying to update to the latest nyc in #1114 and I'm getting random results for `hint-performance-budget` like:

Creating this issue so I don't forget to track it later.

[2019-02-07 11:04] NehaOberoi92 opened #1852 "[Bug] Bug description - Development hint installation is giving error"
Hi Team, I am facing issue while using below approach for development hints installation.
 {
    "extends": ["development"]
}

Error : { ResourceError: Module typescript not found when loading @hint/hint-typescript-config
    at Object.exports.tryToLoadFrom (/usr/local/lib/node_modules/hint/dist/src/lib/utils/resource-loader.js:140:19)
    at getResource (/usr/local/lib/node_modules/hint/dist/src/

[2019-02-07 16:25] #1620 closed

[2019-02-07 16:36] utsavized commented on #21
Looking so see the team had any ideas on how we go about item two in the checklist ... how do we identify content-sensitive pages?
@antross suggested `<input type="password">` for potential login pages ... any other ideas? I was thinking of warning on all form submissions, but maybe some forms (like a quick survey) are intentionally allowed to be inside an iframe?

[2019-02-07 17:17] antross opened #1854 "[Feature] Analyze server configuration files directly when available"
# 🚀 Feature request

## Description

Hints which flag for issues related to server configuration should actually examine server configuration files directly when available (e.g. when running against the filesystem or in the VS Code extension). This likely involves the addition of a few parsers for different server configuration files along with updates to a number of existing hints.

*Are you will

[2019-02-07 17:21] antross commented on #1854
@molant think this should be an Epic? I can easily see it breaking down into tasks for each configuration file type and each hint we want to update.

[2019-02-07 18:05] molant commented on #1854
And as you mention, creating the parsers for each one. I'll transform it into an Epic.

[2019-02-07 18:09] #1632 closed

[2019-02-07 18:12] #1221 closed

[2019-02-07 19:00] ststimac commented on #1777
Some code needs to be added so that the icon actually shows up. I can do this today.

Current site:

![pitfalls-icon](https://user-images.githubusercontent.com/18073131/52435808-93eaae00-2ac7-11e9-8035-9f18709953da.JPG)

[2019-02-07 19:16] antross commented on #1777
@ststimac That'd be awesome if you have time. Thanks for catching this!

[2019-02-07 19:17] molant opened #1856 "[Bug] Make sure we are linting everything when doing test and that there aren't any differences with test-release [0.1]"
# 🐛 Bug report

## Description

Right now `test` and `test-release` might detect different things.

Ex.: Add `// eslint-disable-line` to one line that doesn't needed. Running `yarn test` should pass but not `yarn test-release`. This happened at least on `utils-create-server`.

[2019-02-07 20:10] molant opened #1859 "[Bug] Release script crashes when updating package references"
# 🐛 Bug report

## Description

When using the release script sometimes the process crashes after publishing to npm and trying to update references in other packages.

The output isn't very helpful:
- code: 1
- stderr: ""
- stdout: "On branch master Your branch is up to date with 'origin/master'. Changes not staged for commit:..."

From the contents of `stdout` it looks like the files were updated

[2019-02-07 20:11] molant commented on #1777
It's done

[2019-02-07 20:12] molant commented on #1777
Although it might take a while to get it published because CI

[2019-02-07 20:19] molant opened #1860 "[Feature] Update dependabot to work only during the weekend"
# 🚀 Feature request

## Description

While @dependabot is working great there are a couple things we could tweak in the configuration to make it a bit less intrussive with our day to day work, mainly configure it to run only over the weekends.
The reason is that there are a few packages that update fairly often (octokit, webpack, I'm looking at you), also there are a few that break types and might

[2019-02-07 21:38] ststimac commented on #1777
So I don't need to do anything?

The icon isn't coming through on the scan results page either but I'm not sure how that is being pulled in because the icon classes aren't being used.

[2019-02-07 22:09] #1846 closed

[2019-02-07 22:12] molant commented on #1777
@sarvaje the `src` of the image is set to `unknown`:

![image.png](https://images.zenhubusercontent.com/56d5e96d6caf56c9d38d18fe/7305395e-1864-4243-abbd-b55236643cf5)

[2019-02-07 22:54] antross commented on #1779
Created patch and attached to bug per request:
https://bugzilla.mozilla.org/show_bug.cgi?id=1472653#c17

[2019-02-07 22:54] #1779 closed

[2019-02-07 23:06] sarvaje commented on #1777
We need to be sure that the website is using the last version of the html formatter.

[2019-02-07 23:22] molant opened #1863 "[Bug] Skip CI tag is added to changelog messages"
# 🐛 Bug report

## Description

When doing a release the `***NO_CI***` or `[skip ci]` tag appear in the changelog messages depending on the changes. This seems to happen in the `configuration` packages.

This should not happen.

[2019-02-08 00:05] molant commented on #1777
The icon in the hints page is showing up already. I've updated the formatter version in the website so when Azure Pipelines gets to it we should see it.

[2019-02-08 10:22] renestalder opened #1864 "[docs] Issue with 'Formatters'"
The formatters page seems missing or at least empty to me. Can somebody confirm that?

https://webhint.io/docs/user-guide/formatters/index.html

[2019-02-08 10:30] renestalder opened #1865 "[Bug] formatter property needs to be an array"
# 🐛 Bug report

## Description

Currently when defining the `formatter` property as described in the documentation with a single string, the CLI will show an error as the formatter property is processed with Array.map() (based on the error description).

## Environment

* __`hint` version:__ 4.4.0
* __`Node.js` version:__ 10.15.0
* __`OS`:__ macOS Mojave
* __URL for which webhint failed:__ Indepen

[2019-02-08 16:32] sarvaje commented on #1864
Yep, it is happening. I will take a look.

[2019-02-08 17:04] molant commented on #1865
Taking a look at this now. Thanks for reporting it @renestalder !

[2019-02-08 17:12] molant commented on #1865
The schema currently allows `string | Array` but when loading the configuration we are expecting an array. I think this is a leftover from the migration from `formatter` to `formatters` so we have 2 options:

1. Update the schema and documentations which should be relatively easy and allign with the rest of the options like `parsers`
1. Make it work with just a string and thus modifying all the lo

[2019-02-08 17:15] antross commented on #1852
@NehaOberoi92 Thanks for the report! This is a bug on our end, but if you want to workaround it while we get the issue fixed you can run `npm install -g typescript`, then try again.

@webhintio/core Looks like `@hint/hint-typescript-config` currently lists `typescript` as a `"devDependency"`, but actually has a runtime depedency due to a reference to the `ScriptTarget` enum (introduced in PR #1578

[2019-02-08 17:26] sarvaje commented on #1865
My vote is 1.

[2019-02-08 17:32] molant commented on #1865
There's a PR now with the fix https://github.com/webhintio/hint/pull/1867

[2019-02-08 17:34] molant commented on #1777
All icons are now in the website. Closing this issue.

[2019-02-08 17:34] #1777 closed

[2019-02-08 17:35] molant commented on #1683
I believe this Epic is done. We have the new category in code and live in the site with a couple hints. Closing.

[2019-02-08 17:35] #1683 closed

[2019-02-08 19:27] jdalton commented on #1679
After investigation I believe the majority of the time spent in startup is related to simply loading the modules. On load `hint` is loading more than 2,000 modules from `server.js` (loadWebHint) and 300+ from the `resource-loader`. After applying [`v8-compiler-cache`](https://www.npmjs.com/package/v8-compile-cache) _(modified to work with `Buffer`)_ to both I managed to shave ~500ms off the load t

[2019-02-08 19:31] #1679 closed

[2019-02-08 19:49] molant opened #1869 "[Feature] Compat-API should not flag issues if code is in @supports"
# 🚀 Feature request

## Description

Right now the compat-api for CSS doesn't check if a feature is being featured detected previously via `@supports` and thus causing false positives.

The hint should be aware of those.

## What scenarios will this solve?

Flagging false positives when users run the compat.

[2019-02-08 20:58] #1852 closed

[2019-02-08 20:58] #1865 closed

[2019-02-08 21:54] karansapolia commented on #1844
Github still suggests keeping titles around 50 chars or less. If more is allowed, should we suggest an upper limit of 72 chars?

The `Close #<issue>` was a bit confusing for me too personally as working on Github, the ID is there
 after the PR title always. It might be needed for other systems though.

For new commiters not familiar with technical speak around version control systems, this is very

[2019-02-08 22:07] molant commented on #1844
We allow more because we generate the changelog based on the commits and sometimes 50 characters is really not enough, especially with messages like

Maybe we just say that we recommended staying under 50 characters and that's all?

Something like what you propose is what I was thinking of!

[2019-02-08 22:39] sarvaje commented on #1864
This is related to the documentation generator in the website.

In fact, that element shouldn't be in the ToC, and of couse, it should have some content hehehe.
This should be fixed in a PR I will create soon.

I'm going to move this issue to https://github.com/webhintio/webhint.io

[2019-02-08 23:10] karansapolia commented on #1844
I think so. Can just add 'recommended' to the end of the bracketed limit in the first line. That would do it.

Oh okay! 😄 What do you recommend? What should we edit in?
 Also, is the first line empty by design? I mean, is a person expected to rewrite the commit? Or can they simply un-comment lines in the template to make a commit message? Cause the first empty line causes rejection of such edited

[2019-02-09 12:19] renestalder opened #1874 "[docs] Issue with 'Compatibility'"
https://webhint.io/docs/user-guide/hints/compatibility/index.html

The 4 compat-api links of the sub topics are broken:

compat-api/css-next
compat-api/css
compat-api/html-next
compat-api/html

I can make a pull request with the fixed links, but I want to make sure that #1596 doesn't address this issue already.

[2019-02-11 16:25] molant commented on #1847
The only explanation I can think of is that after the refactors we've been doing it could be we are downloading multiple times the same assets depending on the conditions. Need to investigate further if this happens with the same connector always or is both.

[2019-02-11 16:31] #1748 closed

[2019-02-11 16:41] sarvaje commented on #1874
@sarvaje will you take a look?

I'm taking a look, with the new PR https://github.com/webhintio/webhint.io/pull/633 I think this will not be a problem, but for some reason, I don't see the compact API rules in the compatibility section. I'm going to investigate that.

[2019-02-11 16:49] molant opened #1877 "Update packages in hint and release a new version"
# 🚀 Feature request

## Description

Right now `hint` depends on `configuration-web-recommended` `v5.0.0` but it should be `v6.0.0`.
We should update this reference (and any others) and do a new release.

[2019-02-11 16:58] molant commented on #1874
@sarvaje I've already explained what the problem is above :)

https://app.zenhub.com/workspaces/webhint-5bc4f59f4b5806bc2bed23d0/issues/webhintio/hint/1874#issuecomment-462225592

[2019-02-11 17:00] molant commented on #1824
* [ ] [canisuse](https://www.npmjs.com/package/caniuse) while not being massive has a lot of files and slows down the boot time (~500 modules to load). The plan is to migrate to the mdn data and use the script we have with the browser extension to condense the data we need.

[2019-02-11 17:02] sarvaje commented on #1874
@molant but with the new PR, I think that is not a problem anymore. The problem I see is another one.

[2019-02-11 17:10] sarvaje commented on #1874
Ahhh, @molant you are right, that can be the problem in the index file too.

[2019-02-11 17:34] molant opened #1878 ""[Docs] Document how the release should work""
# 📚 Docs

Document what happens to each package depending on how dependencies are bumped (patch, minor, major), for hints, hint, parser, utils, configuration, etc.

[2019-02-11 17:40] molant opened #1879 "Update CDP to use copy of DOM"

[2019-02-11 17:40] molant opened #1880 "Update browser extesion to use copy of DOM"

[2019-02-11 17:40] molant opened #1881 "Update jsdom to use copy of DOM"

[2019-02-11 17:41] molant opened #1882 "Refactor connectors to unify DOM access"

[2019-02-11 17:55] molant commented on #1647
Current action item is to start ideating new features.

[2019-02-11 18:05] antross opened #1883 "[Feature] Hints should include actions/fixes along with reports"
# 🚀 Feature request

## Description

 What do you want to be added?

Reports from hints should include actions to take in response to the report. These may include some which disable/ignore the hint at various levels as well as others which auto-correct the problem (if possible).

The actual UX of how to choose an action will likely vary by context (CLI, browser extension, VS Code extension). I su

[2019-02-11 18:24] molant commented on #1874
Going to take care of this now 💪

[2019-02-11 18:40] molant commented on #1874
There's now a pr for this (#1884)

[2019-02-11 18:53] molant commented on #1844
so [`prepare-commit-message.js`](https://github.com/webhintio/hint/blob/master/scripts/prepare-commit-message.js#L11) should be similar to:

[code]

Please note that the link at the end is also different (the current one is broken).

We also need a blank line between the title and the message. Not sure what would be the best way to indicate this. Maybe we should update `<blank line>` to `<uncommen

[2019-02-11 20:42] #1776 closed

[2019-02-11 20:44] #1874 closed

[2019-02-11 21:49] molant commented on #1877
FYI, I'm working on a script that will update all the `@hint` dependencies to the current version in the current workspace.

[2019-02-11 22:41] molant commented on #1546
Going to close this as I haven't experienced it for the last few releases. I'll reopen if I encounter it again.

[2019-02-11 22:41] #1546 closed

[2019-02-11 23:36] molant commented on #1647
I'm thinking we should remove the option to install webhint globally when not found. It only produces headaches. What do you think?

/cc @antross

[2019-02-11 23:40] antross commented on #1647
I agree installing to a project is best - should we do something similar for the CLI guidance? [Current documentation](https://webhint.io/docs/user-guide/) still suggests to make that a global install as well.
[code]

[2019-02-11 23:46] molant commented on #1647
Yup

[2019-02-12 00:18] molant opened #1887 "[Feature] VS Code launch config file [0.1]"
# 🚀 Feature request

## Description

It will be awesome if we could add the VSCode launch config file to the project. There are a few configuration the team uses to run scripts, tests for a particular hint, etc.

## What scenarios will this solve?

This will allow getting started on a new clone or fork pretty easily. Also it will normalize how we test accross the team and make sure we are use the

[2019-02-12 00:40] #1574 closed

[2019-02-12 00:41] sarvaje commented on #1882
We have talk about using the `parser-html` for this. The `parser-html` use `jsdom` to parse the script and also evaluate scripts.

I've been investigating a littler bit, talking with @molant and @antross these are some of the options we have:
1. Keep the parser as is, but each connector will use their own `evaluate` to run scripts. (except `connector-local` that will use the one from the parser)
1

[2019-02-12 00:55] antross commented on #1882
I vote for 1.

It's the most incremental, but still gets us sharing significant amounts of code and should boost overall performance. We already load plenty else in the browser extension, so I'm okay adding `jsdom` to the list unless/until we've seen an actual problem with using it there.

I don't like that 2, 3, 4 all add an extra parse to `connector-local` as we re-run often using that connector

[2019-02-12 10:52] karansapolia commented on #1844
`<blank line>` conveyed the intended meaning the best to me, because it followed the declarative style of suggestion like in `<Tag>` before it.

Another observation, when i first opened the commit template, it seemed confusing, because which lines were the commit message and which were just comments was a bit confusing, so the lines following the actual commit message also seemed to be a part of t

[2019-02-12 10:57] karansapolia commented on #1844
If this is a lot of wishful thinking on a small issue, we can first merge your suggested `prepare-commit-message.js`, and if new PRs still have commit message issues, we could incrementally try other things later.

[2019-02-12 16:23] molant commented on #1882
Also 1. I'm not thrilled about the parser evaluating JS but right now it probably is the most cost effective. We can always improve later.

[2019-02-12 16:35] molant commented on #1844
The commit message is there to make contributions easier and as it is right now it doesn't seem to achieve that so I'm OK with us discussing for as long as needed to make sure we get it right this time 😊
I think you are right with the visual difference. What do you think of inverting it though? That way the user has to delete less characters.

[code]

With the visual difference we could look into

[2019-02-12 16:52] sarvaje commented on #1882
Just one thing I have just thought, the parser shouldn't run any script at all if we want it to be reliable. Remember that there is a lot of API that fail in jsdom, but not in `chrome`. So, I'm not sure if option 1 is the best... (I'm assuming that to use the evaluate, we need to allow running scripts)

[2019-02-12 17:14] antross commented on #1882
Not a problem as `parser-html` is already configured to only let "outside" scripts run (e.g. ones we inject). The page itself is still evaluated as static content.

https://github.com/webhintio/hint/blob/5385d4479e58a74053531608e2b2b7e0237c54a4/packages/parser-html/src/parser.ts#L64

See https://github.com/jsdom/jsdom#executing-scripts for full details.

[2019-02-12 17:17] sarvaje commented on #1882
That was my concern, then option 1 is the winner :)

[2019-02-12 19:28] karansapolia commented on #1844
I believe the Angular project has a great [CONTRIBUTING.md](https://github.com/angular/angular/blob/master/CONTRIBUTING.md) file with all the description and a great write-up on commit style. Their sample commit message is short, but followed by a detailed description. Their approach would be a good one to emulate.
About `<Tag>`, having our CONTRIBUTING.md could help. it is an established practice

[2019-02-12 21:18] molant commented on #1844
We have a [`CONTRIBUTING.md`](https://github.com/webhintio/hint/blob/master/.github/CONTRIBUTING.md) but I agree the Angular one is great and we should take inspiration of it.

Most definitely! Let's see if @sarvaje or @antross have any comment.

[2019-02-12 21:19] #1877 closed

[2019-02-12 23:13] molant opened #1895 "[Feature] Prettier output when release crashes"
# 🚀 Feature request

## Description

When the release script crashes it outputs the error. Unfortunately it is usually a stacktrace in a single line. It will be nice to have a pretty output of the error message along with all the other information that's output too.

## What scenarios will this solve?

This will make it easier to know what the failure is and why.

[2019-02-13 11:01] renestalder commented on #1532
Looking forward to this. It can especially help to test pages that need certain steps e.g. login masks before reaching the actual page that should be tested. Or for accessibility, testing different states of a page.

[2019-02-13 18:41] molant commented on #1644
https://docs.npmjs.com/requiring-2fa-for-package-publishing-and-settings-modification

[2019-02-13 19:54] antross commented on #1844
I like where this is going.

Given `Ref` is used relatively infrequently what do you think about dropping it to further simplify the example (and just refer to it in the linked documentation)?

Also, I think we can drop why we're using imperative language. We don't need to justify it here, just communicate what is expected.

And since this would allow compacting the description into a single block

[2019-02-13 21:08] molant opened #1903 "[Feature]Enable https-only in online scanner"
# 🚀 Feature request

## Description

Looks like `https-only` is not enabled in the online scanner. Can't really remember why is the case (too many issues?) but we should look into enabling it.

Context:

https://twitter.com/hanno/status/1095789109912707074
https://webhint.io/scanner/dc776434-d6b9-47b2-bc8d-34d5acdc836b

In the [config](https://webhint.io/scanner/config/dc776434-d6b9-47b2-bc8d-34d5

[2019-02-13 21:08] molant commented on #1903
/cc @sarvaje in case he can remember the reason

[2019-02-13 21:45] karansapolia commented on #1844
Oh yes! Missed it somehow.

@antross I like this version a lot. Clear and short. Seems very welcoming and simple from a new contributor's perspective. The blank line is clearly understood here, with just one para below and no other comments.

[2019-02-14 01:13] molant commented on #1844
Let's go with this one then. @karansapolia want to do a PR?

[2019-02-14 07:47] karansapolia commented on #1844
I would love to! :smiley: Sending one right away.

[2019-02-14 19:33] #1572 closed

[2019-02-14 21:10] #1844 closed

[2019-02-14 23:10] molant opened #1916 "[Bug] create-hint `package.json#main` doesn't point to the right file [0.2]"
# 🐛 Bug report

## Description

When creating a single hint using `create-hint` the generated `package.json` `main` property points to `index.js` instead of `hint.js`

Need to check what happens when creating a multi-hint though.

[2019-02-14 23:30] ststimac opened #1918 "Scan results overview padding broken on smaller screens"
![screen shot 2019-02-14 at 3 28 49 pm](https://user-images.githubusercontent.com/18073131/52824435-62488880-306d-11e9-80af-bea14fc76f4f.png)

There needs to be a space between "Hints" and the number next to it.

[2019-02-15 00:08] ststimac commented on #1515
Should I take this into account as I'm re-designing the scan results page in terms of layout? Or should I just focus on re-skinning everything right now and we'll re-assess and work on mockups later down the road?

[2019-02-15 02:13] molant commented on #1515
If you think this should be part of v1 then we should do it. Otherwise we can revisit later. Will be good to have some alternatives see what people prefer though 😊

[2019-02-15 04:31] molant commented on #1918
@ststimac I've move the issue to the hint repo because it comes from the html- formatter.

[2019-02-15 23:52] ststimac commented on #1918
@molant ok....oddly when I use the HTML Formatter option from the command line and open the generated file the issue is not there, only on the website.

[2019-02-15 23:56] sarvaje commented on #1918
Maybe it is an issue in the website. We could have some CSS overriding the formatter CSS and causing the issue.

[2019-02-16 00:01] sarvaje commented on #1869
@webhintio/core I think I need a little bit more explanation here. Do we want to ignore completely the `@support` block?
If we have a CSS like this, what should the `hint` check?:

[code]

Also, what happen when a browser doesn't support `@supports` should the `hint` ignore it?

[2019-02-16 02:12] molant commented on #1869
I think the idea is:
- If a browser doesn't support a property:
  - If it supports `@supports` check if it is in a block that checks for it
  - If it doesn't support `@supports`, ignore that block entirely

So with your flexbox example and looking into the [MDN data](https://developer.mozilla.org/en-US/docs/Web/CSS/flex#Browser_compatibility):
- IE10 shouldn't show any problem even though it only

[2019-02-16 02:14] molant commented on #1918
It might be removed when minifying if it's not the whitespace character `&nbsp;`

[2019-02-16 02:51] molant opened #1925 "[Feature] Find a way to walk the AST only once when analyzing JS"
# 🚀 Feature request

## Description

Right now when a hint needs to access the JavaScript AST  to analyze anything it needs to create a new `Linter` object:

[code]

We should find a way to only create one shared `linter` object.

## What scenarios will this solve?

Perf improvements and memory reduction

[2019-02-16 04:13] antross commented on #1925
Should we always have `parser-javascript` create one and include it on the `parse::javascript::end` event?

[2019-02-16 04:45] molant commented on #1925
I was thinking about using events but wasn't sure which one would be the best one for this.
Also rules call `linter.verify` each time so we should probably try to do all in one go for all hints, otherwise we are just solving half the problem 😔

[2019-02-19 17:48] molant commented on #1916
I think the problem is that we are creating an `index.ts` file that is kind of verbose and doesn't follow what we are doing in core. The output of single hint and multi hint should have the same output as the files we have in the project.

[2019-02-19 17:52] Malvoz commented on #1635
Potentially you could `Vary` _anything based on anything_ (custom headers allows for more than "just" the HTTP headers registered in the [IANA registry](http://www.iana.org/assignments/message-headers/message-headers.xhtml)). Not sure what I was thinking there.

I guess anything is valid per se, it boils down to how large of a cache key surface is wanted/expected by the developer. As with the `Var

[2019-02-19 17:57] sarvaje commented on #1869
So basically,

if `@support` is not supported, ignore the entire block.
if `@support` is supported, analyze what is inside.

right?

[2019-02-19 18:10] Malvoz commented on #1635
To futher showcase the ambiguity of the `Vary` header: 🙆‍♂️

![cdn2](https://user-images.githubusercontent.com/26493779/53037170-cad2a380-3479-11e9-9329-c8e9e3819556.png)

[2019-02-19 18:59] molant commented on #1869
Yup

[2019-02-19 19:00] molant commented on #1869
More like

[2019-02-19 19:03] molant commented on #1635
Interesting, we can wait and see what KeyCDN has to say about `Vary`.

Thanks!

[2019-02-19 19:06] Malvoz commented on #1635
They kept their word and updated the article! https://www.keycdn.com/blog/client-hints#client-hints-and-the-vary-header

[2019-02-19 19:41] sarvaje commented on #1869
What do you mean with `check browser support of the feature`?

[2019-02-19 23:08] molant opened #1936 "[docs] Issue with 'Correct viewport'"
https://webhint.io/docs/user-guide/hints/hint-meta-viewport/index.html

It should be:

[2019-02-20 05:31] molant commented on #1772
This seems to fail again so reopening 😭
In an Azure Pipelines thread they suggested installing `puppetteer` so I might try that.

[2019-02-20 15:35] antross commented on #1772
FWIW we should already be installing `puppeteer` for some of the `extension-browser` tests...

[2019-02-20 17:56] molant opened #1941 "[aXe] Improve reporting of hint-axe to link to deque documentation"
# 🚀 Feature request

## Description

The current report coming from aXe is not as useful as it could be, especially if the user is not aware of some of the a11y issues.

**What do you want to be added?**

We should deep link to the [deque university documentation](https://dequeuniversity.com/rules/axe/3.1/) for each one of the warnings so developers can better understand the issue and fix it.

**A

[2019-02-20 19:30] molant opened #1942 "[vscode]Don't prompt install if .hintrc is missing?"
The VS Code extension is prompting to install webhint each time I open a new folder even though I don't want it. Maybe we should be more "polite" and only do this check if a `.hintrc` file is found?

[2019-02-20 20:05] antross commented on #1942
I'd be concerned about this creating a cliff for someone installing the extension for the first time then wondering why nothing is getting analyzed.

Still I agree this can be annoying and we shouldn't spam someone into uninstalling the extension. Perhaps we can find a better way to gently nudge or limit when we prompt.

[2019-02-20 21:02] molant commented on #1942
I believe not prompting if no config file is ESLint's behavior. Also this should be done after we decide what happens with https://github.com/webhintio/hint/issues/1647#issuecomment-462539525

[2019-02-20 23:47] molant commented on #1869
With the following example and for the case of Edge 13:

[code]

Edge 13 implements `@supports` and does not implement `grid` so the code in the block should be ignored.

Hope it is clearer now.

[2019-02-20 23:53] sarvaje commented on #1869
Ahh yes, now it is clearer :)

[2019-02-21 09:47] thany opened #1945 "[docs] Issue with 'HTML'"
https://webhint.io/docs/user-guide/formatters/formatter-html/index.html

It might be worth mentioning what the actual output is. At first I couldn't find where it saved the supposed html output to. It turns out it saves to a folder called `hint-report`.

Maybe also change the CLI output to say where it's been saved?

[2019-02-21 10:39] NehaOberoi92 opened #1946 "[Feature/Docs] How to analyze websites that require authentication"
Hi Team,

I have one query, I am running webhint against my website, how we can scan the website pages which are authenticated. Is there a way to do that ?

Thanks

[2019-02-21 11:11] molant commented on #1946
Take a look at (and ignore the edge part, we need to update that):

https://webhint.io/docs/user-guide/configuring-webhint/website-authentication/

https://webhint.io/docs/user-guide/concepts/connectors/#remote-debugging-connector-configuration

The idea is to manually authenticate with Chrome in the website and then use that same browser profile. That will only work if the authentication state pe

[2019-02-21 11:18] aladdin-add opened #1947 "[Bug] Cannot read property 'then' of undefined"
# 🐛 Bug report

## Description

## Environment

* __`hint` version:__ v4.4.0
* __`Node.js` version:__ v11.10.0
* __`OS`:__ macos
* __URL for which webhint failed: https://www.alibaba.com

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

[code]

</details>

## Debug output

Please include the raw output generated by `webhint`, or if possible,
the raw output from run

[2019-02-21 18:20] molant commented on #1945
@thany there's a PR for this now in https://github.com/webhintio/hint/pull/1950 if you want to take a look and provide feedback.

Thanks!

[2019-02-21 18:31] molant commented on #1946
Looking into the options of connecting to an existing browser this would be more or less the process:

- Launch chrome with a debugging protocol port open ➡ This will have to be done by the user and will be something like executing `google-chrome --remote-debugging-port=9222` from the command line (adapted to each OS)
- User authenticates in the website
- Create a new option for `port` under the `

[2019-02-21 18:34] molant commented on #1947
@sarvaje this seems related to the work you did in jsdom to load resources. Can you please take a look when you have time?

[2019-02-21 18:36] molant commented on #1947
@aladdin-add to get an analysis for the website your best option is to use the `chrome-connector`.

Can you please create a `.hintrc` file with the following content and then run `hint` again from the same folder?

[code]

Thanks!

[2019-02-21 19:22] antross commented on #1946
@NehaOberoi92 to be clear all of these solutions (other than the browser extension) are for the CLI version of webhint.

Are you already using the CLI or were you running webhint from the https://webhint.io website?

[2019-02-21 19:47] #1945 closed

[2019-02-21 21:10] #1349 closed

[2019-02-22 01:43] NehaOberoi92 commented on #1946
Thanks for your help

I am using webhint inside docker container alpine image.
So should I install chrome in dockerfile and make sure that my website is logged in before webhint is executed ?

[2019-02-22 01:47] molant commented on #1946
Where are you getting that docker image? I don't think we have any official release for those.
Any specific reason why you need it to run in a container instead of your dev environment?

[2019-02-22 02:39] aladdin-add commented on #1947
I've encountered a different error after upgrading to new released **v4.4.1**

[code]

[2019-02-22 02:51] NehaOberoi92 commented on #1946
Yes I can see there is no official documentation regarding docker, but I meed to integrate webhint with our CI pipeline and the tool we are using for CI purpose is Drone which works on docker containers.
So to integrate webhint with my pipeline I need to run it in a docker container, I tool a node official image as base image and then installed webhint in that. But now I am not sure how to proceed

[2019-02-22 04:28] molant commented on #1946
I understand. Unfortunatelly the solutions I was providing were for manual testing and I don't think they will work in CI 😔

Does the website use basic auth? If so maybe putting the `user/pass` in the url will work.
If not, then we probably need to do something with webdriver and webhint's node API.
@NehaOberoi92 can you detail how the authentication is done in your website?

We could maybe look i

[2019-02-22 04:33] NehaOberoi92 commented on #1946
I need to confirm but I think it is basic authentication as we need to enter username and password, how can we can do this - If so maybe putting the `user/pass` in the url will work. ? Can you please tell me that. Till that time I will confirm with team if authentication is basic or not

[2019-02-22 04:36] molant commented on #1946
Try doing something like `hint http://username:password@example.com` where `example.com` will be the url you need to test.

[2019-02-22 04:40] NehaOberoi92 commented on #1946
Let me give it a try and get back to you, thanks for your help !

[2019-02-22 04:41] molant commented on #1947
We were releasing a new version of quite a few packages and the process stopped in the middle so some need to still be published. All finish the process first thing in the morning (PST).

Sorry for the inconvenience 😔

[2019-02-22 05:44] NehaOberoi92 commented on #1946
It is not basic authentication ,so this solution will not work for me

[2019-02-22 05:56] molant commented on #1946
@NehaOberoi92 can you detail how the authentication is done in your website? Did the user need to click somwhere to get the form or is it visible on load? Something else that needs to happen?

We can use that as a base to prototype Auth

[2019-02-22 06:55] NehaOberoi92 commented on #1946
I am working to find the answer to your question, Suddenly I have started facing some other issue,
I was using and installing web recommended packages and it was working fine, but suddenly I am facing error
https://github.com/webhintio/hint/tree/master/packages/configuration-web-recommended

error - { ResourceError: Module hint/dist/src/lib/enums/hintscope not found when loading @hint/hint-highest

[2019-02-22 06:58] NehaOberoi92 commented on #1946
I am getting similar type of error for other packages as well for example - { ResourceError: Module hint/dist/src/lib/enums/hint-scope not found when loading @hint/hint-axe
    at Object.exports.tryToLoadFrom (/usr/local/lib/node_modules/hint/dist/src/lib/utils/resource-loader.js:141:19)
    at getResource (/usr/local/lib/node_modules/hint/dist/src/lib/utils/resource-loader.js:148:30)
    at sourc

[2019-02-22 10:02] molant commented on #1946
We know, see https://github.com/webhintio/hint/issues/1947#issuecomment-466271450 😔

[2019-02-22 10:24] NehaOberoi92 commented on #1946
Okay thanks for informing ,  for authentication - it is based on oAuth or SAML and we don’t think it can be done through basic authentication

[2019-02-22 16:49] molant commented on #1946
@NehaOberoi92 can you please describe how do you authenticate in the website? No need to explain the underlying techniques. An example of what I'm looking for:

1. Open website
1. Click on login button
1. Fill form (user and password)
1. Click on "submit" button

Thanks!

[2019-02-22 17:58] antross opened #1956 "[Bug] CSS hints report wrong position for CSS inline in HTML [3.5]"
# 🐛 Bug report

## Description

Save and open the following HTML document in VS Code with the webhint extension:
[code]

Expected: Error reported at `appearance: none`.

Actual: Error reported at `<html>`

Affects both `hint-compat-api` and `hint-css-prefix-order`. Should be able to be fixed using additional event data from PR #1953.

[2019-02-22 18:54] molant commented on #1947
@aladdin-add I've finished publishing all the packages and you should not encounter your last reported error any more.

[2019-02-22 18:57] molant commented on #1946
@NehaOberoi92 I've finished publishing all the packages and you should not encounter your last reported error any more.

[2019-02-22 23:12] molant commented on #1593
I believe this will be obsolete once we merge #1943, right? I'm going to move it up to the backlog so we can close it next sprint.

[2019-02-22 23:17] molant opened #1960 "Support"
Epic to associate issues related to support

[2019-02-22 23:26] antross commented on #1593
Yep, we won't want to disable it any longer as connector support will be tied to DOM traversal and `parser-html` will just emit parse events for the original source. Both can and should be available in all contexts going forward.

[2019-02-25 09:20] NehaOberoi92 commented on #1946
@molant : I will get back to you on the exact login procedure of website. In the meanwhile I was trying to do above steps manually. "https://github.com/webhintio/hint/issues/1946#issuecomment-466112997 "

But when I try to do this  it is not scanning . I have attached screenshot
![image](https://user-images.githubusercontent.com/15037065/53326855-97c26100-390c-11e9-9dec-b5b2297c2e1a.png)

[2019-02-25 09:57] NehaOberoi92 commented on #1946
Website workflow -
Open the website
It will automatically redirect to login url
Fill in id/pwd combo
click submit
a few redirections happen
it then goes to the landing page

[2019-02-25 10:29] NehaOberoi92 commented on #1946
I have few queries , as I told I am looking for the CI automation -

1.) can we use chrome connector with headless chrome ? If yes can you help me to understand way for the same . I can see in chrome connector documentation we are giving headless flag
2.) How can we automate the authentication rather than manually entering username password ? Can we do using headless chrome feature?
3.) If I am do

[2019-02-25 17:09] #1878 closed

[2019-02-25 17:37] molant opened #1971 "Blogposts"
* [ ] Pitfalls
* [ ] Automation series
* [ ] Releasing monorepos
* [ ] Browser extension

[2019-02-25 17:39] molant opened #1972 "[blogpost] Pitfalls"

[2019-02-25 17:39] molant opened #1973 "[blogpost] Automation"

[2019-02-25 17:41] molant opened #2929 "Publish VS Code extension docs to website"

[2019-02-25 17:43] molant commented on #1824
Related to #1499

[2019-02-25 17:43] molant commented on #1499
Related to #1824

[2019-02-25 17:45] molant commented on #1499
@jdalton can you please point us to the tools we should be using to reduce lodash's size?

[2019-02-25 18:02] antross opened #1974 "[Feature] Extend hint-no-vulnerable-javascript-libraries to local files (using package.json)"
# 🚀 Feature request

## Description

 What do you want to be added?
Currently no-vulnerable-javascript-libraries needs to run in the context of a page as it dynamically searches for loaded libraries. We can also make this work with connector-local by looking at package.json when available and simply analyzing the listed libraries/versions.

 Are you willing to work on this?
Yes.

## What scenarios

[2019-02-25 18:17] jdalton commented on #1499
Sure!

There's [babel-plugin-lodash](https://www.npmjs.com/package/babel-plugin-lodash) to transform to cherry-picking and [lodash-webpack-plugin](https://www.npmjs.com/package/lodash-webpack-plugin) to reduce extraneous functionality.

[2019-02-25 19:04] antross opened #1975 "[Bug] Location reports for HTML elements are often incorrect"
# 🐛 Bug report

## Description

The line/column provided for elements during traversal are often incorrect as they're generated from a dynamic snapshot of the DOM instead of the original source. This is a hard problem to solve as many elements may have been dynamically added (meaning pointing to somewhere in a JS file may be more appropriate).

At a minimum I'd suggest omitting line/column informa

[2019-02-25 19:37] molant commented on #1643
# 🚀 Release process automation and improvements

## Background

[hint][hint] is a monorepo. This means it contains several packages under the same source control so it is easier to update them. In this case all those packages are under the `packages` folder: main CLI, `hint`s, `connector`s, `formatter`s, `configuration`s, etc. Everything maintained by the team lives there.

Releasing a monorepo fo

[2019-02-25 21:06] ststimac commented on #1918
It looks like the hint number is being wrapped in a `<span>` via the HTML Formatter but that  `<span>` is not present in the website.

[2019-02-25 21:07] ststimac commented on #1918
This is what is being output in the HTML Formatter:

`<p class="rule-tile__sub-category rule-tile__hints"><span>7<span></span></span></p>`

[2019-02-26 09:42] NehaOberoi92 commented on #1946
Hi @molant , can you help me with any of the above query ?

[2019-02-26 18:17] ststimac commented on #1918
To follow up here, I'm not sure why there are spans being added in the HTML Formatter but not in website. I can add styling just to the website that will fix this but let me know if that's the way I should proceed.

[2019-02-26 18:26] sarvaje commented on #1918
I need to take a look to this. It is weird that the html is different in one place and in another.

[2019-02-26 20:00] molant commented on #1946
Hi @NehaOberoi92,

I've been 😷 the last few days and working on the next spring planning.

Yes, [more information in the connector docs](https://webhint.io/docs/user-guide/concepts/connectors/#remote-debugging-connector-configuration). Your `.hintrc`  should look something like:

[code]

Are you doing any kind of testing other than webhint with this website? If so you should be doing something sim

[2019-02-26 22:20] utsavized opened #1979 "Test epic"
Please tell us about your:

## Environment

* __`hint` version:__
* __`Node.js` version:__
* __`npm` version:__

## `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

[code]

</details>

## URL for which `webhint` failed

* __URL:__

## Output

Please include the raw output generated by `webhint`, or if possible,
the raw output from running `webhint` in debug mode: `hin

[2019-02-26 22:24] #1979 closed

[2019-02-27 00:25] sarvaje commented on #1918
@ststimac I found the issue, is just an issue with a selector. I will create a PR in the website repostory.

Also I'm moving this issue to the website repo.

[2019-02-27 00:26] sarvaje commented on #1918
Closing in favor of https://github.com/webhintio/webhint.io/issues/652

[2019-02-27 00:26] #1918 closed

[2019-02-27 22:10] sarvaje opened #1985 "[Bug] Expand all close all buttons are cut."
Steps to reproduce:

1. Go to https://webhint.io/scanner/
2. Scan an url

Expected:
Expand/collapse all button should looks ok.

Actual:
![image](https://user-images.githubusercontent.com/1581288/53526547-6034ef80-3a99-11e9-9450-d3ef7dcf7e37.png)
![image](https://user-images.githubusercontent.com/1581288/53526558-69be5780-3a99-11e9-8fd5-5f032a828cf4.png)

[2019-02-27 22:39] sarvaje commented on #1903
@molant I don't remember the reason.

I'm going to activate it.

[2019-02-27 22:51] molant commented on #1985
Guess this is for @ststimac?

[2019-02-27 23:20] sarvaje commented on #1985
Yes, or for me if @ststimac  doesn't have time.

[2019-02-27 23:35] #1903 closed

[2019-02-28 17:03] ststimac commented on #1985
I've got time. :)

[2019-02-28 17:04] ststimac commented on #1985
This is one of the tasks under my "scan results clean up" already.

[2019-02-28 18:02] sarvaje commented on #1985
Ok!

[2019-03-01 18:27] molant opened #1990 "[Bug] ignoredUrls doesn't work on SRI anymore [0.5]"
# 🐛 Bug report

## Description

Since https://github.com/webhintio/hint/commit/b230947a15783cd4b5442f97bab3583f52934bca it seems like `ignoredUrls` no longer works with `sri`.
The reason is that the `resource` is now the HTML instead of the asset, which is where the error actually is.

I don't think `ignoredUrls` is accessible to the hints via `context` so the only solution I see is to add a new o

[2019-03-01 18:38] molant commented on #1887
On top of the `launch.json` we should probably add a [`extensions.json`](https://code.visualstudio.com/docs/editor/extension-gallery#_workspace-recommended-extensions) to make the on-boarding even faster.

Some extensions I'm using in webhint:
- ESLint
- GitHub Pull requests
- peacock
- vs live share
- webhint

[2019-03-01 18:46] sarvaje commented on #1990
I think the problem is the traverse events. In those events, the resource is the url we are analyzing and not the url of the element (src in scripts, href in css).

Maybe an option is adding the ignoredUrls to the context?

[2019-03-01 19:13] molant commented on #1990
We will still have to add code to the rule to handle the issue.
Should we provide the whole `ignoredUrls` or filtered based on the hint? I.e.: if the `ignoredUrl` has a value of `*` we pass it to all the hints. If not, we just pass it to the ones indicated.

[2019-03-01 19:48] sarvaje commented on #1990
Yep. The developer of the hint should take care of this in each rule if necessary.

I like the filtered by hint idea.

[2019-03-02 00:09] sarvaje opened #1995 "[Question] should hint `compat-api` report unknown properties?"
For this CSS:
[code]

should the hint report the property `unknownProperty`?

[2019-03-04 16:36] antross commented on #1995
I'd say no, but happy to discuss.

I think not reporting here will help the hint work better in pre-processing environments as webhint's reach expands more into that area. Not reporting is also consistent with how the hint handles other "unknown" cases, e.g. the hint does not flag a property if support for a given browser is unknown.

[2019-03-04 19:10] molant commented on #1995
I don't have any strong opinion so lets say it shouldn't report it and close this issue.

[2019-03-04 19:10] #1995 closed

[2019-03-04 20:13] antross commented on #1990
Agreed. Since `HintContext` already has the hint ID, how about making an `ignoreUrl` helper on the context that takes the URL we want to know if we should ignore (and then the hint can take care of *how* to ignore it)?
[code]

[2019-03-04 23:41] sarvaje commented on #1869
@molant I have a question. What if the CSS contains something like this and we are on Edge 13?:
[code]
Should we ignore the `@support` block or not?

[2019-03-04 23:44] molant commented on #1869
Don't think we should ignore it.
Edge 13 has `@supports` and the condition checks so we should analyze the contents.

[2019-03-04 23:47] sarvaje commented on #1869
ok!

[2019-03-06 17:18] molant opened #2019 "[Hint] Intrinsicsize"
# 🚀 Hint request

## Description

The intrinsic size attribute allows developers to specify the intrinsic size of a media element (<img>, <video>, <svg:image>). With this attribute media elements will maintain their aspect ratios. Developers need only specify one dimension, either a percentage or pixel value, and the other dimension will be computed immediately without causing a visual re-flow.

[2019-03-06 21:08] ststimac opened #2053 "Scan results page: JS issue w/mobile menu [0.3]"
When a user has the categories expanded like this:
<img width="512" alt="screen shot 2019-03-06 at 11 22 41 am" src="https://user-images.githubusercontent.com/18073131/53907563-50219080-4002-11e9-8066-2dacb837814e.png">

And is using the keyboard to tab through the the categories, if they hit "enter" to tab into a section, the categories menu is not closing when enter is being pressed. This is onl

[2019-03-06 23:10] molant opened #2025 "[Bug] Audit pinned versions of packages"
Packages that need to be pinned:

| Package | version | reason |
| ----------| --------|---------|
| `proxyquire` | v2.0.0 | v2.1.0 has a problem with one of it dependencies that breaks our current tests |
| `exceljs` | v1.7.0 | v1.9.0 has a problem in it types definition (https://github.com/exceljs/exceljs/issues/773) |
| `angular`, `moment`, `jquery` in `hint-no-vulnerable-javascript-libraries`|

[2019-03-07 10:52] derhecht opened #2027 "[Bug] Segmentation fault"
# 🐛 Bug report

## Description

Just installed hint, run with default config against an internal project and got a seg fault when fetching/parsing maybe unavailable PNG file without any other trace.

## Environment

* __`hint` version:__ 4.4.1
* __`Node.js` version:__ 9.4.0
* __`npm` version:__ 5.6.0
* __`OS`:__ Debian 8.8
* __URL for which webhint failed:__ internal

## `webhint` configuration

<

[2019-03-07 17:01] molant commented on #2027
WIthout having access to the website is going to be a bit complicated to debug 🤔

It's the full error message "Speicherzugriffsfehler" ? Which if I translate using google says it's "memory access error". That makes me think it could be an issue with jsdom. If the website has a lot of JS it might crash it. It might be similar to https://github.com/webhintio/hint/issues/1219

Can you update your con

[2019-03-07 17:08] #1990 closed

[2019-03-07 17:15] molant opened #2029 "[Bug] Testing more than necessary in (some?) PRs"
https://github.com/webhintio/hint/pull/2018 updates aXe to the next version and thus only `hint-axe` should be tested. Unfortunately [the logs show this is not what's happening](https://dev.azure.com/webhint/webhint/_build/results?buildId=2461&view=logs&jobId=a76d2200-8b5d-5670-bd30-855ba389b65c).

[code]

[2019-03-07 17:16] antross opened #2030 "Refactor location tests to match similar text [2]"
Current tests have hard-coded locations which are prone to mistakes due to difficulty visualizing how they align with the actual text in a file. This tracks changing that to derive locations from matched text within a file instead.

[2019-03-07 17:33] molant opened #2031 "[Bug] Compat-API tests fail fairly often on Windows and Azure Pipelines [0.2]"
I believe it's because there are so many tests with different configurations. This causes:

- Fully new instances of Chrome to be created
- Lots of new tests servers

From what @sarvaje told me his machine runs like a 🐌 and is on 🔥 when running these tests (and he has a good one...)

The solutions I can think of are:

- Split the tests in multiple files so ava doesn't try to execute all simultaneo

[2019-03-07 18:22] molant opened #2033 "[Feature] Improve selector query in highest-available-document-mode"
Right now we are doing some weird filtering when we can probably use a more direct selector once #1943 is merged. We should look into improving it to avoid iterating that much.

[2019-03-07 18:30] antross commented on #2031
I think more re-use here would be great: both of the server and engine.

Within each of the four sub-hints the only bit of the configuration that varies is `browserslist`. I bet we could cook up something to run all of the tests within each sub-hint on a single server and potentially even a single `Engine` instance (if the former wasn't enough of an improvement on its own).

[2019-03-07 18:56] molant opened #2034 "[Feature] `no-broken-links#createReports` should return only real promises in the array instead of `Promise.resolve()`"
With the changes in #1943 there's a lot of code in `createReports` that returns `Promise.resolve()`. We should return only real Promises instead of doing that.
For that we could change `return urls.map((url) => {` to something like:

[code]

[2019-03-07 21:11] molant opened #2035 "[Bug] Remove all Promise.resolve() `hint-sri`"
With the changes in #1943 the validations are `sync` now but we are still using `Promise.resolve` in quite a few places. We should remove them where we can.

[2019-03-07 22:51] molant opened #2036 "[Bug] Change how `boxen` is imported and remove `@types/boxen`"
`boxen` has now types included OOB. We should remove the `@types/boxen` from dependencies and use `import boxen from 'boxen'` instead of  `require('boxen')`.

[2019-03-07 23:41] chrisguttandin commented on #2035
Hi @molant, maybe this is somehow related. I noticed that the recent update to hint-sri introduced a regression for me. No matter which source gets checked the hint always reports that the expected hash should be `sha384-pCIgIQDl29ZunYA79Fgog9IN7UIB/qh05ZuzOCXHxCoFQ9qlEpRrWcSzhMWD8IEK`. It's always the same hash in my case no matter which source is checked. I therefore guess the hint is not waitin

[2019-03-07 23:50] molant opened #2037 "[Bug] Bad location for compilerOptions reports in tsconfig rules"
![image](https://user-images.githubusercontent.com/606594/53997340-a967ed80-40f0-11e9-8290-6a111b20f530.png)

[2019-03-08 06:20] molant commented on #2035
What version of `hint-sri` are you running? I just published a new version today because `ignoredUrls` wasn't being honored (https://github.com/webhintio/hint/pull/2023).

Do you have a url with the repro? If you don't want to share it publicly you can DM it via twitter.

[2019-03-08 06:24] NehaOberoi92 commented on #1946
1.) Regarding 3rd point I have query, I am trying to execute url after my login page and want consolidate report for all of them is it possible,? I think you specified above to give multiple url in text file and execute one by one
2.) I would like to know if I can create one package.json file and install all the hints using npm install ? I tried and was able to use webrecommended hint - using http

[2019-03-08 16:10] derhecht commented on #2027
Thanks a lot. It works with chrome.

[2019-03-08 16:10] #2027 closed

[2019-03-08 16:51] molant commented on #1946
1. You can create a custom formatter that consolidates everything. I'm not sure how the HTML formatter would consolidate everything without being overwhelming

I think that if you have another opened tab with something different webhint shouldn't close it. Can you give it a try? This is a bit of a hack for now but hopefully we can add an option to not close it when sending commands.

2. You should

[2019-03-08 19:07] antross commented on #1879
Fixed as part of #1943.

[2019-03-08 19:07] #1879 closed

[2019-03-08 19:07] #1881 closed

[2019-03-08 19:07] antross commented on #1881
Fixed as part of #1943.

[2019-03-08 19:07] antross commented on #1882
Fixed as part of #1943.

[2019-03-08 19:07] #1882 closed

[2019-03-08 19:07] antross commented on #1880
Fixed as part of #1943.

[2019-03-08 19:07] #1880 closed

[2019-03-08 19:12] #1707 closed

[2019-03-08 19:20] antross commented on #1593
No longer needed with DOM traversal refactor.

[2019-03-08 19:20] #1593 closed

[2019-03-09 21:55] chrisguttandin commented on #2035
Hi @molant, I tried to narrow down the problem today.

I can confirm that everything still works as expected with hint v4.4.0, @hint/hint-sri v3.0.2 and @hint/connector-chrome v3.0.0.

When I update everything to the latest version I still get an error although it's a different one now. Only one resource is reported to have a wrong hash. I think the problem is that this particular resource gets lo

[2019-03-11 04:43] NehaOberoi92 commented on #1946
1.) I tried below scenario -
Open chrome and authenticate my website login page
Run hint url ( url after login which is default one) - successfull
then again tried hint url (one more url of the same website that we can open after login) - It started analyzing and then stopped ...not started downloading or created any report.

Then I tried-

- Open chrome and authenticate my website login page
- Ru

[2019-03-11 04:46] NehaOberoi92 commented on #1946
We can also arrange a call to discuss this in case required. @molant

[2019-03-11 10:25] NehaOberoi92 commented on #1946
@molant : I am able to resolve 2nd point , now installing webhint and other hints via package.json
Would like to take your help for multiple url scanning.

[2019-03-11 17:02] NehaOberoi92 commented on #1946
@molant : I can see in webhint documentation for chrome connector it is given - Due to an issue in chrome-launcher, all the instances of the browser need to be closed before run webhint- https://webhint.io/docs/user-guide/connectors/connector-chrome/

So for the multiple url scanning in which I have running chrome instance , then do webhint analysis , do I need to close browser and reopen it befor

[2019-03-11 17:15] antross commented on #1883
@jdalton You had some notes on how VS Code does this. Can you share those here? Thanks!

[2019-03-11 17:16] antross commented on #1883
@utsavized This is a good issue for you to start investigating when you have time. Definitely touches more of webhint's architecture.

[2019-03-11 19:19] molant commented on #1647
Looks like we are already refreshing on `.hintrc` changes so we should do the same with `package.json` 😊

[2019-03-11 19:27] antross commented on #1647
IIRC we tried to tackle `package.json` when refreshing for `.hintrc`, but the data was getting cached internally so the results didn't change. We may have fixed that now since we later did work to bypass the `require` cache when reloading (in which case this should be an easy update).

[2019-03-11 19:31] molant commented on #1647
I'm preparing a demo of the VS Code extension and when I change the property `borwserslists` I have to manually reload VS Code 😕

[2019-03-11 19:38] molant opened #2045 "[Bug] HTML-Checker doesn't report the right location in some cases [0.2]"
There seems to be always an offset of 1 in the line number. Probably the results start at 1:

![image](https://user-images.githubusercontent.com/606594/54152407-62cd0880-43fa-11e9-9649-9bf302168473.png)

[2019-03-11 20:43] antross commented on #1647
Editing [`src/extension.ts`](https://github.com/webhintio/hint/blob/master/packages/extension-vscode/src/extension.ts#L44) and changing
[code]
to
[code]
should do the trick if we fixed the caching issue (haven't tested it yet, though).

[2019-03-12 11:57] NehaOberoi92 commented on #1946
@molant any update on this ?

[2019-03-12 20:18] molant opened #2056 "[Feature] Parameter to output formatter output to a file [1.5]"
# 🚀 Feature request

## Description

Even though we have a few formatters that output to a directory or a file (excel, html) it will be good to have a parameter or similar so any formatter can output to one. Something like `hint --output results.json`.

Not sure if the CLI shoul try to do something generic, if it should always be done at the formatter level or what. I see pros and cons for each.

[2019-03-12 21:02] jdalton commented on #1883
Related

* https://github.com/Microsoft/typescript-tslint-plugin/pull/46
* https://github.com/Microsoft/vscode-typescript-tslint-plugin#auto-fix-and-auto-fix-on-save

[2019-03-12 22:49] sarvaje commented on #1532
I have been taking a look to all the hint references/dependencies and these are the most used (there is others but these are the most used)

I'm not sure if exposing the `utils` is useful for what @donaldpipowitch or @renestalder need, but definitely it is useful if we want to use it in the `hint` package, instead of using the path to what we need.

In that case, I think we should expose all the u

[2019-03-12 23:58] Maggers opened #2058 "[Feature] Include hints for validating PWAs manifest content"
# 🚀 PWA manifest file content validation

## Description
In addition to the PWA rules already proposed in this issue #770, this feature suggestion would go beyond checking for strings existing in the manifest.json to validate that the resources are available. For example, specifying an icon or 2 in the manifest is a good first step but this work would actually visit the resource and ensure a 200 O

[2019-03-13 00:07] Maggers opened #2059 "[Hint] Check resources are served over SSL"
# 🚀 Hint request
As part of the PWA feature checks, this hint would ensure that resources are delivered over SSL/TLS.

## Description
For a given start page for a PWA, ensure all resources on the page are served over SSL

 Are you willing to work on this?

## What should be tested exactly?
Open a PWA manifest.json on a site served over SSL - fail if manifest.json exists but isn't served over SSL

[2019-03-13 00:12] Maggers commented on #2058
#770 referenced above missed the following rules that I've also created for this manifest file feature.
#2059. Hint 15 needs to be reopened,

[2019-03-13 10:04] jonasdoelling opened #2060 "[Bug] Cannot read property 'then' of undefined"
# 🐛 Bug report

## Description

I am using Jenkins to automatically create hints and it worked for a while, but now i get the message "Cannot read property 'then' of undefined" and with debug it is "hint:utils:app-insights Application Insights is not enabled"
The job I run creates the .hintrc file with the configuration down below.
After that I do an simple: npx hint https://www.jako-o.com/de_DE

[2019-03-13 16:10] molant commented on #2060
@jonasdoelling this seems to be related to the other issue. There's some code in the library used by the site `dy-coll-min.js` that is trying to call `then` of something undefined. I'm not sure what that library does but it seems to be using `Q` for promises? Maybe there's something that doesn't return correctly inside jsdom and thus nothing gets returned? I'm just guessing here. If you own the si

[2019-03-13 16:25] molant commented on #1532
@sarvaje I've updated your table to have the references sorted alphabetically. I think that will make it easier to see how we group things.

[2019-03-13 16:33] sarvaje commented on #1532
Ok, it was sorted from the most used to the less, but this is ok too hehehe.

[2019-03-13 16:35] molant commented on #1532
If we plan on shipping all `utils` together I think this is easier to see where things are.

I've added a new column type. The idea is to fill it with information on how it is being used. I'm seeing quite a few that are only used in the tests for example. For those maybe we shouldn't expose them directly but rather do an abstraction. Maybe we should add another column saying what type of resource

[2019-03-13 16:41] sarvaje commented on #1532
sure

[2019-03-13 17:01] sarvaje commented on #1532
I thing that for some packages like `@hint/utils-debugging-protocol-common` we should make them expose their things. for example, `@hint/utils-debugging-protocol-common/dist/src/debugging-protocol-connector` should expose `Connector` and `Launcher` so instead of having:

`import { Launcher } from '@hint/utils-debugging-protocol-common/dist/src/launcher';`

we would have:

import { Launcher } from

[2019-03-13 18:20] sarvaje commented on #1532
@molant the table is complete

[2019-03-13 18:54] molant commented on #1532
That sounds right. Can you come up with a proposal for all the other changes? What should we expose? Should we create a new package, etc.?

[2019-03-13 19:57] sarvaje commented on #1532
ok!

[2019-03-13 21:31] sarvaje commented on #1532
Here is my proposal for this task:

## API:
I don't have a strong opinion if we should have a new package for this or if we should use `hint`.

The API will have an object `webhint`.

This object will have a method `initialize` which will accept as a parameter the configuration (json format, and it will be optional, if no configuration is passed, we can use `configuration-web-recommended` by defau

[2019-03-13 21:38] molant commented on #2059
I think this is covered by https://webhint.io/docs/user-guide/hints/hint-https-only/ that checks that all resources are served over https. What do you think @Maggers ?

[2019-03-13 21:43] #2053 closed

[2019-03-13 21:49] antross commented on #2059
If so, we should probably add it to `configuration-progressive-web-apps` so users get it by default when explicitly testing for PWAs.

[2019-03-14 07:35] jonasdoelling commented on #2060
hello @molant,

thanks for the quick answer.

dy-coll-min.js is a script from an external provider (https://www.dynamicyield.com/). So I can't change it, and unfortunately, I don't know how the script works at all, I just know what it provides.
Let me try to explain it quick and simple:
You can switch any type of content on the site, to do some AB tests (half of the people get the banner A and the

[2019-03-14 08:44] jonasdoelling commented on #2060
Chromium 57.0.2987.98 Built on 8.7, running on Debian 8.11

I got chromium and changed the connector, but it seems like something went wrong :s

<details>
<summary>connector:</summary>

[code]
</details>

<details>
<summary>webhint’s raw output</summary>

[code]

</details>

I thought chromium should work as well, I tried it in a VM with ubuntu and it worked fine.

[2019-03-14 21:46] Maggers commented on #2059
Yes that hint covers the reuquirement. Will close this.

[2019-03-14 21:46] #2059 closed

[2019-03-15 03:12] antross opened #2067 "[Bug] `fetch::end::html` and `traverse::*` use different logic to detect HTML"
Found because this broke some tests while trying to update `hint-meta-charset-utf-8` to remove `cheerio`.

The logic also appears to be inconsistent between connectors, at least between `connector-jsdom` and `utils-debugging-protocol-common`. This should be fixed to use common helpers for both scenarios and across connectors.

Triggering `fetch::end::html` in `connector-jsdom`:
[code]

Triggering

[2019-03-15 03:34] #2036 closed

[2019-03-15 03:48] molant commented on #1532
This looks like a good starting point.

In terms of the api I think you forgot to make it `async`:

[code]

From what I'm reading `webhint` is the one in charge of loading the resources, correct? We should document the different errors we can get and see how the CLI will use them to inform of the problem to the user. Some that come to my mind:

* JSON object is not valid --> Who is going to do the

[2019-03-15 03:54] molant commented on #2060
I think you might have a version problem with webhint somewhere. It's failing to load the `hint` `aXe` because it cannot find the file `hint-scope`. That file got changed in `v.4.5.0` IIRC and it's available in the latest published version.

Could it be that you have installed `hint` globally before? I think that `npx` uses the globally installed packages instead of downloading them again. If that

[2019-03-15 04:06] molant commented on #1946
Hi @NehaOberoi92,

I've been busy with #2066 and haven't had the time to look into this until now.

You should close any browser instances prior executing webhint for the first time. After that webhint shouldn't have any problems connecting to the browser and using a new tab per url.

[2019-03-15 04:29] molant opened #2068 "hint-sri doesn't decompress requests on manual downloads"
Hi @molant, I tried to narrow down the problem today.

I can confirm that everything still works as expected with hint v4.4.0, @hint/hint-sri v3.0.2 and @hint/connector-chrome v3.0.0.

When I update everything to the latest version I still get an error although it's a different one now. Only one resource is reported to have a wrong hash. I think the problem is that this particular resource gets lo

[2019-03-15 04:32] molant commented on #2035
Hi @chrisguttandin,

Thanks for identifying the issue and sorry for my delayed response, we are in the middle of a big refactor and some internal stuff and completely missed this 😞

I've created https://github.com/webhintio/hint/issues/2068 to track your issue.

[2019-03-15 04:40] molant commented on #2068
The biggest problem with that is that we are using `iltorb` which is a binary and could break in some scenarios (notably VS Code if the node version is different). We should at least be capable of handling gzip in this scenario.

This is somehow related to #1604 (starting in node 11.7.0 there's native brotli support).

@sarvaje can you take a look at this? I think we should be capable of doing som

[2019-03-15 07:25] jonasdoelling commented on #2060
You where right:
hint -v v4.3.1
npx hint -v v4.3.1

I updated it globaly, but it still din't work.
<details>
<summary>first this</summary>

[code]

</details>
Then I added "--no-sandbox" to the flags in the options for the connector and got
<details>
<summary>that</summary>

[code]
</details>

[2019-03-15 15:45] sarvaje commented on #2068
@molant do we have the repro steps?

[2019-03-15 15:51] #1956 closed

[2019-03-15 15:59] sarvaje commented on #1532
Yep, it should be `async`.

`initialize` should do all the malidation you mention, IIRC, the idea is reuse the API in the CLI too, right? This way I think we will fix also #1595

[2019-03-15 16:09] molant commented on #2068
No, but I've checked the code and it makes sense. We are not decompressing the body if we have to manually download it from the hint and if the server sends it always compressed the content will be different.

[2019-03-15 16:15] ststimac commented on #1985
Hmmm, so this is still showing up in the formatter as cut off.

[2019-03-15 16:15] molant commented on #2060
I think the problem is with your chromium version:

I believe that version is from 2016 and no longer maintained. Can you get a newer version installed? We use the [Chrome DevTools Protocol](https://chromedevtools.github.io/devtools-protocol/) to communicate with the browser so probably some of the apis we are using aren't supported in that version.

[2019-03-15 16:17] molant commented on #1985
In the website or using the CLI? We haven't released a new version of the site in a few days because of an issue with SRI and I'm not sure if the change got in the latest published version if you are using the CLI.

[2019-03-15 16:17] ststimac commented on #1985
I've cleared my cache just to make sure, but the old code and style is still coming through. Need to look into this.

[2019-03-15 16:21] antross commented on #1532
Looking good. Let's make sure we call the API `analyze` as the current spelling has a whole different meaning...

I like having a single, separate `utils` package for the general-purpose utilities, though I could see having a few additional ones for utilities geared at specific consumers (e.g. `@hint/utils-hint`, `@hint/utils-parser`, etc.) similar to `@hint/utils-connector-tools` and `@hint/utils

[2019-03-15 16:22] ststimac commented on #1985
Still an issue, but only in one state:

![Screen Shot 2019-03-15 at 9 20 42 AM](https://user-images.githubusercontent.com/18073131/54446198-a5952600-4703-11e9-8341-036005dbb31e.png)

Background position is only being applied to the `closed` class.

[2019-03-15 17:02] antross commented on #2067
Per discussion with @molant we should look at what mime-types are most common in the HTTP Archive to help determine what the correct fix is here.

We also need to look at how XML is handled by each of the connectors as we'd likely still want to traverse the DOM in that case so long as it gets parsed correctly.

[2019-03-15 17:06] antross commented on #2067
Also the implementation of `getType` used by the connectors to determine what type of `fetch::end::*` event to send is fairly narrow compared to what browers support. For `script` it currently only includes `text/javascript`, but the HTML standard [defines the possible list](https://mimesniff.spec.whatwg.org/#javascript-mime-type) as:
* `application/ecmascript`
* `application/javascript`
* `applic

[2019-03-15 17:18] antross commented on #2067
Additionally `getType` currently only returns `xml` for `text/xml`, but the HTML standard [defines XML mime types](https://mimesniff.spec.whatwg.org/#xml-mime-type) as `text/xml` and any whose subtype ends in `+xml` (e.g. `image/svg+xml`).

[2019-03-15 18:42] #1869 closed

[2019-03-15 20:32] antross commented on #2067
Also worth noting we use a `getContentTypeData` helper to determine what mime-type to associate with a request. Importantly this looks at the content of a request using the 3rd-party `file-type` library and overrides whatever was provided in the `Content-Type` header.

We should assess how to best align this with browser behavior as well.

[2019-03-15 21:11] molant commented on #2067
The top 100 mimetypes for the first requests are:

Row | resp_content_type | total |
-- | -- | -- |
1 | text/html; charset=UTF-8 | 1307794 |
2 | text/html; charset=utf-8 | 688639 |  
3 | text/html | 452979 |  
4 | text/html; charset=iso-8859-1 | 75231 |  
5 | text/html;charset=UTF-8 | 62603 |  
6 | application/ocsp-response | 57046 |  
7 | text/html;charset=utf-8 | 48526 |  
8 | <--No mimetype, fo

[2019-03-17 04:41] molant opened #2076 "[Bug] Consistency with error locations"
While we've been a lot of progress improving the location of the errors, I don't think we are fully consistent. For example, when reporting errors in `html` we point to the first letter of the element:

![image](https://user-images.githubusercontent.com/606594/54485327-e9874880-4833-11e9-88fa-37b14cfc2a5a.png)

But when we do it on JSON we point to `"`:

![image](https://user-images.githubusercont

[2019-03-17 16:13] antross commented on #2076
Also worth noting that we point to the first letter of tag names because VS Code will only underline the `<` if you point to that (unless you also provide an end position, which we don’t currently but could consider as well).

[2019-03-17 16:20] antross commented on #2076
Plus I think we do point to the first letter in the JSON case as well judging from my current PR to match text for test cases. VS Code may be choosing to extend the underline to include the quotes in this case. Once again something we can probably override if we provide an end position.

[2019-03-17 18:13] molant opened #2077 "[Bug] Extending several configurations can cause the same formatter to output multiple times"
# 🐛 Bug report

## Description

[code]

The above will output the `summary` twice. When extending we should make sure the contents are unique. This probably applies to other types of resources (`parsers`?)

The change should be [around here in `resource-loader`](https://github.com/webhintio/hint/blob/62df2451d64ecaea43325dafad7c5765bbc31273/packages/hint/src/lib/utils/resource-loader.ts#L417)

[2019-03-17 18:29] molant opened #2078 "[Feature] Use "--incremental" feature"
TypeScript 3.4 (currently RC) has support for `--incremental` which can make build times a lot faster:

![image](https://user-images.githubusercontent.com/606594/54496047-d57d2e80-48a7-11e9-8224-62a173769858.png)

https://devblogs.microsoft.com/typescript/announcing-typescript-3-4-rc/

[2019-03-18 09:27] jonasdoelling commented on #2060
Unfortunately, this is the highest chromium version that is available for Debian 8.
The probability that Jenkins will be migrated to a newer Linux system (Debian 9, etc.) is right now unlikely :/
(not enough time, not important enough, to many task with higher priority are open, very important jobs are running on this Jenkins, migration, etc.)

So I guess we have to live with this for now.

[2019-03-18 16:04] molant commented on #2060
@jonasdoelling can you use any docker containers in your pipeline?

[2019-03-18 18:16] antross commented on #2030
Fixed by #1966

[2019-03-18 18:16] #2030 closed

[2019-03-19 07:33] jonasdoelling commented on #2060
Yeah, we are working on it (as soon as we have time for it)  ;)
We already use aws for some other projects (stress test) and start them over Jenkins.

[2019-03-19 18:23] sarvaje commented on #1532
Updated hahaha.

@molant @antross do you want me to start working on this or do we need to discuss anything else?

[2019-03-19 21:22] molant commented on #1532
Can you please look into #2068 before jumping into this?

[2019-03-19 23:38] #1625 closed

[2019-03-20 04:26] tigt opened #2082 "[Hint] Warn if word-break is used on non-CJK page, suggest word/overflow-wrap"
## Description

The CSS property `word-break` was designed for Chinese/Japanese/Korean line-breaking behavior, not Latin alphabets. For some reason (possibly due to MDN renaming its `word-wrap` article to `overflow-wrap`), a _lot_ of newer Western websites abuse this property to break overlong words (URLs, long place names, etc.) if they get too large for the layout.

Two problems with that:

1. `

[2019-03-20 20:23] #1798 closed

[2019-03-21 16:17] molant commented on #2082
🤯 Fascinating, I had no idea about any of this. What would be a good starting article to learn more about this?

Not sure how to clasify this hint, maybe `pitfalls`? @antross what do you think?

@tigt right now we are preparing for the next major release and breaking a few things in the API so it might take us a while to get to it. If you have time and want to work on it maybe we can help you?

Th

[2019-03-22 03:40] antross commented on #2082
Pitfalls sounds right to me given this is a mistake that can occur even in the latest browsers.

[2019-03-22 03:42] #2031 closed

[2019-03-22 15:33] molant commented on #1772
I've taken another look at the latest failures and the builds are timing out on macOS after 90min. Guess it's because of the extra work that needs to be done to get Chrome and such. I've increased the limit to 120min but we should find ways to reduce how long it takes to do a full test pass.

Closed via a448899804667d170fdc62e79a38a6e0ff0d00d4

[2019-03-22 15:33] #1772 closed

[2019-03-22 15:57] molant opened #2095 "Reduce the time it takes to do a full test"
Running all the tests takes a lot of time, especially on macOS:

_Originally posted by @molant in https://github.com/webhintio/hint/issues/1772#issuecomment-475666895_

While we've done work to reduce the amount of tests run in PRs, the moment we run the tests in master we are most likely going to run the full test suite.
Some ideas:

- Find a way to test only what has changed --> Maybe there's an

[2019-03-22 17:54] tigt commented on #2082
I can't find an article that describes the problem, just articles about the `word-break` property itself (like on MDN and CSS-Tricks).

The spec's description and examples make it pretty clear it's for CJK publishing, though:
https://drafts.csswg.org/css-text-3/#word-break-property

I would be happy to work on this.

[2019-03-22 18:10] molant opened #2096 "[Feature] Migrate to be a full ESM project"
So we can take advantage of treeshaking and such in webpack and other goodies.

[2019-03-22 18:11] #1778 closed

[2019-03-22 18:14] molant opened #2097 "Eliminate caniuse dependency [6]"

[2019-03-22 18:14] molant opened #2098 "Remove async package [0.3]"

[2019-03-22 18:15] molant opened #2099 "Trim down mime-db [1]"

[2019-03-22 18:15] molant opened #2100 "Trim down snyk-snapshot.json"

[2019-03-22 18:15] molant opened #2101 "Reduce size of bundled code"
Epic to track new ways to save bytes

[2019-03-22 18:52] molant opened #2102 "Research common APIs [2]"

[2019-03-22 18:57] molant opened #2103 "Link to the elements panel from the browser extension [2]"
Research how can this be done

[2019-03-22 18:58] molant opened #2104 "Use react in the browser extension [6]"
Migrate to using (pre)react

[2019-03-22 19:00] molant commented on #1975
This is fixed now 🎉

[2019-03-22 19:00] #1975 closed

[2019-03-22 19:05] molant commented on #1452
#1707 is done so closing this.

[2019-03-22 19:05] #1452 closed

[2019-03-22 19:44] molant commented on #1642
@antross there's a PR for this at the moment. I've added this issue to the next milestone but feel free to remove it if you think it won't get done.

[2019-03-22 19:55] #2056 closed

[2019-03-23 00:45] molant opened #2110 "[Feature] Create eslint-plugin-import plugin to check against package.json on top of resolving via regular "require""
In the past we've had some issues where we forgot adding dependencies to `package.json` because they were hoisted and we could still resolve them.

We should look into creating a `resolver` for [`eslint-plugin-import`](https://www.npmjs.com/package/eslint-plugin-import)

[2019-03-25 02:40] RyannosaurusRex opened #2112 "[Feature] Add `--tracking` option to `--help` menu"
# 🚀 Feature request

## Description

Webhint needs the ability to suppress or specify an opt-in or opt-out for telemetry via a command line parameter.

Example: `npx hint https://webhint.io --telemetry=false`

## What scenarios will this solve?

I'm working on an Azure DevOps plugin for webhint to allow it to be easily added and run as part of an Azure DevOps build and release pipeline. As such, `

[2019-03-25 03:41] molant commented on #2112
Already implemented, check https://webhint.io/docs/user-guide/telemetry/summary/#what-are-we-tracking

`--tracking=on|off`

You can also use the environment variable`HINT_TRACKING`.

Let us know if that is not enough!

[2019-03-25 03:45] RyannosaurusRex commented on #2112
Thanks! That's exactly what I needed.

I checked under --help and didn't see it, but didn't think to look under the telemetry/tracking docs specifically. Feel free to close or potentially change this as feedback to add it under --help.

[2019-03-25 16:18] molant opened #2113 "[Bug] macOS builds hang pretty often"
# 🐛 Bug report

## Description

macOS build on Azure Pipelines have a tendency to hang and timeout. Looks like this environment is cursed to us because right now it is not that Chrome isn't getting installed, it's just that test hang.

[code]

Not sure if it is related to Chrome or something else entirely (I think it's probably Chrome). Need to find out what's going on.

[2019-03-25 16:20] #2045 closed

[2019-03-25 16:36] antross commented on #1499
Closing as the initial part of this work is done. Additional opportunities to reduce the bundle size are now being tracked as separate issues and linked to #2101.

[2019-03-25 16:36] #1499 closed

[2019-03-25 16:38] #2100 closed

[2019-03-25 16:47] antross opened #2114 "[Feature] Use MDN `matches` data to analyze partial CSS values"
# 🚀 Feature request

## Description

 What do you want to be added?
The `mdn-browser-compat-data` library just added support via `matches` (mdn/browser-compat-data#3366) for programatically identifying CSS features which are represented as parts of a value (e.g. `translateZ` in 3D Transforms).

Now that this is available, webhint should consume the `matches` data as part of `hint-compat-api`. The

[2019-03-25 16:51] antross commented on #2114
We'll need to use something like [`postcss-value-parser`](https://www.npmjs.com/package/postcss-value-parser) to tokenize values before trying to match them against `keywords` or `regex_token` from `matches`. Anything using `regex_value` should be matched against the entire value, however.

[2019-03-25 16:53] molant commented on #2112
I'm repurposing this issue to add it to the `--help` menu.

Btw, there's issue #1260 which is exactly what you are doing. Let us know if you want to contribute it to this repo and make it "official". If so we will give you the right permissions to the org :)

[2019-03-25 19:59] RyannosaurusRex commented on #2112
Sure, I'd love to! Current repo is at https://github.com/RyannosaurusRex/webhint-azure-devops-task. I can clean it up and then give the webhint organization permissions to take it over.

[2019-03-25 20:35] molant opened #2115 "[Bug] Formatters have missing dependencies [0.1]"
`strip-ansi` is missing from a few formatters or marked as a `devDependency`

[2019-03-25 23:33] molant commented on #1925
With the refactor to use only `acorn` the goal is to not `walk` multiple times now.

[2019-03-25 23:38] molant opened #2120 "[Feature] Validate imports/requires against package.json [1]"
# 🚀 Feature request

## Description

Because of the way workspaces work and hoist dependencies it's very easy to forget to add a dependency to `package.json`. The most recent time this has happened is in #2115 but not the only time.

This was part of the initial proposal of #1643 but can be done separately.

## What scenarios will this solve?

This will make sure we aren't publishing packages with

[2019-03-26 02:53] antross commented on #1925
To do this we could return our own `walk` implementation with the same API as `acorn`, but which aggregates the callback objects provided by various hints and then triggers the actual walk (if needed) after the `parse::javascript::end` event has finished being dispatched.

Also, since the updated implementation is already lighter weight we should do some performance testing before spending too muc

[2019-03-26 17:07] #2098 closed

[2019-03-26 20:48] #1856 closed

[2019-03-27 16:01] molant commented on #2112
Closing this as `--tracking` is already an option under `--help`

![image](https://user-images.githubusercontent.com/606594/55091863-cac45580-506e-11e9-9060-e14533bd0b2e.png)

Will follow up about the ADO task. @RyannosaurusRex if you want us to dogfood it with webhintio/webhint.io let us know!

[2019-03-27 16:01] #2112 closed

[2019-03-27 22:04] antross opened #2132 "[Feature] Migrate hint-no-broken-links and hint-html-checker to use `fetchContent`"
# 🚀 Feature request

## Description

 What do you want to be added?
Currently both of these hints use the `requester` package which means they won't work in the browser extension. Migrating these to the `fetchContent` method on the context will allow them to function in more connectors, specifically in the browser extension.

This may require enhancing `fetchContent` to take additional options, su

[2019-03-28 22:30] ststimac opened #2134 "[Hint] Detect CSS properties that have no effect"
# 🚀 Hint request

## Description
Based off this repo of useless CSS properties/properties that don't have effect in certain cases.

 What do you want webhint to test? Check for CSS properties that have no effect. For example, from the repo:

 Are you willing to work on this? Yes, I can help compile info on the properties.

## What should be tested exactly?

 Explain what and how things should be t

[2019-03-28 22:35] ststimac commented on #2134
This might be best broken out into multiple smaller sub-hints perhaps? But I imagine there would be a hint for position properties on non-positioned elements, etc.

[2019-03-28 22:41] ststimac commented on #2134
Hi @Captainbrosset, I stumbled across your github repo about useless CSS properties and it's something we'd like to consider integrating with webhint.

(We're also working with Harald Kirschner over there on FF as well).

[2019-03-28 22:42] #1644 closed

[2019-03-28 22:42] #1859 closed

[2019-03-28 22:42] #1863 closed

[2019-03-28 22:42] #1895 closed

[2019-03-29 09:37] captainbrosset commented on #2134
Hi @ststimac, thanks for reaching out. This sounds like it could be really useful.
A few things to note before going any further:

* The data on my repo is by no mean comprehensive. I've tried to gather things over time, and I have a good list, but I'm sure there's way more to be added. I've struggled to get people interested enough to contribute. I think as a first step, it might be nice to build

[2019-03-29 16:07] #2120 closed

[2019-03-29 16:33] #1786 closed

[2019-03-29 16:33] #1936 closed

[2019-03-29 20:45] molant commented on #2115
This was fixed as part of #2131

[2019-03-29 20:45] #2115 closed

[2019-03-29 21:03] molant commented on #1887
Going to start working on this now that we have an intern starting in the next few days. I think it's important we make it as easy as possible to get started.

[2019-03-29 22:15] molant opened #2139 "[Feature] Migrate to puppeteer-core [0.1]"
# 🚀 Feature request

## Description

Since puppeteer 1.7 there's [`puppeteer-core`](https://www.npmjs.com/package/puppeteer-core) that doesn't download chrome.

 **What do you want to be added?**

We should probably use this package instead.

 **Are you willing to work on this?**

Yup

## What scenarios will this solve?

This will avoid having to download hundreds of MB and maybe #2113

[2019-03-31 16:06] MiHawkStackOverFlow opened #2145 "[Bug] Not able to run ng serve along with npm run hint as one command"
I am working on an Angular7 project and trying to integrate webhint axe for ADA (American Disability Act) / Accessibility. I have encountered 3 problems:-

1. When an angular application with multiple components is run and webhint is run, the html or json formatters show errors but line numbers are column -1 and row -1. So how to find the exact line number for the issue. I think issue for this is

[2019-03-31 18:44] molant commented on #2145
Most likely this is because the html of the page is generated on the client side so the line/col don't make a lot of sense as it is generated dynamically. If you tell the browser to so the pages code you only obtain the initial html, and if you go to the elements panel in the devtools line and column don't have sense there.

The errors should have the html of the element with the error and that sh

[2019-04-01 17:24] molant commented on #2113
I looked to the logs of a few failing builds and it looks `hint-content-type` is always the culprit although the output is not always consistent. Sometimes no test output, sometimes 1 or 2... Guess this aligns with the ava's behavior.

[2019-04-01 18:48] molant opened #2149 "[Feature] Connectors should say if they support `watch` mode and content"
# 🚀 Feature request

## Description

https://github.com/webhintio/hint/pull/2118#issuecomment-478698340

## What scenarios will this solve?

This will avoid having to hardcode what browsers support them and make the code more flexible.

This depends on having #2118 merged

[2019-04-01 18:50] molant opened #2150 "[Feature] TypedErrors"
# 🚀 Feature request

## Description

https://github.com/webhintio/hint/pull/2118#issuecomment-478698340

## What scenarios will this solve?

We might be using message string matching to handle some errors. In those cases it's better to use this approach.

[2019-04-02 19:57] antross opened #2163 "[Feature] Add linting to disallow lookbehind regular expressions"
# 🚀 Feature request

## Description

 What do you want to be added?
An ESLint rule disallowing use of lookbehind regular expressions `?<=` and `?<!` in webhint code.

The [`no-regexp-lookbehind-assertions` rule of `eslint-plugin-es`](https://github.com/mysticatea/eslint-plugin-es/blob/master/tests/lib/rules/no-regexp-lookbehind-assertions.js) looks like it will do the trick.

 Are you willing to w

[2019-04-02 23:31] molant commented on #1946
@NehaOberoi92 there's a PR for the proposal on how to tell webhint how to analyze websites that require authentication in https://github.com/webhintio/hint/pull/2166

The most relevant part for you is probably [this section](https://github.com/webhintio/hint/pull/2166/files#diff-5d0a5e63cd4b415734799f42b0dca434R21). Feel free to comment on it and give feedback!

[2019-04-02 23:36] sarvaje opened #2167 "[Docs] Generate Node API jsdoc"
For now we are going to have the User Guide documentation. In the future we should have the API documentation autogenerated with jsdoc.

[2019-04-02 23:40] #1887 closed

[2019-04-03 04:57] NehaOberoi92 commented on #1946
@molant : Thanks for your efforts, I will check this.

[2019-04-03 22:28] #1916 closed

[2019-04-04 18:54] sarvaje opened #2174 "[Bug] Launch "Run AVA tests" don't resolve the right file"
# 🐛 Bug report

## Description

When you try to run the tests from VSCode for a file you get an error: `Error: ENOENT: no such file or directory`

## Steps to reproduce

1. Go to the tab "Debug" in VSCode.
2. Choose the configuration "Run AVA test"
3. Open the file `packages/hint/tests/lib/config.ts`
4. Press F5 to run the tests.

### Expected

The tests run.

### Actual

You get an error `Error:

[2019-04-04 19:18] molant commented on #2174
What's the file that is trying to execute?

________________________________
From: Jesus David García Gomez <notifications@github.com>
Sent: Thursday, April 4, 2019 11:54
To: webhintio/hint
Cc: Subscribed
Subject: [webhintio/hint] [Bug] Launch "Run AVA tests" don't resolve the right file (#2174)

🐛 Bug report
Description

When you try to run the tests from VSCode for a file you get an error: Error

[2019-04-04 19:58] sarvaje commented on #2174
`packages/hint/tests/dist/tests/config.js`

[2019-04-04 20:34] molant commented on #2174
OK, the task is only for hint tests, not the hint package 😔

________________________________
From: Jesus David García Gomez <notifications@github.com>
Sent: Thursday, April 4, 2019 12:58
To: webhintio/hint
Cc: Antón Molleda; Comment
Subject: Re: [webhintio/hint] [Bug] Launch "Run AVA tests" don't resolve the right file (#2174)

packages/hint/tests/dist/tests/config.js

—
You are receiving this be

[2019-04-05 21:32] antross opened #2181 "[extension-browser] Refactor devtools panel to not call `sendMessage` directly"
I've been debating refactoring this a bit to have a single utils file with methods to call for each action that sends messages (and only have that file actually call `sendMessage`).

_Originally posted by @antross in https://github.com/webhintio/hint/pull/2140_

This should help the code that triggers messages read better and provide a clear choke point if we need to change how messages are sent (

[2019-04-05 21:33] #2077 closed

[2019-04-05 22:49] molant commented on #2113
If I run it from code in mac I get a segmentation fault 11:

[code]

[2019-04-07 19:46] jorydotcom opened #2185 "Elect / Nominate representative(s) to the OpenJS Foundation CPC"
## Context
As part of the new [OpenJS Foundation's bylaws](https://github.com/openjs-foundation/bootstrap/blob/master/artifacts/OpenJS-Foundation-Initial-Merged-Bylaws.pdf), the Cross Project Council (CPC) has been [chartered](https://github.com/openjs-foundation/bootstrap/tree/master/proposals/stage-2/CPC_CHARTER) to serve as the primary governing body for programs and regular support of Foundati

[2019-04-08 17:17] molant commented on #1647
Another thing we should do is to improve when we are prompting to the user.

* If there's no `.hintrc` file and `hint` is nowhere in `package.json` we shouldn't prompt anything
* All other cases should probably remain the same

[2019-04-08 17:22] antross opened #2187 "Refactor per-project eslint commands to offload more to eslintrc.json"
# 🚀 Feature request

## Description

 What do you want to be added?
Currently each project defines a `lint:js` command which passes a number of CLI arguments. Ideally these would be part of our root `.eslintrc.json` instead (where possible) so they can be shared between projects.

 Are you willing to work on this?
Yes.

## What scenarios will this solve?

 Why do you want/need this?
Any global cha

[2019-04-08 19:23] molant commented on #2185
Hi @jorydotcom,

right forum to raise this. Where should we submit our nomination? Via email? Somewhere else?

Thanks!

[2019-04-08 19:58] jorydotcom commented on #2185
@molant 💯 💯 💯 💯

super question - I created an [issue on the bootstrap repo](https://github.com/openjs-foundation/bootstrap/issues/152) so you can either edit my comment & add it there or reply to that thread?

[2019-04-08 20:31] molant commented on #2185
Can't edit your comment so I just added one to that converstaion.

I'll close this issue now but let me know if there's something else you need from us!

[2019-04-08 20:31] #2185 closed

[2019-04-08 22:49] molant commented on #2113
Officially moving this to this sprint because it's driving me nuts

[2019-04-08 23:54] molant commented on #2113
OK, I've narrowed done the issue. Looks like the problem is with `jsdom` and this particular test:

There's probably something going on with canvas that doesn't process SVG correctly. This is consistent with the `Segmentation fault: 11` error that happens in native land. I'll keep digging more tomorrow.

[2019-04-09 17:50] molant commented on #2113
Looks like https://github.com/Automattic/node-canvas/issues/1400 is the culprit.

[2019-04-09 20:05] molant opened #2190 "Pitfalls hints"
Epic to track the work on Pitfalls hints

[2019-04-09 21:34] molant opened #2192 "Refactor DOM utils inside hint to `@hint/utils`"
These should be able to be moved through a combination of moving any types they need to `@hint/utils` as well. The few exceptions are:
1. Use of `HTMLElement` in `content-type`
    * Replace with a minimal local interface
2. Use of `Engine` in `traverse`
    * Replace with `EventEmitter2`

Another thing to do is to re-export the types from `hint`.
Also classes like `HTMLDocument` might be moved as

[2019-04-09 21:34] molant opened #2193 "Add documentation under `docs/user-guide` on how to use the Node.js API with some examples"

[2019-04-09 21:35] molant opened #2194 "Friendlier import syntax for `@hint/utils`"
To get the `fs` utils a user has to do something like:

[code]

Ideally this should look like

[code]

so it doesn't look like we are using a private API

[2019-04-09 21:35] molant opened #2195 "Node API improvements"
Epic to track possible improvements to the new Node.js API 🎉

[2019-04-09 21:39] antross commented on #2192
These should be able to be moved through a combination of moving any types they need to `@hint/utils` as well. The few exceptions are:
1. Use of `HTMLElement` in `content-type`
    * Replace with a minimal local interface
2. Use of `Engine` in `traverse`
    * Replace with `EventEmitter2`

[2019-04-09 21:41] molant commented on #2192
Another thing to do is to re-export the types from `hint`.
Also classes like `HTMLDocument` might be moved as well.

[2019-04-09 21:56] molant opened #2196 "Migrate to use ES Modules"
# 🚀 Feature request

## Description

We still have a few `require`s in the code and some dependencies that prevent us from doing treeshaking. We should look into all of these and enable it.

This will help reduce the footprint as well (#1824)

[2019-04-09 22:26] antross opened #2197 "[Bug] Make hint-compat-api tests more reliable"
Currently the tests for `hint-compat-api` fail frequently in CI and on some users' machines. This hint contains a large number of tests compared to other hints. This is suspected to be one of the factors contributing to failures as it results in a large number of server and browser instances being spawned concurrently while running the tests.

Potential remedies:
* [x] Reuse the same browser insta

[2019-04-09 22:33] sarvaje commented on #2193
@molant I forgot about this, but I already did this hehehe

https://github.com/webhintio/hint/pull/2118/files#diff-0eafddea4218c2a06dceb725cbc2ac69

[2019-04-10 01:09] molant opened #2198 "Normalize how we exit scripts using `process.exit()`"
Some packages have a folder `scripts` in them. The scripts in these folder use different ways to exit. Some of those `throw` an exception, others use an exit code.

We should be using `process.exit()` as uncaught exception in promises do not change the exit code and thus can cause problems.

- - - - - - - - - - - - - - - - - - - - -

_Originally posted by @molant in https://github.com/webhintio/hi

[2019-04-10 03:25] molant commented on #2113
Got a working version modifying the svg to have `width` and `height` and tests pass now. I started looking into #2197 while I was running a full run of tests so I'll try to get everything into the same PR.

[2019-04-10 03:34] molant commented on #2197
So the `compat-api` tests are failing more often in macOS now. The reason is macOS behavior of not fully closing an app when you close all its windows and then we are having race conditions when sending the signal to terminate it.

If we only close the tabs then these tests run OK. The problem is that there's a timeout of 2 minutes between getting the ava results and seeing the nyc codecoverage. W

[2019-04-10 16:34] #2068 closed

[2019-04-10 16:36] molant opened #2200 "[connector] Chromium"
# 🚀 Feature request: `connector-chromium` + custom actions

## TL;DR;

Even though we have a `chrome connector` it should probably be renamed to `chromium` as it works with any `chromium` browser that exposes the `chrome DevTools Protocol`. Even `chrome-launcher` supports the environment variable `CHROME_PATH` to indicate the executable of the browser to run.

This alone is not a good reason, so t

[2019-04-10 16:37] molant commented on #2102
PR has been approved (#2166) and Epic created (#2200). This can be closed.

[2019-04-10 16:37] #2102 closed

[2019-04-10 16:38] molant commented on #1946
Moving this under #2200 now that the RFC has been approved. Will start working on this next week 😊

[2019-04-10 16:40] molant commented on #421
Closing this in favor of #2200 where we explain how this will work. Work will start next week!

[2019-04-10 16:40] #421 closed

[2019-04-10 20:10] sarvaje commented on #1775
All messages should be added to the list.

[2019-04-10 20:10] #1775 closed

[2019-04-10 21:01] #1532 closed

[2019-04-10 22:50] #2104 closed

[2019-04-10 22:50] #1685 closed

[2019-04-10 23:05] sarvaje commented on #1925
Taking a look into this.

This is the signature of walk.simple:

[code]

the param `visitors` is ok, that is what we expect to be different, but the user can use a diferent `node`, wich it is ok too, we can do as many walks as `node` we receive.

My biggest concern is that `base` and `state` can also be different, and at the end, we are going to work on a solution for something that maybe never is

[2019-04-10 23:40] molant commented on #1925
I think it's worth it. I don't think that `base` and `state` are going to be used that much so this should be useful (🤞)

[2019-04-10 23:56] sarvaje commented on #1925
There is a draf PR for this: https://github.com/webhintio/hint/pull/2202

If you like the solution, I can work on the tests.

@antross I may need help with the types, can you take a look? :)

[2019-04-11 00:01] molant commented on #1925
From a quick look it looks good 😊

[2019-04-11 04:49] donaldpipowitch commented on #1532
Thank you very much!

[2019-04-11 15:50] #2113 closed

[2019-04-11 15:51] antross commented on #1925
@sarvaje No problems with the approach, but let's not worry about the types or unit tests too much until we know how much of an improvement this actually makes.

Specifically I'd like to see the results of a stress test or two on large JS files so we can compare the performance of this approach vs the current implementation. If you need a candidate file, I'd recommend `extension-browser`'s built `

[2019-04-11 16:05] molant commented on #1488
This was fixed via #2118

[2019-04-11 16:05] #1488 closed

[2019-04-11 16:43] #1642 closed

[2019-04-11 17:21] antross opened #2209 "[Bug] Bogus error locations for HTTP Headers"
Hints like `hint-content-type` which point to HTTP headers also include a location, however this location appears to point to a location in the HTML file that triggered the request (as opposed to the listed resource that contains the HTTP header).

This should be fixed to omit line/column information in these cases as it doesn't make sense.

Actual:
[code]

Expected:
[code]

[2019-04-11 17:24] antross opened #2210 "[Bug] `hint-compat-api` doesn't include source code snippets [1.7]"
A number of other hints include snippets of source code along with reports to make it easier to find what needs to be changed. However, `hint-compat-api` does not include these in its reports, making it more difficult to get context.

[2019-04-11 17:26] antross opened #2211 "[Bug] Source code snippets can be too large"
Source code snippets in reports from hints include the entire `outerHTML` of a tag. This works well for items like `<link>`, but when a hint reports something on `<html>` a serialization of the entire document gets included.

These should be fixed to at least be truncated, but perhaps to only include the start tag of the element instead.

[2019-04-11 18:13] sarvaje commented on #1925
I have made a quick test using the bundle `dist/bundle/content-script/webhint.js` and `walk.simple` spend ~110ms to finish.

With the old code, the time is proportional to the number of walks we have in our hints, for 2 `walk`s, ~220ms, 3 `walk`s ~330ms

For this new code, the time is ~110ms and is always the same with 1, 2 or 3 `walk`s.

So the improvement is proportional to the number of `walk`s

[2019-04-11 18:29] molant opened #2214 "[Bug] `dispensary` doesn't support node <10"
# 🐛 Bug report

## Description

When running `yarn` on the root of this project with node < 10 we get the following output:

[code]

The reason is that `dispensary` requires node 10 minimum (which is used in the browser extension for packaging and linting). I took a quick look at the code and I don't think there's anything us from preventing us to ignore the node version via `yarn install --ignore

[2019-04-11 19:30] molant commented on #2145
I pasted the same [answer on stackoverflow](https://stackoverflow.com/a/55481222/414145) and has been accepted so closing this issue. @MiHawkStackOverflow feel free to open a new issue if you have any problems or questions.

Thanks!

[2019-04-11 19:30] #2145 closed

[2019-04-11 19:40] antross commented on #2214
I'm okay using `--ignore-engine` until we're ready to drop support for node 8.

[2019-04-11 20:03] molant opened #2215 "[Docs] Stop capitalizing the x in axe [0]"
Per https://github.com/dequelabs/axe-core/pull/1495/ it looks like now it's going to be `axe`.

[2019-04-11 20:06] molant commented on #2174
I think the easiest will be to create a separate task to test the `hint` package 🤔

[2019-04-11 22:28] shivangg opened #2219 "[Warning] Difference in node binary used during install"
# 🐛 Bug report

## Description

While running `yarn test`, according to the Webhint [contributor guide](https://webhint.io/docs/contributor-guide/getting-started/development-environment/), after installing webhint `master` using `yarn`, it shows the warning that the node binary used by `yarn` and `npm` are different. See raw output for more info.

**I am using node through `nvm` only.**

![image](

[2019-04-11 22:45] shivangg commented on #2219
Able to resolve this by adding the `scripts-prepend-node-path=auto` line in the `.npmrc` file. Should I open a PR for this?

[2019-04-11 23:17] molant commented on #2219
So it's in the `.npmrc` file of all the packages, right?
If you want, go for it but if you are in the middle of something (guide, trying something, etc.) don't spend time on this right now.

[2019-04-12 02:22] shivangg commented on #2219
@molant No, I just had to add this to the `.npmrc` at the root folder (just under `hint`)

[2019-04-12 03:19] molant commented on #2219
Awesome! Do a PR then @shivangg

[2019-04-12 03:27] molant commented on #2197
Even though CI is passing now without too much trouble (only 2 tests when in CI) @shivangg is still having problems with `hint-compat-api` tests on his machine. The other option is to split the tests into multiple files. We have 120+ so this is going to be more monkey work than anything else :(

I'll add the option to the top.

@webhintio/contributors thoughts about this?

[2019-04-12 03:32] molant commented on #2095
With the changes in #2203 a full build is [clocking around 50 min on Linux and macOS](https://dev.azure.com/webhint/webhint/_build/results?buildId=3142&view=logs). Once that gets merged I'll look at the scheduled build to make sure the data is OK and maybe we can think about closing this issue.

[2019-04-12 03:33] molant commented on #1847
I haven't seen this error in a while and we've been doing quite a few big refactors and changes everywhere. Going to close this with `needs repro`.

[2019-04-12 03:33] #1847 closed

[2019-04-12 03:36] molant commented on #2197
@antross, the proposal of running the test server in the same thread was already tracked in #1780. I might try to do that tomorrow if I have time but that will only affect the CI scenario that we are already passsing. Maybe I can use an environment variable or something on top of `is-ci` to decide what to do?

[2019-04-12 03:45] #2219 closed

[2019-04-12 16:43] antross opened #2222 "[Feature] Point to `compilerOptions` in tsconfig.json for missing options"
Currently missing options like `compilerOptions.importHelpers` just point to the start of the file. If `compilerOptions` is present, pointing to it would provide more local and useful feedback.

This is most noticeable in the vscode extension.

[2019-04-12 17:21] #2197 closed

[2019-04-12 17:43] antross opened #2224 "[Feature] Refine design for referencing other tools"
With the addition of the ability to link to the Elements panel, we're starting to end up with a variety of potential references to different tools to help developers get context on hints in order to fix them.

Filing this task per @ststimac's request to take all of these into consideration as we're updating our browser extension design to help provide a clear and consistent experience.

Possible r

[2019-04-12 18:53] molant opened #2226 "Create figma file with new extension design"

[2019-04-12 18:54] molant opened #2227 "Implement new design"
Based on #2226

[2019-04-12 19:04] molant opened #2228 "[extension-browser] Apply right colors based on current browser theme"
Depends on #1670

[2019-04-12 19:06] molant opened #2229 "[extension-browser] Create highlighting colors for targeted browsers themes"
Depends on #1669

[2019-04-12 19:21] molant opened #2230 "[browser extension] Inline analytics package [0.25]"
Firefox extensions don't like loading external resources so we have to inline our analytics package.

[2019-04-12 20:32] #2215 closed

[2019-04-12 20:43] #2192 closed

[2019-04-12 23:08] ststimac commented on #2226
I've emailed the link to the file. Let me know if folks can access.

[2019-04-12 23:10] molant commented on #2226
@shivangg can you check your email? That's the design we want to implement in the browsers extension. Nothing to do with the file right now other than checking that you have access.

[2019-04-12 23:14] molant opened #2233 "[browser extension] Loading should be an overlay instead of a new panel"
Right now it's a separate panel but we discussed showing it as an overlay.

@ststimac is that still the case? If so maybe a good first issue for @shivangg with the extension? What do you think @antross ?

[2019-04-13 03:42] shivangg commented on #2226
@molant Yeah, I got the access to the Figma file.

[2019-04-13 03:44] molant commented on #2226
Awesome. I'll close this issue then 😊

[2019-04-13 03:44] #2226 closed

[2019-04-13 17:41] #2214 closed

[2019-04-13 17:48] molant opened #2236 "[Bug] Some failing tests hang CI and don't stop the process [0.1]"
# 🐛 Bug report

## Description

The test script might be capturing too eagerly when a test fails or something might be going on with `nyc` and `ava` when something fails. This seems to happen more often on macOS (😞) than other platforms.

[Example here](https://dev.azure.com/webhint/webhint/_build/results?buildId=3182&view=logs&jobId=790316ed-8aa2-568f-3859-3e923bc648be&taskId=4d28356e-2121-5462-4

[2019-04-13 23:01] #1925 closed

[2019-04-14 04:15] molant commented on #2236
From the logs it looks like ava finishes but not nyc so this could be similar to what was going on with macOS. Need to check what happens exactly when a test fails. Are all the resources freed properly (`server` and `engine`)?

[2019-04-14 04:30] #2025 closed

[2019-04-15 15:46] antross commented on #2233
I agree this would be a good issue to tackle, but I'd recommend focusing on a few of the other UI updates first.

[2019-04-15 19:14] molant commented on #2211
I think this should be done at the `report` level. Otherwise we will have to update all the packages to repeat the code.

What about:

* Include only the opening tag (regular expression?)
* Check the size and if it's still to long truncate it
  * How can truncate this correctly? I don't think we are providing the position relative in the element so if the tag is too long we might have to do someth

[2019-04-15 19:17] molant opened #2248 "Create basic chromium connector"

[2019-04-15 19:17] molant opened #2249 "Add support for user actions in chromium puppeteer"

[2019-04-15 19:18] molant opened #2250 "Add support for "shortcuts" of chromium based browsers in configuration"

[2019-04-15 19:18] molant opened #2251 "Delete `connector-edge`"

[2019-04-15 19:18] molant opened #2252 "Add `connector-chromium` documentation"

[2019-04-15 19:19] molant opened #2253 "Deprecate `connector-chrome` package and point to `connector-chromium`"

[2019-04-15 19:19] molant opened #2254 "Update `configuration` packages to use `connector-chromium`"

[2019-04-15 19:20] molant opened #2255 "Update `utils-tests-helpers` to include `connector-chromium`"

[2019-04-15 19:24] molant commented on #2200
@webhintio/contributors I've added some tasks to this epic. Anything else you think should be added?

![image.png](https://images.zenhubusercontent.com/56d5e96d6caf56c9d38d18fe/a89ab2ca-60ac-4c3b-b01b-a00aa34e867d)

[2019-04-15 19:27] antross commented on #2211
I'm okay just including the opening tag regardless of length for now.

[2019-04-15 19:34] antross commented on #2211
Thinking about this some more, I do think if the overall content is small enough we could still include the outerHTML. This may be useful for leaf items like `<button>`. Maybe we do a size check before switching to just the opening tag?

[2019-04-15 19:40] molant commented on #2139
We need to pass the executable path to `puppeteer` so I'm thinking about tackling this right after #2250 (which should be an util to find a `chromium` executable (via shortcut or default).

@webhint/contributors thoughts?

[2019-04-15 19:58] molant opened #2256 "Add support for authentication in the CLI"
This is the work to add support for environment variables, parameters and make sure the right priorities are applied.

[2019-04-15 20:02] molant opened #2257 "Add custom configuration to connectors"

[2019-04-15 20:27] #2099 closed

[2019-04-15 20:50] antross commented on #2211
Also because `report` deals with different types of source code (e.g. CSS in addition to HTML) I'm not sure it's the right place to put this logic. We'd quickly end up with sniffing logic to determine what type of source code is being reported (though perhaps we should be able to specify the source code type anyway when calling `report`)...

Maybe a helper on our `HTMLElement` type to get the snip

[2019-04-15 22:50] molant opened #2260 "New util to find chromium browser"
This is a new util under `packages/utils` that allows to find the path of an installed chromium browser.
This will be based in[ `chrome-finder`](https://raw.githubusercontent.com/GoogleChrome/chrome-launcher/master/src/chrome-finder.ts) from [`chrome-launcher`](https://raw.githubusercontent.com/GoogleChrome/chrome-launcher).

List of browser to find (in Win, macOS, Linux, wsl?):

* Chrome: Stable,

[2019-04-15 22:56] molant commented on #2260
This is a new util under `packages/utils` that allows to find the path of an installed chromium browser.
This will be based in[ `chrome-finder`](https://raw.githubusercontent.com/GoogleChrome/chrome-launcher/master/src/chrome-finder.ts) from [`chrome-launcher`](https://raw.githubusercontent.com/GoogleChrome/chrome-launcher).

List of browser to find (in Win, macOS, Linux, wsl?):

* Chrome: Stable,

[2019-04-15 22:57] molant commented on #2260
@paulirish let us know if this is something chrome-launcher might be interested and we can first test it here and contribute it later there!

[2019-04-16 00:22] paulirish commented on #2260
Yeah we'd be into this. sounds good.

[2019-04-16 02:50] #2103 closed

[2019-04-16 15:37] molant commented on #2211
That will be a bit of a change. The printing of the HTML is done already in `report`, the interesting part looks like this:

[code]

So if there's an `element` we do the `outerHTML`. Haven't checked what we are doing for JS or CSS but maybe `element` should be a bit more abstract and have a `toString()` that's smart enought to know what to do? And we will have an implementation for each type of re

[2019-04-16 18:02] sarvaje commented on #2211
We already have an option `codeSnippet` that overwrite any other value. That is the option I'm using in `hint-compat-api` to pass the code snippet.

[2019-04-16 18:34] shivangg opened #2263 "[Bug] Can't generate custom .hintrc"
# 🐛 Bug report

## Description

Even after installing the connector packages as well as some hints, the commands exits when I select `custom` for creating custom `hintrc` file.
Predefined `hintrc` works fine.

## Environment

* __`hint` version: v4.5.0
* __`Node.js` version:v11.14.0
* __`OS`:Ubuntu 16.04
* __URL for which webhint failed:Not applicable

## `devDependencies` in `package.json`

<deta

[2019-04-17 07:42] shivangg commented on #462
I'll be working on this issue.

I think the minimum required size is 192px as listed in the [Lighthouse Audit](https://developers.google.com/web/tools/lighthouse/audits/manifest-contains-192px-icon).

Should these be implemented in a single `hint` or maybe a package like `hint-manifest-icon` with multiple hints?

[2019-04-17 15:28] sarvaje commented on #2209
@antross @molant what do you think about adding a new option `isServerConfig` (please, feel free to suggest a new name hehehe) to the report method, so if that option is true, the location will be omitted?

[2019-04-17 15:34] molant commented on #462
I think a single hint will be best. Feel free to do a draft PR since the beginning so we can start reviewing and let you know if there's something we should discuss further.

To do this you should use the `context.fetchContent`. The hint `hint-apple-touch-icons` does something similar to what you need to do here so take a look.

Not all the image file formats work in all browsers (png and jpeg the

[2019-04-17 15:57] molant commented on #2209
Is this the only scenario where we are sending an HTML element but we want to report the error somewhere else (or we actually don't want to show the HTML)?

E.g.: If I create a hint to validate the metadata of images, `report` is going to receive an `element` but the issue will be inside the image. What should we do in this cases? Maybe we need a richer way to report issues and provide more contex

[2019-04-17 17:46] sarvaje commented on #2209
I also realize that the position of the element has more priority than the location in the options.

I have change this and right now the priority is:
1. `omitLocation`
1. `location` in options
1. `location` in element

[2019-04-17 18:15] #2210 closed

[2019-04-18 15:58] molant opened #2276 "Refactor `engine.report` to accept a `ReportOptions` object [0.1]"
Not sure we need to do it in this PR, but it'd be nice to refactor `engine.report` to take something similar to `ReportOptions` instead of continuing to add extra parameters...

_Originally posted by @antross in https://github.com/webhintio/hint/pull/2269_

[2019-04-18 17:46] #1684 closed

[2019-04-18 19:25] #2260 closed

[2019-04-18 20:26] #2209 closed

[2019-04-18 22:29] #2230 closed

[2019-04-18 22:38] #2139 closed

[2019-04-19 16:14] digitarald commented on #1670
Cross-posting from chat via @captainbrosset:

[2019-04-19 16:19] #2236 closed

[2019-04-22 16:47] shivangg commented on #462
For

I looked into the `hint-apple-touch-icons` for checking for image file existence. To check for the non-existence of file, it uses the following 2 approaches:

1. Catching the error thrown by `context.fetchContent`
2. Checking `response.statusCode !== 200` in case `context.fetchContent` returned the response.

Also, `getImageData` from `image-size` would give a `TypeError` which can be used to

[2019-04-22 17:01] antross commented on #462
What particular PWA are you testing? This sounds like the server is configured to return an error page for any "not found" file, but isn't setting the correct status code. In essence the server is telling us the file exists, so I think falling back to recognizing that the returned file isn't of the correct type is fine.

[2019-04-22 19:41] shivangg commented on #462
Using the [Sample PWA](https://github.com/googlecodelabs/your-first-pwapp) listed in the Google Developer [Codelabs](https://developers.google.com/web/fundamentals/codelabs/your-first-pwapp/#introduction).

Yes, had the hint received the correct status codes for unavailable file paths, it would have been alright but the sample PWA by Google Developer codelabs seem to differ in action.

So, should

[2019-04-22 19:52] antross commented on #462
For generating a "not found" error, the hint should rely on the status codes sent by the server. The hint should separately verify the received data is actually an image, but we don't need to try to convert this to a "not found" error if the server was misconfigured and sent us an HTML page.

[2019-04-22 20:20] karansapolia commented on #2276
Hello @molant. I would like to give this a shot. Any helpful pointers?

[2019-04-22 21:56] antross commented on #2276
Hey @karansapolia, thanks for taking this on!

The change should be as simple as refactoring [`engine.report`](https://github.com/webhintio/hint/blob/15aeb57f2753dce8e6b7c78a9cc5c5376a538835/packages/hint/src/lib/engine.ts#L285) to take a `Problem` object directly. That way when we add new pieces of data to `Problem` we no longer have to update this call.

The only caveat is to ensure the current

[2019-04-22 22:07] antross opened #2295 "[Bug] Fix compat data limitations"
Based on recent work with `mdn-browser-compat-data`, I've run into a few more items that are difficult to track without maintaining side-lists. Filing here to track specific challenges, then decide which ones we'd like to propose enhancements to the BCD schema for.

1. Recognizing usage of CSS types: There are a number of different properties and functions which take a `color` type in CSS, but the

[2019-04-23 05:08] molant commented on #1647
I just tried it and I think we still have the caching issue 😞

[2019-04-23 05:25] molant opened #2297 "[Bug] Can't retry after failure"
If the extension crashes there's no option to retry or go back to the initial panel, just opening an issue on GitHub

![image](https://user-images.githubusercontent.com/606594/56556685-7cab5080-654d-11e9-99b3-1845b0d3a658.png)

[2019-04-23 05:30] molant opened #2298 "[Bug] Text jumps when expanding/collapsign elements"
# 🐛 Bug report

## Description

The text of the categories and hint titles jump if the contents of a `details` is to wide. https://www.bing.com is a good example.

# `webhint` configuration

<details>
<summary>webhint’s configuration</summary>

Categories:
* [x] Accessibility
* [x] Compatibility
* [x] Performance
* [x] Pitfalls
* [x] PWA
* [x] Security

Your target browsers:
* [x] Recommended sett

[2019-04-23 16:06] antross opened #2303 "[Feature] Handle removal of `resolveModule2` in VS Code extension"
Not sure why this was removed, but here's the commit: https://github.com/Microsoft/vscode-languageserver-node/commit/4d256255c2f2e00a2f6214c581e32ade7c8acc1e

Regardless, this was just a thin wrapper and can be replaced by calling `resolveModulePath` and passing the result to `require` instead. We should do this soon so we can keep getting updates for the languageserver library.

[2019-04-23 23:14] molant opened #2304 "[planning] Retrospective and planning for 1905-1 (04/25/2019)"
**Time**: 04/25/2019 11:00 PST
**Meeting link (participants)**: https://zoom.us/j/172034153
**YouTube recording**: https://www.youtube.com/watch?v=aBxgqg9d7aE
**Agenda items**:

* [x] What tasks are moving to the next sprint
* [x] What we've finished (or almost finished for the sprint)
* [x] Status of the browser extension
* [x] Backlog for next sprint: main goal is to have the extension ready to

[2019-04-23 23:15] molant opened #2305 "Planning meetings"
Epic to track the planning meetings

[2019-04-24 16:02] molant opened #2309 "[Bug] No code coverage report"
Looks like we aren't getting any code coverage output. Need to find out when we broke:

[code]

So far @antross and my self are reproducing this

[2019-04-24 22:47] violasong commented on #2304
Re: the adaptation of Stephanie's mockups I'm working on - [here's how it looks](https://mozilla.invisionapp.com/share/V3RPCITNG2E#/359891044_webhint_01) so far.

<img width="902" alt="image" src="https://user-images.githubusercontent.com/55994/56698871-3c141a00-66a8-11e9-91ca-0964862b07d2.png">

[2019-04-25 10:21] shivangg opened #2314 "[docs] Location of the tests.ts file"
The location of the test.ts file is at `hint-<hint-id>/src/tests/tests.ts` as made by the `create-hint` package but the docs say location should be at `src/tests/hints/<hint-id>/tests.ts`

![image](https://user-images.githubusercontent.com/10586637/56728840-5d8d0880-6771-11e9-8a51-4aaeb4ca5a70.png)

https://webhint.io/docs/contributor-guide/how-to/test-rules/index.html

Is the location stated in t

[2019-04-25 11:42] shivangg opened #2315 "Importing same entities from different locations"
In `hint-apple-touch-icons`, imports are like:

[code]

whereas in `create-hint` template makes them get imported like:

[code]

Looking over other packages,
`hint-manifest-exists`, `no-p3p` also takes the 1st approach.
`hint-axe`, `hint-manifest-is-valid` takes the 2nd approach.

Is one better than the other?
What's the reason for this non-uniformity?

[2019-04-25 13:10] molant commented on #2314
The location in the docs is wrong. Can you please open a PR?

[2019-04-25 13:12] molant commented on #2315
The first one is the preferred option. We are refactoring the utils at the moment and haven't changed that yet in the create packages. In the PRS section there's a draft one to flatten even more that from @antross.

Hopefully we'll get to it next sprint 😔

[2019-04-25 14:23] shivangg commented on #2315
Okay. Also, fixing that in the `create-hint` package will prevent new hint package from having the imports like the 2nd approach.

[2019-04-25 15:55] molant commented on #2315
Yes, we intend on fixing that once the [flatten PR is merged](https://github.com/webhintio/hint/pull/2216) but if you want to go ahead and fix it in this one the change will be more than welcomed 😊

[2019-04-25 16:09] antross commented on #2315
Also worth noting is that the second form is required for any hints we want to include as part of `extension-browser` until we can do tree-shaking during the bundling process (otherwise we end up pulling in much more than we need). That said, I'd still prefer to have the create-hint package starting with the first approach.

[2019-04-25 16:27] molant opened #2316 "[Bug] Browser extension takes a long time to get results"
# 🐛 Bug report

## Description

Scan on https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Debugging takes a long time in both Firefox and Chrome (remember to disable all other extensions!)

## Environment

Using  the bundle in https://github.com/webhintio/hint/pull/2287

Disabling accessibility doesn't have any huge impact.

[2019-04-25 18:39] digitarald commented on #2304
Related to the addons discussion: [Data collection in addon](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/AMO/Policy/Reviews#Data_Disclosure_Collection_and_Management)

[2019-04-25 18:53] digitarald commented on #2304
@molant about [signing extensions](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/web-ext_command_reference#web-ext_sign)

[2019-04-25 23:05] molant commented on #2200
I've found [this thread](https://github.com/GoogleChrome/puppeteer/issues/299#issuecomment-486865559) that talks about downloading a file from the browser. Maybe we should use a similar approach in `fetchContent` for this? I think the browser extension uses a similar approach, right @antross ?

[2019-04-25 23:53] software-opal opened #2317 "[Bug] Unhandled promise rejections when using a self-signed certificate [0.1]"
# 🐛 Bug report

## Description

I'm running a local copy of the website which is set up to use HTTPS with a self-signed certificate. I can replicate the errors with https://self-signed.badssl.com/ so I'll use that below

## Environment

* __`hint` version:__ `v4.5.0`
* __`Node.js` version:__ `v11.14.0`
* __`OS`:__ Ubuntu 18.04
* __URL for which webhint failed:__ https://self-signed.badssl.com/

##

[2019-04-26 05:43] molant commented on #2317
Hi @software-opal !

Ignoring certificates by default isn't great so you have to explicitely tell webhint that you want to do that. [We actually do it when running our test suite](https://github.com/webhintio/hint/blob/9becb929459b749911769b9b4b3d2190f7956e77/packages/utils-tests-helpers/src/hint-runner.ts#L113).

You will have to create a `.hintrc` file and pass some options to the `connector`:

[2019-04-26 23:35] shivangg commented on #2058
@molant  Working on this. Looks like this should be a new hint. Can't come up with a good name for this hint😅

This has been handled in #462

[2019-04-27 00:08] shivangg commented on #1630
@antross I'm working on this.

Why checking for `global` flag in case of `npm` but not `yarn` in [extension-vscode](https://github.com/webhintio/hint/blob/60624562af11362cf834f1791c6f3c1dfe84385d/packages/extension-vscode/src/server.ts#L46).

[2019-04-27 03:30] software-opal commented on #2317
I'll have a check when I get back into work. I wonder if adding something to 'detect' this situation and let the user what they need to add would be better than having several stack traces come out.

[2019-04-27 04:15] MiHawkStackOverFlow opened #2324 "[Bug] Not able to run webhint hint for angular7 project"
I installed webhint into my angular7 project but I am getting the following error while running hint on the local server:-

{ ResourceError: Module ../build/Release/canvas.node not found when loading @hint/connector-jsdom
    at Object.exports.tryToLoadFrom (C:\Users\Neutron\Desktop\Angular2\library\node_modules\hint\dist\src\lib\utils\resource-loader.js:141:19)
    at getResource (C:\Users\Neutro

[2019-04-27 17:03] molant commented on #2317
Yes, that would be better as well as having a single option to ignore ssl errors for all connectors.

We have work scheduled around connectors this sprint so hopefully we can get it done sooner rather than later.

Thanks for your feedback!

[2019-04-27 21:19] antross commented on #1630
@shivangg that’s because if we’re installing globally we always use npm. You can see that in the isUsingYarn check on the following lines.

[2019-04-29 18:27] antross opened #2330 "[Feature] Check attribute and combinator selectors in compat util"
In `packages/utils/src/compat/css.ts`

[code]

Is there an issue in MDN for this? If so maybe we should link it? Maybe create another issue in our side to know we have to do this and link to the MDN issue?

_Originally posted by @molant in https://github.com/webhintio/hint/pull/2296_

[2019-04-29 19:22] molant opened #2332 "[feature] Common option to ignore SSL errors"
Right now each connector has a different option to ignore SSL errors and that configuration is not even documented (basically we use the options for CDP or `request`). We should have a common options.

_Originally posted by @molant in https://github.com/webhintio/hint/issues/2317#issuecomment-487302936_

[2019-04-29 19:22] molant commented on #2317
@software-opal I've created #2332 to do this work

[2019-04-29 19:33] #2097 closed

[2019-04-30 16:56] molant opened #2335 "[Feature] Convert both `Category` and `HintScope` to `const enum` [0.1]"
@molant If we convert both `Category` and `HintScope` to `const enum` then they become type-only imports and can be loaded directly from `hint` without dragging along additional dependencies when bundled.

Looking at the code it doesn't appear we ever use these in a non-const fashion so it should be straightforward.

_Originally posted by @antross in https://github.com/webhintio/hint/pull/2328_

[2019-04-30 20:06] antross commented on #2200
@molant I don't think the browser extension does anything to support prompting the user to download the file... also not entirely sure which part of that thread you're referring to...

[2019-04-30 20:52] molant commented on #2200
We have some rules that use `fetchContent`. Don't know if the ones in `extension-browser` use it but maybe we can add support to that by using browser's `fetch` and `evaluate` the script to download the file.

[2019-04-30 21:15] antross commented on #2200
Yes, `fetchContent` is implemented in the private connector for `extension-browser` using `fetch` currently. However since that connector is already running in a content script context it can use `fetch` directly without needing to run anything in the page. So not quite the same as what you'd need for `connector-chromium`...

I originally thought you were referring to something along the lines of

[2019-04-30 21:48] antross opened #2339 "[Bug] CLI link to telemetry page 404s"
The CLI links to:
* https://webhint.io/docs/user-guide/telemetry/

The actual documentation is at:
* https://webhint.io/docs/user-guide/telemetry/summary/

Regressed by https://github.com/webhintio/hint/commit/8ad451642bd60d858cfcfe72b9ba99c14134a7d4

I'd prefer to make the original link work again if possible, but I'm not sure how this might interact with the table-of-contents generation used for

[2019-04-30 22:04] antross commented on #2324
@MiHawkStackOverFlow Thanks for the report!

Yes, we've had some periodic trouble with the `canvas` dependency for `@hint/connector-jsdom` as it requires pre-built binaries which sometimes aren't available or fail to download. You could try reinstalling the `canvas` module (or running it's `install` script directly) to see if that helps. Uninstalling/deleting the `canvas` package may also help if

[2019-04-30 23:42] Malvoz commented on #25
I don't think the owner is updating that site for CSP changes :(

The following resources are pretty sweet and indicates a hint for when CSP is missing `object-src 'none'` because according to "Adopting a strict policy": https://csp.withgoogle.com/docs/strict-csp.html
"_setting `object-src 'none'` Prevents fetching and executing plugin resources embedded using `<object>`, `<embed>` or `<applet>` t

[2019-05-01 05:51] annevk opened #2342 "[Docs Bug] Header advice wrong"
In https://github.com/w3c/webappsec/issues/520 @Malvoz pointed me to https://webhint.io/docs/user-guide/hints/hint-no-html-only-headers/ which states that certain headers only apply to HTML content. Most if not all of these are relevant to XML. And `Content-Security-Policy` is also relevant to workers, which use a JavaScript MIME type (typically).

`X-Frame-Options` might be relevant to any respon

[2019-05-01 14:40] jorydotcom opened #2345 "Community Invitation to the OpenJS Collaborator Summit + Info"
*Hi all! In an effort to make sure we're fully getting the word out to OpenJS Foundation project communities about the collaborator summit, I'm posting the following message on main or admin repos:*

This year, the Node Collaborator summit is opening up to include and welcome all former JS Foundation projects. The Collaborator summit is a space where projects and working groups within projects hav

[2019-05-01 15:46] shivangg commented on #2058
This seems to have been handled in the `manifest-app-name`.

[2019-05-01 16:23] molant commented on #2345
Hi @jorydotcom,

don't think any of the main contributors will be able to go :(
Is there going to be a stream to participate remotely?

[2019-05-01 16:50] jorydotcom commented on #2345
@molant we are working out those details now... hoping to make sure at the very least the meetings are recorded somehow. we got some quotes for AV to get mics etc for streaming and they came back outside our budget, so looking to see if we can get any resources from the local community to support!

[2019-05-01 22:43] antross commented on #2342
@annevk thanks for pointing this out!

XML definitely should be included in the documentation; webhint's CLI already treats XML with the same rules as HTML for this hint.

The worker case is also interesting and not currently covered. I agree webhint should allow this, though if possible still flag the headers when a script is being used somewhere other than a worker. I'll open a separate issue to

[2019-05-01 22:44] antross opened #2349 "[Bug] Allow CSP headers for worker scripts"
From @annevk

The worker case is also interesting and not currently covered. I agree webhint should allow this, though if possible still flag the headers when a script is being used somewhere other than a worker. I'll open a separate issue to track updating the implementation.

_Originally posted by @antross in https://github.com/webhintio/hint/issues/2342#issuecomment-488468653_

[2019-05-01 22:48] antross opened #2350 "[Bug] Move obsolete headers in `no-html-only-headers` to `no-disallowed-headers`"
Now that I'm looking I also see some of the outdated, experimental headers listed here should probably move to webhint's [Disallowed HTTP Headers](https://webhint.io/docs/user-guide/hints/hint-no-disallowed-headers/) as they should really no longer be used regardless of resource type (e.g. `X-WebKit-CSP`). I'll open a separate issue for this too.

_Originally posted by @antross in https://github.c

[2019-05-01 22:54] molant opened #2351 "[Docs] Update the readme of `manifest-icons` hint"
_Originally posted by @molant in https://github.com/webhintio/hint/diffs_

[2019-05-01 22:57] #462 closed

[2019-05-01 22:58] molant opened #2352 "[Feature] Update `configuration-pwas` with `manifest-icons`"
Now that `manifest-icons` is merged, we should update the `configuration-pwa` to have it.

@antross thoughts?

@shivangg want to take care of that?

[2019-05-01 23:02] shivangg commented on #2352
@molant yeah, absolutely.

[2019-05-01 23:04] antross commented on #2352
Yep, let's do this. 👍

[2019-05-01 23:19] shivangg commented on #2314
Resolved in #2323

[2019-05-01 23:19] #2314 closed

[2019-05-02 14:13] Malvoz commented on #2350
@antross
May I ask you to have a look at the non-standard headers described in https://github.com/webhintio/hint/issues/1633#non-standard, if they aren't useful they could pontetially be treated as disallowed headers aswell.

[2019-05-02 14:27] molant commented on #2350
Thanks @Malvoz!
Our header hints are definitely due for a revision. @antross maybe we should consolidate some of them and have something similar to `compat-api`. We could maintain a list that contains if it's recommended or not, type of resources it applies, and such. I think that will make it easier to maintain.

We will still have to do something separate for #25 but I think for the rest it shou

[2019-05-02 14:38] Malvoz commented on #2350
Almost deserves its own repo >.<, do you have any suggestions going forward documenting this? H5BP will certainly follow the progression per https://github.com/h5bp/server-configs-apache/issues/187.

[2019-05-02 14:51] shivangg commented on #2352
@molant How will `manifest-icons` be installed unless it is published to NPM.
On using the `configuration-progressive-web-apps`, this would try to install the package `@hint/hint-manifest-icons`.

[2019-05-02 15:03] molant commented on #2339
We should have some type of redirect in place. The problem with our current setup is that we have IIS in front and we are splitting the traffic between docs to files and the server/search to the node part.

Some options:
- Serve everything via node
- Migrate to Azure WebApp with Linux. It's a single container and we could add nginx in front of us

Either way I think that should be the scope of ano

[2019-05-02 15:16] molant commented on #2345
@jorydotcom great! I guess you'll update the mailing list if that happens, right? If so I'll read it and hopefully join online 😊

[2019-05-02 15:16] #2345 closed

[2019-05-02 15:28] molant commented on #2352
@shivangg [I've answered you in the PR](https://github.com/webhintio/hint/pull/2357#issuecomment-488718476)

[2019-05-02 17:39] antross opened #2360 "[Feature] Make `hint-manifest-scoped-urls` work with local connector"
I agree with @molant we should change this to `site` scope for now and open a separate issue to think about how to best make this work with the local connector in the future.

[code]

My primary concern for the local connector is that when used with the VS Code extension we can re-run on nearly every keypress. That's a lot of filesystem access due to the `fetchContent` calls here so we'd probably

[2019-05-02 17:41] antross opened #2361 "[Bug] Scope `hint-manifest-icons` to site"
My primary concern for the local connector is that when used with the VS Code extension we can re-run on nearly every keypress. That's a lot of filesystem access due to the `fetchContent` calls here so we'd probably want to work out some sort of caching like we did for `hint-sri` in this context.

We also should update `hint-manifest-icons` to be scoped to `site` as well for now for the same reaso

[2019-05-03 04:16] molant commented on #2309
[Looks like this was a regression in nyc 14.0.0 with TypeScript projects](https://github.com/istanbuljs/nyc/issues/1097).

[2019-05-03 04:28] molant opened #2363 "Enable scope.any in `manifest-icons` and `manifest-scoped-urls`"
I agree with @molant we should change this to `site` scope for now and open a separate issue to think about how to best make this work with the local connector in the future.

[code]

My primary concern for the local connector is that when used with the VS Code extension we can re-run on nearly every keypress. That's a lot of filesystem access due to the `fetchContent` calls here so we'd probably

[2019-05-03 04:42] molant commented on #2363
Closing in favor of #2361

[2019-05-03 23:42] #2361 closed

[2019-05-06 18:00] molant opened #2386 "Add tests for `json-parser` in `hint` package"
The problem seems to be with `json-parser`:
![image](https://user-images.githubusercontent.com/606594/57244465-452cb180-6fed-11e9-9943-9eddcdeeb563.png)

I'm going to ignore that file and open an issue to add tests but I wonder if we should move it to the `utils`  package. @antross ?

_Originally posted by @molant in https://github.com/webhintio/hint/pull/2378#issuecomment-489714463_

[2019-05-06 22:45] #2276 closed

[2019-05-07 03:47] karansapolia commented on #2276
Hello @antross, My sincere apologies for not following up on this. I came back to this yesterday and was about to push my local commits as PR. The next time I am not available or able to follow up with a task I will make sure to let it be known to the team at the earliest. :disappointed: :cry:

[2019-05-07 03:59] #2352 closed

[2019-05-07 04:02] molant commented on #2276
No worries, usually we would have waited but we want to publish a new version this week with all the breaking changes and that's why @antross did a PR. There are still a few ["good first issue"](https://github.com/webhintio/hint/labels/good%20first%20issue) that are not breaking changes in case you want to pick one 😊

Thanks!

[2019-05-07 16:08] antross commented on #2276
@karansapolia My apologies as well. I should have checked to ensure you didn't have any work in progress, but I assumed you just hadn't had time to get to this.

As @molant mentioned we'll usually wait anyway, but if a similar situation arises in the future I'll check-in first to ensure we don't duplicate work. Also if you ever have some other in-progress work but need to step away for awhile, fee

[2019-05-07 20:17] #2339 closed

[2019-05-07 20:20] molant opened #2392 "[Feature]Group types with util implementation instead of in a separate folder"
Not blocking for this PR, but what do you think about starting to group types with util implementation instead of in a separate folder? E.g. having a `src/json` folder with `parser` and `types`?

_Originally posted by @antross in https://github.com/webhintio/hint/pull/2378#discussion_r281749233

[2019-05-07 20:24] #2309 closed

[2019-05-07 21:55] antross commented on #2335
Turns out some of these enums, specifically both `Category` and `HintScope` are accessed in a non-const way using `Object.entries` in `create-hint` to enumerate all possible options. Makes more sense to keep them non-const in this case, so closing.

[2019-05-07 21:55] #2335 closed

[2019-05-08 04:00] #2058 closed

[2019-05-08 17:26] antross opened #2402 "Refactor to prefer object spread syntax over `Object.assign`"
Or at least start preferring the spread syntax when we author new code as it's a bit easier to grok at a glance.

[2019-05-08 17:39] molant opened #2403 "[planning] Retrospective and planning for 1905-2 (05/10/2019)"
**Time**: 05/10/2019 09:00 PST
**Meeting link (participants)**: https://zoom.us/j/211950755
**YouTube streaming/recording**: TBD
**Google docs for notes**: [webhint planning meeting 2019-05-10](https://docs.google.com/document/d/1q5AKdOWMs-WzSGlNJL0uDCvc6aBo4ymQLNsP6U4L4Mk/edit)

# Extension bundles

* Firefox: [webhint-1.0-an+fx.xpi.zip](https://github.com/webhintio/hint/files/3159562/webhint-1.0

[2019-05-08 17:44] molant commented on #2403
Feel free to suggest other items!

[2019-05-08 18:06] antross opened #2404 "[Bug] axe reports an `li` not being in a `ul` when it actually is"
Found running a scan on bing.com. Needs investigation to figure out if this is a webhint issue or an axe issue.

![image](https://user-images.githubusercontent.com/785009/57397176-b73dfb80-7191-11e9-806c-56728e931b86.png)

![image](https://user-images.githubusercontent.com/785009/57397232-d89ee780-7191-11e9-8308-65836bfdfb34.png)

[2019-05-08 18:13] molant commented on #2404
Are we bundling the latest version of `axe`? Does it repro with their devtools extension?

[2019-05-08 18:45] antross commented on #2404
Yes and yes. Guess that makes this an `axe` bug. I'll file an issue over there.

[2019-05-08 18:45] #2404 closed

[2019-05-08 18:49] antross commented on #2404
Already an issue there: https://github.com/dequelabs/axe-core/issues/1171

The root cause appears to be the use of `role="navigation"` on the `ul`.

[2019-05-08 18:55] antross commented on #2404
Apparently `role="navigation"` is not allowed on `ul`, so `axe` isn't technically incorrect, though the error message could have been more helpful.

https://github.com/w3c/html-aria/issues/10

[2019-05-08 20:59] molant opened #2406 "[Bug] Enable all browser extension tests in CI"
At least for Windows where it seems we can run in non headless mode.

[2019-05-08 21:02] #2257 closed

[2019-05-08 21:02] #2332 closed

[2019-05-08 21:50] #2227 closed

[2019-05-08 21:53] molant opened #2408 "Browser extension small issues"
This is an epic to keep track of all the small things we want to improve in the browser extension.
The idea is to make the reporting faster. Individual issues will be created when they are being addressed.

* [ ] Fix hit area for toggle
* [ ] Fix "Restore defaults" position inside button
* [ ] Focus rect in details/summary error page
* [ ] Toggle types needs to be migrated
* [ ] Make analyzing ove

[2019-05-08 22:42] #2211 closed

[2019-05-08 23:17] molant commented on #2233
This has been implemented in f7c8314fae1f0962a546b56066e695a31288ddc8 🎉